<% f = form %>
<script type="text/javascript">
  jQuery(function() {
    $('#student_info_birthday').datepicker({
      language: "zh-CN",
      format:"yyyy-mm-dd"
    }).on("changeDate", function() {
      $(this).datepicker('hide')
    });
    $('#student_info_come_in_at').datepicker({
      language: "zh-CN",
      format:"yyyy-mm-dd"
    }).on("changeDate", function() {
      $(this).datepicker('hide')
    });;
    $('#student_info_family_birthday').datepicker({
      language: "zh-CN",
      format:"yyyy-mm-dd"
    }).on("changeDate", function() {
      $(this).datepicker('hide')
    });;
    $("#student_info_user_attributes_login").val("")
    $("#student_info_user_attributes_password").val("")
  });
</script>

<fieldset class="two_cols">
  <legend><label><strong>账号信息</strong></label></legend>
  <%= f.simple_fields_for :user do |p| %>
    <div class="control-group">
      <label class="control-label">头像</label>&nbsp;&nbsp;
      <%= f.file_field :asset_logo ,:name=>"asset_logo" %>
      <% user = @student_info.user %>
    <div>
    <div style="margin: 10px 10px 10px 90px;">
        &nbsp;&nbsp; <img src="<%= user.asset_logo ? user.asset_logo.public_filename(:thumb) : '/t/colorful/user_logo.png' %>" width="103" alt="头像"/>
    </div>
    <div class="left_table">
      <%= p.input :kindergarten_label, :as => :string, :input_html => { :disabled => true } %>
      <%= p.input :gender, :as => :radio, :collection => {"女" => "M", "男" => "G"}, :required => true %>
      <%= p.input :tp_label, :as => :string, :input_html => { :disabled => true } %>
      <%= p.input :name, :validate => true, :required => true, placeholder: "请输入学员的名称", hint: "长度必须控制在20个字符以内" %>
      <% if action_name == "edit" or action_name == "update" %>
        <span id="student_info_id" style="display: none;"><%= @student_info.user.id %></span>
      <% end %>
      <%= p.input :phone, :validate => true, placeholder: "请输入学员的手机号", :hint => "格式为11位手机号,例如+86-15014006125 或 15014006125" %>
    </div>
    <div class="right_table">
      <% if action_name == "new" %>
        <%#= p.input :login, :validate => true, :required => true, :hint => "之后不能改变" %>
      <% else %>
        <div class="control-group">
          <%= p.label :login, class: "control-label" %>
          <div class="controls">
            <input type="text" value="<%= @student_info.user.login %>" disabled="disabled" />
            <p class="help-block">账号不能修改</p>
          </div>
        </div>
      <% end %>
      <% if action_name == "new" %>
        <%= p.input :password, :validate => true, :required => true %>
        <%= p.input :password_confirmation, :validate => true, :required => true %>
      <% end %>
      <% if action_name == "new" %>
        <% if current_user.get_users_ranges[:tp] == :teachers %>
          <div class="select_field">
            <label class="field_prompt">班级</label>
            <%= select_tag "squad_id", options_for_select(@squads.collect{|s|[s.name, s.id]}), :class => "select span2", :style => "margin-left: 130px;", :name => "student_info[squad_id]" %>
          </div>
        <% elsif current_user.get_users_ranges[:tp] == :all %>
          <div class="select_field">
            <label class="control-label"><abbr title="required">*</abbr>选择班级</label>
            <label class="field_prompt" for="grade">年级:</label>
            <% unless @grades.blank? %>
              <%= select_tag "grade", options_for_select(@grades.collect{|s|[s.name,s.id]}), :class => "select span2", :style => "margin-left: 30px;" %>
            <% else %>
              <div class="controls">
                <label>没有年级,请先创建年级,才能继续操作</label>
              </div>
            <% end %>
            <div id="grade_squad_partial">
            </div>
          </div>
        <% end %>
      <% else %>
        <% if current_user.get_users_ranges[:tp] == :student %>
          <%= f.input :grade_label, :as => :string, :disabled => true %>
          <%= f.input :squad_label, :as => :string, :disabled => true %>
        <% elsif current_user.get_users_ranges[:tp] == :all %>
            <div class="select_field">
              <label class="control-label"><abbr title="required">*</abbr>选择班级</label>
              <label class="field_prompt" for="grade">年级:</label>
              <span id="has_default_squad" style="display: none;" for="<%= @student_info.squad_id %>"></span>
              <% unless @grades.blank? %>
                <%= select_tag "grade", options_for_select(@grades.collect{|s|[s.name,s.id]}, @grade_id), :class => "select span2", :style => "margin-left: 30px;" %>
              <% else %>
                <div class="controls">
                  <label>没有年级,请先创建年级,才能继续操作</label>
                </div>
              <% end %>
              <div id="grade_squad_partial">
              </div>
            </div>
        <% elsif current_user.get_users_ranges[:tp] == :teachers %>
          <label class="control-label"><abbr title="required">*</abbr>选择班级</label>
          <%= select_tag "squad_id", options_for_select((@squads.collect{|s|[s.name,s.id]} || []), :selected => @squad_id), :class => "select span2", :name => "student_info[squad_id]", :style => "margin-left: 120px;"  %>
        <% end %>
      <% end %>

      <%= p.input :tp,:as=>:hidden %>
      <%= p.input :kindergarten_id,:as=>:hidden %>
    </div>
  <% end %>
</fieldset>
<fieldset class="two_cols">
  <legend><label><strong>学员信息</strong></label></legend>
  <div class="left_table">
    <% if action_name == "new" %>
      <%= f.input :birthday, :as => :string, :class => "input-mediun time_datepicker"  %>
      <%= f.input :come_in_at, :as => :string, :class => "input-mediun time_datepicker" %>
    <% else %>
      <%= f.input :birthday, :as => :string, :class => "input-mediun", :input_html => {:value=>(f.object.birthday ? f.object.birthday.to_short_datetime : "") }  %>
      <%= f.input :come_in_at, :as => :string, :class => "input-mediun", :input_html => {:value => (f.object.come_in_at ? f.object.come_in_at.to_short_datetime : "")} %>
    <% end %>
    <%= f.input :kindergarten_label, :as => :string, :input_html => { :disabled => true } %>
    <%= f.input :card_code %>
    <%= f.input :guardian %>
    <%= f.input :guardian_card_category, :as => :select,:collection=>StudentInfo::CARD_CATEGORY_DATA.invert %>
    <%= f.input :guardian_card_code %>
    <%= f.input :nationality,:as=>:select,:collection=>StudentInfo::NATIONALITY.invert %>
    <%= f.input :nation,:as=>:select,:collection=>StudentInfo::NATION.invert %>
    <%= f.input :overseas_chinese,:as=>:select,:collection=>StudentInfo::OVERSEAS_CHINESE_DATA.invert %>
    <%= f.input :household,:as=>:select,:collection=>StudentInfo::HOUSEHOLD_DATA.invert %>
    <%= f.input :birthplace %>
    <%= f.input :native %>
    <%= f.input :domicile_place %>
    <%= f.input :family_address %>
  </div>
  <div class="right_table">
    <%= f.input :lodging %>
    <%= f.input :only_child %>
    <%= f.input :orphan %>
    <%= f.input :leftover_children %>
    <%= f.input :employofficialt %>
    <%= f.input :insured %>
    <%= f.input :subsidize %>
    <%= f.input :deformity %>
    <%= f.input :deformity_category %>
    <%= f.input :housing,:as=>:select,:collection=>StudentInfo::HOUSING_DATA.invert %>
    <%= f.input :live_family,:as=>:select,:collection=>StudentInfo::LIVE_FAMILY_DATA.invert %>
    <%= f.input :brothers %>
    <%= f.input :children_number,:as=>:select,:collection=>StudentInfo::CHILDREN_NUMBER.invert %>
    <%= f.input :head_url %>
    <%= f.input :kindergarten_id,:as=>:hidden %>
  </div>
</fieldset>

<fieldset class="two_cols">
  <legend><label><strong>家庭信息</strong></label></legend>
  <div class="left_table">
    <%= f.input :family_ties %>
    <%= f.input :family_name %>
    <%= f.input :politics_status %>
    <%= f.input :family_birthday, :as => :string, :class => "input-mediun time_datepicker" %>
    <%= f.input :profession %>
    <%= f.input :duties %>
    <%= f.input :working %>
  </div>
  <div class="right_table">
    <%= f.input :family_register,:as=>:select,:collection=>StudentInfo::FAMILY_REGISTER.invert %>
    <%= f.input :family_phone %>
    <%= f.input :family_email %>
    <%= f.input :living_time %>
    <%= f.input :family_marital %>
    <%#= f.input :education %>
    <%= f.input :education, :input_html => {:class => "span5"} %>
    <%= f.input :safe_box %>
  </div>
</fieldset>

<div class="offset2">
  <%= f.button :submit, disable_with: "正在提交...", value: "保存", class: "btn btn-large btn-primary" %>
</div>
<script type="text/javascript">
$("#student_info_user_attributes_phone").change(function() {
      var phone_num ="";
      phone_num = $(this).val().replace(/\s*$/,'') ;
      $(this).val(phone_num);
     });
  if ($("#has_default_squad").length > 0) {
    var has_default_squad = $("#has_default_squad").attr("for")
  }
$("#grade").change(function() {
    $.get(
      "/my_school/student_infos/grade_squad_partial",
      {
        grade: $("#grade").val(),
        has_default_squad: has_default_squad
      },
      function(result) {
        $("#grade_squad_partial").html(result);
      }
    )

}).trigger("change")
  var flag = [];
  var time_re = /\d{4}-\d{2}-\d{2}/;
  $("input[name='commit']").click(function(){
    if ( $("#squad_id").length > 0 ) {
      if($("#grade").next("span.help-inline").length > 0) {
        $("#grade").next("span.help-inline").remove()
      }
      flag.push(false);
    } else if ( $("#student_info_squad_label").length > 0 || $("#student_info_squad").length > 0 ) {
      flag.push(false)
    } else {
      if( $("#grade").next("span.help-inline").length == 0 ) {
        $("<span class='help-inline'>必须选择班级</span>").insertAfter($("#grade"))
      }
      flag.push(true);
    }

    if ( $("#student_info_birthday").val().length > 0 && $("#student_info_come_in_at").val().length > 0 && time_re.test($("#student_info_birthday").val()) && time_re.test($("#student_info_come_in_at").val()) ) {
      if( Date.parse($("#student_info_come_in_at").val()) < Date.parse($("#student_info_birthday").val()) ) {
        if( $("#student_info_come_in_at").next("span.help-inline").length == 0 ) {
          $("<span class='help-inline'>结束时间必须大于开始时间</span>").insertAfter($("#student_info_come_in_at"))
        }
        flag.push(true);
      } else {
        if($("#student_info_come_in_at").next("span.help-inline").length > 0) {
          $("#student_info_come_in_at").next("span.help-inline").remove()
        }
        flag.push(false);
      }
    }

    for( i in flag ) {
      if(flag[i] == true) {
        flag.length = 0;
        return false;
      }
    }
  })
</script>

<script type="text/javascript">
  $("#student_info_user_attributes_phone").blur(function() {
    $.ajax({
      url: "/my_school/student_infos/phone_uniqueness_validator",
      data: {
        phone: $(this).val(),
        element: $(this).attr("id"),
        student_info_id: $("#student_info_id").text()
      },
      method: "get",
      beforeSend: function() {
      },
      success: function() {

      },
      error: function() {

      }
    })
  })

</script>
