<html xmlns:v="urn:schemas-microsoft-com:vml" xmlns:o="urn:schemas-microsoft-com:office:office" xmlns:x="urn:schemas-microsoft-com:office:excel" xmlns="http://www.w3.org/TR/REC-html40">
 <head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
  <meta name="ProgId" content="Excel.Sheet"/>
  <meta name="Generator" content="WPS Office ET"/>
  <!--[if gte mso 9]>
   <xml>
    <o:DocumentProperties>
     <o:Author>sony</o:Author>
     <o:Created>2012-11-16T14:31:56</o:Created>
     <o:LastAuthor>sz-wils</o:LastAuthor>
     <o:LastSaved>2013-09-24T09:32:52</o:LastSaved>
    </o:DocumentProperties>
    <o:CustomDocumentProperties>
     <o:KSOProductBuildVer dt:dt="string">2052-8.1.0.3281</o:KSOProductBuildVer>
    </o:CustomDocumentProperties>
   </xml>
  <![endif]-->
  <style>
<!-- @page
	{mso-header-data:"&C&A";
	mso-footer-data:"&CPage &P";
	margin:1.00in 0.75in 1.00in 0.75in;
	mso-header-margin:0.50in;
	mso-footer-margin:0.50in;}
tr
	{mso-height-source:auto;
	mso-ruby-visibility:none;}
col
	{mso-width-source:auto;
	mso-ruby-visibility:none;}
br
	{mso-data-placement:same-cell;}
.font0
	{color:windowtext;
	font-size:10.0pt;
	font-weight:400;
	font-style:normal;
	text-decoration:none;
	font-family:"Arial";
	mso-generic-font-family:swiss;
	mso-font-charset:0;}
.font1
	{color:windowtext;
	font-size:10.0pt;
	font-weight:400;
	font-style:normal;
	text-decoration:none;
	font-family:"宋体";
	mso-generic-font-family:auto;
	mso-font-charset:134;}
.font2
	{color:#666699;
	font-size:10.0pt;
	font-weight:700;
	font-style:normal;
	text-decoration:none;
	font-family:"Arial";
	mso-generic-font-family:swiss;
	mso-font-charset:0;}
.font3
	{color:#666699;
	font-size:10.0pt;
	font-weight:700;
	font-style:normal;
	text-decoration:none;
	font-family:"宋体";
	mso-generic-font-family:auto;
	mso-font-charset:134;}
.style0
	{mso-number-format:"General";
	text-align:general;
	vertical-align:bottom;
	white-space:nowrap;
	mso-rotate:0;
	mso-pattern:auto;
	mso-background-source:auto;
	color:windowtext;
	font-size:10.0pt;
	font-weight:400;
	font-style:normal;
	text-decoration:none;
	font-family:Arial, sans-serif;
	mso-generic-font-family:swiss;
	mso-font-charset:0;
	border:none;
	mso-protection:locked visible;
	mso-style-name:"Normal";
	mso-style-id:0;}
.style16
	{mso-number-format:"0%";
	mso-style-name:"Comma";
	mso-style-id:3;}
.style17
	{mso-number-format:"_ \0022\00A5\0022* \#\,\#\#0_ \;_ \0022\00A5\0022* \\-\#\,\#\#0_ \;_ \0022\00A5\0022* \0022-\0022_ \;_ \@_ ";
	mso-style-name:"Currency";
	mso-style-id:4;}
.style18
	{mso-number-format:"_ \0022\00A5\0022* \#\,\#\#0\.00_ \;_ \0022\00A5\0022* \\-\#\,\#\#0\.00_ \;_ \0022\00A5\0022* \0022-\0022??_ \;_ \@_ ";
	mso-style-name:"Comma[0]";
	mso-style-id:6;}
.style19
	{mso-number-format:"_ * \#\,\#\#0_ \;_ * \\-\#\,\#\#0_ \;_ * \0022-\0022_ \;_ \@_ ";
	mso-style-name:"Percent";
	mso-style-id:5;}
.style20
	{mso-number-format:"_ * \#\,\#\#0\.00_ \;_ * \\-\#\,\#\#0\.00_ \;_ * \0022-\0022??_ \;_ \@_ ";
	mso-style-name:"Currency[0]";
	mso-style-id:7;}
td
	{mso-style-parent:style0;
	padding-top:1px;
	padding-right:1px;
	padding-left:1px;
	mso-ignore:padding;
	mso-number-format:"General";
	text-align:general;
	vertical-align:bottom;
	white-space:nowrap;
	mso-rotate:0;
	mso-pattern:auto;
	mso-background-source:auto;
	color:windowtext;
	font-size:10.0pt;
	font-weight:400;
	font-style:normal;
	text-decoration:none;
	font-family:Arial, sans-serif;
	mso-generic-font-family:swiss;
	mso-font-charset:0;
	border:none;
	mso-protection:locked visible;}
.xl22
	{mso-style-parent:style0;
	mso-number-format:"\@";
	text-align:right;
	vertical-align:middle;}
.xl23
	{mso-style-parent:style0;
	mso-number-format:"\@";}
.xl24
	{mso-style-parent:style0;
	mso-number-format:"\@";
	text-align:right;
	vertical-align:middle;}
.xl25
	{mso-style-parent:style0;
	mso-number-format:"\@";
	text-align:right;
	vertical-align:middle;
	font-family:宋体;
	mso-generic-font-family:auto;
	mso-font-charset:134;}
.xl26
	{mso-style-parent:style0;
	mso-number-format:"\@";
	text-align:center;
	vertical-align:middle;
	mso-pattern:auto none;
	background:#C0C0C0;
	color:#666699;
	font-weight:700;
	border:.5pt solid windowtext;}
.xl27
	{mso-style-parent:style0;
	mso-number-format:"\@";
	text-align:center;
	vertical-align:middle;
	mso-pattern:auto none;
	background:#C0C0C0;
	color:#666699;
	font-weight:700;
	font-family:宋体;
	mso-generic-font-family:auto;
	mso-font-charset:134;
	border:.5pt solid windowtext;}
.xl28
	{mso-style-parent:style0;
	mso-number-format:"\@";
	font-family:宋体;
	mso-generic-font-family:auto;
	mso-font-charset:134;}
 -->  </style>
  <!--[if gte mso 9]>
   <xml>
    <x:ExcelWorkbook>
     <x:ExcelWorksheets>
      <x:ExcelWorksheet>
       <x:Name>不要改变格式，如果删除一行数据，请整行删掉</x:Name>
       <x:WorksheetOptions>
        <x:StandardWidth>2340</x:StandardWidth>
        <x:Selected/>
        <x:Panes>
         <x:Pane>
          <x:Number>3</x:Number>
          <x:ActiveCol>0</x:ActiveCol>
          <x:ActiveRow>2</x:ActiveRow>
          <x:RangeSelection>A3</x:RangeSelection>
         </x:Pane>
        </x:Panes>
        <x:ProtectContents>False</x:ProtectContents>
        <x:ProtectObjects>False</x:ProtectObjects>
        <x:ProtectScenarios>False</x:ProtectScenarios>
        <x:Print>
         <x:ValidPrinterInfo/>
         <x:PaperSizeIndex>9</x:PaperSizeIndex>
         <x:HorizontalResolution>600</x:HorizontalResolution>
         <x:VerticalResolution>300</x:VerticalResolution>
        </x:Print>
       </x:WorksheetOptions>
      </x:ExcelWorksheet>
     </x:ExcelWorksheets>
     <x:ProtectStructure>False</x:ProtectStructure>
     <x:ProtectWindows>False</x:ProtectWindows>
     <x:WindowHeight>7860</x:WindowHeight>
     <x:WindowWidth>17420</x:WindowWidth>
    </x:ExcelWorkbook>
   </xml>
  <![endif]-->
 </head>
 <body link="blue" vlink="purple">
  <table width="4176" border="0" cellpadding="0" cellspacing="0" style='width:3132.00pt;border-collapse:collapse;table-layout:fixed;'>
   <col width="115" style='mso-width-source:userset;mso-width-alt:4205;width:86.25pt;'/>
   <col width="215" style='mso-width-source:userset;mso-width-alt:7862;width:161.25pt;'/>
   <col width="44" style='mso-width-source:userset;mso-width-alt:1609;width:33.00pt;'/>
   <col width="129" style='mso-width-source:userset;mso-width-alt:4717;width:96.75pt;'/>
   <col width="57" style='mso-width-source:userset;mso-width-alt:2084;width:42.75pt;'/>
   <col width="67" style='mso-width-source:userset;mso-width-alt:2450;width:50.25pt;'/>
   <col width="46" style='mso-width-source:userset;mso-width-alt:1682;width:34.50pt;'/>
   <col width="45" style='mso-width-source:userset;mso-width-alt:1645;width:33.75pt;'/>
   <col width="57" span="2" style='mso-width-source:userset;mso-width-alt:2084;width:42.75pt;'/>
   <col width="215" style='mso-width-source:userset;mso-width-alt:7862;width:161.25pt;'/>
   <col width="430" span="2" style='mso-width-source:userset;mso-width-alt:15725;width:322.50pt;'/>
   <col width="107" style='mso-width-source:userset;mso-width-alt:3913;width:80.25pt;'/>
   <col width="57" span="3" style='mso-width-source:userset;mso-width-alt:2084;width:42.75pt;'/>
   <col width="72" style='mso-width-source:userset;mso-width-alt:2633;width:54.00pt;'/>
   <col width="43" style='mso-width-source:userset;mso-width-alt:1572;width:32.25pt;'/>
   <col width="72" span="5" style='mso-width-source:userset;mso-width-alt:2633;width:54.00pt;'/>
   <col width="64" style='width:48.00pt;'/>
   <col width="98" span="3" style='mso-width-source:userset;mso-width-alt:3584;width:73.50pt;'/>
   <col width="111" style='mso-width-source:userset;mso-width-alt:4059;width:83.25pt;'/>
   <col width="135" span="2" style='mso-width-source:userset;mso-width-alt:4937;width:101.25pt;'/>
   <col width="102" style='mso-width-source:userset;mso-width-alt:3730;width:76.50pt;'/>
   <col width="177" style='mso-width-source:userset;mso-width-alt:6473;width:132.75pt;'/>
   <col width="64" style='width:48.00pt;'/>
   <col width="85" style='mso-width-source:userset;mso-width-alt:3108;width:63.75pt;'/>
   <col width="71" style='mso-width-source:userset;mso-width-alt:2596;width:53.25pt;'/>
   <col width="104" style='mso-width-source:userset;mso-width-alt:3803;width:78.00pt;'/>
   <col width="69" style='mso-width-source:userset;mso-width-alt:2523;width:51.75pt;'/>
   <col width="105" style='mso-width-source:userset;mso-width-alt:3840;width:78.75pt;'/>
   <tr height="21.27" class="xl26" style='height:15.95pt;mso-height-source:userset;'>
    <td class="xl27" height="21.27" width="115" style='height:15.95pt;width:86.25pt;' x:str>学号</td>
    <td class="xl27" width="215" style='width:161.25pt;' x:str>姓名</td>
    <td class="xl27" width="44" style='width:33.00pt;' x:str>性别</td>
    <td class="xl26" width="129" style='width:96.75pt;' x:str>身份证号</td>
    <td class="xl26" width="57" style='width:42.75pt;' x:str>出生日期</td>
    <td class="xl26" width="67" style='width:50.25pt;' x:str>入园日期</td>
    <td class="xl26" width="46" style='width:34.50pt;' x:str>班级号</td>
    <td class="xl26" width="45" style='width:33.75pt;' x:str>民族</td>
    <td class="xl26" width="57" style='width:42.75pt;' x:str>户籍类型</td>
    <td class="xl26" width="57" style='width:42.75pt;' x:str>户籍类别</td>
    <td class="xl26" width="215" style='width:161.25pt;' x:str>出生地</td>
    <td class="xl26" width="430" style='width:322.50pt;' x:str>户口所在地</td>
    <td class="xl26" width="430" style='width:322.50pt;' x:str>家庭住址</td>
    <td class="xl26" width="107" style='width:80.25pt;' x:str>家庭电话</td>
    <td class="xl26" width="57" style='width:42.75pt;' x:str>住房性质</td>
    <td class="xl26" width="57" style='width:42.75pt;' x:str>居住情况</td>
    <td class="xl26" width="57" style='width:42.75pt;' x:str>计生情况</td>
    <td class="xl26" width="72" style='width:54.00pt;' x:str>家中子女数</td>
    <td class="xl26" width="43" style='width:32.25pt;' x:str>第几胎</td>
    <td class="xl26" width="72" style='width:54.00pt;' x:str>就读证明1</td>
    <td class="xl26" width="72" style='width:54.00pt;' x:str>就读证明2</td>
    <td class="xl26" width="72" style='width:54.00pt;' x:str>就读证明3</td>
    <td class="xl26" width="72" style='width:54.00pt;' x:str>就读证明4</td>
    <td class="xl26" width="72" style='width:54.00pt;' x:str>就读证明5</td>
    <td class="xl27" width="64" style='width:48.00pt;' x:str>国籍</td>
    <td class="xl27" width="98" style='width:73.50pt;' x:str>证件类别</td>
    <td class="xl27" width="98" style='width:73.50pt;' x:str>户口性质</td>
    <td class="xl27" width="98" style='width:73.50pt;' x:str>是否接受资助</td>
    <td class="xl27" width="111" style='width:83.25pt;' x:str>监护人姓名</td>
    <td class="xl27" width="135" style='width:101.25pt;' x:str>监护人身份证件类型</td>
    <td class="xl27" width="135" style='width:101.25pt;' x:str>监护人身份证件号码</td>
    <td class="xl27" width="102" style='width:76.50pt;' x:str>是否留守儿童</td>
    <td class="xl27" width="177" style='width:132.75pt;' x:str>是否进城务工人员随迁子女</td>
    <td class="xl27" width="64" style='width:48.00pt;' x:str>是否低保</td>
    <td class="xl27" width="85" style='width:63.75pt;' x:str>是否残疾儿童</td>
    <td class="xl27" width="71" style='width:53.25pt;' x:str>残疾类别</td>
    <td class="xl27" width="104" style='width:78.00pt;' x:str>是否寄宿生</td>
    <td class="xl27" width="69" style='width:51.75pt;' x:str>是否孤儿</td>
    <td class="xl27" width="105" style='width:78.75pt;'/>
   </tr>
    <% (@student_infos || []).each do |student_info|%>
    <%if user=student_info.user%>
   <tr height="20" class="xl23" style='height:15.00pt;mso-height-source:userset;'>
    <td class="xl24" height="20" style='height:15.00pt;' x:str></td>
    <td class="xl25" x:str><%=user.try(:name)%></td>
    <td class="xl25" x:str><%=user.try(:gender) == "G" ? "男" : "女"%></td>
    <td class="xl24" x:str><%=student_info.card_code %></td>
    <td class="xl24" x:str><%= student_info.try(:birthday).try(:to_short_datetime)%></td>
    <td class="xl22" x:str><%= student_info.try(:come_in_at).try(:to_short_datetime) %></td>
    <td class="xl22" x:str><%=student_info.try(:squad).try(:name) %></td>
    <td class="xl22" x:str><%=student_info.nation %></td>
    <td class="xl22" x:str><%= student_info.family_register %></td>
    <td class="xl22" x:str>户籍类别</td>
    <td class="xl22" x:str><%= student_info.birthplace %></td>
    <td class="xl23" x:str><%= student_info.domicile_place %></td>
    <td class="xl23" x:str><%= student_info.family_address %></td>
    <td class="xl23" x:str><%=student_info.family_phone%></td>
    <td class="xl23" x:str><%= student_info.housing %></td>
    <td class="xl23" x:str><%=student_info.live_family%></td>
    <td class="xl23" x:str><%=student_info.only_child ? "A" : "B" %></td>
    <td class="xl23" x:str><%=case  when student_info.brothers.to_i==1 then "A" when student_info.brothers.to_i==2 then "B" when student_info.brothers.to_i==3 then "C"  when student_info.brothers.to_i >=4 then "D"  end%></td>
    <td class="xl23" x:str><%=case when student_info.children_number.to_i ==1 then "A" when student_info.children_number.to_i ==2 then "B" when student_info.children_number.to_i ==3 then "C"  when student_info.children_number.to_i  ==4 then "D" when student_info.children_number.to_i  ==5 then "E" when student_info.children_number.to_i==6 then "F" end%></td>
    <td class="xl23" x:str>Y</td>
    <td class="xl23" x:str>Y</td>
    <td class="xl23" x:str>Y</td>
    <td class="xl23" x:str>Y</td>
    <td class="xl23" x:str>Y</td>
    <td class="xl23" x:str><%= student_info.nationality %></td>
    <td class="xl23" x:str><%=student_info.card_category %></td>
    <td class="xl23" x:str><%= student_info.household %></td>
    <td class="xl23" x:str><%=student_info.subsidize ? "1" : "0" %></td>
    <td class="xl28" x:str><%=student_info.guardian %></td>
    <td class="xl23" x:str><%= student_info.guardian_card_category %></td>
    <td class="xl23" x:str><%= student_info.guardian_card_code %></td>
    <td class="xl23" x:str><%= student_info.leftover_children ? "1" : "0" %></td>
    <td class="xl23" x:str><%= student_info.employofficialt ? "1" : "0" %></td>
    <td class="xl23" x:str><%= student_info.insured ? "1" : "0" %></td>
    <td class="xl23" x:str><%= student_info.deformity ? "1" : "0" %></td>
    <td class="xl23"/><%= student_info.deformity_category %>
    <td class="xl23" x:str><%= student_info.lodging ? "1" : "0" %></td>
    <td class="xl23" x:str><%= student_info.orphan ? "1" : "0" %></td>
    <td class="xl23"/>
   </tr>
   <%end%>
  <%end%>
  </table>
 </body>
</html>
