<div class="show_work">
  <%= render :partial => "/modules/colorful/work_menu" %>
  <div class="work">
    <div class="headline">
      <div class="headline_title">
        <div class="messages_root"></div>
        <label>学籍管理信息</label>
        <div class="crumbs">
          <a href="/my_school/home" title="返回首页">
            <div class="icon_home"></div>
          </a>
          <ul>
            <li>人员管理</li>
            <li>/</li>
            <li>
              <% if choose_operate_show("my_school/student_infos/index") %>
                <%= link_to "学籍管理", my_school_student_infos_path %>
              <% else %>
                学籍管理
              <% end %>
            </li>
            <li>/</li>
            <li>修改学员</li>
          </ul>
        </div>
      </div>
      <ul class="work_action">
        <li>
          <% if choose_operate_show("my_school/student_infos/index") %>
            <a href="<%=url_for(:controller=>"/my_school/student_infos",:action=>:index, params: session[:return_to])%>" title="返回">
              <div class="work_action_return">
              </div>
              <div class="work_action_return_move">
              </div>
            </a>
          <% end %>
        </li>
      </ul>
    </div>
    <div class="work_form">
      <div class="form_div">
        <%= simple_form_for @student_info, :validate => true, :url => {:controller=>"/my_school/student_infos",:action=>:update}, :html =>{:class=>"form-horizontal"} do |f| %>
          <%= render :partial => "form",:object=>f %>
        <% end %>
      </div>
    </div>
  </div>

</div>
