<div class="show_publicity">
  <img src="/t/colorful/small_publicity.jpg" alt="展示图"/>
</div>
<div class="show_work">
  <%= render :partial => "/modules/colorful/work_menu" %>
  <div class="work">
    <div class="headline">
      <div class="headline_title">
        <div class="messages_root"></div>
        <label>学籍管理信息</label>
        <div class="crumbs">
          <a href="/my_school/home" title="返回首页">
            <div class="icon_home"></div>
          </a>
          <ul>
            <li>人员管理</li>
            <li>/</li>
            <li>
              <% if choose_operate_show("my_school/student_infos/index") %>
                <%= link_to "学籍管理", my_school_student_infos_path %>
              <% else %>
                学籍管理
              <% end %>
            </li>
            <li>/</li>
            <li>查看学员</li>
          </ul>
        </div>
      </div>
      <ul class="work_action">
        <li>
          <% if choose_operate_show("my_school/student_infos/new") %>
            <a href="<%=url_for(:controller=>"/my_school/student_infos",:action=>:new)%>" title="添加">
              <div class="work_action_add">
              </div>
              <div class="work_action_add_move">
              </div>
            </a>
          <% end %>
        </li>
        <li>
          <% if choose_operate_show("my_school/student_infos/edit") %>
            <a href="<%=url_for(:controller=>"/my_school/student_infos",:action=>:edit,:id=>@student_info.id)%>" title="编辑">
              <div class="work_action_edit">
              </div>
              <div class="work_action_edit_move">
              </div>
            </a>
          <% end %>
        </li>
        <li>
          <% if choose_operate_show("my_school/student_infos/destroy") %>
            <%= link_to(url_for(:controller=>"/my_school/student_infos",:action=>:destroy,:id=>@student_info.id),:method=>:delete, :confirm => "您确定删除该学员吗?") do %>
              <div class="work_action_delete">
              </div>
              <div class="work_action_delete_move">
              </div>
            <% end %>
          <% end %>
        </li>
        <li>
          <% if choose_operate_show("my_school/student_infos/index") %>
            <a href="<%=url_for(:controller=>"/my_school/student_infos",:action=>:index)%>" title="返回">
              <div class="work_action_return">
              </div>
              <div class="work_action_return_move">
              </div>
            </a>
          <% end %>
        </li>
      </ul>
    </div>

    <div class="work_form">
      <div class="form_div">
        <form class="form-horizontal">
          <fieldset>
            <legend><label><strong>账号信息</strong></label></legend>
            <div class="control-group">
              <label class="control-label">头像</label>
              <div class="controls">
                <div class="show_action">
                  <% if choose_operate_show("my_school/users/set_gather_sms") %>
                    <%= link_to (@student_info.user.is_receive ? "取消收短信" : "可收短信"), set_gather_sms_my_school_user_path(@student_info.user), :class => "btn" %>
                  <% end %>
                  <% if choose_operate_show("my_school/student_infos/student_execl") %>
                  <%= link_to "学员信息下载",student_execl_my_school_student_infos_path(:student_info_id=>@student_info.id),:class=>"btn"%>
                  <%end%>
                  <% if choose_operate_show("my_school/student_infos/virtual_squad_choose") %>
                  <%=link_to "添加延时班",virtual_squad_my_school_student_infos_path,:id=>"btn_open_virtual_squads_list",:class=>"btn"%>
                  <%end%>
                </div>
                <label class="show_label">
                  <img src="<%= @student_info.user.asset_logo ? @student_info.user.asset_logo.public_filename(:thumb) : '/t/colorful/user_logo.png' %>" width="103" alt="头像"/>
                </label>
              </div>
            </div>

          <div class="left_table">

            <div class="control-group">
              <label class="control-label">所属幼儿园</label>
              <div class="controls">
                <label class="show_label">
                  <%= @student_info.user.kindergarten_label %>
                </label>
              </div>
            </div>
            <div class="control-group">
              <label class="control-label">名称</label>
              <div class="controls">
                <label class="show_label">
                  <%=@student_info.user.name%>
                </label>
              </div>
            </div>
            <div class="control-group">
              <label class="control-label" >账号</label>
              <div class="controls">
                <label class="show_label">
                  <%= @student_info.user.login %>
                </label>
              </div>
            </div>
            <div class="control-group">
              <label class="control-label" >电话号码</label>
              <div class="controls">
                <label class="show_label">
                  <%= @student_info.user.phone %>
                </label>
              </div>
            </div>

          </div>
          <div class="right_table">

            <div class="control-group">
              <label class="control-label" >性别</label>
              <div class="controls">
                <label class="show_label">
                  <%= @student_info.user.gender == "M" ? "女" : "男" %>
                </label>
              </div>
            </div>
            <div class="control-group">
              <label class="control-label" >所属类别</label>
              <div class="controls">
                <label class="show_label">
                  <%= @student_info.user.tp_label %>
                </label>
              </div>
            </div>
            <div class="control-group">
              <label class="control-label" >绑定微信</label>
              <div class="controls">
                <label class="show_label">
                  <%= @student_info.user.weixin_code.blank? ? "已绑定" : "未绑定" %>
                </label>
              </div>
            </div>

          </div>

          </fieldset>
          <fieldset>
            <legend><label><strong>学员信息</strong></label></legend>
          <div class="left_table">
            <div class="control-group">
              <label class="control-label" >年级</label>
              <div class="controls">
                <label class="show_label">
                  <%= @student_info.squad.grade_label %>
                </label>
              </div>
            </div>
            <div class="control-group">
              <label class="control-label" >班级</label>
              <div class="controls">
                <label class="show_label">
                  <%= @student_info.squad.name %>
                </label>
              </div>
            </div>
            <div class="control-group">
              <label class="control-label" >延时班</label>
              <div class="controls">
                <label class="show_label">
                  <p id="virtual_squad_name"><% (@user_squads||[]).each do |v_squad|%>
                  <%=v_squad.squad.try(:name)%>
                  <%end%>
                 </p>
                </label>
              </div>
            </div>
            <div class="control-group">
              <label class="control-label" >出生日期</label>
              <div class="controls">
                <label class="show_label">
                  <%= @student_info.birthday ? @student_info.birthday.to_short_datetime : "" %>
                </label>
              </div>
            </div>
            <div class="control-group">
              <label class="control-label" >入园日期</label>
              <div class="controls">
                <label class="show_label">
                  <%= @student_info.come_in_at ? @student_info.come_in_at.to_short_datetime : "" %>
                </label>
              </div>
            </div>
            <div class="control-group">
              <label class="control-label" >证件类别</label>
              <div class="controls">
                <label class="show_label">
                  <%= @student_info.card_category_label %>
                </label>
              </div>
            </div>
            <div class="control-group">
              <label class="control-label" >证件号码</label>
              <div class="controls">
                <label class="show_label">
                  <%= @student_info.card_code %>
                </label>
              </div>
            </div>
            <div class="control-group">
              <label class="control-label" >监护人姓名</label>
              <div class="controls">
                <label class="show_label">
                  <%= @student_info.guardian %>
                </label>
              </div>
            </div>
            <div class="control-group">
              <label class="control-label" >监护人证件类别</label>
              <div class="controls">
                <label class="show_label">
                  <%= @student_info.guardian_card_category_label %>
                </label>
              </div>
            </div>
            <div class="control-group">
              <label class="control-label" >监护人证件号</label>
              <div class="controls">
                <label class="show_label">
                  <%= @student_info.guardian_card_code %>
                </label>
              </div>
            </div>
            <div class="control-group">
              <label class="control-label" >国籍</label>
              <div class="controls">
                <label class="show_label">
                  <%= @student_info.nationality %>
                </label>
              </div>
            </div>
            <div class="control-group">
              <label class="control-label" >民族</label>
              <div class="controls">
                <label class="show_label">
                  <%= @student_info.nation %>
                </label>
              </div>
            </div>
            <div class="control-group">
              <label class="control-label" >港澳台侨</label>
              <div class="controls">
                <label class="show_label">
                  <%= @student_info.overseas_chinese_label %>
                </label>
              </div>
            </div>
            <div class="control-group">
              <label class="control-label" >户口性质</label>
              <div class="controls">
                <label class="show_label">
                  <%= @student_info.household_label %>
                </label>
              </div>
            </div>
            <div class="control-group">
              <label class="control-label" >出生地</label>
              <div class="controls">
                <label class="show_label">
                  <%= @student_info.birthplace %>
                </label>
              </div>
            </div>
            <div class="control-group">
              <label class="control-label" >籍贯</label>
              <div class="controls">
                <label class="show_label">
                  <%= @student_info.native %>
                </label>
              </div>
            </div>

          </div>

          <div class="right_table">

            <div class="control-group">
              <label class="control-label" >户口所在地</label>
              <div class="controls">
                <label class="show_label">
                  <%= @student_info.domicile_place %>
                </label>
              </div>
            </div>
            <div class="control-group">
              <label class="control-label" >家庭地址</label>
              <div class="controls">
                <label class="show_label">
                  <%= @student_info.family_address %>
                </label>
              </div>
            </div>
            <div class="control-group">
              <label class="control-label" >是否寄宿生</label>
              <div class="controls">
                <label class="show_label">
                  <%= @student_info.lodging ? "是" : "否" %>
                </label>
              </div>
            </div>
            <div class="control-group">
              <label class="control-label" >是否独生子女</label>
              <div class="controls">
                <label class="show_label">
                  <%= @student_info.only_child ? "是" : "否" %>
                </label>
              </div>
            </div>
            <div class="control-group">
              <label class="control-label" >是否孤儿</label>
              <div class="controls">
                <label class="show_label">
                  <%= @student_info.orphan ? "是" : "否" %>
                </label>
              </div>
            </div>
            <div class="control-group">
              <label class="control-label" >是否留守儿童</label>
              <div class="controls">
                <label class="show_label">
                  <%= @student_info.leftover_children ? "是" : "否" %>
                </label>
              </div>
            </div>
            <div class="control-group">
              <label class="control-label" >是否进城务工人员子女</label>
              <div class="controls">
                <label class="show_label">
                  <%= @student_info.employofficialt ? "是" : "否" %>
                </label>
              </div>
            </div>
            <div class="control-group">
              <label class="control-label" >是否低保</label>
              <div class="controls">
                <label class="show_label">
                  <%= @student_info.insured ? "是" : "否" %>
                </label>
              </div>
            </div>
            <div class="control-group">
              <label class="control-label" >是否接受资助</label>
              <div class="controls">
                <label class="show_label">
                  <%= @student_info.subsidize ? "是" : "否" %>
                </label>
              </div>
            </div>
            <div class="control-group">
              <label class="control-label" >是否残疾儿童</label>
              <div class="controls">
                <label class="show_label">
                  <%= @student_info.deformity ? "是" : "否" %>
                </label>
              </div>
            </div>
            <div class="control-group">
              <label class="control-label" >残疾儿童类型</label>
              <div class="controls">
                <label class="show_label">
                  <%= @student_info.deformity_category %>
                </label>
              </div>
            </div>
            <div class="control-group">
              <label class="control-label" >住房性质</label>
              <div class="controls">
                <label class="show_label">
                  <%= @student_info.housing_label %>
                </label>
              </div>
            </div>
            <div class="control-group">
              <label class="control-label" >居住情况</label>
              <div class="controls">
                <label class="show_label">
                  <%= @student_info.live_family_label %>
                </label>
              </div>
            </div>
            <div class="control-group">
              <label class="control-label" >是否接受资助</label>
              <div class="controls">
                <label class="show_label">
                  <%= @student_info.subsidize ? "是" : "否" %>
                </label>
              </div>
            </div>
            <div class="control-group">
              <label class="control-label" >家中兄妹数</label>
              <div class="controls">
                <label class="show_label">
                  <%= @student_info.brothers %>
                </label>
              </div>
            </div>
            <div class="control-group">
              <label class="control-label" >本人第几胎</label>
              <div class="controls">
                <label class="show_label">
                  <%= @student_info.children_number %>
                </label>
              </div>
            </div>

          </div>

          </fieldset>
          <fieldset>
            <legend><label><strong>家庭关系</strong></label></legend>

          <div class="left_table">

            <div class="control-group">
              <label class="control-label" >关系</label>
              <div class="controls">
                <label class="show_label">
                  <%= @student_info.family_ties %>
                </label>
              </div>
            </div>
            <div class="control-group">
              <label class="control-label" >姓名</label>
              <div class="controls">
                <label class="show_label">
                  <%= @student_info.family_name %>
                </label>
              </div>
            </div>
            <div class="control-group">
              <label class="control-label" >政治面貌</label>
              <div class="controls">
                <label class="show_label">
                  <%= @student_info.politics_status %>
                </label>
              </div>
            </div>
            <div class="control-group">
              <label class="control-label" >职业</label>
              <div class="controls">
                <label class="show_label">
                  <%= @student_info.profession %>
                </label>
              </div>
            </div>
            <div class="control-group">
              <label class="control-label" >职务</label>
              <div class="controls">
                <label class="show_label">
                  <%= @student_info.duties %>
                </label>
              </div>
            </div>
            <div class="control-group">
              <label class="control-label" >工作单位</label>
              <div class="controls">
                <label class="show_label">
                  <%= @student_info.working %>
                </label>
              </div>
            </div>
            <div class="control-group">
              <label class="control-label" >户籍类型</label>
              <div class="controls">
                <label class="show_label">
                  <%= @student_info.family_register %>
                </label>
              </div>
            </div>

          </div>

          <div class="right_table">

            <div class="control-group">
              <label class="control-label" >移动电话</label>
              <div class="controls">
                <label class="show_label">
                  <%= @student_info.family_phone %>
                </label>
              </div>
            </div>
            <div class="control-group">
              <label class="control-label" >电子邮箱</label>
              <div class="controls">
                <label class="show_label">
                  <%= @student_info.family_email %>
                </label>
              </div>
            </div>
            <div class="control-group">
              <label class="control-label" >父母在深连续居住时间</label>
              <div class="controls">
                <label class="show_label">
                  <%= @student_info.living_time %>
                </label>
              </div>
            </div>
            <div class="control-group">
              <label class="control-label" >婚姻状况</label>
              <div class="controls">
                <label class="show_label">
                  <%= @student_info.family_marital %>
                </label>
              </div>
            </div>
            <div class="control-group">
              <label class="control-label" >学历</label>
              <div class="controls">
                <label class="show_label">
                  <%= @student_info.education %>
                </label>
              </div>
            </div>
            <div class="control-group">
              <label class="control-label" >社会保险箱</label>
              <div class="controls">
                <label class="show_label">
                  <%= @student_info.safe_box %>
                </label>
              </div>
            </div>

          </div>

          </fieldset>
        </form>
      </div>
    </div>
  </div>

</div>
<div id="virtual_squads_manage" title="班级选择">
      <div id="virtual_squads_list_choose"></div>
      <div id="virtual_squads_list_show">
         <%=render "virtual_squads_list"%>
      </div>
</div>
<script type="text/javascript">
$(function(){
  $('#virtual_squads_manage').dialog({autoOpen:false,modal:true,width:620,height:445});
        $('#btn_open_virtual_squads_list').click(function(){
          $('#virtual_squads_list_choose').load(this.href, function(){
              $('#virtual_squads_list_choose').hide();
              $('#virtual_squads_list_show').show();
              $('#virtual_squads_manage').dialog('open');
            });
             return false ;
        });
})
</script>
<script type="text/javascript">
    $(function(){
       $('.id_commit').click(function(){
        var str = "" ;
        $("input[type=checkbox]:checked").each(function(){
            str += $(this).val()+","
        });
         $.ajax(
             {
                type:"POST" ,
                url:"/my_school/student_infos/virtual_squad_choose",
                data:"virtual_squad_ids="+ str + "&id=" + <%=@student_info.id%> ,
                cache: false,
                success: function(result){
                  $("#virtual_squad_name").empty();
                      for(i=0;i<result.length;i++)
                        {
                            if (i == result.length-1)
                             $("#virtual_squad_name").append(result[i].name);
                           else
                             $("#virtual_squad_name").append(result[i].name + ",");
                        }
                     $('#virtual_squads_manage').dialog('close');

                }
       });
    });
   });
  </script>


