<div class="show_work">
  <%= render :partial => "/modules/#{view_layout}/work_menu" %>
  <div class="work">
    <div class="headline">
      <div class="headline_title">
        <div class="messages_root"></div>
        <label>评估管理</label>
        <div class="crumbs">
          <a href="/my_school/home" title="返回首页">
            <div class="icon_home"></div>
          </a>
          <ul>
          </ul>
        </div>
      </div>
      <ul class="work_action">
        <li>
        </li>
      </ul>
    </div>
    <div class="work_list">
      <%if @evaluates.blank? %>
        <%=render "new_form"%>
      <%else%>
      <% if choose_operate_show("my_school/evaluates/destroy") %>
      <%= link_to(url_for(:controller=>"/my_school/evaluates",:action=>:destroy,:id=>@evaluates.id),:method=>:delete, :confirm => "您确定删除该评估管理，下面的附件将全部删除无法找回吗?") do %>
            <div class="btn blue">关闭评估系统</div>
          <% end %>
          <%end%>
        <%=render "list_evaluates"%>
      <%end%>
      <% if choose_operate_show("my_school/evaluates/download_packages") %>
      <div class="download_package">
      <%if @download_package && @download_package.status %>
      <%if @download_package.unsucc_status%>
       <%=link_to "上次打包失败重新打包" , download_packages_my_school_evaluates_path,:class=>"btn"%>
       <%elsif (@download_package.created_at + 0.5.hour) < Time.now %>
       <%=link_to "重新打包" , download_packages_my_school_evaluates_path,:class=>"btn"%>
       <%else%>
       <%=link_to "正在打包中" , "###",:class=>"btn"%>
       <%end%>
       <%else%>
       <%=link_to "打包下载" , download_packages_my_school_evaluates_path,:class=>"btn"%>
       <%=render "show_download_package"%>
       <%end%>
      </div>
      <%end%>
    </div>
  </div>

</div>
