<div class="head">
  <div class="head_left">
    <div class="weiyi_menu_label">
      <%= WEIYI_MENU[action_name] %>
    </div>
    <div class="weiyi_logo">
    </div>
    <div class="weiyi_menu">
      <ul>
        <li class="<%= action_name == "index" ? "activate" : "" %>"><%= link_to "关于我们" ,"/"%></li>
        <li class="<%= action_name == "weiyi_video" ? "activate" : "" %>"><%= link_to "移动视频" ,"/main/weiyi_video"%></li>
        <li class="<%= action_name == "weiyi_scheme" ? "activate" : "" %>"><%= link_to "影视策划" ,"/main/weiyi_scheme"%></li>
        <li class="<%= action_name == "weiyi_cultivate" ? "activate" : "" %>"><%= link_to "动漫培训" ,"/main/weiyi_cultivate"%></li>
        <li class="<%= action_name == "weiyi_tourism" ? "activate" : "" %>"><%= link_to "科技旅游" ,"/main/weiyi_tourism"%></li>
        <li class="<%= action_name == "weiyi_benefit" ? "activate" : "" %>"><%= link_to "公益活动" ,"/main/weiyi_benefit"%></li>
        <li><%= link_to "家园互动" ,"/garden",:target=>"_blank"%></li>
        <!--
        <li class="<%= action_name == "weiyi_solution" ? "activate" : "" %>"><%= link_to "解决方案" ,"/main/weiyi_solution"%></li>
        <li class="<%= action_name == "weiyi_interact" ? "activate" : "" %>"><%= link_to "家园互动" ,"/main/weiyi_interact"%></li>
        <li class="<%= action_name == "weiyi_contact" ? "activate" : "" %>"><%= link_to "联系我们" ,"/main/weiyi_contact"%></li>
        -->
      </ul>
    </div>
  </div>
  <div class="head_bg_advertise">
  </div>
  <div class="head_food">
  </div>
  <!--
<div class="head_bg">
</div>
<div class="head_food">
</div>

  <% if action_name == "index" %>
        <div class="head_phone">
        </div>
  <% elsif action_name == "weiyi_solution" %>
        <div class="head_bind">
        </div>
  <% else %>
        <div class="head_weixin">
        </div>
  <% end %>
  -->
</div>