<div class="container">
  <%= render :partial => "/modules/colorful/weixin_head" %>
</div>
<div class="message_div">
  <div class="message_title">
    <a href="<%= url_for(:action=>:index) %>" title="返回" class="weixin_return">返回</a>消息详情
  </div>
  <div class="message_list">
    <%= simple_form_for @message, :validate => true, :url => {:controller=>"/my_school/messages",:action=>:create}, :html =>{:class=>"form-horizontal"} do |f| %>
      <%= render :partial => "/my_school/messages/form",:object=>f %>
    <% end %>
  </div>
</div>
<%= render :partial => "/modules/colorful/weixin_menu_navbar"%>
<%= render :partial => "/modules/colorful/weixin_menu_one"%>