<div class="container">
  <%= render :partial => "/modules/colorful/weixin_head" %>
</div>
<div class="message_div">
  <div class="message_title">
    <% if action_name == "draft_show" %>
      <a href="<%= url_for(:action=>:draft_box) %>" title="返回" class="weixin_return">返回</a>消息详情
    <% else %>
      <a href="<%= url_for(:action=>:outbox) %>" title="返回" class="weixin_return">返回</a>消息详情
    <% end %>

    <%= link_to("删除",url_for(:controller=>"/weixin/messages",:action=>:destroy,:id=>@message.id),:method=>:delete, :confirm => "您确定删除该消息吗?", :class => "new_message btn btn-warning")%>

    <% if action_name == "draft_show" %>
      <%= link_to "修改", url_for(:controller=>"/weixin/messages",:action=>:draft_edit,:id=>@message.id), :class => "new_message btn btn-warning" %>
    <% else %>
      <%= link_to "修改", url_for(:controller=>"/weixin/messages",:action=>:edit,:id=>@message.id), :class => "new_message btn btn-warning" %>
    <% end %>
  </div>
  <div class="show_title">
    <div class="user_list">
      <label>收件人:
        <div class="message_user_list">
          <ul>
            <%if (m_e = @message.message_entries) && !m_e.blank?%>
              <% m_e.each do |m_e| %>
                <li>
                  <%= m_e.receiver.try(:name) %>
                </li>
              <% end %>
            <%else%>
              <span>无</span>
            <%end%>
          </ul>
        </div>
      </label>
    </div>
    <div class="title">
      <label>发件人:<%= @message.sender_name %></label>
    </div>
    <div class="title">
      <label>标 题:<%= @message.title %></label>
    </div>
    <div class="limit_title">
      <label>时 间:<%= @message.send_date ? @message.send_date.to_long_datetime : "" %></label>
    </div>
    <div class="limit_title">
      <label>发送类型:<%= @message.tp == 1 ? "短信加站内信" : "站内信" %></label>
    </div>
    <div class="limit_title">
      <label>短信发给所有人:<%= @message.allsms ? "是" : "否" %></label>
    </div>
    <div class="limit_title">
      <label>审核状态:<%= Message::STATUS[@message.approve_status]%></label>
    </div>
    <% if action_name=="outbox_show" %>
      <div class="limit_title">
        <label class="control-label" >接收情况:
          <a href="###" id="show_message_entry">
            <%= @message.read_status_count %>/<%= @message.message_entries.count %>(已读/总数)
          </a>
        </label>
      </div>
      <div class="limit_title" id="show_entry_div"></div>
      <script type="text/javascript">
        $(function(){
          $("#show_message_entry").click(function(){
            if($("#show_entry_div").text() == ""){
                $("#show_entry_div").load("<%=url_for(:controller=>"/my_school/messages",:action=>:get_entry_status,:id=>@message.id)%>")
                $("#show_entry_div").show();
            }else{
              if($("#show_entry_div").css("display") == "none"){
                $("#show_entry_div").show();
              }else{
                $("#show_entry_div").hide();
              }
            }
          })
        })
      </script>
    <% end %>
  </div>
  <div class="message_list">
    <label class="message_content"><%= @message.content %></label>
    <% unless @return_messages.blank? %>
      <ul class="data_list">
        <% @return_messages.each do |message| %>
          <li>
            <div><label class="message_user"><%=message.sender_name%>:回复</label><label class="message_time"><%=message.send_date ? message.send_date.to_long_datetime : ""%></label></div>
            <div class="message_content"><%= message.content %></div>
          </li>
        <% end %>
      </ul>
      <div class="paginate_div">
        <%= paginate  @return_messages, :window => 1%>
      </div>
    <% end %>
    <br/>
  </div>
</div>
<%= render :partial => "/modules/colorful/weixin_menu_navbar"%>
<%= render :partial => "/modules/colorful/weixin_menu_one"%>