<div class="container">
  <%= render :partial => "/modules/colorful/weixin_head" %>
</div>
<div class="message_div">
  <div class="message_title">
    <a href="<%= url_for(:action=>:index) %>" title="返回">返回</a>消息详情
  </div>
  <div class="show_title">
    <div class="title">
      <label><%= @message.title %></label>
    </div>
    <div class="title">
      <label>发件人:<%= @message.sender ? @message.sender.name : "" %></label>
    </div>
    <div class="limit_title">
      <label>时 间:<%= @message.send_date ? @message.send_date.to_long_datetime : "" %></label>
    </div>
  </div>
  <div class="message_list">
    <label class="message_content"><%= @message.content %></label>
    <% unless @return_messages.blank? %>
      <ul class="data_list">
        <% @return_messages.each do |message| %>
          <li>
            <div><label class="message_user"><%=message.sender ? message.sender.name : ""%>:回复</label><label class="message_time"><%=message.send_date ? message.send_date.to_long_datetime : ""%></label></div>
            <div class="message_content"><%= message.content %></div>
          </li>
        <% end %>
      </ul>
      <div class="paginate_div">
        <%= paginate  @return_messages, :window => 1%>
      </div>
    <% end %>
    <br/>
  </div>
  <div class="return_div">
    <div class="swoosh"></div>
    <label>回复</label>
    <div class="return_text">
      <%= form_tag :action=>:return_message,:id=>@message.id do %>
        <%= text_area_tag :content,@content,:placeholder=>"说点什么:)", :class => 'return_input',:rows => 2%>
        <%= submit_tag "回复",:class=>"return_submit" %>
      <% end %>
    </div>
  </div>
</div>
<%= render :partial => "/modules/colorful/weixin_menu_navbar"%>
<%= render :partial => "/modules/colorful/weixin_menu_one"%>
<script type="text/javascript">
  $(function(){
    $("#message_search select").change(function(){
      $("#message_search").submit();
    })
  })
</script>