<div class="container">
  <%= render :partial => "/modules/colorful/weixin_head" %>
</div>
<div class="message_div">
  <div class="message_title">
    <a href="<%= weixin_path %>" title="返回" class="weixin_return">返回</a>
    菜谱列表
  </div>

  <div class="message_list">
    <ul class="data_list">
      <% if @cook_books.blank? %>
        <li><div class="message_content">没有菜谱信息。</div></li>
      <% else %>
        <% @cook_books.each_with_index do |cook_book,index| %>
          <li>
            <a href="<%= url_for(:action=>:show,:id=>cook_book.id) %>" title="查看菜谱信息">
              <div class="center">
              <label>时间:<%= cook_book.start_at.try(:to_short_datetime)%>/<%= cook_book.end_at.try(:to_short_datetime)%></label>
              </div>
              <div class="center">
              <label>
              <%if index ==0%>
              <%= raw cook_book.content %>
              <% end -%>
              </label>
              </div>
            </a>
          </li>
        <% end %>
      <% end %>
    </ul>
    <br/>
  </div>
  <% unless  @cook_books.blank? %>
    <div class="message_more">
      <div class="paginate_div">
        <%= paginate @cook_books, :window => 1%>
      </div>
    </div>
  <% end %>
</div>
<%= render :partial => "/modules/colorful/weixin_menu_navbar"%>
<%= render :partial => "/modules/colorful/weixin_menu_one"%>
