<div class="show_work">
  <%= render :partial => "/modules/colorful/work_menu" %>
  <div class="work">
    <div class="headline">
      <div class="headline_title">
        <div class="messages_root"></div>
        <label>为教职工分配班级</label>
        <div class="crumbs">
          <a href="/my_school/home" title="返回首页">
            <div class="icon_home"></div>
          </a>
          <ul>
            <li>人员管理</li>
            <li>/</li>
            <li>
              <% if choose_operate_show("my_school/staffs/index") %>
                <%= link_to "班级管理", my_school_staffs_path %>
              <% else %>
                班级管理
              <% end %>
            </li>
            <li>/</li>
            <li>分配班级</li>
          </ul>
        </div>
      </div>
      <ul class="work_action">
        <li>
        <% if choose_operate_show("my_school/staffs/index") %>
          <a href="<%=url_for(:controller=>"/my_school/staffs",:action=>:index)%>" title="返回">
            <div class="work_action_return">
            </div>
            <div class="work_action_return_move">
            </div>
          </a>
        <% end %>
        </li>
      </ul>
    </div>

    <div class="work_form">
      <div class="form_div">
        <div class="show">
          <div class="content_up">
            <p class="title" style="font-weight: normal;"><span><%= @staff.name %></span></p>
          </div>
          <table class="attributes">
              <tr>
                <th>账号</th>
                <td><%= @staff.user.login %></td>
                <th>电话号码</th>
                <td><%= @staff.user.phone %></td>
              </tr>
              <tr>
                <th>性别</th>
                <td><%= @staff.user.gender == "M" ? "女" : "男" %></td>
                <th>所属类别</th>
                <td><%= @staff.user.tp_label %></td>
              </tr>
              <tr>
                <th>所属幼儿园</th>
                <td colspan="3" style="padding-left: 20px;">
                  <%= @staff.user.kindergarten_label %>
                </td>
              </tr>
            </table>
        </div>

        <div class="show">
          <div class="clearfix">
            <input type="checkbox" id="check_all_roles" name="" value="" alt="选择全部班级" class="check_all_roles" /><label style="display: inline; font-size: 15px;" for="check_all_roles">选择全部班级</label>
            <a class="btn btn-link pull-right" id="recovery">恢复默认</a>
          </div>
          <%= simple_form_for(@staff, :url => update_allocation_my_school_teachers_path(:staff_id => @staff.id), :html => {:class => "form-horizontal", :method => :post}) do |f| %>
            <% n = 0 %>
            <% @kind.squads.group_by{|o| o.grade ? o.grade.name : "年级"}.each do |k,v| %>
              <% n = n + 1 %>
              <li class='check_boxes'>
              <fieldset class="staff_squad">
                <legend class="fs-legend"><input class="flag_check_all" id="flag_<%= n.to_s %>" type="checkbox" name="" /><label style="display: inline;padding-left: 0;" for="flag_<%= n.to_s %>">年级: <%= k %></label></legend>
                <ol class="clearfix">
                  <% v.each do |squad| %>
                    <li>
                      <label for="squad_<%= squad.id%>">
                        <input class="flag_<%= n.to_s %>_value" id="squad_<%= squad.id%>" name="squad[]" type="checkbox" value="<%= squad.id%>"  <%= @staff.squads.include?(squad) ? "checked=true default=true" : nil %> /> <%= squad.name %></label>
                    </li>
                  <% end %>
                </ol>
              </fieldset>
              </li>
            <% end %>
            <div class="control-group role_submit_style">
              <div class="controls">
                <%= f.button :submit, style: "margin: 0 auto;", disable_with: "正在提交..." %>
              </div>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>

</div>

<script type="text/javascript">
$(".flag_check_all").each(function() {
  var check_val = "." + $(this).attr("id") + "_value"
  $(this).click(function() {
    $(check_val).attr("checked", this.checked)
  })
})
$(".check_all_roles").click(function() {
  $("input[class^='flag']").attr("checked", this.checked)
})

$("#recovery").click(function() {
  $("input").each(function() {
    if ( $(this).attr("default") == "true" ) {
      $(this).attr("checked", true);
    } else {
      $(this).attr("checked", false);
    }
  })
})
</script>
