<div class="show_work">
  <%= render :partial => "/modules/#{view_layout}/work_menu" %>
  <div class="work">
    <div class="headline">
      <div class="headline_title">
        <div class="messages_root"></div>
        <label>审核幼儿园活动信息</label>
        <div class="crumbs">
          <a href="/my_school/home" title="返回首页">
            <div class="icon_home"></div>
          </a>
          <ul>
             <li><%= link_to "审核幼儿园活动信息", "###" %></li>
            <li>/</li>
            <li>查看活动信息</li>
          </ul>
        </div>
      </div>
      <ul class="work_action">
      </ul>
    </div>

    <div class="work_form">
      <div class="form_div">
        <form class="form-horizontal">
          <div class="control-group">
            <label class="control-label">所属幼儿园:</label>
            <div class="controls">
              <label class="show_label">
                <%=@kind.name %>
              </label>
            </div>
          </div>
          <div class="control-group">
            <label class="control-label" >活动信息标题:</label>
            <div class="controls">
              <label class="show_label">
                <%=raw @activity.title%>
              </label>
            </div>
          </div>
          <div class="control-group">
            <label class="control-label" >内容:</label>
            <div class="controls">
              <label class="show_label">
                <%=raw @activity.content%>
              </label>
            </div>
          </div>
          <div class="control-group">
            <label class="control-label" >创建时间:</label>
            <div class="controls">
              <label class="show_label">
                <%= @activity.created_at.try(:to_long_datetime)%>
              </label>
            </div>
          </div>
          <div class="control-group">
            <label class="control-label" >审核状态:</label>
            <div class="controls">
              <label class="show_label">
                <%= Activity::STATUS[@activity.approve_status]%>
              </label>
            </div>
          </div>
        </form>
      </div>
    </div>
    <div class="work_form">
      <div class="form_div">
       <%= form_for(@activity,:method=>:post ,:validate => true,:url=>one_news_approve_my_school_approves_path(:approve_record_id=>@activity.approve_record.id), :html =>{:class=>"form-horizontal"}) do |f| %>
          <%= render 'form', :f=>f %>
       <% end %>
      </div>
    </div>
  <div class="approve_list_from">
    <%=render :partial=>"/my_school/approves/approve_list_from"%>
  </div>
</div>

</div>
