<div class="show_work">
  <%= render :partial => "/modules/colorful/work_menu" %>
  <div class="work">
    <div class="headline">
      <div class="headline_title">
        <div class="messages_root"></div>
        <label>审核幼儿园通知</label>
        <div class="crumbs">
          <a href="/my_school/home" title="返回首页">
            <div class="icon_home"></div>
          </a>
          <ul>
             <li><%= link_to "审核幼儿园新闻", "###" %></li>
            <li>/</li>
            <li>查看幼儿园通知</li>
          </ul>
        </div>
      </div>
      <ul class="work_action">
      </ul>
    </div>

    <div class="work_form">
      <div class="form_div">
        <form class="form-horizontal">
          <div class="control-group">
            <label class="control-label">所属幼儿园:</label>
            <div class="controls">
              <label class="show_label">
                <%=@kind.name %>
              </label>
            </div>
          </div>
          <div class="control-group">
            <label class="control-label" >新闻标题:</label>
            <div class="controls">
              <label class="show_label">
                <%=raw @notice.title%>
              </label>
            </div>
          </div>
          <div class="control-group">
            <label class="control-label" >内容:</label>
            <div class="controls">
              <label class="show_label">
                <%=raw @notice.content%>
              </label>
            </div>
          </div>
          <div class="control-group">
            <label class="control-label" >创建时间:</label>
            <div class="controls">
              <label class="show_label">
                <%= @notice.created_at.try(:to_long_datetime)%>
              </label>
            </div>
          </div>
          <div class="control-group">
            <label class="control-label" >审核状态:</label>
            <div class="controls">
              <label class="show_label">
                <%= News::STATUS[@notice.approve_status]%>
              </label>
            </div>
          </div>
        </form>
      </div>
    </div>
    <div class="work_form">
      <div class="form_div">
       <%= form_for(@notice,:method=>:post ,:validate => true,:url=>one_news_approve_my_school_approves_path(:approve_record_id=>@notice.approve_record.id), :html =>{:class=>"form-horizontal"}) do |f| %>
          <%= render 'form', :f=>f %>
       <% end %>
      </div>
    </div>
  <div class="work_list">
    <table class="table table-striped table-hover">
      <tr>
        <th></th>
        <th>审核人</th>
        <th>审核时间</th>
        <th>审核结果</th>
        <th>描述</th>
      </tr>
      <%@approve_entries.each do |approve_entry|%>
      <tr>
        <td></td>
        <td><%=approve_entry.user.try(:name)%></td>
        <td><%=approve_entry.created_at.try(:to_all_datetime)%></td>
        <td><%=ApproveEntry::STATUS[approve_entry.status.to_i]%></td>
        <td><%=approve_entry.note%></td>
      </tr>
      <%end%>
    </table>
  </div>
</div>

</div>
