<h1>Listing wonderful_episodes</h1>

<table>
  <tr>
    <th>Title</th>
    <th>Kindergarten</th>
    <th>Squad</th>
    <th>Url address</th>
    <th>Is top</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @wonderful_episodes.each do |wonderful_episode| %>
  <tr>
    <td><%= wonderful_episode.title %></td>
    <td><%= wonderful_episode.kindergarten_id %></td>
    <td><%= wonderful_episode.squad_id %></td>
    <td><%= wonderful_episode.url_address %></td>
    <td><%= wonderful_episode.is_top %></td>
    <td><%= link_to 'Show', wonderful_episode %></td>
    <td><%= link_to 'Edit', edit_wonderful_episode_path(wonderful_episode) %></td>
    <td><%= link_to 'Destroy', wonderful_episode, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Wonderful episode', new_wonderful_episode_path %>
