<hr/>
<% if @data[:tp] == :all %>
  <% @kind.grades.order(:sequence).each do |grade| %>
    <div class="checkall gray">
      <div class="checkall_div"><input type="checkbox" id="grade_users_checkall_<%= grade.id %>" for="#grade_div_<%= grade.id %>"/><label for="grade_users_checkall_<%= grade.id %>"><%=grade.name%></label></div>
    </div>
    <div id="grade_div_<%= grade.id %>">
      <% grade.squads.where(:graduate=>false).each do |squad| %>
        <div class="checkall light_gray">
          <div class="checkall_div"><input type="checkbox" id="squad_users_checkall_<%= squad.id %>" for="#squad_users_div_<%= squad.id %>"/><label for="squad_users_checkall_<%= squad.id %>"><%=squad.name%></label></div>
          <% if squad.student_infos.any? %>
            <div class="show_users_data" for="#squad_users_div_<%= squad.id %>"><label><i class="icon-arrow-down"></i>展开</label></div>
          <% end %>
        </div>
        <div id="squad_users_div_<%= squad.id %>" class="squad_users_div">
          <% squad.student_infos.each do |studen| %>
            <% if user = studen.user %>
              <div class="check_grades"><input type="checkbox" name="students" value="<%=user.id%>" id="students_<%=user.id%>"/><label for="students_<%=user.id%>" ><%=user.name%></label></div>
            <% end %>
          <% end %>
        </div>
      <% end %>
    </div>
  <% end %>
<% elsif @data[:tp] == :teachers %>
  <% squads = @data[:squads] %>
  <% unless @data[:grades].blank? %>
    <% @data[:grades].each do |grade| %>
      <% squads = grade.squads | squads%>
    <% end %>
  <% end %>
  <% squads.group_by{|squad| squad.grade}.each do |grade,squads| %>
    <div class="checkall gray">
      <%unless grade.blank?%>
      <div class="checkall_div"><input type="checkbox" id="grade_users_checkall_<%= grade.id %>" for="#grade_div_<%= grade.id %>"/><label for="grade_users_checkall_<%= grade.id %>"><%=grade.name%></label></div>
      <%end%>
    </div>
    <div id="grade_div_<%= grade.id %>">
      <% squads.each do |squad| %>
        <div class="checkall light_gray">
          <div class="checkall_div"><input type="checkbox" id="squad_users_checkall_<%= squad.id %>" for="#squad_users_div_<%= squad.id %>"/><label for="squad_users_checkall_<%= squad.id %>"><%=squad.name%></label></div>
          <% if squad.student_infos.any? %>
            <div class="show_users_data" for="#squad_users_div_<%= squad.id %>"><label><i class="icon-arrow-down"></i>展开</label></div>
          <% end %>
        </div>
        <div id="squad_users_div_<%= squad.id %>" class="squad_users_div">
          <% squad.student_infos.each do |studen| %>
            <% if user = studen.user %>
              <div class="check_grades"><input type="checkbox" name="students" value="<%=user.id%>" id="students_<%=user.id%>"/><label for="students_<%=user.id%>" ><%=user.name%></label></div>
              <% end %>
            <% end %>
        </div>
      <% end %>
    </div>
  <% end %>
<% end %>