<div class="show_publicity">
  <img src="/t/colorful/small_publicity.jpg" alt="展示图"/>
</div>
<div class="show_work">
  <%= render :partial => "/modules/colorful/work_menu" %>
  <div class="work">
    <div class="headline">
      <div class="headline_title">
        <div class="messages_root"></div>
        <label>草稿箱</label>
        <div class="crumbs">
          <a href="/my_school/home" title="返回首页">
            <div class="icon_home"></div>
          </a>
          <ul>
            <li>草稿箱</li>
          </ul>
        </div>
      </div>
      <ul class="work_action">
        <li>
          <a href="<%=url_for(:controller=>"/my_school/messages",:action=>:new)%>" title="添加">
            <div class="work_action_add">
            </div>
            <div class="work_action_add_move">
            </div>
          </a>
        </li>
        <li>
          <a href="/" title="删除" id="destroy_multiple">
            <div class="work_action_delete">
            </div>
            <div class="work_action_delete_move">
            </div>
          </a>
        </li>
      </ul>
    </div>

    <div class="work_list">
      <%unless @messages.blank? %>
      <table class="table table-striped table-hover">
        <%= form_tag my_school_message_path(@messages), method: :delete, :id => "destroy_multi_form" do %>
          <tr>
            <th style="width: 90px;"><input type="checkbox" name="" value="" alt="全选" id="check_all">&nbsp;<label style="display: inline;font-size: 13px;" for="check_all"></label></th>
            <th>发送人</th>
            <th>标题</th>
            <th>发布时间</th>
            <th>是否发短信</th>
            <th></th>
          </tr>
          <% (@messages || []).each do |message| %>
            <tr>
              <td><input id="message_<%= message.id %>" class="check" name="message[]" type="checkbox" value="<%= message.id %>" /></td>
              <td><%= message.sender.try(:name)%></td>
              <td>
                <% if action_name == "draft_box" %>
                  <%= link_to message.title,draft_show_my_school_message_path(message) %>
                <% else %>
                  <%= link_to "#{message.title}",outbox_show_my_school_message_path(message) %>
                <% end %>
              </td>
              <td><%= message.send_date ? message.send_date.to_all_datetime : "" %></td>
              <td><%= message.tp==1 ? "是" : "否"%></td>
              <td>
                <%if action_name=="draft_box"%>
<%= link_to "查看",draft_show_my_school_message_path(message)%>
                <%else%>
                <%= link_to "查看",outbox_show_my_school_message_path(message)%>
                <%end%>
              </td>
            </tr>
          <% end %>
        <% end %>
      </table>
      <%else%>
        暂无草稿
      <%end%>
      <%= paginate @messages %>
    </div>
  </div>

</div>

<script type="text/javascript">
$(document).ready(function(){
  $('input').iCheck({
    checkboxClass: 'icheckbox_square-blue',
    radioClass: 'iradio_square-blue',
    increaseArea: '20%' // optional
  });
  $("#check_all").on('ifClicked', function() {
    if(this.checked) {
      $(".check").iCheck('uncheck');
    } else {
      $(".check").iCheck('check');
    }
  })
  $("#destroy_multiple").click(function(){
      $("#destroy_multi_form").submit();
      return false;
  });
});
</script>
