<div class="show_publicity">
  <img src="/t/colorful/small_publicity.jpg" alt="展示图"/>
</div>
<div class="show_work">
  <%= render :partial => "/modules/colorful/work_menu" %>
  <div class="work">
    <div class="headline">
      <div class="headline_title">
        <div class="messages_root"></div>
        <label>修改信息</label>
        <div class="crumbs">
          <a href="/my_school/home" title="返回首页">
            <div class="icon_home"></div>
          </a>
          <ul>
            <li><%= link_to "发件箱", outbox_my_school_messages_path %></li>
            <li>/</li>
            <li>修改信息</li>
          </ul>
        </div>
      </div>
      <ul class="work_action">
        <li>
          <a href="<%=url_for(:controller=>"/my_school/messages",:action=>:outbox)%>" title="返回">
            <div class="work_action_return">
            </div>
            <div class="work_action_return_move">
            </div>
          </a>
        </li>

      </ul>
    </div>

    <div class="work_form">
      <div class="form_div">
        <%= simple_form_for @message, :validate => true, :url => {:controller=>"/my_school/messages",:action=>:update}, :html =>{:class=>"form-horizontal"} do |f| %>
          <%= f.input :sender, :input_html => { :value => "#{f.object.sender.name if f.object.sender}", :disabled => true } %>
          <div class="control-group">
            <label class="control-label" >收件人:</label>
            <div class="controls">
              <div class="show_receiver_entry">
                <label class="show_label">
                  <%if (@m_e = f.object.message_entries) && !@m_e.blank?%>
                    <% @m_e.each do |m_e| %>
                      <span class="message_entry">
                        <%= m_e.receiver.try(:name) %>
                      </span>
                    <% end %>
                  <%else%>
                    <span>无</span>
                  <%end%>
                </label>
              </div>
            </div>
          </div>
          <%= f.input :title, :required => true %>
          <%= f.input :send_date, :as => :string, :input_html => {:class => "input-mediun", :value => "#{f.object.send_date.to_short_datetime}", :disabled => true } %>
          <%= f.input :content, :input_html => { :class => "span5" }%>
          <div class="control-group">
            <label class="control-label" >发送类型:</label>
            <div class="controls">
              <label class="show_label">
                <%= f.object.tp == 1 ? "短信加站内信" : "站内信" %>
              </label>
            </div>
          </div>
          <%= f.input :kindergarten_label, :required => true, :as => :string, :input_html => { :disabled => true } %>
          <%= f.input :kindergarten_id, :as => :hidden %>
          <div class="control-group">
            <div class="controls">
              <%= f.button :submit, disable_with: "正在提交" %>
            </div>
          </div>

        <% end %>
      </div>
    </div>
  </div>
</div>

<script type="text/javascript">
  jQuery(function() {
    $('#message_send_date').datepicker({
      language: "zh-CN",
      format:"yyyy-mm-dd"
    }).on("changeDate", function() {
      $(this).datepicker('hide')
    });;
  });
</script>
