<div class="show_publicity">
  <img src="/t/colorful/small_publicity.jpg" alt="展示图"/>
</div>
<div class="show_work">
  <%= render :partial => "/modules/colorful/work_menu" %>
  <div class="work">
    <div class="headline">
      <div class="headline_title">
        <div class="messages_root"></div>
        <label>收件箱</label>
        <div class="crumbs">
          <a href="/my_school/home" title="返回首页">
            <div class="icon_home"></div>
          </a>
          <ul>
            <li><%= link_to "收件箱", my_school_messages_path %></li>
            <li>/</li>
            <li>收件箱</li>
          </ul>
        </div>
      </div>
      <ul class="work_action">
        <li>
          <a href="<%=url_for(:controller=>"/my_school/messages",:action=>:new)%>" title="添加">
            <div class="work_action_add">
            </div>
            <div class="work_action_add_move">
            </div>
          </a>
        </li>
        <li>
          <a href="/" title="删除" id="destroy_multiple">
            <div class="work_action_delete">
            </div>
            <div class="work_action_delete_move">
            </div>
          </a>
        </li>
      </ul>
    </div>

    <div class="work_list">
      <% unless @message.blank? %>
        <table class="list">
          <%= form_tag destroy_multiple_my_school_messages_path, method: :delete, :id => "destroy_multi_form" do %>
            <tr>
              <th><input type="checkbox" name="" value="" alt="全选" id="message_all">全选</th>
              <th>发送人</th>
              <th>标题</th>
              <th>发布时间</th>
              <th>操作</th>
            </tr>
            <% @message.each do |message| %>
              <tr>
                <td><input id="message_<%= message.id %>" class="message_check" name="message[]" type="checkbox" value="<%= message.id %>" /></td>
                <td><%= message.sender ? message.sender.name : ""%></td>
                <td><%= link_to "#{message.title}",:action=>:show,:id=>message.id %></td>
                <td><%= message.send_date ? message.send_date.to_all_datetime : "" %></td>

                <td class="option">
                  <%if action_name=="index"%>
                  <%= link_to "查看",:action=>:show,:id=>message.id %>
                  <%else%>
                  <%= link_to "查看",:action=>:draft_show,:id=>message.id %>
                  <%end%>
                  </td>
              </tr>
            <% end %>
          <% end %>
        </table>
        <%= paginate @message %>
      <% else %>
        暂时没有消息
      <% end %>
    </div>
  </div>

</div>

<script type="text/javascript">
$(document).ready(function(){
  $("#message_all").click(function(){
    $(".message_check").attr("checked",this.checked);
  });
  $("#destroy_multiple").click(function(){
      $("#destroy_multi_form").submit();
      return false;
  });
});
</script>
