<div class="show_work">
  <%= render :partial => "/modules/colorful/work_menu" %>
  <div class="work">
    <div class="headline">
      <div class="headline_title">
        <div class="messages_root"></div>
        <label>收件箱</label>
        <div class="crumbs">
          <a href="/my_school/home" title="返回首页">
            <div class="icon_home"></div>
          </a>
          <ul>
            <li><%= link_to "收件箱", my_school_messages_path %></li>
            <li>/</li>
            <li>收件箱</li>
          </ul>
        </div>
      </div>
      <ul class="work_action">
        <li>
          <a href="<%=url_for(:controller=>"/my_school/messages",:action=>:new)%>" title="添加">
            <div class="work_action_add">
            </div>
            <div class="work_action_add_move">
            </div>
          </a>
        </li>
        <li>
          <a href="/" title="删除" id="destroy_multiple">
            <div class="work_action_delete">
            </div>
            <div class="work_action_delete_move">
            </div>
          </a>
        </li>
      </ul>
    </div>
    <div class="search_form">
      <%= form_tag '/my_school/messages' , :method=>"get" do %>
        <b>阅读状态：</b>
        <%= select_tag("messages[message_entries_read_status_equals]", options_for_select([["全部",""],["已读",1],["未读",0]],(params[:messages].blank? ? "" : params[:messages][:message_entries_read_status_equals])),:style=>"width:100px;") %>
        <%= submit_tag "搜索" %>
      <%end%>
    </div>
    <div class="work_list">
      <% unless @message.blank? %>
        <table class="list">
          <%= form_tag my_school_message_path(@message,:tp=>"receiver"), :method=> :delete, :id => "destroy_multi_form" do %>
            <tr>
              <th style="width: 90px;"><input type="checkbox" name="" value="" alt="全选" id="check_all">&nbsp;<label style="display: inline;font-size: 13px;" for="check_all">全选</label></th>
              <th>发送人</th>
              <th>标题</th>
              <th>发布时间</th>
              <th>阅读状态</th>
              <th>回复状态</th>
              <th>操作</th>
              <th></th>
            </tr>
            <% @message.each do |message| %>
              <tr>
                <td><input id="message_<%= message.id %>" class="check" name="message[]" type="checkbox" value="<%= message.id %>" /></td>
                <td><%= message.sender_name %></td>
                <td><%= link_to "#{message.title}",:action=>:show,:id=>message.id %></td>
                <td><%= message.send_date ? message.send_date.to_all_datetime : "" %></td>
                <td><%= message.read_status == 1 ? "已读" : "未读" %></td>
                <td><%=message.is_retrun?(current_user.id) ? "已回复" : "未回复" %></td>
                <td class="option">
                  <%if action_name=="index"%>
                  <%= link_to "查看",:action=>:show,:id=>message.id %>
                  <%else%>
                  <%= link_to "查看",:action=>:draft_show,:id=>message.id %>
                  <%end%>
                  </td>
                  <td>
                    </td>
              </tr>
            <% end %>
          <% end %>
        </table>
        <%= paginate @message %>
      <% else %>
        没有消息
      <% end %>
    </div>
  </div>

</div>

<script type="text/javascript">
$(document).ready(function(){
  $('input').iCheck({
    checkboxClass: 'icheckbox_square-blue',
    radioClass: 'iradio_square-blue',
    increaseArea: '20%' // optional
  });
  $("#check_all").on('ifClicked', function() {
    if(this.checked) {
      $(".check").iCheck('uncheck');
    } else {
      $(".check").iCheck('check');
    }
  })
  $("#destroy_multiple").click(function(){
      $("#destroy_multi_form").submit();
      return false;
  });
});
</script>
