<div class="show_publicity">
  <img src="/t/colorful/small_publicity.jpg" alt="展示图"/>
</div>
<div class="show_work">
  <%= render :partial => "/modules/colorful/work_menu" %>
  <div class="work">
    <div class="headline">
      <div class="headline_title">
        <div class="messages_root"></div>
        <label>发件箱</label>
        <div class="crumbs">
          <a href="/my_school/home" title="返回首页">
            <div class="icon_home"></div>
          </a>
          <ul>
            <li>发件箱</li>
          </ul>
        </div>
      </div>
      <ul class="work_action">
        <li>
          <a href="<%=url_for(:controller=>"/my_school/messages",:action=>:new)%>" title="添加">
            <div class="work_action_add">
            </div>
            <div class="work_action_add_move">
            </div>
          </a>
        </li>
        <li>
          <a href="/" title="删除">
            <div class="work_action_delete">
            </div>
            <div class="work_action_delete_move">
            </div>
          </a>
        </li>
      </ul>
    </div>

    <div class="work_list">
      <%unless @messages.blank? %>
      <table class="list">
        <tr>
          <th><input type="checkbox" name="" value="" alt="全选"/></th>
          <th>发送人</th>
          <th>标题</th>
          <th>发布时间</th>
          <th>是否发短信</th>
          <th>收件人</th>
        </tr>
        <% (@messages || []).each do |message| %>
          <tr>
            <td><input type="checkbox" name="" value="" /></td>
            <td><%= message.sender.try(:name)%></td>
            <td><%= link_to message.title,outbox_show_my_school_message_path(message) %></td>
            <td><%= message.send_date ? message.send_date.to_short_datetime : "" %></td>
            <td><%= message.tp ? "是" : "否"%></td>
            <td>
              <%message.message_entries.each do |m_e|%>
              <%=m_e.receiver.try(:name)%>
              <%end%>
            </td>
          </tr>
        <% end %>
      </table>
      <%else%>
      暂无发信息
      <%end%>
      <%= paginate @messages %>
    </div>
  </div>

</div>
