<div class="show_publicity">
  <img src="/t/colorful/small_publicity.jpg" alt="展示图"/>
</div>
<div class="show_work">
  <%= render :partial => "/modules/colorful/work_menu" %>
  <div class="work">
    <div class="headline">
      <div class="headline_title">
        <div class="messages_root"></div>
        <label><%=action_name=="draft_show" ? "草稿箱": "发件箱"%></label>
        <div class="crumbs">
          <a href="/my_school/home" title="返回首页">
            <div class="icon_home"></div>
          </a>
          <ul>
            <li>
              <%if action_name=="draft_show" %>
                <%= link_to "草稿箱", draft_box_my_school_messages_path %>
              <%else%>
                <%= link_to "发件箱", outbox_my_school_messages_path %>
              <%end%>
            </li>
            <li>/</li>
            <li>查看<%=action_name=="draft_show" ? "草稿箱": "发件箱"%>消息</li>
          </ul>
        </div>
      </div>
      <ul class="work_action">
        <li>
          <% if action_name == "draft_show" %>
            <a href="<%=url_for(:controller=>"/my_school/messages",:action=>:draft_edit,:id=>@message.id)%>" title="编辑">
            <% else %>
              <a href="<%=url_for(:controller=>"/my_school/messages",:action=>:edit,:id=>@message.id)%>" title="编辑">
              <% end %>
              <div class="work_action_edit">
              </div>
              <div class="work_action_edit_move">
              </div>
            </a>
        </li>
        <li>
          <%= link_to(url_for(:controller=>"/my_school/messages",:action=>:destroy,:id=>@message.id,:tp=>"outbox"),:method=>:delete, :confirm => "您确定删除该消息吗?") do %>
            <div class="work_action_delete">
            </div>
            <div class="work_action_delete_move">
            </div>
          <% end %>
        </li>
        <li>

          <a href="<%=url_for(:controller=>"/my_school/messages",:action=>@message.status ? :outbox : :draft_show)%>" title="返回">
            <div class="work_action_return">
            </div>
            <div class="work_action_return_move">
            </div>
          </a>
        </li>
      </ul>
    </div>

    <div class="work_form">
      <div class="form_div">
        <form class="form-horizontal">
          <div class="control-group">
            <label class="control-label" >发件人:</label>
            <div class="controls">
              <label class="show_label">
                <%= @message.sender_name %>
              </label>
            </div>
          </div>
          <div class="control-group">
            <label class="control-label" >收件人:</label>
            <div class="controls">
              <div class="show_receiver_entry">
                <label class="show_label">
                  <%if (@m_e = @message.message_entries) && !@m_e.blank?%>
                    <% @m_e.each do |m_e| %>
                      <span class="message_entry">
                        <%= m_e.receiver.try(:name) %>
                      </span>
                    <% end %>
                  <%else%>
                    <span>无</span>
                  <%end%>
                </label>
              </div>
            </div>
          </div>
          <div class="control-group">
            <label class="control-label">标题:</label>
            <div class="controls">
              <label class="show_label">
                <%=@message.title%>
              </label>
            </div>
          </div>
          <div class="control-group">
            <label class="control-label" >发布时间:</label>
            <div class="controls">
              <label class="show_label">
                <%= @message.send_date.try(:to_all_datetime) %>
              </label>
            </div>
          </div>
          <div class="control-group">
            <label class="control-label" >内容:</label>
            <div class="controls">
              <label class="show_label">
                <%= @message.content %>
              </label>
            </div>
          </div>
          <div class="control-group">
            <label class="control-label" >发送类型:</label>
            <div class="controls">
              <label class="show_label">
                <%= @message.tp == 1 ? "短信加站内信" : "站内信" %>
              </label>
            </div>
          </div>
          <%if @message.approve_status != 0%>
          <div class="control-group">
            <label class="control-label" >审核状态:</label>
            <div class="controls">
              <label class="show_label">
                <%= Message::STATUS[@message.approve_status]%>
              </label>
            </div>
          </div>
          <%end%>
          <% if action_name=="outbox_show" %>
            <div class="control-group">
              <label class="control-label" >接收情况:</label>
              <div class="controls">
                <a href="###" id="show_message_entry">
                  <label class="show_label" >
                    <%= @message.read_status_count %>/<%= @message.message_entries.count %>(已读/总数)
                  </label>
                </a>
              </div>
            </div>
            <div class="control-group" id="show_entry_div">

            </div>
          <% end %>
        </form>
      </div>
    </div>
  </div>
</div>
<script type="text/javascript">
<% if params[:clear_cookie] %>
    $(window).load(function(){
      $.cookie("m_c", null, {  path: '/'});
      $.cookie("m_t", null, {  path: '/'});
      $.cookie("m_u", null, {  path: '/'});
    })
<% end %>
  $(function(){
    $("#show_message_entry").click(function(){
      $("#show_entry_div").load("<%=url_for(:action=>:get_entry_status,:id=>@message.id)%>")
    })
  })
</script>