<% unless @grades.blank? %>
  <%= form_tag my_school_grade_path(@grades), method: :delete, :id => "destroy_multi_form" do %>
    <table class="table table-striped table-hover">
      <tr>
        <% if choose_operate_show("my_school/grades/destroy") %>
          <th><input type="checkbox" name="" value="" alt="全选" id="check_all">&nbsp;<label style="display: inline;font-size: 13px;" for="check_all"></label></th>
        <% end %>
        <th>名称</th>
        <th>班级数量</th>
        <th style="width: 40%;">描述</th>
        <th>操作</th>
      </tr>
      <% @grades.each do |grade| %>
        <tr>
          <% if choose_operate_show("my_school/grades/destroy") %>
            <td><input id="grade_<%= grade.id %>" class="check" name="grade[]" type="checkbox" value="<%= grade.id %>" /></td>
          <% end %>
          <td>
            <% if choose_operate_show("my_school/grades/show") %>
              <%= link_to grade.name, my_school_grade_path(grade) %>
            <% else %>
              <%= grade.name %>
            <% end %>
          </td>
          <td><%= grade.squads.count %></td>
          <td><div style="overflow:auto;width: 200px;"><%= grade.note %></div></td>
          <td>
            <div class="index_a">
              <% if choose_operate_show("my_school/grades/show") %>
                <%= link_to "查看", my_school_grade_path(grade) %>
              <% end %>
              <% if choose_operate_show("my_school/grades/edit") %>
                <%= link_to "编辑", edit_my_school_grade_path(grade) %>
              <% end %>
              <% if choose_operate_show("my_school/grades/destroy") %>
                <% if grade.squads.count > 0%>
                  <%= link_to "删除","###", confirm: "该年级有班级不能进行删除!" %>
                <% else %>
                  <%= link_to "删除", my_school_grade_path(grade), :method => :delete, :confirm => "您确定删除该年级吗?" %>
                <% end %>
              <% end %>
            </div>
          </td>
        </tr>
      <% end %>
    </table>
  <% end %>
  <%= paginate @grades %>
<% else %>
  没有年级
<% end %>
