<div class="show_work">
  <%= render :partial => "/modules/colorful/work_menu" %>
  <div class="work">
    <div class="headline">
      <div class="headline_title">
        <div class="messages_root"></div>
        <label>年级管理信息</label>
        <div class="crumbs">
          <a href="/my_school/home" title="返回首页">
            <div class="icon_home"></div>
          </a>
          <ul>
            <li>人员管理</li>
            <li>/</li>
            <li>年级管理</li>
          </ul>
        </div>
      </div>
      <ul class="work_action">
        <li>
          <% if choose_operate_show("my_school/grades/new") %>
            <a href="<%=url_for(:controller=>"/my_school/grades",:action=>:new)%>" title="添加">
              <div class="work_action_add">
              </div>
              <div class="work_action_add_move">
              </div>
            </a>
          <% end %>
        </li>
        <li>
          <% if choose_operate_show("my_school/grades/destroy") %>
            <a  title="删除" id="destroy_multiple" href="javascript: void(0)" rel="nofollow">
              <div class="work_action_delete">
              </div>
              <div class="work_action_delete_move">
              </div>
            </a>
          <% end %>
        </li>
      </ul>
    </div>
    <div class="search_form">
     <%= form_tag '/my_school/grades' , :method=>"get" do %>
      <b>名称：</b>
      <%= text_field :grade,:name_like,:style=>"width:100px;" ,:value=>"#{params[:grade][:name_like] if params[:grade] }"  %>
      <%= submit_tag "搜索"  , :class => "btn search_btn"%>
      <%end%>
    </div>
    <div class="work_list">
      <% unless @grades.blank? %>
        <%= form_tag my_school_grade_path(@grades), method: :delete, :id => "destroy_multi_form" do %>
          <table class="table table-striped table-hover">
            <tr>
              <th><input type="checkbox" name="" value="" alt="全选" id="check_all">&nbsp;<label style="display: inline;font-size: 13px;" for="check_all"></label></th>
              <th>名称</th>
              <th>班级数量</th>
              <th style="width: 40%;">描述</th>
              <th>操作</th>
            </tr>
            <% @grades.each do |grade| %>
              <tr>
                <td><input id="grade_<%= grade.id %>" class="check" name="grade[]" type="checkbox" value="<%= grade.id %>" /></td>
                <td>
                  <% if choose_operate_show("my_school/grades/show") %>
                    <%= link_to grade.name, my_school_grade_path(grade) %>
                  <% else %>
                    <%= grade.name %>
                  <% end %>
                </td>
                <td><%= grade.squads.count %></td>
                <td><div style="overflow:auto;width: 200px;"><%= grade.note %></div></td>
                <td>
                  <div class="index_a">
                    <% if choose_operate_show("my_school/grades/show") %>
                      <%= link_to "查看", my_school_grade_path(grade) %>
                    <% end %>
                    <% if choose_operate_show("my_school/grades/edit") %>
                      <%= link_to "编辑", edit_my_school_grade_path(grade) %>
                    <% end %>
                    <% if choose_operate_show("my_school/grades/destroy") %>
                      <% if grade.squads.count > 0%>
                        <%= link_to "删除","###", confirm: "该年级有班级不能进行删除!" %>
                      <% else %>
                        <%= link_to "删除", my_school_grade_path(grade), :method => :delete, :confirm => "您确定删除该年级吗?" %>
                      <% end %>
                    <% end %>
                  </div>
                </td>
              </tr>
            <% end %>
          </table>
        <% end %>
        <%= paginate @grades %>
      <% else %>
        没有年级
      <% end %>
    </div>
  </div>

</div>

<script type="text/javascript">
$(document).ready(function(){
  $("#check_all").click(function(){
    $(".check").attr("checked",this.checked);
  })
  $("#destroy_multiple").click(function(){
    if (confirm('您确定删除选中的年级吗')) {
      $("#destroy_multi_form").submit();
    } else {
      return false;
    }
  });
});
</script>
