<div class="show_work">
  <%= render :partial => "/modules/colorful/work_menu" %>
  <div class="work">
    <div class="headline">
      <div class="headline_title">
        <div class="messages_root"></div>
        <label>年级管理信息</label>
        <div class="crumbs">
          <a href="/my_school/home" title="返回首页">
            <div class="icon_home"></div>
          </a>
          <ul>
            <li>人员管理</li>
            <li>/</li>
            <li>年级管理</li>
          </ul>
        </div>
      </div>
      <ul class="work_action">
        <li>
          <% if choose_operate_show("my_school/grades/new") %>
            <a href="<%=url_for(:controller=>"/my_school/grades",:action=>:new)%>" title="添加">
              <div class="work_action_add">
              </div>
              <div class="work_action_add_move">
              </div>
            </a>
          <% end %>
        </li>
        <li>
          <% if choose_operate_show("my_school/grades/destroy") %>
            <a  title="删除" id="destroy_multiple" href="javascript: void(0)" rel="nofollow">
              <div class="work_action_delete">
              </div>
              <div class="work_action_delete_move">
              </div>
            </a>
          <% end %>
        </li>
      </ul>
    </div>
    <div class="search_form">
     <%= form_tag '/my_school/grades' , :method=>"get" do %>
      <b>名称：</b>
      <%= text_field :grade,:name_like,:style=>"width:100px;" ,:value=>"#{params[:grade][:name_like] if params[:grade] }"  %>
      <%= submit_tag "搜索", :class => "btn btn-primary"%>
      <%end%>
    </div>
    <div class="work_list">
      <%= render "tab_grades" %>
    </div>
  </div>

</div>

<script type="text/javascript">
$(document).ready(function(){
  $("#check_all").click(function(){
    $(".check").attr("checked",this.checked);
  })
  $("#destroy_multiple").click(function(){
    if (confirm('您确定删除选中的年级吗')) {
      $("#destroy_multi_form").submit();
    } else {
      return false;
    }
  });
});
</script>
