<div class="show_work">
  <%= render :partial => "/modules/colorful/work_menu" %>
  <div class="work">
    <div class="headline">
      <div class="headline_title">
        <div class="messages_root"></div>
        <label>年级管理信息</label>
        <div class="crumbs">
          <a href="/my_school/home" title="返回首页">
            <div class="icon_home"></div>
          </a>
          <ul>
            <li>人员管理</li>
            <li>/</li>
            <li><%= link_to "年级管理", my_school_grades_path %></li>
            <li>/</li>
            <li>新建年级</li>
          </ul>
        </div>
      </div>
      <ul class="work_action">
        <li>
          <a href="<%=url_for(:controller=>"/my_school/grades",:action=>:index)%>" title="返回">
            <div class="work_action_return">
            </div>
            <div class="work_action_return_move">
            </div>
          </a>
        </li>
      </ul>
    </div>

    <div class="work_form">
      <div class="form_div">
        <%= simple_form_for(@grade, :url => my_school_grades_path, :html => {:class => "form-horizontal"}) do |f| %>
          <%= render :partial => "form", :object => f %>
        <% end %>
      </div>
    </div>
  </div>

</div>

