<div class="show_publicity">
  <img src="/t/colorful/small_publicity.jpg" alt="展示图"/>
</div>
<div class="show_work">
  <%= render :partial => "/modules/#{view_layout}/work_menu" %>
  <div class="work">
    <div class="headline">
      <div class="headline_title">
        <div class="messages_root"></div>
        <label>年级管理信息</label>
        <div class="crumbs">
          <a href="/my_school/home" title="返回首页">
            <div class="icon_home"></div>
          </a>
          <ul>
            <li>人员管理</li>
            <li>/</li>
            <li><%= link_to "年级管理", my_school_grades_path %></li>
            <li>/</li>
            <li>查看年级</li>
          </ul>
        </div>
      </div>
      <ul class="work_action">
        <li>
          <% if choose_operate_show("my_school/grades/new") %>
            <a href="<%=url_for(:controller=>"/my_school/grades",:action=>:new)%>" title="添加">
              <%= render partial: "/my_school/commons/add_action" %>
            </a>
          <% end %>
        </li>
        <li>
          <% if choose_operate_show("my_school/grades/edit") %>
            <a href="<%=url_for(:controller=>"/my_school/grades",:action=>:edit,:id=>@grade.id)%>" title="编辑">
              <%= render partial: "/my_school/commons/edit_action" %>
            </a>
          <% end %>
        </li>
        <li>
          <% if choose_operate_show("my_school/grades/destroy") %>
           <%if @grade.squads.count >0%>
             <%= link_to("###", :confirm => "该年级有班级，不能进行删除") do %>
              <%= render partial: "/my_school/commons/delete_action" %>
             <% end %>
           <%else%>
            <%= link_to(url_for(:controller=>"/my_school/grades",:action=>:destroy,:id=>@grade.id),:method=>:delete, :confirm => "您确定删除该通知吗?") do %>
              <%= render partial: "/my_school/commons/delete_action" %>
             <% end %>
            <% end %>
          <% end %>
        </li>
        <li>
          <% if choose_operate_show("my_school/grades/index") %>
            <a href="<%=url_for(:controller=>"/my_school/grades",:action=>:index)%>" title="返回">
              <%= render partial: "/my_school/commons/return_action" %>
            </a>
          <% end %>
        </li>
      </ul>
    </div>

    <div class="work_form">
      <div class="form_div">
        <form class="form-horizontal">
          <div class="control-group">
            <label class="control-label">名称</label>
            <div class="controls">
              <label class="show_label">
                <%=@grade.name%>
              </label>
            </div>
          </div>
          <div class="control-group">
            <label class="control-label" >所属幼儿园</label>
            <div class="controls">
              <label class="show_label">
                <%= @grade.kindergarten_label %>
              </label>
            </div>
          </div>
          <div class="control-group">
            <label class="control-label" >描述</label>
            <div class="controls">
              <label class="show_label">
                <%= simple_format raw(@grade.note) %>
              </label>
            </div>
          </div>

        </form>
      </div>
    </div>
  </div>

</div>
