<div class="container">
  <%= render :partial => "/modules/colorful/weixin_head" %>
</div>
<div class="message_div">
  <div class="message_title">
    <a href="/weixin" title="返回" class="weixin_return">返回</a>修改密码
  </div>
  <div class="message_list">
    <ul class="data_list">
      <li>
        <%= simple_form_for @user , :url => {:controller=>"/weixin/users",:action=>:change_password }, :html =>{:class=>"form-horizontal", :method => :post} do |f| %>
          <%= f.input :password, :required => true, :input_html => {:class => "span5"} %>
          <%= f.input :password_confirmation, :required => true, :input_html => {:class => "span5"} %>
          <div class="control-group">
            <div class="controls">
              <%= button_tag "修改密码",:type => 'submit', :disable_with=> "正在提交...",:class=>"btn btn-warning" %>
            </div>
          </div>
        <% end %>
      </li>
    </ul>
    <br/>
  </div>
</div>
<%= render :partial => "/modules/colorful/weixin_menu_navbar"%>
<%= render :partial => "/modules/colorful/weixin_menu_one"%>