<div class="show_work">
  <%= render :partial => "/modules/#{view_layout}/work_menu" %>
  <div class="work">
    <div class="headline">
      <div class="headline_title">
        <div class="messages_root"></div>
        <label>用户信息</label>
        <div class="crumbs">
          <a href="/my_school/home" title="返回首页">
            <div class="icon_home"></div>
          </a>
          <ul>
            <li><%= link_to "人员管理","/"%></li>
            <li>/</li>
            <li><%= link_to "班级管理","/"%></li>
          </ul>
        </div>
      </div>
      <ul class="work_action">
        <li>
          <a href="<%=url_for(:controller=>"/my_school/users",:action=>:show, :id => @user.id)%>" title="返回">
            <div class="work_action_return">
            </div>
            <div class="work_action_return_move">
            </div>
          </a>
        </li>
      </ul>
    </div>
    <div class="work_list">
      <%= form_for(@user, :url => { :controller => "/my_school/users", :action => :update}, :multipart => true, :html => {:class => "form-horizontal", :multipart => true}) do |f| %>
        <%= render :partial => "/my_school/users/user_form" ,:locals=>{:f=>f} %>
      <% end %>
    </div>

  </div>

</div>


