<div class="show_work">
  <%= render :partial => "/modules/#{view_layout}/work_menu" %>
  <div class="work">
    <div class="headline">
      <div class="headline_title">
        <div class="messages_root"></div>
        <label>
          <% if current_user.tp == 0 %>
            学员信息
          <% elsif current_user.tp == 1 %>
            教职工信息
          <% else %>
            管理员信息
          <% end %>
        </label>
        <div class="crumbs">
          <a href="/my_school/home" title="返回首页">
            <div class="icon_home"></div>
          </a>
          <ul>
            <li>人员管理</li>
            <li>/</li>
            <li>查看用户</li>
          </ul>
        </div>
      </div>
      <ul class="work_action">
        <% if current_user.tp == 0 %>
          <li>
            <a href="<%=url_for(:controller=>"/my_school/student_infos",:action=>:edit,:id=>current_user.student_info.id) %>" title="编辑">
              <div class="work_action_edit">
              </div>
              <div class="work_action_edit_move">
              </div>
            </a>
          </li>
        <% else %>
          <li>
            <a href="<%=url_for(:controller=>"/my_school/users",:action=>:edit,:id=>current_user.id)%>" title="编辑">
              <div class="work_action_edit">
              </div>
              <div class="work_action_edit_move">
              </div>
            </a>
          </li>
        <% end %>
        <li>
          <a href="<%=url_for(:controller=>"/my_school/users",:action=>:change_password_view) %>" title="修改密码">
            <div class="work_action_update_password">
            </div>
            <div class="work_action_update_password_move">
            </div>
          </a>
        </li>
      </ul>
    </div>

    <div class="work_list">
      <div class="user_head">
        <div class="user_head_logo">
        <img src="<%= current_user.asset_logo ? current_user.asset_logo.public_filename(:thumb) : '/t/colorful/user_logo.png' %>" width="103" alt="头像"/>
        </div>
        <div class="user_head_info">
          <label>账户：<%= current_user.login %></label>
          <label>名称：<%= current_user.name %></label>
          <label>权限：<%= current_user.tp_label %>
            <% if current_user.role%>
              （<%= current_user.role.name%>）
            <% end %>
          </label>
        </div>
      </div>

      <table class="user_attributes">
        <tr>
          <td colspan="4">
            账号信息
          </td>
        </tr>
          <tr>
            <th>所属幼儿园</th>
            <td><%= current_user.kindergarten_label %></td>
            <th>性别</th>
            <td><%= User::GENDER_DATA[current_user.gender] %></td>
          </tr>
          <tr>
            <th>手机号</th>
            <td><%= current_user.phone %></td>
            <th>绑定微信</th>
            <td><%= current_user.weixin_code.blank? ? "未绑定" : "已绑定" %></td>
          </tr>
          <tr>
            <th>所属类别</th>
            <td><%= current_user.tp_label %></td>
          </tr>



        <% if current_user.tp == 0 %>
          <tr>
            <td colspan="4">学员信息</td>
          </tr>
            <tr>
              <th>年级</th>
              <td><%= current_user.student_info.squad.grade.name unless current_user.student_info.squad.grade.nil? %></td>
              <th>班级</th>
              <td><%= current_user.student_info.squad.name %></td>
            </tr>
            <tr>
              <th>入园时间</th>
              <td><%= current_user.student_info.come_in_at ? current_user.student_info.come_in_at.to_short_datetime : ""%></td>
              <th>出生日期</th>
              <td><%= current_user.student_info.birthday ? current_user.student_info.birthday.to_short_datetime : ""%></td>
            </tr>
            <tr>
              <th>监护人名字</th>
              <td><%= current_user.student_info.guardian %></td>
              <th>监护人证件类别</th>
              <td><%= current_user.student_info.guardian_card_category_label %></td>
            </tr>
            <tr>
              <th>是否寄宿生</th>
              <td><%= current_user.student_info.lodging ? "是" : "否"%></td>
              <th>是否独生子女</th>
              <td><%= current_user.student_info.only_child ? "是" : "否"%></td>
            </tr>
            <tr>
              <th>是否留守儿童</th>
              <td><%= current_user.student_info.leftover_children ? "是" : "否"%></td>
              <th>是否进城务工人员子女</th>
              <td><%= current_user.student_info.employofficialt ? "是" : "否"%></td>
            </tr>
            <tr>
              <th>是否低保</th>
              <td><%= current_user.student_info.insured ? "是" : "否"%></td>
              <th>是否接受资助</th>
              <td><%= current_user.student_info.subsidize ? "是" : "否"%></td>
            </tr>
            <tr>
              <th>是否残疾儿童</th>
              <td><%= current_user.student_info.deformity ? "是" : "否"%></td>
              <th>残疾儿童类型</th>
              <td><%= current_user.student_info.deformity_category %></td>
            </tr>
            <tr>
              <th>家中兄妹数</th>
              <td><%= current_user.student_info.brothers %></td>
              <th>本人第几胎</th>
              <td><%= current_user.student_info.children_number %></td>
            </tr>
            <tr>
              <th>住房性质</th>
              <td><%= current_user.student_info.housing_label %></td>
              <th>居住情况</th>
              <td><%= current_user.student_info.live_family_label %></td>
            </tr>

            <tr>
              <th>国籍</th>
              <td><%= current_user.student_info.nationality %></td>
              <th>民族</th>
              <td><%= current_user.student_info.nation %></td>
            </tr>
            <tr>
              <th>港澳台侨</th>
              <td><%= current_user.student_info.overseas_chinese_label %></td>
              <th>户口性质</th>
              <td><%= current_user.student_info.household_label %></td>
            </tr>
            <tr>
              <th>出生地</th>
              <td><%= current_user.student_info.birthplace %></td>
              <th>籍贯</th>
              <td><%= current_user.student_info.native %></td>
            </tr>
            <tr>
              <th>户口所在地</th>
              <td><%= current_user.student_info.domicile_place %></td>
            </tr>
            <tr>
              <th>是否寄宿生</th>
              <td><%= current_user.student_info.lodging ? "是" : "否" %></td>
              <th>是否独生子女</th>
              <td><%= current_user.student_info.only_child ? "是" : "否" %></td>
            </tr>
            <tr>
              <td colspan="4">家庭信息</td>
            </tr>
            <tr>
              <th>关系</th>
              <td><%= current_user.student_info.family_ties %></td>
              <th>姓名</th>
              <td><%= current_user.student_info.family_name %></td>
            </tr>
            <tr>
              <th>政治面貌</th>
              <td><%= current_user.student_info.politics_status %></td>
              <th>职业</th>
              <td><%= current_user.student_info.profession %></td>
            </tr>
            <tr>
              <th>职务</th>
              <td><%= current_user.student_info.duties %></td>
              <th>工作单位</th>
              <td><%= current_user.student_info.working %></td>
            </tr>
            <tr>
              <th>户籍类型</th>
              <td><%= current_user.student_info.family_register %></td>
              <th>移动电话</th>
              <td><%= current_user.student_info.family_phone %></td>
            </tr>
            <tr>
              <th>电子邮箱</th>
              <td><%= current_user.student_info.family_email %></td>
              <th>父母在深连续居住时间</th>
              <td><%= current_user.student_info.living_time %></td>
            </tr>
            <tr>
              <th>婚姻状况</th>
              <td><%= current_user.student_info.family_marital %></td>
              <th>学历</th>
              <td><%= current_user.student_info.education %></td>
            </tr>
            <tr>
              <th>社保电脑号</th>
              <td><%= current_user.student_info.safe_box %></td>
            </tr>
        <% elsif current_user.tp == 1 %>
          <tr>
            <th>身份证号</th>
            <td><%= current_user.staff.card_code %></td>
            <th>教育背景</th>
            <td><%= current_user.staff.education %></td>
          </tr>
          <tr>
            <th>入职时间</th>
            <td><%= current_user.staff.come_in_at ? current_user.staff.come_in_at.to_short_datetime : ""%></td>
            <th>出生日期</th>
            <td><%= current_user.staff.birthday ? current_user.staff.birthday.to_short_datetime : ""%></td>
          </tr>
          <tr>
            <th>考勤卡号</th>
            <td><%= current_user.staff.attendance_code %></td>
          </tr>
        <% else %>
        <% end %>
      </table>
    </div>
  </div>

</div>

