<% f = form %>
<script type="text/javascript">
  jQuery(function() {
    $('#staff_birthday').datepicker({
      language: "zh-CN",
      format:"yyyy-mm-dd"
    }).on("changeDate", function() {
      $(this).datepicker('hide')
    });;
    $('#staff_come_in_at').datepicker({
      language: "zh-CN",
      format:"yyyy-mm-dd"
    }).on("changeDate", function() {
      $(this).datepicker('hide')
    });;

    $("#staff_user_attributes_login").val("")
    $("#staff_user_attributes_password").val("")

  });
</script>
<fieldset>
  <legend><label><strong>账号信息</strong></label></legend>
  <%= f.simple_fields_for :user do |p| %>
    <div class="control-group">
      <label class="control-label">头像</label>&nbsp;&nbsp;
      <%= f.file_field :asset_logo ,:name=>"asset_logo" %>
      <% user = @staff.user %>
      <div>
        &nbsp;&nbsp; <img src="<%= user.asset_logo ? user.asset_logo.public_filename(:thumb) : '/t/colorful/user_logo.png' %>" width="103" alt="头像"/>
      </div>
    </div>
    <%= p.input :kindergarten_label, :as => :string, :input_html => { :disabled => true } %>
    <%= p.input :gender, :as => :radio, :collection => {"男" => "M", "女" => "G"}, :required => true %>
    <%= p.input :tp_label, :as => :string, :input_html => { :disabled => true } %>
    <%= p.input :name, :validate => true %>
    <%= p.input :phone, :validate => true %>
    <% if action_name == "new" %>
      <%= p.input :login, :validate => true, :hint => "帐号只允许使用5到20位字符的英文、数字和下划线组合，保存之后不能改变" %>
    <% else %>
      <div class="control-group">
        <%= p.label :login, class: "control-label" %>
        <div class="controls">
          <input type="text" value="<%= @staff.user.name %>" disabled="disabled" />
          <p class="help-block">你不能改变你的用户名</p>
        </div>
      </div>
    <% end %>
    <% if action_name == "new" %>
      <%= p.input :password, :required => true, :validate => true %>
      <%= p.input :password_confirmation, :validate => true %>
    <% end %>

    <%= p.input :tp,:as=>:hidden %>
    <%= p.input :kindergarten_id,:as=>:hidden %>
  <% end %>
</fieldset>
<fieldset>
  <legend><label><strong>教职工信息</strong></label></legend>
  <%= f.input :birthday, :as => :string, :class => "input-mediun time_datepicker"  %>
  <%= f.input :come_in_at, :as => :string, :class => "input-mediun time_datepicker" %>
  <%= f.input :card_code %>
  <%= f.input :attendance_code %>
  <%= f.input :education, :input_html => {:class => "span5"} %>
</fieldset>
<fieldset>
  <legend><label><strong>教职工角色</strong></label></legend>
  <div class="control-group">
    <div class="controls">
      <%=select_tag "role[id]", options_for_select(@kind.roles.where("number <> ?",'student').collect { |e|[e.name,e.id]  },@staff.user.role.try(:id))%>
    </div>
  </div>

</fieldset>

<div class="control-group">
  <div class="controls">
    <%= f.button :submit, disable_with: "正在提交" %>
  </div>
</div>
