<% f = form %>
<script type="text/javascript">
  jQuery(function() {
    $('#staff_birthday').datepicker({
      language: "zh-CN",
      format:"yyyy-mm-dd"
    });
    $('#staff_come_in_at').datepicker({
      language: "zh-CN",
      format:"yyyy-mm-dd"
    });

    $("#staff_user_attributes_login").val("")
    $("#staff_user_attributes_password").val("")

  });
</script>
<fieldset>
  <legend><label><strong>账号信息</strong></label></legend>
    <%= f.simple_fields_for :user do |p| %>
      <%= p.input :name, :validate => true %>
      <% if action_name == "new" %>
        <%= p.input :login, :validate => true, :hint => "之后不能改变" %>
      <% else %>
        <%= p.input :login, :validate => true, :disabled => true, :hint => "您不能改变您的用户名" %>
      <% end %>
      <% if action_name == "new" %>
        <%= p.input :password, :required => true, :validate => true %>
        <%= p.input :password_confirmation, :validate => true %>
      <% end %>
      <%= p.input :phone %>
      <%= p.input :gender, :as => :radio, :collection => {"男" => "M", "女" => "G"}, :required => true %>
      <%= p.input :tp_label, :as => :string, :input_html => { :disabled => true } %>
      <%= p.input :kindergarten_label, :as => :string, :input_html => { :disabled => true } %>
      <%= p.input :tp,:as=>:hidden %>
      <%= p.input :kindergarten_id,:as=>:hidden %>
    <% end %>
</fieldset>
<fieldset>
  <legend><label><strong>教职工信息</strong></label></legend>
    <%= f.input :birthday, :as => :string, :class => "input-mediun time_datepicker"  %>
    <%= f.input :come_in_at, :as => :string, :class => "input-mediun time_datepicker" %>
    <%= f.input :card_code %>
    <%= f.input :attendance_code %>
    <%= f.input :education, :input_html => {:class => "span5"} %>
</fieldset>
<fieldset>
  <legend><label><strong>教职工角色</strong></label></legend>
  <div class="control-group">
  <div class="controls">
    <%=select_tag "role[id]", options_for_select(@kind.roles.where("number <> ?",'student').collect { |e|[e.name,e.id]  },@staff.user.role.try(:id))%>
  </div>
</div>
    
</fieldset>

<div class="control-group">
  <div class="controls">
    <%= f.button :submit %>
  </div>
</div>
