<div class="search_form">
  <%= form_tag '/my_school/staffs', :method=>"get" do %>
    <b>名称：</b>
    <%= text_field :staff,:user_name_like,:style=>"width:100px;" ,:value=>"#{params[:staff][:user_name_like] if params[:staff] }"  %>
    <b>账号：</b>
    <%= text_field :staff,:user_login_like,:style=>"width:100px;" ,:value=>"#{params[:staff][:user_login_like] if params[:staff] }"  %>
    <b>发短信：</b>
    <%= select_tag("staff[user_is_send_equals]", options_for_select([["全部",""],["可发短信",1],["不可发短信",0]],(params[:staff].blank? ? "" : params[:staff][:user_is_send_equals])),:style=>"width:100px; margin-top: 10px;") %>
    <br/>
    <b>收短信：</b>
    <%= select_tag("staff[user_is_receive_equals]", options_for_select([["全部",""],["可收短信",1],["不可收短信",0]],(params[:staff].blank? ? "" : params[:staff][:user_is_receive_equals])),:style=>"width:100px; margin-top: 10px;") %>
    <%= submit_tag "搜索", :class => "btn btn-primary"%>
  <%end%>
</div>
