<div class="show_publicity">
  <img src="/t/colorful/small_publicity.jpg" alt="展示图"/>
</div>
<div class="show_work">
  <%= render :partial => "/modules/colorful/work_menu" %>
  <div class="work">
    <div class="headline">
      <div class="headline_title">
        <div class="messages_root"></div>
        <label>教职工管理信息</label>
        <div class="crumbs">
          <a href="/my_school/home" title="返回首页">
            <div class="icon_home"></div>
          </a>
          <ul>
            <li>人员管理</li>
            <li>/</li>
            <li>
              <% if choose_operate_show("my_school/squads/index") %>
                <%= link_to "教职工管理", my_school_squads_path %>
              <% else %>
                教职工管理
              <% end %>
            </li>
            <li>/</li>
            <li>查看教职工</li>
          </ul>
        </div>
      </div>
      <ul class="work_action">
        <li>
          <a href="<%=url_for(:controller=>"/my_school/teachers",:action=>:allocation, :id => @staff.id)%>" title="为该教职工分配班级">
            <div class="work_action_allocation">
            </div>
            <div class="work_action_allocation_move">
            </div>
          </a>
        </li>
        <li>
          <% if choose_operate_show("my_school/staffs/new") %>
            <a href="<%=url_for(:controller=>"/my_school/staffs",:action=>:new)%>" title="添加">
              <div class="work_action_add">
              </div>
              <div class="work_action_add_move">
              </div>
            </a>
          <% end %>
        </li>
        <li>
          <% if choose_operate_show("my_school/staffs/edit") %>
            <a href="<%=url_for(:controller=>"/my_school/staffs",:action=>:edit,:id=>@staff.id)%>" title="编辑">
              <div class="work_action_edit">
              </div>
              <div class="work_action_edit_move">
              </div>
            </a>
          <% end %>
        </li>
        <li>
          <% if choose_operate_show("my_school/staffs/destroy") %>
            <%= link_to(url_for(:controller=>"/my_school/staffs",:action=>:destroy,:id=>@staff.id),:method=>:delete, :confirm => "您确定删除该教职工吗?") do %>
              <div class="work_action_delete">
              </div>
              <div class="work_action_delete_move">
              </div>
            <% end %>
          <% end %>
        </li>
        <li>
          <% if choose_operate_show("my_school/staffs/index") %>
            <a href="<%=url_for(:controller=>"/my_school/staffs",:action=>:index)%>" title="返回">
              <div class="work_action_return">
              </div>
              <div class="work_action_return_move">
              </div>
            </a>
          <% end %>
        </li>
      </ul>
    </div>

    <div class="work_form">
      <div class="form_div staff_style">
        <form class="form-horizontal">
          <div class="control-group">
            <label class="control-label">头像</label>
            <div class="controls">
              <div class="show_action">
                <% if choose_operate_show("my_school/users/set_send_sms") %>
                  <%= link_to (@staff.user.is_send ? "取消发短信" : "可发短信"), set_send_sms_my_school_user_path(@staff.user), :class => "btn" %>
                <% end %>
                <% if choose_operate_show("my_school/users/set_gather_sms") %>
                  <%= link_to (@staff.user.is_receive ? "取消收短信" : "可收短信"), set_gather_sms_my_school_user_path(@staff.user), :class => "btn" %>
                <% end %>
              </div>
              <label class="show_label">
                <img src="<%= @staff.user.asset_logo ? @staff.user.asset_logo.public_filename(:thumb) : '/t/colorful/user_logo.png' %>" width="103" alt="头像"/>
              </label>
            </div>
          </div>
          <div class="left_table">

            <div class="control-group">
              <label class="control-label">所属幼儿园</label>
              <div class="controls">
                <label class="show_label">
                  <%= @staff.user.kindergarten_label %>
                </label>
              </div>
            </div>

            <div class="control-group">
              <label class="control-label">名称</label>
              <div class="controls">
                <label class="show_label">
                  <%=@staff.name%>
                </label>
              </div>
            </div>

            <div class="control-group">
              <label class="control-label" >账号</label>
              <div class="controls">
                <label class="show_label">
                  <%= @staff.user.login %>
                </label>
              </div>
            </div>

            <div class="control-group">
              <label class="control-label" >电话号码</label>
              <div class="controls">
                <label class="show_label">
                  <%= @staff.user.phone %>
                </label>
              </div>
            </div>

            <div class="control-group">
              <label class="control-label" >性别</label>
              <div class="controls">
                <label class="show_label">
                  <%= @staff.user.gender == "M" ? "女" : "男" %>
                </label>
              </div>
            </div>

            <div class="control-group">
              <label class="control-label" >所属类别</label>
              <div class="controls">
                <label class="show_label">
                  <%= @staff.user.tp_label %>
                </label>
              </div>
            </div>

          </div>

          <div class="right_table">

            <div class="control-group">
              <label class="control-label" >绑定微信</label>
              <div class="controls">
                <label class="show_label">
                  <%= @staff.user.weixin_code.blank? ? "已绑定" : "未绑定" %>
                </label>
              </div>
            </div>

            <div class="control-group">
              <label class="control-label" >身份证号</label>
              <div class="controls">
                <label class="show_label">
                  <%= @staff.card_code %>
                </label>
              </div>
            </div>

            <div class="control-group">
              <label class="control-label" >教育背景</label>
              <div class="controls">
                <label class="show_label">
                  <%= @staff.education %>
                </label>
              </div>
            </div>

            <div class="control-group">
              <label class="control-label" >考勤卡号</label>
              <div class="controls">
                <label class="show_label">
                  <%= @staff.attendance_code %>
                </label>
              </div>
            </div>

            <div class="control-group">
              <label class="control-label" >入职时间</label>
              <div class="controls">
                <label class="show_label">
                  <%= @staff.come_in_at ? @staff.come_in_at.to_short_datetime : nil %>
                </label>
              </div>
            </div>

            <div class="control-group">
              <label class="control-label" >出生日期</label>
              <div class="controls">
                <label class="show_label">
                  <%= @staff.birthday ? @staff.birthday.to_short_datetime : nil %>
                </label>
              </div>
            </div>

            <div class="control-group">
              <label class="control-label" >角色</label>
              <div class="controls">
                <label class="show_label">
                  <%= @staff.user.role.try(:name)%>
                </label>
              </div>
            </div>

          </div>

        </form>
      </div>
    </div>

     <fieldset>
      <legend><label><strong>负责的班级</strong></label></legend>
      <div class="work_list">
        <% unless @staff.teachers.blank? %>
          <table class="table table-striped table-hover">
            <tr>
              <th>年级</th>
              <th>班级</th>
              <th>是否班主任</th>
              <th>操作</th>
            </tr>
            <% @staff.teachers.each do |teacher| %>
              <tr>
                <td><%= teacher.squad.grade ? teacher.squad.grade.name : "" %></td>
                <td><%= link_to teacher.squad.name, :controller => "/my_school/squads", :action => :show, :id => teacher.squad_id %></td>
                <td><%= teacher.tp == 1 ? "是" : "否" %></td>
                <td>
                  <% if teacher.tp == 0 %>
                    <%= link_to "设为班主任", :controller => "/my_school/teachers", :action => :set_class_teacher, :teacher_id => teacher.id, :squad_id => teacher.squad_id, :staff_id => @staff.id %></td>
                <% else %>
                  <%= nil %>
                <% end %>
              </tr>
            <% end %>
          </table>
        <% else %>
          没有负责的班级
        <% end %>
      </div>
    </fieldset>


  </div>

</div>
