<div class="center_bg">
  <h1 class="head_title">新闻中心
    <%=  link_to "","/garden/garden_news",:class=>"return_action" %>
  </h1>

  <% if @garden_new.blank? %>
    <h2>很抱歉！没有新闻信息。</h2>
  <% else %>
    <blockquote>
      <p><%= @garden_new.title %></p>
      <small><%= @garden_new.note %></small>
    </blockquote>
    <p>
      <small><%= raw @garden_new.content %></small>
    </p>
    <p class="text-right"><%= @garden_new.created_at.to_all_datetime %></p>
  <% end %>
</div>