<div class="topic topic_line pull-left">
  <div class="iCheck_checkbox pull-left"><input type="checkbox" class="check" /></div>
  <div class="avatar pull-left"><img src="<%= activity.creater.try(:asset_logo) ? activity.creater.asset_logo.public_filename(:thumb) : '/t/colorful/user_logo.png' %>" width="83" alt="头像"/>
  </div>
  <div class="right_info">
    <div class="replies pull-right">
      <% if controller_name == "activities" %>
        <% if choose_operate_show("my_school/activities/show") %>
          <a href="<%= my_school_activity_path(activity) %>" title="查看<%= activity.title %>" alt="查看<%= activity.title %>"><i class="icon-eye-open"></i></a>
        <% end %>
      <% else %>
        <% if choose_operate_show("my_school/interest_activities/show") %>
          <a href="<%= my_school_interest_activity_path(activity) %>" title="查看<%= activity.title %>" alt="查看<%= activity.title %>"><i class="icon-eye-open"></i></a>
        <% end %>
      <% end %>
      <% if controller_name == "activities" %>
        <% if choose_operate_show("my_school/activities/edit") %>
          <a href="<%= edit_my_school_activity_path(activity) %>" title="编辑<%= activity.title %>" alt="编辑<%= activity.title %>"><i class="icon-edit"></i></a>
        <% end %>
      <% else %>
        <% if choose_operate_show("my_school/interest_activities/edit") %>
          <a href="<%= edit_my_school_interest_activity_path(activity) %>" title="编辑<%= activity.title %>" alt="编辑<%= activity.title %>"><i class="icon-edit"></i></a>
        <% end %>
      <% end %>
      <% if activity.activity_entries.any? %>
        <% if controller_name == "activities" %>
          <%= link_to activity.activity_entries.count, my_school_activity_path(activity, anchor: "activity_entry_1"), class: "count", style: "margin: 0;" %>
        <% else %>
          <%= link_to activity.activity_entries.count, my_school_interest_activity_path(activity, anchor: "activity_entry_1"), class: "count", style: "margin: 0;" %>
        <% end %>
      <% end %>
    </div>
    <div class="infos">
      <div class="title">
        <% if controller_name == "activities" %>
          <%= link_to activity.title, my_school_activity_path(activity) %>
        <% else %>
          <%= link_to activity.title, my_school_interest_activity_path(activity) %>
        <% end %>
      </div>
      <div class="info">
        <em><%= activity.creater.try(:name) %></em>
        <em>创建于</em><abbr><%= activity.created_at.try(:to_long_datetime) %></abbr>
      </div>
    </div>
  </div>
</div>
