<div class="topic topic_line pull-left">
  <div class="avatar pull-left"><img src="<%= activity.creater.asset_logo ? activity.creater.asset_logo.public_filename(:thumb) : '/t/colorful/user_logo.png' %>" width="83" alt="头像"/>
  </div>
  <div class="right_info">
    <div class="replies pull-right">
      <% if activity.activity_entries.any? %>
        <%= link_to activity.activity_entries.count, my_school_activity_path(activity, anchor: "activity_entry_1"), class: "count" %>
      <% end %>
    </div>
    <div class="infos">
      <div class="title">
        <%= link_to activity.title, my_school_activity_path(activity) %>
      </div>
      <div class="info">
        <em><%= activity.creater.try(:name) %></em>
        <em>创建于</em><abbr><%= activity.created_at.try(:to_long_datetime) %></abbr>
      </div>
    </div>
  </div>
</div>
