<% f = form %>
<script type="text/javascript">
  jQuery(function() {
    $('#activity_start_at').datepicker({
      language: "zh-CN",
      format:"yyyy-mm-dd"
    }).on("changeDate", function() {
      $(this).datepicker('hide')
    });
    $('#activity_end_at').datepicker({
      language: "zh-CN",
      format:"yyyy-mm-dd"
    }).on("changeDate", function() {
      $(this).datepicker('hide')
    });
  });
</script>
<% unless current_user.get_users_ranges[:tp] == :student %>
  <div class="field controls">
    <%= radio_button_tag 'visible', 'all', :checked => true %><label style="display:inline;" class="field_prompt" for="visible_all">全园可见</label>
    <%= radio_button_tag 'visible', 'squad' %><label style="display:inline;" id="visible_squad" class="field_prompt" for="visible_squad">选择班级</label>
  </div>
  <% if current_user.get_users_ranges[:tp] == :teachers %>
    <div class="select_field" id="select_squad" style="display:none;">
      <% unless @squads.blank? %>
        <label class="field_prompt" for="squad" id="squad_for_teacher">班级:</label>
        <%= select_tag "activity[squad_id]", options_for_select((@squads.collect{|s|[s.name,s.id]} || [])), :class => "select" %>
      <% else %>
        <label class="field_prompt" for="squad" id="squad_for_teacher">班级:</label>
        <div class="controls">
          <label>还未有负责的班级</label>
        </div>
      <% end %>
    </div>
  <% else %>
    <div class="select_field" id="select_squad" style="display:none;">
      <label class="field_prompt" for="grade">年级:</label>
      <% unless @grades.blank? %>
        <%= select_tag "grade", options_for_select(@grades.collect{|s|[s.name,s.id]}), :class => "select" %>
      <% else %>
        <div class="controls">
          <label>没有年级,请先创建年级,才能继续操作</label>
        </div>
      <% end %>
      <div id="grade_squad_partial">
      </div>
    </div>
  <% end %>
<% else %>
  <%= f.input :squad_label, :as => :string, :disabled => true %>
<% end %>
<br />
<%= f.input :kindergarten_label, :required => true, :as => :string, :input_html => { :disabled => true } %>
<%= f.input :title, :validate => true, placeholder: "请输入标题", hint: "长度必须控制在3个到100个字符之间", :required => true, :input_html => {:class => "span5 normal_link profile_input required"} %>
<% if action_name == "new" %>
  <%= f.input :start_at, :validate => true, :required => true, :as => :string, placeholder: "单击此处选择活动的开始时间", :input_html => {:class => "input-mediun span3 time_datepicker"} %>
  <%= f.input :end_at, :validate => true, :required => true, :as => :string, placeholder: "单击此处选择活动的结束时间", :input_html => {:class => "input-mediun span3 time_datepicker"} %>
<% else %>
  <%= f.input :start_at, :required => true, :as => :string, :input_html => {:class => "input-mediun", :value => "#{f.object.start_at.to_short_datetime}"} %>
  <%= f.input :end_at, :required => true, :as => :string, :input_html => {:class => "input-mediun", :value => "#{f.object.end_at.to_short_datetime}"} %>
<% end %>
<%= f.input :note, :input_html => {:rows => "3", :class => "span5"}%>
<label class="control-label required"><abbr title='required'>*</abbr><%= controller_name == "activities" ? " 主题活动内容" : " 兴趣讨论内容" %></label>
<div class="control-group">
  <%= f.kindeditor :content, :class => 'profile_input required', :editor_id => 'activity_content',:allowFileManager => false,:allowUpload=>false%>
  <p class="help-block">长度不得少于5个字符</p>
</div>

<%= f.simple_fields_for :asset_img_attributes do |p| %>
  <%= p.input :uploaded_data, :as => :file, :name => "asset_img", :label => "上传展示图片(推荐尺寸480x360)", :required => false, input_html: {for: "flag_img"}  %>
  <% end %>

  <div class="control-group">
    <div class="img_border controls">
      <% if action_name == "new"  %>
        <img src="/t/colorful/user_logo.png" alt="" id="flag_img" />
      <% else %>
        <img src="<%= f.object.asset_img ? f.object.asset_img.public_filename(:thumb) : '/t/colorful/user_logo.png' %>" alt="" id="flag_img" />
      <% end %>
    </div>
  </div>
  <%= f.input :kindergarten_id, :as => :hidden %>
  <%= f.input :creater_id, :as => :hidden %>

  <div class="control-group">
    <div class="controls">
      <%= f.button :submit, disable_with: "正在提交..." %>
    </div>
  </div>

  <script type="text/javascript">
    var flag = []
    $("input[type='submit']").click(function(){
      if (activity_content.html().length < 5 || activity_content.isEmpty()) {
        if ( $("#activity_content").next("span.help-inline").length == 0 ) {
          $("<span class='help-inline'>长度不够(不得少于5个字符)<span>").insertAfter("#activity_content")
        }
        flag.push(true)
      } else {
        if ( $("#activity_content").next("span.help-inline").length > 0 ) {
          $("#activity_content").next("span.help-inline").remove()
        }
        flag.push(false)
      }
      if ( $("#grade").is(":visible") ) {
        if ( $("#squad_id").length > 0 ) {
          if($("#grade").next("span.help-inline").length > 0) {
            $("#grade").next("span.help-inline").remove()
          }
          flag.push(false);
        } else if ( $("#activity_squad_label").length > 0 || $("#activity_squad").length > 0 ) {
          flag.push(false)
        } else {
          if( $("#grade").next("span.help-inline").length == 0 ) {
            $("<span class='help-inline'>必须选择班级</span>").insertAfter($("#grade"))
          }
          flag.push(true);
        }
      }
      for( i in flag ) {
        if(flag[i] == true) {
          flag.length = 0;
          return false;
        }
      }
    })

    $("#grade").change(function() {
      $.get(
      "/my_school/activities/grade_squad_partial",
      {
        grade: $("#grade").val()
      },
      function(result) {
        $("#grade_squad_partial").html(result);
      }
    )
    }).trigger("change")
    $("input[type='radio']").change(function() {
      if ( $(this).val() == "squad" ) {
        $("#select_squad").show()
      } else {
        $("#select_squad").hide()
      }
    })
  </script>

  <script type="text/javascript">
    /**
     * 使用HTML5 File API, 來即時預覽image
     */
    $("input[type=file]").change(function(){
      try{
        var objUrl = getObjectURL(this.files[0]);
        if (objUrl) {
          $("#" + $(this).attr("for")).attr("src", objUrl) ;
        }}catch(err){}
    }) ;

    /**
     * 建立一個可存取到該file的url
     * PS: 瀏覽器必須支援HTML5 File API
     */
    function getObjectURL(file) {
      var url = null ;
      if (window.createObjectURL!=undefined) { // basic
        url = window.createObjectURL(file) ;
      } else if (window.URL!=undefined) { // mozilla(firefox)
        url = window.URL.createObjectURL(file) ;
      } else if (window.webkitURL!=undefined) { // webkit or chrome
        url = window.webkitURL.createObjectURL(file) ;
      }
      return url ;
    }
  </script>
