<div class="show_work">
  <%= render :partial => "/modules/#{view_layout}/work_menu" %>
  <div class="work">
    <div class="headline">
      <div class="headline_title">
        <div class="messages_root"></div>
        <label>
          <% if controller_name == "activities" %>
            活动信息
          <% else %>
            兴趣讨论信息
          <% end %>
        </label>
        <div class="crumbs">
          <a href="/my_school/home" title="返回首页">
            <div class="icon_home"></div>
          </a>
          <ul>
            <li>
              <% if controller_name == "activities" %>
                活动信息
              <% else %>
                兴趣讨论
              <% end %>
            </li>
            <li>/</li>
            <li>主题活动<li>
          </ul>
        </div>
      </div>
      <ul class="work_action">
        <li>
          <% if choose_operate_show("#{params[:controller]}/new") %>
            <a href="<%=url_for(:controller=>"#{params[:controller]}",:action=>:new)%>" title="添加">
              <%= render :partial => "/my_school/commons/add_action" %>
            </a>
          <% end %>
        </li>
        <li>
          <% if choose_operate_show("my_school/activities/destroy") %>
            <%= render :partial => "/my_school/commons/delete_action" %>
          <% end %>
        </li>
      </ul>
    </div>
    <%= render :partial => "my_school/activities/search_form" %>
    <div class="work_list">
      <div class="topics">
        <%= render "my_school/activities/tab_activities" %>
      </div>
    </div>
  </div>

</div>

<script type="text/javascript">
$(document).ready(function(){
  $(".fancybox").fancybox();
});
$("#destroy_multiple").click(function(){
  if (confirm('您确定删除选中的贴子吗')) {
    $("#destroy_multi_form").submit();
  }
});
</script>
