<div class="show_work">
  <%= render :partial => "/modules/colorful/work_menu" %>
  <div class="work">
    <div class="headline">
      <div class="headline_title">
        <div class="messages_root"></div>
        <label>
          <% if controller_name == "activities" %>
            活动信息
          <% else %>
            兴趣讨论信息
          <% end %>
        </label>
        <div class="crumbs">
          <a href="/my_school/home" title="返回首页">
            <div class="icon_home"></div>
          </a>
          <ul>
            <li>
              <% if controller_name == "activities" %>
                活动信息
              <% else %>
                兴趣讨论
              <% end %>
            </li>
            <li>/</li>
            <li>主题活动<li>
          </ul>
        </div>
      </div>
      <ul class="work_action">
        <li>
          <% if controller_name == "activities" %>
            <% if choose_operate_show("my_school/activities/new") %>
              <a href="<%=url_for(:controller=>"/my_school/activities",:action=>:new)%>" title="添加">
                <div class="work_action_add">
                </div>
                <div class="work_action_add_move">
                </div>
              </a>
            <% end %>
        <% else %>
          <% if choose_operate_show("my_school/interest_activities/new") %>
            <a href="<%=url_for(:controller=>"/my_school/interest_activities",:action=>:new)%>" title="添加">
              <div class="work_action_add">
                </div>
                <div class="work_action_add_move">
                </div>
            </a>
          <% end %>
        <% end %>
        </li>
        <li>
          <% if choose_operate_show("my_school/activities/destroy_multi_form") %>
            <a href="/" title="删除" id="destroy_multiple">
              <div class="work_action_delete">
              </div>
              <div class="work_action_delete_move">
              </div>
            </a>
          <% end %>
        </li>
      </ul>
    </div>
    <div class="search_form">
     <%= form_tag '/my_school/activities' , :method=>"get" do %>
      <b>标题：</b>
      <%= text_field :activity,:title_like,:style=>"width:100px;" ,:value=>"#{params[:activity][:title_like] if params[:activity] }"  %>
      <b>内容：</b>
      <%= text_field :activity,:content_like,:style=>"width:100px;" ,:value=>"#{params[:activity][:content_like] if params[:activity] }"  %>
      <%= submit_tag "搜索" %>
      <%end%>
    </div>
    <div class="work_list">
      <% unless @activities.blank? %>
        <table class="table table-striped table-hover">
          <%= form_tag destroy_multiple_my_school_activities_path, method: :delete, :id => "destroy_multi_form" do %>
            <tr>
              <th><input type="checkbox" name="" value="" alt="全选" id="activity_all">全选</th>
              <th>标题</th>
              <th>创建人</th>
              <th>类型</th>
              <th>展示图片</th>
              <th colspan="2">操作</th>
              <th></th>
            </tr>
            <% @activities.each do |activity| %>
              <tr>
                <td><input id="activity_<%= activity.id %>" class="activity_check" name="activity[]" type="checkbox" value="<%= activity.id %>" /></td>
                <td>
                  <% if controller_name == "activities" %>
                    <% if choose_operate_show("my_school/activities/show") %>
                      <%= link_to activity.title, my_school_activity_path(activity) %>
                    <% else %>
                      <%= activity.title %>
                    <% end %>
                  <% else %>
                    <% if choose_operate_show("my_school/interest_activities/show") %>
                      <%= link_to activity.title, my_school_interest_activity_path(activity) %>
                    <% else %>
                      <%= activity.title %>
                    <% end %>
                  <% end %>
                </td>
                <td><%= activity.creater ? activity.creater.name : "" %></td>
                <td>
                  <%= activity.tp == 0 ? "活动" : "兴趣讨论" %>
                </td>
                <td>
                  <% unless activity.asset_img.blank? %>
                    <a href="<%= activity.asset_img.public_filename(:thumb) %>" class="fancybox" title="" >
                      <img src="<%= activity.asset_img.public_filename(:tiny) %>" />
                    </a>
                  <% end %>
                </td>
                <td>
                  <% if "activities" == controller_name %>
                    <% if choose_operate_show("my_school/activities/show") %>
                      <%= link_to "查看", my_school_activity_path(activity), :class => "show" %>
                    <% end %>
                  <% else %>
                    <% if choose_operate_show("my_school/interest_activities/show") %>
                      <%= link_to "查看", my_school_interest_activity_path(activity), :class => "show" %>
                    <% end %>
                  <% end %>
                </td>
                <td>
                  <% if "activities" == controller_name %>
                    <% if choose_operate_show("my_school/activities/edit") %>
                      <%= link_to "编辑", edit_my_school_activity_path(activity), :class => "show" %>
                    <% end %>
                  <% else %>
                    <% if choose_operate_show("my_school/interest_activities/edit") %>
                      <%= link_to "编辑", edit_my_school_interest_activity_path(activity), :class => "show" %>
                    <% end %>
                  <% end %>
                </td>
                <td>
                  <%if activity.approve_status==2%>
                审核不通过
                <%elsif activity.approve_status==1%>
                待审核
                <%end%></td>
              </tr>
            <% end %>
          <% end %>
        </table>
        <%= paginate @activities %>
      <% else %>
        暂时没有活动
      <% end %>
    </div>
  </div>

</div>

<script type="text/javascript">
$(document).ready(function(){
  $("#activity_all").click(function(){
    $(".activity_check").attr("checked",this.checked);
  })
  $(".fancybox").fancybox();
});
</script>
