<div class="show_work">
  <%= render :partial => "/modules/#{view_layout}/work_menu" %>
  <div class="work">
    <div class="headline">
      <div class="headline_title">
        <div class="messages_root"></div>
        <label>
          <% if controller_name == "activities" %>
            活动信息
          <% else %>
            兴趣讨论信息
          <% end %>
        </label>
        <div class="crumbs">
          <a href="/my_school/home" title="返回首页">
            <div class="icon_home"></div>
          </a>
          <ul>
            <li>
            <% if controller_name == "activities" %>
                活动信息
              <% else %>
                兴趣讨论
              <% end %>
              </li>
            <li>/</li>
            <li>新建活动</li>
          </ul>
        </div>
      </div>
      <ul class="work_action">
        <li>
          <% if choose_operate_show("#{params[:controller]}/index") %>
            <a href="<%=url_for(:controller=>"#{params[:controller]}",:action=>:index)%>" title="返回">
              <%= render :partial => "/my_school/commons/return_action" %>
            </a>
          <% end %>
        </li>
      </ul>
    </div>

    <div class="work_form">
      <div class="form_div">
        <% if controller_name == "activities" %>
          <%= simple_form_for(@activity, :validate => true, :url => my_school_activities_path, :html => {:class => "form-horizontal"}) do |f| %>
            <%= render :partial => "form", :object => f %>
          <% end %>
        <% else %>
          <%= simple_form_for(@activity, :validate => true, :url => my_school_interest_activities_path, :html => {:class => "form-horizontal"}) do |f| %>
            <%= render :partial => "my_school/activities/form", :object => f %>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>

</div>
