<div class="show_publicity">
  <img src="/t/colorful/small_publicity.jpg" alt="展示图"/>
</div>
<div class="show_work">
  <%= render :partial => "/modules/colorful/work_menu" %>
  <div class="work">
    <div class="headline">
      <div class="headline_title">
        <div class="messages_root"></div>
        <label>
          <% if controller_name == "activities" %>
            活动信息
          <% else %>
            兴趣讨论信息
          <% end %>
        </label>
        <div class="crumbs">
          <a href="/my_school/home" title="返回首页">
            <div class="icon_home"></div>
          </a>
          <ul>
            <li>
              <% if controller_name == "activities" %>
                活动信息
              <% else %>
                兴趣讨论
              <% end %>
            </li>
            <li>/</li>
            <li>
              <% if controller_name == "activities" %>
                查看活动
              <% else %>
                查看兴趣讨论
              <% end %>
            </li>
          </ul>
        </div>
      </div>
      <ul class="work_action">
        <li>
          <% if controller_name == "activities" %>
            <% if choose_operate_show("my_school/activities/new") %>
              <a href="<%=url_for(:controller=>"/my_school/activities",:action=>:new, :tp => 0)%>" title="添加">
                <div class="work_action_add">
                </div>
                <div class="work_action_add_move">
                </div>
              </a>
            <% end %>
        <% else %>
          <% if choose_operate_show("my_school/interest_activities/new") %>
            <a href="<%=url_for(:controller=>"/my_school/interest_activities",:action=>:new, :tp => 1)%>" title="添加">
              <div class="work_action_add">
              </div>
              <div class="work_action_add_move">
              </div>
            </a>
          <% end %>
        <% end %>
        </li>
        <li>
          <% if controller_name == "activities" %>
            <% if choose_operate_show("my_school/activities/edit") %>
              <a href="<%=url_for(:controller=>"/my_school/activities",:action=>:edit,:id=>@activity.id)%>" title="编辑">
                <div class="work_action_edit">
                </div>
                <div class="work_action_edit_move">
                </div>
              </a>
            <% end %>
        <% else %>
          <% if choose_operate_show("my_school/interest_activities/edit") %>
            <a href="<%=url_for(:controller=>"/my_school/interest_activities",:action=>:edit,:id=>@activity.id)%>" title="编辑">
              <div class="work_action_edit">
              </div>
              <div class="work_action_edit_move">
              </div>
            </a>
            <% end %>
        <% end %>
        </li>
        <li>
          <% if controller_name == "activities" %>
            <% if choose_operate_show("my_school/activities/destroy") %>
              <%= link_to(url_for(:controller=>"/my_school/activities",:action=>:destroy,:id=>@activity.id),:method=>:delete, :confirm => "您确定删除该活动吗?") do %>
                <div class="work_action_delete">
                </div>
                <div class="work_action_delete_move">
                </div>
              <% end %>
            <% end %>
          <% else %>
            <% if choose_operate_show("my_school/interest_activities/destroy") %>
              <%= link_to(url_for(:controller=>"/my_school/interest_activities",:action=>:destroy,:id=>@activity.id),:method=>:delete, :confirm => "您确定删除该兴趣讨论吗?") do %>
                <div class="work_action_delete">
                </div>
                <div class="work_action_delete_move">
                </div>
              <% end %>
            <% end %>
          <% end %>
        </li>
        <li>
          <% if controller_name == "activities" %>
            <% if choose_operate_show("my_school/activities/index") %>
              <a href="<%=url_for(:controller=>"/my_school/activities",:action=>:index)%>" title="返回">
                <div class="work_action_return">
                </div>
                <div class="work_action_return_move">
                </div>
              </a>
            <% end %>
          <% else %>
            <% if choose_operate_show("my_school/interest_activities/index") %>
              <a href="<%=url_for(:controller=>"/my_school/interest_activities",:action=>:index)%>" title="返回">
                <div class="work_action_return">
                  </div>
                  <div class="work_action_return_move">
                  </div>
               </a>
            <% end %>
          <% end %>
        </li>
      </ul>
    </div>

    <div class="work_form">
      <div class="form_div">
        <div id="activity_show" class="show">
          <div class="content_up">
            <p class="title"><%= @activity.title %><span class="squad_name"><%= @activity.squad ? "*#{@activity.squad.name}" : "" %></span></p>
            <%unless @activity.approve_status == 0%>
            <p>审核状态:
                <%= Activity::STATUS[@activity.approve_status]%></p>
            <%end%>
            <p class="info"><span class="time"><%= @activity.start_at.try(:to_short_datetime) %></span>&nbsp;~&nbsp;<span class="time"><%= @activity.end_at.try(:to_short_datetime) %></span>&nbsp;由&nbsp;
            <span class="normal_link">
              <%= @activity.creater.try(:name) %>
            </span>&nbsp;创建于&nbsp;<span class="time"><%= @activity.try(:created_at).try(:to_long_datetime) %></span></p>
          </div>
          <div id="content_down">
            <div class="logo" style="float: left; width: 100px;">
              <% unless @activity.asset_img.blank? %>
                <a href="<%= @activity.asset_img.public_filename(:thumb) %>" class="fancybox" title="" >
                  <img src="<%= @activity.asset_img.public_filename(:middle) %>" />
                </a>
              <% end %>
            </div>
            <div class="content" style="float: left; width: 70%;">
              <%= raw @activity.content %> <br />
            </div>
          </div>
        </div>

        <hr />

        <div id="topic_entries">
          <div id="topic_category_tabs">
            <ul class="nav nav-tabs">
              <% if controller_name == "activities" %>
                <li class="<%= params[:activity_entry_tp].nil? ? "active" : "" %>"><a href="<%= url_for(:controller => "/my_school/activities", :action => :show, :id => @activity, :anchor => "topic_entries") %>">全部回复</a></li>
                <li class="<%= params[:activity_entry_tp].present? && 0 == params[:activity_entry_tp].to_i ? "active" : "" %>" >
                  <%= link_to "活动主信息", my_school_activity_path(@activity, :activity_entry_tp => 0, :anchor => "topic_entries") %>
                </li>
                <li class="<%= params[:activity_entry_tp].present? && 1 == params[:activity_entry_tp].to_i ? "active" : "" %>" >
                  <%= link_to "交互信息", my_school_activity_path(@activity, :activity_entry_tp => 1, :anchor => "topic_entries") %>
                </li>
              <% else %>
                <li class="<%= params[:activity_entry_tp].nil? ? "active" : "" %>"><a href="<%= url_for(:controller => "/my_school/interest_activities", :action => :show, :id => @activity, :anchor => "topic_entries") %>">全部回复</a></li>
                <li class="<%= params[:activity_entry_tp].present? && 0 == params[:activity_entry_tp].to_i ? "active" : "" %>" >
                  <%= link_to "活动主信息", my_school_interest_activity_path(@activity, :activity_entry_tp => 0, :anchor => "topic_entries") %>
                </li>
                <li class="<%= params[:activity_entry_tp].present? && 1 == params[:activity_entry_tp].to_i ? "active" : "" %>" >
                  <%= link_to "交互信息", my_school_interest_activity_path(@activity, :activity_entry_tp => 1, :anchor => "topic_entries") %>
                </li>
              <% end %>
            </ul>
          </div>
          <% unless @activity_entries.blank? %>
            <div class="total">
              <b>共收到<%= @activity_entries.count %>条回复</b>
            </div>
            <% @activity_entries.each do |activity_entry| %>
              <div id="activity_entry_<%= activity_entry.id %>" class="show_entry">
                <div class="content_left">
                  <div class="user_head_logo"><img src="<%= activity_entry.creater.asset_logo ? activity_entry.creater.asset_logo.public_filename(:thumb) : '/t/colorful/user_logo.png' %>" width="83" alt="头像"/></div>
                </div>
                <div class="content_right">
                  <p info>
                    <span class="author">
                      <%= link_to activity_entry.creater.try(:name), my_school_user_path(@activity_entry.creater), :class => "bold_link" %>
                    </span>&nbsp;回复于&nbsp;<span class="time"><%= time_ago_in_words(activity_entry.created_at) %></span></p>
                  <div class="content"><%= simple_format activity_entry.note %></div>
                </div>
              </div>
            <% end %>
            <%= paginate @activity_entries %>
          <% else %>
            暂无回复
          <% end %>
        </div>


          <%= simple_form_for(@activity_entry, :validate => true, :url => my_school_activity_entries_path, :html => {:class => "form-horizontal"}) do |f| %>
            <% if controller_name == "activities" %>
              <%= render :partial => "activity_form", :object => f %>
            <% else %>
              <%= render :partial => "my_school/activities/activity_form", :object => f %>
            <% end %>
          <% end %>
      </div>
    </div>
  </div>

</div>

<script type="text/javascript">
  $(document).ready(function() {
      $(".fancybox").fancybox();
  });
</script>
