<div class="control-group">
 	<%=f.label :kindergarten_id, '所属幼儿园*' ,:class=>"control-label"%>
<div class="controls">
     <%= text_field_tag(:kindergarten,@kind.name, disabled: true) %>
</div>
</div>
 <div class="control-group">
 	<%=f.label :title, '相册标题:' ,:class=>"control-label"%>
<div class="controls">
     <%= f.text_field(:title , :validate => true) %>
</div>
 </div>
<div class="control-group">
  <%=f.label :is_show, '是否显示:' ,:class=>"control-label"%>
  <div class="controls">
      <%= radio_button(:album, :is_show, "1") %>是
      <%= radio_button(:album, :is_show, "0") %>否
    <%=%>
  </div>
</div>
<% if current_user.get_users_ranges[:tp] == :all %>
  <div class="control-group">
    <%= f.label :is_top, :class => "control-label" %>
    <div class="controls">
      <%= radio_button(:album, :is_top, "true") %>是
      <%= radio_button(:album, :is_top, "false") %>否
    </div>
  </div>
<% end %>

<div class="control-group">
	<%=f.label :content, '内容: ' ,:class=>"control-label"%>
  <%= f.text_field(:content,:class => 'profile_input') %>
</div>
<% if action_name == "new" %>
  <% if current_user.get_users_ranges[:tp] == :teachers %>
    <div class="control-group">
      <% unless @squads.empty? %>
        <%= f.label :squad, class: "control-label" %>
        <div class="controls">
          <%= select_tag "album[squad_id]", options_for_select((@squads.collect{|s|[s.name,s.id]}.unshift(["全部", "NULL"]) || [])), :class => "select" %>
        </div>
      <% else %>
        <label>没有负责的班级,请先分配负责的班级才能继续操作</label>
      <% end %>
    </div>
  <% else %>
    <div class="controls">
        <span>年级&nbsp;<%= select_tag "grade", options_for_select(@grades.collect{|s|[s.name,s.id]}.unshift(["全部",0]),(@grade.id unless @grade.blank?) ) %></span>
         <div id="class_number_partial">
           <%unless @squads.blank? %>
            <span>班级<%= select_tag "class_number", options_for_select((@squads.collect{|s|[s.name,s.id]} || []),(@squad.id unless @squad.blank?)) %></span>
           <%end%>
        </div>
    </div>
  <% end %>
<% else %>
  <div class="control-group">
    <%= f.label :squad, class: "control-label" %>
    <div class="controls">
      <%= f.text_field :squad_label, disabled: true %>
    </div>
  </div>
<% end %>
  <br />
<div class="control-group">
  <div class="controls">
  <%= f.submit('创建',:class=>"btn") %>
  </div>
</div>
<script type="text/javascript">
  var editor;
  KindEditor.ready(function(K) {
    editor = K.create('#album_content', {
      allowFileManager : true,height:300
    });
  });
  $("#grade").change(function(){
            $.get( "/my_school/albums/grade_class",
                    { grade: $('#grade').val()},
                    function(result){
                        $("#class_number_partial").html(result);
                     })
                   });

</script>
