<div class="show_publicity">
  <img src="/t/colorful/small_publicity.jpg" alt="展示图"/>
</div>
<div class="show_work">
  <%= render :partial => "/modules/#{view_layout}/work_menu" %>
  <div class="work">
    <div class="headline">
      <div class="headline_title">
        <div class="messages_root"></div>
        <label>相册锦集<%#=link_to '相册锦集',my_school_albums_path,:class=>"blue"%>
          <!-- -> -->
<%#=@album.title%></label>
        <div class="crumbs">
          <a href="/my_school/home" title="返回首页">
            <div class="icon_home"></div>
          </a>
          <ul>
            <li><%= link_to "相册锦集", my_school_albums_path %></li>
            <li>/</li>
            <li><%=@album.title%></li>
          </ul>
        </div>
      </div>
      <ul class="work_action">
        <% unless current_user.get_users_ranges[:tp] == :student %>
          <%if choose_operate_show('my_school/album_entries/create')%>
            <li>
              <%=link_to "<div class='work_action_add_image'>
    </div><div class='work_action_add_image_move'>
    </div>".html_safe ,new_my_school_album_album_entry_path(@album.id)%>
            </li>
          <%end%>
        <% end %>
        <li>
          <%=link_to "<div class='work_action_return'>
            </div>
            <div class='work_action_return_move'>
            </div>".html_safe ,my_school_album_path(@album)%>
        </li>
      </ul>
    </div>
    <div class="work_form">
      <div class="form_div" style="float:left;width:700px">
        <%=render 'album_image'%>
      </div>
    </div>
  </div>
</div>
