<div class="show_work">
  <%= render :partial => "/modules/colorful/work_menu" %>
  <div class="work">
    <div class="headline">
      <div class="headline_title">
        <div class="messages_root"></div>
        <label>相册锦集</label>
        <div class="crumbs">
          <a href="/my_school/home" title="返回首页">
            <div class="icon_home"></div>
          </a>
          <ul>
          </ul>
        </div>
      </div>
      <ul class="work_action">
        <li>
          <%if choose_operate_show('my_school/albums/new')%>
            <%=link_to "<div class='work_action_add'>
  </div><div class='work_action_add_move'>
  </div>".html_safe ,new_my_school_album_path%>
          <%end%>
        </li>
      </ul>
    </div>
    <div class="work_list" >
      <ul id="album_wall" >
        <% (@albums || []).each do |album| %>
          <li>
            <a href="<%= my_school_album_path(album)%>" class="album_a ">
              <div class="album_window"></div>
              <div class="album_img">
                <img src="<%= album.show_main_img ? album.show_main_img.public_filename(:middle) : '/t/colorful/login_img10.png' %>"  alt="<%=album.title%>"/>
              </div>
            </a>
            <span><%=raw album.title%></span>
            <span class="actions">
              <%=raw album.content%>
            </span>
            <span>
              <%= album.try(:squad_name)%>
              <%if choose_operate_show('my_school/albums/destroy')%>
                <%= link_to 'Destroy', my_school_album_path(album), :method=> :delete, :data=> { :confirm=> 'Are you sure?' },:class=> "blue" %>
              <%end%>
            </span>
            <%if choose_operate_show('my_school/albums/edit')%>
              <span><%=link_to 'edit',edit_my_school_album_path(album)%></span>
            <%end%>
          </li>
        <% end %>
      </ul>
      <div class="paginate_div">
     <%= paginate @albums  %>
     </div> 
    </div>
  </div>
</div>
