<div class="show_work">
  <%= render :partial => "/modules/colorful/work_menu" %>
  <div class="work">
    <div class="headline">
      <div class="headline_title">
        <div class="messages_root"></div>
        <label>相册锦集</label>
        <div class="crumbs">
          <a href="/my_school/home" title="返回首页">
            <div class="icon_home"></div>
          </a>
          <ul>
          </ul>
        </div>
      </div>
      <ul class="work_action">
         <li><%#=(link_to "<div class='work_action_add'>
            </div><div class='work_action_add_move'>
            </div>".html_safe ,new_my_school_cook_book_path) unless @flag.blank? %>
        </li>
      </ul>
    </div>

    <div class="work_list" >
      
       <ul id="album_wall" >
          <% (@albums || []).each do |album| %>
          <li style="width:228px;" >
          <span><%=raw album.title%></span>
          <a href="<%= my_school_album_path(album)%>">
          <img src="<%= album.show_main_img ? album.show_main_img.public_filename(:middle) : '/t/colorful/logo.png' %>" width="226px" height="226px" alt="<%=album.title%>"/>
            </a>
           <span class="actions">
           <%=raw album.content%>
           </span>
           <span>
            <%= album.try(:squad_name)%>
            <%= link_to 'Destroy', my_school_album_path(album), method: :delete, data: { confirm: 'Are you sure?' },:class=> "blue" %>
           </span>
          </li>
          <% end %>
          </ul>
    </div>
  </div>

</div>
