<div class="show_publicity">
  <img src="/t/colorful/small_publicity.jpg" alt="展示图"/>
</div>
<div class="show_work">
  <%= render :partial => "/modules/colorful/work_menu" %>
  <div class="work">
    <div class="headline">
      <div class="headline_title">
        <div class="messages_root"></div>
        <label>相册锦集<%#=link_to '相册锦集',my_school_albums_path,:class=>"blue"%>
          <!-- -> -->
          <%#=@album.title%></label>
        <div class="crumbs">
          <a href="/my_school/home" title="返回首页">
            <div class="icon_home"></div>
          </a>
         <ul>
             <li><%= link_to "相册锦集", my_school_albums_path %></li>
            <li>/</li>
            <li><%=@album.title%></li>
          </ul>
        </div>
      </div>
      <ul class="work_action">
        <%#if choose_operate_show('my_school/album_entries/new')%>
        <li>
          <%=link_to "<div class='work_action_add'>
            </div><div class='work_action_add_move'>
            </div>".html_safe ,new_my_school_album_album_entry_path(@album.id)%>
          </li>
            <%#end%>
            <li>
             <a href="<%=url_for(:controller=>"/my_school/albums",:action=>:index)%>" title="返回">
            <div class="work_action_return">
            </div>
            <div class="work_action_return_move">
            </div>
          </a>
        </li>
      </ul>
    </div>

    <div class="work_form">
      <div class="form_div" style="float:left;width:700px">
        <form class="form-horizontal">
          <div class="control-group">
            <label class="control-label" >创建时间</label>
            <div class="controls">
              <label class="show_label">
                <%= @album.created_at.try(:to_short_datetime) %>
              </label>
            </div>
          </div>
          <div class="control-group">
            <label class="control-label" >内容</label>
            <div class="controls">
              <label class="show_label">
                <%=raw @album.content %>
              </label>
            </div>
          </div>
          <div class="control-group">
            <label class="control-label" >班级</label>
            <div class="controls">
              <label class="show_label">
                <%=raw @album.squad_name %>
              </label>
            </div>
          </div>
        </form>
        <%=render 'album_image'%>
        <%#if choose_operate_show('my_school/album_entries/create')%>
       <!--  <div class="work_form">
         <div class="form_div" style="float:left">
        -->  <%#= form_for(@album_entry,:url=>my_school_album_album_entries_path(@album.id,@album_entry),:html =>{:multipart=>true,:class=>"form-horizontal"},) do |f| %>
          <%#= render 'form2', :f=>f %>
       <%# end %>
       <!-- </div>
    </div> -->
    <%#end%>
      </div>
    </div>
  </div>

</div>
