 <div class="show_work">
  <%= render :partial => "/modules/colorful/work_menu" %>
  <div class="work">
    <div class="headline">
      <div class="headline_title">
        <div class="messages_root"></div>
        <label>相册锦集<%#=link_to '相册锦集',my_school_albums_path,:class=>"blue"%>
          <!-- -> -->
<%#=@album.title%></label>
        <div class="crumbs">
          <a href="/my_school/home" title="返回首页">
            <div class="icon_home"></div>
          </a>
          <ul>
            <li><%= link_to "相册锦集", my_school_albums_path %></li>
            <li>/</li>
            <li><%=@album.title%></li>
          </ul>
        </div>
      </div>
      <ul class="work_action">
        <% unless current_user.get_users_ranges[:tp] == :student %>
          <%if choose_operate_show('my_school/album_entries/create')%>
            <li>
              <%=link_to "<div class='work_action_add'>
    </div><div class='work_action_add_move'>
    </div>".html_safe ,new_my_school_album_album_entry_path(@album.id)%>
            </li>
          <%end%>
          <%if choose_operate_show('my_school/albums/entry_index')%>
            <li>
              <%=link_to "<div class='work_action_adjust'>
    </div><div class='work_action_adjust_move'>
    </div>".html_safe ,url_for(:controller=>"my_school/albums",:action=>:entry_index,:id=>@album.id)%>
            </li>
          <%end%>
        <% end %>
        <li>
          <a href="<%=url_for(:controller=>"/my_school/albums",:action=>:index)%>" title="返回">
            <div class="work_action_return">
            </div>
            <div class="work_action_return_move">
            </div>
          </a>
        </li>
      </ul>
    </div>
    <div class="work_form">
      <div class="big_form_div">
        <div class="albums_title"><!--  style="float:left;width:700px;"-->
          <%= @album.title %>
          <hr/>
        </div>
        <%=render 'album_entry'%>
        <hr/>
        <div class="albums_title">
          <%= @album.content %>
        </div>
      </div>
      <%= render :partial=>"/my_school/comments/load_comments" ,:locals=>{:resource_type=>@album.class.to_s,:resource_id=>@album.id} %>
      <%= render :partial=>"/my_school/read_users/load_read_users" ,:locals=>{:resource_type=>@album.class.to_s,:resource_id=>@album.id} %>
    </div>
  </div>
</div>
