<div class="home_div">
  <div class="note_div">
    <div class="note_title">
      <p>幼儿园介绍</p>
    </div>
    <pre style="text-indent: 10px;margin-top: 10px;color: #6388A0;">
      <%= raw @kind.note %>
    </pre>
  </div>
  <div class="news_div">
    <div class="news_title">
      <div class="home_left_title home_moe_title">
      </div>
      <div class="home_center_title">
        新闻消息<%=link_to "<strong>+ MORE</strong>".html_safe ,"/my_school/news" %>
      </div>
      <div class="home_right_title home_moe_title">
      </div>
    </div>
    <ul class="official_home_news_list">
      <%(@news||[]).each do |n_ew|%>
        <li>
          <div class="official_square"></div>
          <div class="official_font">
            <%= link_to truncate(n_ew.title || "",:length=>12), {:action=>:show,:controller=>"/my_school/news",:id=>n_ew.id},:title=>n_ew.title %>
          </div>
        </li>
      <%end%>
    </ul>
  </div>
  <div class="user_div">
    <div class="news_title">
      <div class="home_left_title home_moe_title">
      </div>
      <div class="home_center_title">
        园长介绍
      </div>
      <div class="home_right_title home_moe_title">
      </div>
    </div>
    <div class="teacher_info_div">
      <ul>
        <% i = 1 %>
        <%(@teacher_infos||[]).each do |info|%>
          <li class="tearcher_li <%= "full" if i == 1 %>">
            <div class="show_info">
              <div class="official_home_teacher_img">
                <img src="<%=info.page_img.blank? ? '/t/colorful/activity_logo1.jpg' : info.page_img.public_filename %>" alt="" width="200px"   />
              </div>
              <div class="teacher_info">
                <div class="teacher_title">
                  <h3><%=info.title%></h3>
                </div>
                <div class="teacher_content">
                  <%=raw info.content%>
                </div>
              </div>
            </div>
            <div class="show_title">
              <%=info.title%>
            </div>
            <% i+= 1 %>
          </li>
        <%end%>
      </ul>
      <script type="text/javascript">
        $(function(){
          $(".tearcher_li").hover(function(){
            $(".tearcher_li").removeClass("full");
            $(this).addClass("full");
          },function(){
            $(".tearcher_li").removeClass("full");
            $(this).addClass("full");
          })
        });
      </script>
    </div>
  </div>
</div>
<div class="home_index_work">
  <div class="show_case">
    <div class="show_case_label">
      幼儿作品展示
    </div>
    <%= render :partial => "/modules/colorful/new_showcase" %>
  </div>
</div>
