<div class="home_left">
  <div class="home_login">
    <%= form_tag "/my_school/users/login",:id=>"longin_form", :autocomplete=>"off" do  %>
      <div class="smurf_bg_title">
        <span class="one">用户<span class="one two">登陆</span></span>
      </div>
      <div class="div_left">
        <div class="login_div">
          <%= text_field_tag :login,"",:placeholder=>"账号", :class => 'login_input_one'%>
        </div>
        <div class="login_div">
          <%= password_field :password,"",:name=>"password", :class => 'login_input_one',:placeholder=>"登录密码"%>
        </div>
      </div>
      <div class="div_right">
        <a href="###" class="button_xun" id="button_xun"><div>登陆</div></a>
      </div>
    <% end %>
    <script type="text/javascript">
      $(function(){
        $(".button_xun,#button_xun").click(function(){
          $("#longin_form").submit();
        })
        $("#longin_form").keydown(function(e){
          var e = e || event,
          keycode = e.which || e.keyCode;
          if (keycode==13) {
            $(".button_xun").trigger("click");
          }
        });
      });
    </script>
  </div>
  <div class="home_news">
    <div class="smurf_bg_title">
      <span class="one">新闻动态<%=link_to "<strong>+ MORE</strong>".html_safe ,show_new_list_my_school_main_index_path %></span>
    </div>
    <ul class="official_home_news_list">
      <%(@news||[]).each do |n_ew|%>
        <li>
          <div class="official_square"></div>
          <div class="official_font">
            <%= link_to truncate(n_ew.title || "",:length=>12), show_one_new_my_school_main_index_path(:new_id=>n_ew.id),:title=>n_ew.title %>
          </div>
        </li>
      <%end%>
    </ul>
  </div>
</div>
<div class="home_right">
  <div class="home_work_center">
    <%if @img.blank?%>
      <a href="/t/colorful/483-5552.jpg" class="fancybox" title="">
        <img src="/t/colorful/483-5552.jpg" alt="" height="370"/>
      </a>
    <%elsif @img.size==1%>
      <a  href="<%= @img.first.try(:page_img).public_filename %>" class="fancybox"  title="<%= @img.first.title %>">
        <img src="<%= @img.first.try(:page_img).public_filename %>" alt="" height="370"/>
      </a>
    <%else%>
      <link rel="stylesheet" type="text/css" href="/javascripts/3dcarousel/css/carousel.css" />
      <script type="text/javascript" src="/javascripts/3dcarousel/js/jquery.carousel.min.js"></script>
      <script type="text/javascript">
        $(document).ready(function($){
          $("#carousel").show();
          $('#carousel').carousel({
            width: 420,
            height: 250,
            itemWidth:120,
            horizontalRadius:120,
            verticalRadius:35,
            resize:false,
            mouseScroll:false,
            mouseDrag:true,
            scaleRatio:0.4,
            scrollbar:true,
            tooltip:true,
            mouseWheel:true,
            mouseWheelReverse:true
          });
        });
      </script>
      <ul id="carousel" style="display: none;">
        <% @img.each do |entry| %>
          <% if entry.page_img %>
            <li>
              <a  href="<%= entry.page_img.public_filename %>" class="fancybox"  title="<%= entry.title %>">
                <img onload="$(this).parent().css('display','')" src="<%= entry.page_img.public_filename(:middle)%>" onerror="<%=entry.page_img.public_filename%>" alt="" height="370"/>
                <% unless entry.title.blank? %>
                  <div class="tooltip"><%= entry.title %></div>
                <% end %>
              </a>
            </li>
          <%end%>
        <%end%>
      </ul>
    <%end%>
    <script  type="text/javascript">
      $(function() {
        $(".fancybox").fancybox();
        $(".home_link a").hover(function(){
          $(this).next().toggle();
        });
      });
    </script>
    <div class="home_link">
      <ul>
        <li><a href="/my_school/main/show_cookbooks" class="cookbook" title="每周菜谱"></a>
          <div class="home_link_div cookbook">
            每周菜谱
            <div class="home_link_note">
              关心孩子每一天的饮食
            </div>
          </div>
        </li>
        <li><a href="/my_school/main/show_wonderful_episodes" class="video" title="精彩视频"></a>
          <div class="home_link_div video">
            精彩视频
            <div class="home_link_note">
              记录孩子的点点滴滴
            </div>
          </div>
        </li>
        <li><a href="/my_school/home" class="my_home" title="家园互动"></a>
          <div class="home_link_div my_home">
            家园互动
            <div class="home_link_note">
              登陆家园互动
            </div>
          </div>
        </li>
        <li><a href="/my_school/main/admissions_information" class="my_user" title="招生信息"></a>
          <div class="home_link_div my_user">
            招生信息
            <div class="home_link_note">
              查看详细的入园条件要求
            </div>
          </div>
        </li>
      </ul>
    </div>
  </div>
  <div class="home_work_right">
    <div class="work_right_title"><span class="tip">&nbsp;&nbsp;&nbsp;</span>通知公告<%=link_to "<strong>+ MORE</strong>".html_safe ,show_new_list_my_school_main_index_path %></div>
    <div class="work_right_notice">
      <ul>
        <%(@notices||[]).each do |notice|%>
          <li>
            <%= link_to truncate(notice.title || "",:length=>15), url_for(:controller=>"/my_school/notices",:action=>:show,:id=>notice.id),:title=>notice.title %>
          </li>
        <%end%>
      </ul>
    </div>
    <div class="call_me">
      <div class="full_left">
        <div class="float_left">
          <img src="/t/smurf/phone.png" alt="联系电话" />
        </div>
        <div class="float_left">
          <div class="call_label">
            联系我们
          </div>
          <div class="call_phone">
            <%=@kind.telephone.blank? ? "暂时没有填写" : @kind.telephone%>
          </div>
        </div>
      </div>
    </div>
    <div class="full_left">
      <% if @kind.has_choose_operate?(11100) %>
        <a href="<%= url_for(:controller=>"/my_school/main",:action=>"dean_email_list") %>" >
          <div class="dean_email">
            <i class="icon-chevron-right"></i>园长信箱
          </div>
        </a>
      <% end %>
      <div class="dean_address" id="dean_address">
        <i class="icon-chevron-right"></i>邮编地址
      </div>
    </div>
  </div>
</div>
<div class="show_case">
  <div class="show_case_label">
    精彩图片展示
  </div>
  <%= render :partial => "/modules/colorful/new_showcase" %>
</div>
<div id="dialog_dean_address"  title="幼儿园邮编地址" style="display: none;">
  <pre>
    <%=@kind.address.blank? ? "幼儿园暂时没有填写地址" : @kind.address %>
  </pre>
  <div style="width:400px;height:300px;border:1px solid gray" id="map_div">
  </div>
  <% unless @kind.latlng.blank? %>
    <script type="text/javascript" src="http://api.map.baidu.com/api?v=1.5&ak=0E39b8c685958445866a62ebd4f2da1b"></script>
    <script type="text/javascript">
      $(function(){
        map = new BMap.Map("map_div");
        var latlng = "<%=@kind.latlng%>";
        var latlng_data = latlng.split(",")
        map.centerAndZoom(new BMap.Point(latlng_data[1],latlng_data[0]), 14);
        map.addControl(new BMap.NavigationControl());
        map.addControl(new BMap.MapTypeControl());          //添加地图类型控件
        map.enableScrollWheelZoom();
        var gc = new BMap.Geocoder();
        var marker ;
        var point = new BMap.Point(latlng_data[1], latlng_data[0]);
        if(marker){
          map.removeOverlay(marker);
        }
        marker = new BMap.Marker(point);  // 创建标注
        map.addOverlay(marker);
      })
    </script>
  <% end %>
</div>
<script  type="text/javascript">
  $(function() {
    $("#dialog_dean_address").dialog({
      dialogClass: "no-close",
      autoOpen: false,
      height:500,
      width:700,
      buttons: {
        "关闭": function () {
          $(this).dialog("close");
        }
      }
    });
    $("#dean_address").click(function(){$("#dialog_dean_address").dialog("open")});
  });
</script>
