<% f = form %>
<%= f.input :kindergarten_label, :required => true, :as => :string, :input_html => { :disabled => true } %>
<% if action_name == "new" %>
  <%= f.input :topic_category, :validate => true, :as => :select, :collection => Hash[f.object.kindergarten.topic_categories.map{|topic_category| ["#{topic_category.name}", topic_category.id]}],:input_html=>{:name=>"topic[topic_category_id]"} %>
<% else %>
  <%= f.input :topic_category_label, :required => true, :as => :string, :input_html => { :disabled => true } %>
<% end %>
<%= f.input :title, :validate => true, :required => true, :input_html => {:class => "span5 profile_input required"} %>
<%#= f.input :content, :validate => true, :required => true, :input_html => { :class => "span5" } %>

<div class="control-group">
  <label class="control-label"><span class="required">*</span>内容</label>
</div>
<div class="control-group">
    <%= f.kindeditor :content, :class => 'profile_input required', :editor_id => 'topic_content',:allowFileManager => false,:allowUpload=>false%>
</div>
<%= f.input :kindergarten_id, :as => :hidden %>
<%= f.input :creater_id, :as => :hidden %>


<div class="control-group">
  <div class="controls">
    <%= f.button :submit %>
  </div>
</div>

<script type="text/javascript">
  $("input[type='submit']").click(function(){
    if (topic_content.html().length < 9 || topic_content.isEmpty()) {
      if ( $("#topic_content").next("span.help-inline").length == 0 ) {
        $("<span class='help-inline'>长度不够或为空<span>").insertAfter("#topic_content")
        return false;
      }
    } else {
        if ( $("#topic_content").next("span.help-inline").length > 0 ) {
          $("#topic_content").next("span.help-inline").remove()
        }
        return true;
    }
  })
</script>
