<% f = form %>
<%= f.input :kindergarten_label, :required => true, :as => :string, :input_html => { :disabled => true } %>

<% if action_name == "new" %>
  <% if current_user.get_users_ranges[:tp] == :student %>
    <%= f.input :squad_label, :required => true, :as => :string, :input_html => { :disabled => true, :value => current_user.student_info.squad.name } %>
  <% elsif current_user.get_users_ranges[:tp] == :teachers %>
    <div class="field controls">
      <%= radio_button_tag 'visible', 'all', :checked => true %><span class="field_prompt" for="visible_all">全园可见</span>
      <%= radio_button_tag 'visible', 'squad' %><span class="field_prompt" for="visible_squad">选择班级</span>

    </div>
    <div class="select_field" id="select_squad" style="display:none;">
      <% unless @squads.blank? %>
        <label class="field_prompt" for="squad" id="squad_for_teacher">班级:</label>
        <%= select_tag "topic[squad_id]", options_for_select((@squads.collect{|s|[s.name,s.id]} || [])), :class => "select" %>
      <% else %>
        <label class="field_prompt" for="squad" id="squad_for_teacher">班级:</label>
        <div class="controls">
          <label>没有班级,请先创建班级,才能继续操作</label>
        </div>
      <% end %>
    </div>
    <br />
  <% else %>
    <div class="field controls">
      <%= radio_button_tag 'visible', 'all', :checked => true %><span class="field_prompt" for="visible_all">全园可见</span>
      <%= radio_button_tag 'visible', 'squad' %><span class="field_prompt" for="visible_squad">选择班级</span>

    </div>
    <br />
    <div class="select_field" id="select_squad" style="display:none;">
      <label class="field_prompt" for="grade">年级:</label>
      <% unless @grades.blank? %>
        <%= select_tag "grade", options_for_select(@grades.collect{|s|[s.name,s.id]}), :class => "select" %>
      <% else %>
        <div class="controls">
          <label>没有年级,请先创建年级,才能继续操作</label>
        </div>
      <% end %>
      <div id="grade_squad_partial">
      </div>
    </div>
    <br />
  <% end %>

<% else %>
  <%= f.input :squad_label, :as => :string, :disabled => true %>
<% end %>

<% if params[:topic_category_id] %>
  <%= f.input :topic_category, :validate => true, :as => :select, :collection => Hash[f.object.kindergarten.topic_categories.map{|topic_category| ["#{topic_category.name}", topic_category.id]}],:selected => params[:topic_category_id], :input_html=>{:disabled => true} %>
  <%= f.input :topic_category_id, :as => :hidden, :input_html => {:value => params[:topic_category_id]} %>
<% elsif action_name == "new" %>
  <%= f.input :topic_category, :validate => true, :as => :select, :collection => Hash[f.object.kindergarten.topic_categories.map{|topic_category| ["#{topic_category.name}", topic_category.id]}],:input_html=>{:name=>"topic[topic_category_id]"}, :include_blank => false %>
<% else %>
  <%= f.input :topic_category_label, :required => true, :as => :string, :input_html => { :disabled => true } %>
<% end %>


<% if current_user.get_users_ranges[:tp] == :all %>
  <%= f.input :is_top %>
  <%= f.input :is_show %>
<% end %>
<%= f.input :title, :validate => true, :required => true, :input_html => {:class => "span5 profile_input required"} %>
<%#= f.input :content, :validate => true, :required => true, :input_html => { :class => "span5" } %>

<div class="control-group">
  <label class="control-label"><span class="required">*</span>内容</label>
</div>
<div class="control-group">
    <%= f.kindeditor :content, :class => 'profile_input required', :editor_id => 'topic_content',:allowFileManager => false,:allowUpload=>false%>
</div>


<%= f.input :kindergarten_id, :as => :hidden %>
<%= f.input :creater_id, :as => :hidden %>
<% if current_user.get_users_ranges[:tp] == :student %>
  <%= f.input :squad_id, :as => :hidden %>
<% end %>


<div class="control-group">
  <div class="controls">
    <%= f.button :submit, disable_with: "正在提交" %>
  </div>
</div>

<script type="text/javascript">
var flag = []
  $("input[type='submit']").click(function(){
    if (topic_content.html().length < 3 || topic_content.isEmpty()) {
      if ( $("#topic_content").next("span.help-inline").length == 0 ) {
        $("<span class='help-inline'>长度不够(不得少于3个字符)<span>").insertAfter("#topic_content")
      }
      flag.push(true)
    } else {
      if ( $("#topic_content").next("span.help-inline").length > 0 ) {
        $("#topic_content").next("span.help-inline").remove()
      }
      flag.push(false)
    }

    if ( $("#grade").is(":visible") ) {
      if ( $("#squad_id").length > 0 ) {
        if($("#grade").next("span.help-inline").length > 0) {
          $("#grade").next("span.help-inline").remove()
        }
        flag.push(false);
      } else if ( $("#topic_squad_label").length > 0 || $("#topic_squad").length > 0 ) {
        flag.push(false)
      } else {
        if( $("#grade").next("span.help-inline").length == 0 ) {
          $("<span class='help-inline'>必须选择班级</span>").insertAfter($("#grade"))
        }
        flag.push(true);
      }
    }

    if( $("#topic_topic_category").val() == "" ) {
      if ( $("#topic_topic_category").next("span.help-inline").length == 0 ) {
        $("<span class='help-inline'>必须选择论坛分类<span>").insertAfter("#topic_topic_category")
      }
      flag.push(true)
    } else {
      if ( $("#topic_topic_category").next("span.help-inline").length > 0 ) {
        $("#topic_topic_category").next("span.help-inline").remove()
      }
      flag.push(false)
    }

    for( i in flag ) {
      if(flag[i] == true) {
        flag.length = 0;
        return false;
      }
    }
  })
  $("#grade").change(function() {
      $.get(
        "/my_school/topics/grade_squad_partial",
        {
          grade: $("#grade").val()
        },
        function(result) {
          $("#grade_squad_partial").html(result);
        }
      )
  }).trigger("change")
  $("input[type='radio']").change(function() {
    if ( $(this).val() == "squad" ) {
      $("#select_squad").show()
    } else {
      $("#select_squad").hide()
    }
  })
</script>
