<div class="topic topic_line pull-left">
  <div class="iCheck_checkbox pull-left"><input type="checkbox" /></div>
  <div class="avatar pull-left"><img src="<%= topic.creater.try(:asset_logo) ? topic.creater.asset_logo.public_filename(:thumb) : '/t/colorful/user_logo.png' %>" width="83" alt="头像"/>
  </div>
  <div class="right_info">
    <div class="replies pull-right">
      <%if topic.approve_status != 0 %>
      <span>审核状态: <%= News::STATUS[topic.approve_status] %></span>
      <%end%>
      <% if choose_operate_show("my_school/topics/show") %>
        <a href="<%= my_school_topic_path(topic) %>" title="查看<%= topic.title %>" alt="查看<%= topic.title %>"><i class="icon-eye-open"></i></a>
      <% end %>
      <% if choose_operate_show("my_school/topics/edit") and topic.creater_id == current_user.id %>
        <a href="<%= edit_my_school_topic_path(topic) %>" title="编辑<%= topic.title %>" alt="编辑<%= topic.title %>"><i class="icon-edit"></i></a>
      <% end %>
      <% if topic.topic_entries.any? %>
        <%= link_to topic.topic_entries.count, my_school_topic_path(topic, anchor: "topic_entries"), class: "count", style: "margin: 0" %>
      <% end %>
    </div>
    <div class="infos">
      <div class="title">
        <% if topic.is_top == true %>
          <a href="<%= my_school_topic_path(topic) %>" alt="[置顶]<%= topic.title %>" title="[置顶]<%= topic.title %>"><%= topic.title %></a>
          <span><img src="/t/colorful/is_top.gif" alt="" /></span>
        <% else %>
          <%= link_to topic.title, my_school_topic_path(topic) %>
        <% end %>
      </div>
      <div class="info">
        <em><%= topic.topic_category.try(:name) %></em><em>&nbsp;*&nbsp;</em><em><%= topic.creater.try(:name) %></em>
        <em>发表于</em><abbr><%= topic.created_at.try(:to_long_datetime) %></abbr>
      </div>
    </div>
  </div>
</div>

<script type="text/javascript">
  $('input').iCheck({
    checkboxClass: 'icheckbox_square-blue',
    radioClass: 'iradio_square-blue',
    increaseArea: '20%' // optional
  });
  $("#check_all").on('ifClicked', function() {
    if(this.checked) {
      $(".check").iCheck('uncheck');
    } else {
      $(".check").iCheck('check');
    }
  })

</script>
