<div class="topic topic_line pull-left">
  <% if choose_operate_show("my_school/topics/destroy") and delete_topic?(topic) %>
    <div class="pull-left"><input type="checkbox" class="check" name="topic[]" id="topic_<%= topic.id %>" value="<%= topic.id %>" /></div>
  <% else %>
    <div class="pull-left place place-input-position"></div>
  <% end %>
  <div class="avatar pull-left"><img src="<%= topic.try(:creater) && topic.creater.asset_logo ? topic.creater.asset_logo.public_filename(:thumb) : '/t/colorful/user_logo.png' %>" width="83" alt="头像"/>
  </div>

  <div class="clearfix">
    <div class="replies pull-right">
      <%if topic.approve_status != 0 %>
        <span>审核状态: <%= News::STATUS[topic.approve_status] %></span>
      <%end%>
      <% if choose_operate_show("my_school/topics/show") %>
        <a href="<%= my_school_topic_path(topic) %>" title="查看<%= topic.title %>" alt="查看<%= topic.title %>"><i class="img-icon icon-eye-open"></i></a>
      <% else %>
        <a class="place place-icon-position"></a>
      <% end %>
      <% if choose_operate_show("my_school/topics/edit") and edit_topic?(topic) %>
        <a href="<%= edit_my_school_topic_path(topic) %>" title="编辑<%= topic.title %>" alt="编辑<%= topic.title %>"><i class="img-icon icon-edit"></i></a>
      <% else %>
        <a class="place place-icon-position"></a>
      <% end %>
      <% if choose_operate_show("my_school/topics/destroy") and delete_topic?(topic) %>
        <a href="<%= my_school_topic_path(topic) %>" data-confirm="您确定删除该贴子吗" data-method="delete" title="删除<%= topic.title %>" alt="删除<%= topic.title %>"><i class="img-icon icon-remove-sign"></i></a>
      <% else %>
        <a class="place place-icon-position"></a>
      <% end %>
      <%= link_to raw("<span class='badge badge-info badge-info-margin'>#{topic.topic_entries.count}</span>"), my_school_topic_path(topic, anchor: "topic_entries"), class: "badge-wrap-reply" %>
    </div>
    <div class="infos clearfix">
      <div class="title">
        <% if topic.is_top == true %>
          <a href="<%= my_school_topic_path(topic) %>" alt="[置顶]<%= topic.title %>" title="[置顶]<%= topic.title %>"><%= truncate(topic.title) %></a>
          <span><img src="/t/colorful/is_top.gif" alt="" /></span>
        <% else %>
          <%= link_to truncate(topic.title), my_school_topic_path(topic) %>
        <% end %>
        <% if current_user.id == topic.creater_id %>
          <span class="icon-customecomment"></span><span class="adjust">(<%= topic.unread_comment_count %>)</span>
        <% end %>
      </div>
      <div class="info">
        <span class="label label-info label-info-squad">
          <% if topic.squad.present? %>
            <%= topic.squad.try(:name) %>
          <% else %>
            全园可见
          <% end %>
        </span>
        <% unless @topic_category_id.present? %>
          <span class="label label-success">
              <%= topic.topic_category.try(:name) %>
          </span>
        <% end %>
      </div>
      <div class="info">
        <abbr><%= topic.try(:creater).try(:name) %>&nbsp;发表于&nbsp;<%= topic.created_at.try(:to_long_datetime) %></abbr>
      </div>
    </div>
  </div>
  <!-- end right info -->
</div>
