<div class="show_work">
  <%= render :partial => "/modules/#{view_layout}/work_menu" %>
  <div class="work">
    <div class="headline">
      <div class="headline_title">
        <div class="messages_root"></div>
        <label>论坛信息</label>
        <div class="crumbs">
          <a href="/my_school/home" title="返回首页">
            <div class="icon_home"></div>
          </a>
          <ul>
            <li>论坛信息</li>
            <li>/</li>
            <li>论坛贴子</li>
          </ul>
        </div>
      </div>

      <ul class="work_action">
        <li>
          <% if choose_operate_show("my_school/topics/new") %>
            <a href="<%=url_for(:controller=>"/my_school/topics",:action=>:new, :topic_category_id => params[:topic_category_id])%>" title="添加">
              <%= render partial: "/my_school/commons/add_action" %>
            </a>
          <% end %>
        </li>
        <li>
          <% if choose_operate_show("my_school/topics/destroy") && can_destroy_index?%>
            <a href="javascript: void(0)" rel="nofollow" title="删除" id="destroy_multiple">
              <%= render partial: "/my_school/commons/delete_action" %>
            </a>
          <% end %>
        </li>
      </ul>
    </div>
    <%= render "tab_topic" %>
    <%= render partial: "search_form" %>
    <div class="work_list">
      <div class="topics" id="topics" style="position: relative;">
        <%= render "tab_topics" %>
      </div>
    </div>
  </div>

</div>

<script type="text/javascript">
   $("#destroy_multiple").click(function(){
    if (confirm('您确定删除选中的贴子吗')) {
      $("#destroy_multi_form").submit();
    }
  });

</script>
