<div class="show_work">
  <%= render :partial => "/modules/colorful/work_menu" %>
  <div class="work">
    <div class="headline">
      <div class="headline_title">
        <div class="messages_root"></div>
        <label>论坛信息管理</label>
        <div class="crumbs">
          <a href="/my_school/home" title="返回首页">
            <div class="icon_home"></div>
          </a>
          <ul>
            <li>论坛信息管理</li>
            <li>/</li>
            <li>贴子管理</li>
          </ul>
        </div>
      </div>
      <ul class="work_action">
        <li>
          <a href="<%=url_for(:controller=>"/my_school/topics",:action=>:new)%>" title="添加">
            <div class="work_action_add">
            </div>
            <div class="work_action_add_move">
            </div>
          </a>
        </li>
      </ul>
    </div>
    
    <div class="search_form">
     <%= form_tag '/my_school/topics' , :method=>"get" do %>
      <b>标题：</b>
      <%= text_field :topic,:title_like,:style=>"width:100px;" ,:value=>"#{params[:topic][:title_like] if params[:topic] }"  %>
      <%= submit_tag "搜索" %>
      <%end%>
    </div>
    <div class="work_list">
      <% if @topics.any? %>
        <table class="table table-striped table-hover">
          <tr>
            <th>标题</th>
            <th>发贴人</th>
            <th>查看次数</th>
            <th colspans="2">操作</th>
          </tr>
          <% @topics.each do |topic| %>
            <tr>
              <td><%= link_to topic.title, my_school_topic_path(topic) %></td>
              <td><%= User.find_by_id(topic.creater_id).name %></td>
              <td><%= topic.show_count %></td>
              <td><%= link_to "查看", my_school_topic_path(topic), :class => "show" %></td>
              <td><%= link_to "编辑", edit_my_school_topic_path(topic), :class => "show" %></td>
            </tr>
          <% end %>
        </table>
        <%= paginate @topics %>
      <% else %>
        暂时没有贴子
      <% end %>
    </div>
  </div>

</div>
