<div class="show_work">
  <%= render :partial => "/modules/colorful/work_menu" %>
  <div class="work">
    <div class="headline">
      <div class="headline_title">
        <div class="messages_root"></div>
        <label>论坛信息</label>
        <div class="crumbs">
          <a href="/my_school/home" title="返回首页">
            <div class="icon_home"></div>
          </a>
          <ul>
            <li>论坛信息</li>
            <li>/</li>
            <li>论坛贴子</li>
          </ul>
        </div>
      </div>

      <ul class="work_action">
        <li>
          <% if choose_operate_show("my_school/topics/new") %>
            <a href="<%=url_for(:controller=>"/my_school/topics",:action=>:new, :topic_category_id => params[:topic_category_id])%>" title="添加">
              <div class="work_action_add">
              </div>
              <div class="work_action_add_move">
              </div>
            </a>
          <% end %>
        </li>
        <li>
          <% if choose_operate_show("my_school/topics/destroy") %>
            <a href="javascript: void(0)" rel="nofollow" title="删除" id="destroy_multiple">
              <div class="work_action_delete">
              </div>
              <div class="work_action_delete_move">
              </div>
            </a>
          <% end %>
        </li>
      </ul>
    </div>
    <%= render "tab_topic" %>
    <div class="search_form">
     <%= form_tag '/my_school/topics' , :method=>"get" do %>
      <b>标题：</b>
      <%= text_field :topic,:title_like,:style=>"width:100px;" ,:value=>"#{params[:topic][:title_like] if params[:topic] }"  %>
      <b>内容：</b>
      <%= text_field :topic,:content_like,:style=>"width:100px;" ,:value=>"#{params[:topic][:content_like] if params[:topic] }"  %>

      <%= submit_tag "搜索", :class => "btn search_btn" %>
      <%end%>
    </div>
    <div class="work_list">
      <div class="topics" id="topics">
        <%= render "tab_topics" %>
      </div>
    </div>
  </div>

</div>

<script type="text/javascript">
$(document).ready(function(){
  $("#check_all").live('click', function() {
    $(".check").attr("checked",this.checked);
  })

  $("#destroy_multiple").click(function(){
    if (confirm('您确定删除选中的贴子吗')) {
      $("#destroy_multi_form").submit();
    }
  });
});
</script>
