<div class="show_work">
  <%= render :partial => "/modules/colorful/work_menu" %>
  <div class="work">
    <div class="headline">
      <div class="headline_title">
        <div class="messages_root"></div>
        <label>论坛管理信息</label>
        <div class="crumbs">
          <a href="/my_school/home" title="返回首页">
            <div class="icon_home"></div>
          </a>
          <ul>
            <li><%= link_to "论坛贴子", my_school_topics_path %></li>
            <li>/</li>
            <li>查看贴子</li>
          </ul>
        </div>
      </div>
      <ul class="work_action">
        <li>
          <% if choose_operate_show("my_school/topics/edit") %>
            <a href="<%=url_for(:controller=>"/my_school/topics",:action=>:edit,:id=>@topic.id)%>" title="编辑">
              <div class="work_action_edit">
              </div>
              <div class="work_action_edit_move">
              </div>
            </a>
          <% end %>
        </li>
        <li>
          <% if choose_operate_show("my_school/topics/destroy") %>
            <%= link_to(url_for(:controller=>"/my_school/topics",:action=>:destroy,:id=>@topic.id),:method=>:delete, :confirm => "您确定删除该贴子吗?") do %>
              <div class="work_action_delete">
              </div>
              <div class="work_action_delete_move">
              </div>
            <% end %>
          <% end %>
        </li>
        <li>
          <% if choose_operate_show("my_school/topics/index") %>
            <a href="<%=url_for(:controller=>"/my_school/topics",:action=>:index)%>" title="返回">
              <div class="work_action_return">
              </div>
              <div class="work_action_return_move">
              </div>
            </a>
          <% end %>
        </li>
      </ul>
    </div>

    <div class="work_form">
      <div class="form_div">

        <div id="topic_show" class="show">
          <div class="content_up">
            <p class="title">
              <span><%= @topic.title %><span>
              <% if @topic.is_top == true %>
                <span><img src="/t/colorful/is_top.gif" alt="" /></span>
              <% end %>
            </p>
            <table class="attributes">
              <tr>
                <th>分类</th>
                <td class="text-center"><%= @topic.topic_category.name %></td>
                <% if @topic.squad.present? %>
                  <th>班级</th>
                  <td style="width: 30%;" class="text-center"><%= @topic.squad.try(:name) %></td>
                <% else %>
                  <th colspan="2" class="text-center">全园可见</th>
                <% end %>
              </tr>
            </table>
            <p class="info">
              <span class="link">
                <%= @topic.creater.try(:name) %>
              </span>&nbsp;创建于&nbsp;<span class="time"><%= @topic.try(:created_at).try(:to_long_datetime) %></span>
            </p>
            <%= render :partial=>"/my_school/approves/load_approves_log" ,:locals=>{:record_id=>@topic.approve_record.try(:id),:approve_status=>@topic.approve_status} %>
          </div>
          <div class="content"><%= raw @topic.content %></div>
          <% unless @topic.appurtenances.blank? %>
            <div >
                <span>已上传附件:</span>
               <%(@topic.appurtenances || []).each do |app|%>
               <p><%=link_to app.file_name,app.avatar_url,:class=>"blue"%></p>
               <%end%>
            </div>
          <% end %>
        </div>

        <div class="reply">
          <div id="topic_entries">
            <% unless @topic_entries.blank? %>
              <div class="total"><b>共收到<span id="total"><%= @topic_entries.total_count %></span>条回复</b></div>
              <%= render :partial => "my_school/topic_entries/topic_entry", :collection => @topic_entries %>
              <%= paginate @topic_entries, params: {anchor: "topic_entries"} %>
            <% else %>
              <p class="no_reply">暂无回复</p>
            <% end %>
          </div>
          <%= simple_form_for(@topic_entry, :validate => true, :url => my_school_topic_entries_path, :html => {:class => "form-horizontal"}, remote: true) do |f| %>
            <%= render :partial => "topic_form", :object => f %>
          <% end %>
        </div>

      </div>
    </div>
  </div>

</div>

<script type="text/javascript">
$(".fancybox").fancybox();
</script>
