<div class="show_publicity">
  <img src="/t/colorful/small_publicity.jpg" alt="展示图"/>
</div>
<div class="show_work">
  <%= render :partial => "/modules/colorful/work_menu" %>
  <div class="work">
    <div class="headline">
      <div class="headline_title">
        <div class="messages_root"></div>
        <label>论坛管理信息</label>
        <div class="crumbs">
          <a href="/my_school/home" title="返回首页">
            <div class="icon_home"></div>
          </a>
          <ul>
            <li><%= link_to "论坛贴子", my_school_topics_path %></li>
            <li>/</li>
            <li>查看贴子</li>
          </ul>
        </div>
      </div>
      <ul class="work_action">
        <li>
          <% if choose_operate_show("my_school/topics/new") %>
            <a href="<%=url_for(:controller=>"/my_school/topics",:action=>:new)%>" title="添加">
              <div class="work_action_add">
              </div>
              <div class="work_action_add_move">
              </div>
            </a>
          <% end %>
        </li>
        <li>
          <% if choose_operate_show("my_school/topics/edit") %>
            <a href="<%=url_for(:controller=>"/my_school/topics",:action=>:edit,:id=>@topic.id)%>" title="编辑">
              <div class="work_action_edit">
              </div>
              <div class="work_action_edit_move">
              </div>
            </a>
          <% end %>
        </li>
        <li>
          <% if choose_operate_show("my_school/topics/destroy") %>
            <%= link_to(url_for(:controller=>"/my_school/topics",:action=>:destroy,:id=>@topic.id),:method=>:delete, :confirm => "您确定删除该贴子吗?") do %>
              <div class="work_action_delete">
              </div>
              <div class="work_action_delete_move">
              </div>
            <% end %>
          <% end %>
        </li>
        <li>
          <% if choose_operate_show("my_school/topics/index") %>
            <a href="<%=url_for(:controller=>"/my_school/topics",:action=>:index)%>" title="返回">
              <div class="work_action_return">
              </div>
              <div class="work_action_return_move">
              </div>
            </a>
          <% end %>
        </li>
      </ul>
    </div>

    <div class="work_form">
      <div class="form_div">

        <div id="topic_show" class="show">
          <div class="content_up">
            <p class="title"><span><%= @topic.is_top ? "[顶]" : "" %><%= @topic.title %><span><span class="squad_name"><%= @topic.squad ? "*#{@topic.squad.name}" : "" %></span></p>
                <p class="info">
                  <span class="link">
                    <%= @topic.topic_category.name %>
                  </span>
                  &nbsp;由&nbsp;
                  <span class="link">
                    <%= @topic.creater.try(:name) %>
                  </span>&nbsp;创建于&nbsp;<span class="time"><%= @topic.try(:created_at).try(:to_long_datetime) %></span></p>
          </div>
          <div class="content"><%= raw @topic.content %></div>
        </div>

        <div id="topic_entries">
          <% unless @topic_entries.blank? %>
            <div class="total"><b>共收到<%= @topic_entries.count %>条回复</b></div>
            <% @topic_entries.each do |topic_entry, e| %>
              <div id="topic_entry_<%= topic_entry.id %>" class="show_entry">
                <div class="content_left">
                  <div class="user_head_logo"><img src="<%= topic_entry.creater.asset_logo ? topic_entry.creater.asset_logo.public_filename(:thumb) : '/t/colorful/user_logo.png' %>" width="83" alt="头像"/></div>
                </div>
                <div class="content_right">
                  <p class="info"><span class="author"><%= topic_entry.creater.try(:name) %></span>&nbsp;回复于&nbsp;<span class="time"><%= time_ago_in_words(topic_entry.try(:created_at)) %></span></p>
                  <div class="content"><%= simple_format topic_entry.content %></div>
                </div>
              </div>
            <% end %>
            <%= paginate @topic_entries %>
          <% else %>
            暂无回复
          <% end %>
        </div>
        <%= simple_form_for(@topic_entry, :validate => true, :url => my_school_topic_entries_path, :html => {:class => "form-horizontal"}) do |f| %>
          <%= render :partial => "topic_form", :object => f %>
        <% end %>
      </div>
    </div>
  </div>

</div>
