<%= stylesheet_link_tag    "css/style_v.css" %> 
<%= javascript_include_tag "js/jquery.timelinr-0.9.53.js" %>
<script>
  $(function(){
    $().timelinr({
      orientation:  'vertical',
      issuesSpeed:  300,
      datesSpeed:   100,
      arrowKeys:    'true',
      startAt:    3
    })
  });
</script>
<script type="text/javascript">
  jQuery(function() {
    $('#personal_set_created_at_greater_than_or_equal_to').datepicker({
      language: "zh-CN",
      format:"yyyy-mm-dd"
    }).on("changeDate", function() {
      $(this).datepicker('hide')
    });
    $('#personal_set_created_at_less_than_or_equal_to').datepicker({
      language: "zh-CN",
      format:"yyyy-mm-dd"
    }).on("changeDate", function() {
      $(this).datepicker('hide')
    });


  })

</script>
<div class="show_work">
  <%= render :partial => "/modules/#{view_layout}/work_menu" %>
  <div class="work">
    <div class="headline">
      <div class="headline_title">
        <div class="messages_root"></div>
        <label>个人集锦</label>
        <div class="crumbs">
          <a href="/my_school/home" title="返回首页">
            <div class="icon_home"></div>
          </a>
          <ul>
          </ul>
        </div>
      </div>
      <ul class="work_action">
        <li>

          <%=(link_to "<div class='work_action_add'>
  </div><div class='work_action_add_move'>
  </div>".html_safe ,new_my_school_personal_set_path)%>
          <%
          #if choose_operate_show('my_school/personal_sets/new')
          %>

        </li>
      </ul>
    </div>

    <%= render partial: "search_form" %>


    <div class="work_list" >

      <div id="timeline">
        <ul id="dates">
          <% (@sets || []).each do |set| %>
            <li>
              <a href="#<%=set.created_at.try(:to_long_datetime)%>" class="selected"><%=set.created_at.try(:to_long_datetime)%>
              </a>
            </li>
          <%end%>
        </ul>
        <ul id="issues">
          <% (@sets || []).each do |set| %>
            <li id="<%=set.created_at.try(:to_long_datetime)%>" class="selected">
              <%if set.resource_type=="PhotoGallery"%>
                <img src="<%= set.resource.try(:public_filename) %>" width="256px" height="256px"  class="img-rounded" />
              <%else%>
                <h1>
                  <% if set.resource.tp == 1 && !set.resource.audio_turn.blank? %>
                    <object type="application/x-shockwave-<tuihighlight class='tuihighlight'>flash</tuihighlight>" data="/dewplayer-vol.swf?mp3=<%=set.resource.audio_turn%>" width="240" height="20" id="dewplayer-vol"><param name="wmode" value="transparent" /><param name="movie" value="/dewplayer-vol.swf?mp3=<%=set.resource.audio_turn%>" /></object>
                    <br/>
                  <% end %>
                  <%=set.resource.try(:content)%>
                </h1>
              <%end%>
              <%if @flag=="student"%>
                <%=link_to "添加到成长记录" , new_my_school_growth_record_path(:personal_set_id=>set.id),:class=>"link_to_grow btn"%>
              <%else%>
                <%=link_to "添加到成长记录" ,new_my_school_garden_growth_record_path(:personal_set_id=>set.id),:class=>"link_to_grow btn"%>
              <%end%>
              <%= link_to '删除', my_school_personal_set_path(set), :method=> :delete, :data=> { :confirm=> '你确定删除该信息吗' },:class=> "destroy" ,:class=>"personal_set_delete btn"%>
            </li>
          <% end %>
        </ul>
        <div id="grad_top"></div>
        <div id="grad_bottom"></div>
        <a href="#" id="next">+</a>
        <a href="#" id="prev">-</a>
      </div>
      <div class="paginate_div">
        <%= paginate @sets  %>
      </div>
    </div>
  </div>
</div>

