<%= stylesheet_link_tag    "css/banner"%>
<%= javascript_include_tag "js/banner.js"%>
<div class="official_home_index">
  <div class="official_home_info">
    <div class="official_show_happy">
      <div class="home_link">
        <script  type="text/javascript">
          $(function() {
            $(".home_link a").hover(function(){
              $(this).next().toggle();
            });
          });
        </script>
        <ul>
          <li><a href="/my_school/main/show_cookbooks" class="cookbook" title="每周菜谱"></a>
            <div class="home_link_div cookbook">
              每周菜谱
              <div class="home_link_note">
                关心孩子每一天的饮食
              </div>
            </div>
          </li>
          <li><a href="/my_school/main/show_wonderful_episodes" class="video" title="精彩视频"></a>
            <div class="home_link_div video">
              精彩视频
              <div class="home_link_note">
                记录孩子的点点滴滴
              </div>
            </div>
          </li>
        </ul>
      </div>
    </div>
    <div class="official_right_work">
      <div class = "official_home_news">
        <div class="official_home_news_image">
          最新消息
          <div class="officail_news_more">
            <%=link_to "<strong>查看更多</strong>".html_safe ,show_new_list_my_school_main_index_path %>
          </div>
        </div>
        <div class="official_home_news_content">
          <ul class="official_home_news_list">
            <%(@news||[]).each do |n_ew|%>
              <li>
                <div class="official_square"></div>
                <div class="official_font">
                  <%= link_to truncate(n_ew.title || "",:length=>29), show_one_new_my_school_main_index_path(:new_id=>n_ew.id),:title=>n_ew.title %>
                </div>
                <div class="official_time">
                  <%= n_ew.start_data.try(:to_short_datetime)%>
                </div>
              </li>
            <%end%>
          </ul>
        </div>
      </div>
      <div class = "official_home_address">
        <div class="official_home_address_image">
        </div>
        <div class="official_home_address_content">
          <div class="official_home_address_logo">

          </div>
          <div class="official_home_address_info">
            <div class="official_label">
              <div class="official_label_left"></div>
              <div class="official_label_center">地址</div>
              <div class="official_label_right"></div>
            </div>
            <p><%=@kind.address.blank? ? "幼儿园暂时没有填写地址" : @kind.address %></p>
            <div class="official_label">
              <div class="official_label_left"></div>
              <div class="official_label_center">联系电话</div>
              <div class="official_label_right"></div>
            </div>
            <p><%=@kind.telephone.blank? ? "暂时没有填写" : @kind.telephone%></p>
            <% if @kind.has_choose_operate?(11100) %>
              <div class="official_label">
                <div class="official_label_left"></div>
                <div class="official_label_center">园长信箱</div>
                <div class="official_label_right"></div>
              </div>
              <span>
                <a href="<%= url_for(:controller=>"/my_school/main",:action=>"dean_email_list") %>" >
                  <img src="/star_imgs/dean_emails.png" alt="园长信箱" />
                </a>
              </span>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>