<div class="new_form">
  <div class="contact_title_form">
    <div class="contact_title_img"></div>
    <div class="contact_title_label">新闻动态</div>
  </div>

  <div class="official_new_title">
    <form class="form-horizontal">
      <div class="control-group">
        <label class="control-label_left" >新闻标题</label>
        <div class="controls">
          <label class="show_label">
            <%=raw @new.title%>
          </label>
        </div>
      </div>
      <div class="official_new_dotted_line">
      </div>
      <div class="control-group">
        <div class="time_control">
          <div class="time_control_title">
            <lable>发布时间</lable>
          </div>
          <label class="">
            <%= @new.start_data.try(:to_long_datetime)%>
          </label>
        </div>
        <div class="show_count_time">
          <div class="time_control_title">
            <lable>浏览次数</lable>
          </div>
          <label class="">
            <%= @new.show_count%>
          </label>
        </div>
      </div>
      <div class="official_new_dotted_line">
      </div>
      <div class="control-group">
        <label class="show_label">
          <%=raw @new.content%>
        </label>
      </div>
      <div class="official_new_solid_line">
      </div>
      <div class="control-group">
        <%=render :partial =>"/my_school/news/new_show_case"%>
      </div>
    </form>

  </div>
  <div class = "next_to_new">
    <%unless @new_pre.blank?%>
      <%= link_to "上一篇", show_one_new_my_school_main_index_path(:new_id=>@new_pre.id),:class=>"btn" %>
    <%end%>
    <%unless @new_next.blank?%>
      <%= link_to "下一篇", show_one_new_my_school_main_index_path(:new_id=>@new_next.id),:class=>"btn" %>
    <%end%>
  </div>
  <div class="new_more_button">
    <%=link_to "更多" ,show_new_list_my_school_main_index_path ,:class=>"btn"%>
  </div>
</div>