<% content_for :jplayer do %>
  <script type="text/javascript">
    $(document).ready(function(){
      $("#jquery_jplayer_1").jPlayer({
        ready: function () {
          $(this).jPlayer("setMedia", <%= jplayer_get_video_url(@wonderful_episode) %>);
        },
        swfPath: "/js",
        supplied: "m4v, ogv"
      });
    });
  </script>
<% end %>
<div class="container">
  <%= render :partial => "/modules/colorful/weixin_head" %>
</div>
<div class="message_div">
  <div class="message_title">
    <a href="<%= url_for(:action=>:index) %>" title="返回" class="weixin_return">返回</a>精彩视频详情
  </div>
  <div class="show_title">
    <div class="title">
      <label>标 题:<%= @wonderful_episode.title %></label>
    </div>
    <div class="title">
      <label>发布人:<%= @wonderful_episode.creater.try(:name)%> *<%= @wonderful_episode.squad_label %>*</label>
    </div>
    <div class="limit_title">
      <label>时 间:<%=@wonderful_episode.created_at.try(:to_long_datetime)%></label>
    </div>
    <div class="title">
      <label>浏览次数: <%= @wonderful_episode.show_count %></label>
    </div>
  </div>
  <div class="message_list">
    <%= render partial: "/my_school/commons/jplayer_container"%>
    <br/>
  </div>
</div>
<%= render :partial => "/modules/colorful/weixin_menu_navbar"%>
<%= render :partial => "/modules/colorful/weixin_menu_one"%>
