<%= semantic_form_for @kind, :url =>url_for(:controller=>"/admin/option_operates",:action=>"update_functional"), :method => :post do |f| %>
  <%= f.inputs '幼儿园信息' do %>
    <%= f.input :number, :as => :string, :input_html => { :disabled => true } %>
    <%= f.input :name, :as => :string, :input_html => {:disabled => true} %>
    <%= f.input :status, :as => :string, :input_html => {:disabled => true} %>
    <%= f.input :template, :input_html => {:disabled => true} %>
    <%= f.input :note, :as => :text, :input_html => {:disabled => true} %>
  <% end %>
  <%= f.inputs "给班级分配权限" do %>
    <% @operate_root.children.each do |c| %>
      <li class='check_boxes'>
      <fieldset>
        <legend class="label"><label><input class="flag_check" type="checkbox" name="" value="" alt="全选" id="flag_<%= c.id %>" /><%= c.name %></label></legend>
        <ol>
          <% c.children.each do |operate| %>
            <li>
            <label for="operate_<%= operate.id %>">
              <input id="operate_<%= operate.id %>" class="flag_<%= c.id %>_operate" name="operate[]" type="checkbox" value="<%= operate.id %>" <%= @kind.operates.include?(operate) ? "checked=true default=true": nil %> /> <%= operate.name %> </label>
            </li>
          <% end %>
        </ol>
      </fieldset>
      </li>
    <% end %>
    <%= f.input :id,:as=>:hidden, :input_html => {:name => "kindergarten_id"}%>
    <a href="javascript:void(0);" id="recovery">撤消</a>

    <%= f.actions %>
  <% end %>
<% end %>

<script type="text/javascript">
  $(function() {

    $(".flag_check").each(function() {
      var check_val = "." + $(this).attr("id") + "_operate"
      $(this).click(function() {
        $(check_val).attr("checked", this.checked)
      })
    })

    $("#recovery").click(function() {
      $("input").each(function() {
        if ( $(this).attr("default") == "true" ) {
          $(this).attr("checked", true);
        } else {
          $(this).attr("checked", false);
        }
      })
    })
  });
</script>
