<div style="float:left;width:100%;padding-left: 50px; min-height: 500px; _height: 500px;">
 <div id="left_tree" style="float:left;width:200px">
  <h2>帮 助 信 息</h2>
  <ul id="sys_function_groups_tree">
    <%= nested_set_to_treeview @help_categories, :current_node=>@help_categories %>
  </ul>
</div>
<div id="right_list" style="float:left;min-width:600px;">
  <%= render 'show_video' %>
</div>
</div>
  <% #content_for :script do %>
  <%= include_jquery_ui_tag %>
    <%= include_jquery_treeview_tag %>
  <%= include_jquery_treetable_tag %>
  <style type="text/css">
    #sys_function_groups_tree span.file{cursor:pointer;}
    #sys_function_groups_tree li.focus{background-color:#9acd32;}
  </style>
  <script type="text/javascript">
    $(function(){
        // 属性初始化
        $('#sys_function_groups_tree').treeview();

        $('#sys_function_groups_tree span.file').live('click', function(){
            $('#sys_function_groups_tree li.focus').removeClass('focus');
            $(this).parent().addClass('focus');
            var g_id = $(this).attr('nodeid');
            $('#right_list').load('<%= show_videos_my_school_home_index_path%>', "req=ajax&group_id="+g_id);
        });

        // 系统功能结构管理对话框窗口初始化
        $('#sys_architecture_manage').dialog({autoOpen:false,modal:true,width:620,height:445});
        //树形表格初始化
    $("#sys_architecture_manage_tree").treeTable({clickableNodeNames:true});
        // 打开新增功能结构的界面
        $('#btn_new_category').click(function(){
            $('#sys_architecture_manage_editor').load(this.href, function(){
                $("#sys_architecture_manage_tree").hide();   // 结构树隐藏，结构编辑区显示
                $('#sys_architecture_manage_editor').show();
                $('#sys_architecture_manage').dialog('open');
            });
            return false;
        });
        // 打开系统结构树管理的界面
        $('#btn_open_architecture_tree').click(function(){
            $("#sys_architecture_manage_tree").show();   // 结构树显示，结构编辑区隐藏
            $('#sys_architecture_manage_editor').hide();
            $('#sys_architecture_manage').dialog('open');
            return false
        });
        $('#sys_architecture_manage_tree a.edit_link').live('click', function(){
            $('#sys_architecture_manage_editor').load(this.href, function(){
                $("#sys_architecture_manage_tree").hide();   // 结构树隐藏，结构编辑区显示
                $('#sys_architecture_manage_editor').show();
            });
            return false;
        });
    });
  </script>
