<div class="food">
  <div class="food_content">
    <hr />
    <%= link_to "首页","/" %>|
    <%= link_to "关于我们","/my_school/main/about" %>|
    <%= link_to "联系我们","/my_school/main/contact_us" %>|
    <%= link_to "帮助","/my_school/home/help_videos" %>
    <hr />
    <label>
      @2013 by 微壹. All rights reserved.
    </label>
    服务热线：4000-915-985<br/>
      <a target="_blank" href="http://www.miitbeian.gov.cn"><%= WEBSITE_CONFIG["record_code"] %></a>
  </div>
</div>
