<% page_content = official_website_admissions_information %>
<table class="table table-bordered">
  <tr>
    <th>内容</th>
    <th>操作</th>
  </tr>
  <% if page_content.content_entries.blank? %>
    <tr>
      <td>没有内容</td>
      <td></td>
      <td></td>
    </tr>
  <%else%>
    <% (page_content.content_entries|| []).each do |entry|%>
    <tr>
      <td><%= raw entry.title %></td>
      <td><%= raw entry.content %></td>
      <td>
        <%= link_to "编辑",:controller=>"/my_school/page_contents",:action=>:edit_content,:id=>page_content.id,:entry_id=>entry.id %>
      </td>
      <%end%>
    </tr>
  <% end %>
</table>
<%if @content_entries%>
<%entry_mid=@content_entries.find_by_number("official_website_admissions_mid_title")  %>
<%entry=@content_entries.find_by_number("official_website_admissions_title") %>
<%end%>
<%if  action_name == "edit_content"%>
<!-- <div class="control-group"> -->
 <%if @entry.number=="official_website_admissions_title"%>
<div class="control-group">
   <label class="control-label">招生信息标题</label>
 <div class="controls">
    <%= text_field_tag :title,entry.try(:title), :class => 'profile_input '%>
 </div>
 </div>
 <div class="control-group">
   <label class="control-label">招生信息内容</label>
 </div>
 <div class="control-group">
    <%#= text_field_tag :content,entry.try(:content), :class => 'profile_input '%>
  <%= kindeditor_tag :content,entry.try(:content), :allowFileManager => false %>
  <%= hidden_field_tag "entry_id",@entry.id %>
 </div>
 <%elsif @entry.number=="official_website_admissions_mid_title"%>
 <div class="control-group">
   <label class="control-label">中间标题</label>
 <div class="controls">
    <%= text_field_tag :mid_title,entry_mid.try(:title), :class => 'profile_input '%>
 </div>
 </div>
 <div class="control-group">
   <label class="control-label">中间内容</label>
 </div>
 <div class="control-group">
    <%#= text_field_tag :mid_content,entry_mid.content, :class => 'profile_input '%>
    <%= kindeditor_tag :mid_content,entry_mid.try(:content), :allowFileManager => false %>
    <%= hidden_field_tag "entry_id",@entry.id %>
 </div>
 <%end%>
<%else%>
<%if entry.blank?%>
 <%flag = true%>
 <div class="control-group">
   <label class="control-label">招生信息标题</label>
 <div class="controls">
    <%= text_field_tag :title,"", :class => 'profile_input '%>
 </div>
 </div>
 <div class="control-group">
   <label class="control-label">招生信息内容</label>
 </div>
 <div class="control-group">
    <%#= text_field_tag :content,"", :class => 'profile_input '%>
    <%= kindeditor_tag :content,"", :allowFileManager => false %>

 </div>
<%end%>
<%if entry_mid.blank?%>
 <%flag = true%>
 <div class="control-group">
   <label class="control-label">中间标题</label>
 <div class="controls">
    <%= text_field_tag :mid_title,"", :class => 'profile_input '%>
 </div>
 </div>
 <div class="control-group">
   <label class="control-label">中间内容</label>
 </div>
 <div class="control-group">
    <%#= text_field_tag :mid_content,"", :class => 'profile_input '%>
    <%= kindeditor_tag :mid_content,"", :allowFileManager => false %>
 </div>
<%end%>
<%end%>
<div class="control-group">
  <div class="controls">
    <%= button_tag "提交" ,:class=>"btn"%>
    <%= hidden_field_tag "tp","official_website_admissions_information" %>
  </div>
</div>