<% page_content = official_website_home %>
<table class="table table-bordered">
  <tr>
    <th>添加模块</th>
    <th>内容</th>
    <th>操作</th>
  </tr>
  <% if page_content.content_entries.blank? %>
    <tr>
      <td>没有内容</td>
      <td></td>
      <td></td>
    </tr>
  <%else%>
    <%(@content_entries || []).each do |entry|%>
    <%if entry.number == "official_home_pub_img" %>
    <tr>  
      <td><span>首页宣传图片</span></td>
      <td><img src="<%=entry.try(:page_img).blank? ? '/t/colorful/483-5552.jpg' : entry.page_img.public_filename %>" alt="" width="400" /></td>
      <td>
        <%= link_to "编辑",:controller=>"/my_school/page_contents",:action=>:edit_content,:id=>page_content.id,:entry_id=>entry.id %>
      </td>    
    </tr>
    <%else%>
    <tr>  
      <td><span>老师信息</span></td>
      <td><div class="official_home_teacher_img">
                  <img src="<%=entry.page_img.blank? ? '/t/colorful/activity_logo1.jpg' : entry.page_img.public_filename %>" alt="" width="200"   />
                </div>
                <div class="teacher_info">
                <div class="teacher_title">
                  <h3><%=entry.title%></h3>
                </div>
                <div class="teacher_content">
                <%=raw entry.content%>
              </div>
             </div></td>
      <td>
        <%= link_to "编辑",:controller=>"/my_school/page_contents",:action=>:edit_content,:id=>page_content.id,:entry_id=>entry.id %>|
        <%= link_to "删除",:controller=>"/my_school/page_contents",:action=>:delete_content,:id=>page_content.id,:entry_id=>entry.id %>
      </td>    
    </tr>
    <%end%>
    <% end %>
  <% end %>
</table>
<%if action_name == "edit_content"%>
  <%if @entry.number == "official_home_pub_img"%>
    <div class="control-group">
         <label class="control-label">首页宣传图片上传</label>
        <div class="controls">
         <label class="show_label">
           <%= file_field_tag 'home_publicity_img', :class => 'profile_input required' %>
         </label>
         <span>建议宽度930像素,高度为370像素</span>
         <img src="<%=@entry.try(:page_img).blank? ? '/t/colorful/483-5552.jpg' : @entry.page_img.public_filename %>" alt="" width="400" />
      <%= hidden_field_tag "entry_id",@entry.id %>
        </div>
      </div>
  <%else%>
    <div class="control-group">
  <label class="control-label">老师姓名及职位</label>
  <div class="controls">
    <label class="show_label">
        <%= text_field_tag :teacher_title,@entry.title, :class => 'profile_input required'%>
    </label>
    <span>如: 张三  园长</span>
  </div>
</div>
<div class="control-group">
  <label class="control-label">老师简介</label>
</div>
<div class="control-group">
    <%#= text_field_tag :teacher_content,@entry.content, :class => 'profile_input '%>
  <%= kindeditor_tag :teacher_content,@entry.content, :allowFileManager => false %> 
    <p>如: 本科学历</p>
    <p>教育学学士学位</p>
    <p>小学高级教师</p>
</div>

<div class="control-group">
    <label class="control-label">老师头像上传</label>
    <div class="controls">
      <label class="show_label">
        <%= file_field_tag 'teacher_img', :class => 'profile_input required' %>
      </label>
      <span>建议高度为200像素,宽200像素</span>
      <div class="official_home_teacher_img">
                  <img src="<%=@entry.page_img.blank? ? '/t/colorful/activity_logo1.jpg' : @entry.page_img.public_filename %>" alt="" width="200"   />
                </div>
      <%= hidden_field_tag "entry_id",@entry.id %>
    </div>
</div>  
  <%end%>
<%else%>
  <%if @content_entries%>
   <%entry=@content_entries.find_by_number("official_home_pub_img")  %>
    <%if entry.blank?%>
      <div class="control-group">
         <label class="control-label">首页宣传图片上传</label>
        <div class="controls">
         <label class="show_label">
           <%= file_field_tag 'home_publicity_img', :class => 'profile_input required' %>
         </label>
         <span> 建议高度970像素,宽度为370像素</span>
        </div>
      </div>
    <%end%>
  <%end%>
<div class="control-group">
  <label class="control-label">老师姓名及职位</label>
  <div class="controls">
    <label class="show_label">
        <%= text_field_tag :teacher_title,"", :class => 'profile_input required'%>
    </label>
    <span>如: 张三  园长</span>
  </div>
</div>
<div class="control-group">
  <label class="control-label">老师简介</label>
</div>
<div class="control-group">
    <%#= text_field_tag :teacher_content,"", :class => 'profile_input '%>
    <%= kindeditor_tag :teacher_content,"", :allowFileManager => false %> 
    <p>如: 本科学历</p>
    <p>教育学学士学位</p>
    <p>小学高级教师</p>
</div>

<div class="control-group">
    <label class="control-label">老师头像上传</label>
    <div class="controls">
      <label class="show_label">
        <%= file_field_tag 'teacher_img', :class => 'profile_input required' %>
      </label>
      <span>建议高度为200像素,宽200像素</span>
    </div>
</div>
<%end%>
<div class="control-group">
  <div class="controls">
    <%= button_tag "提交" ,:class=>"btn"%>
    <%= hidden_field_tag "tp","official_website_home" %>
  </div>
</div>
