<% page_content = official_website_feature %>
<table class="table table-bordered">
  <tr>
    <th>内容</th>
    <th>操作</th>
  </tr>
  <% if page_content.content_entries.blank? %>
    <tr>
      <td>没有内容</td>
      <td></td>
    </tr>
  <%else%>
    <%(page_content.content_entries || []).each do |entry| %>
    <%#entry =page_content.content_entries.first %>
    <tr>
      <td><%= raw entry.title %></td>
      <td><%= raw entry.content %></td>
      <td>
        <% if entry.page_img %>
                <div class="box_feat_img">
                  <img src="<%= entry.page_img.public_filename %>" alt="" width="300"/>
                </div>
          <%else%>
                <div class="box_feat_img">
                  <img src="/t/colorful/HOME_entry_default.png" alt="" width="300"/>
                </div>
       <%end%>
      </td>
      <td>
        <%= link_to "编辑",:controller=>"/my_school/page_contents",:action=>:edit_content,:id=>page_content.id,:entry_id=>entry.id %>
      </td>
    </tr>
    <%end%>
  <% end %>
</table>
<div class="control-group">
  <label class="control-label"><span class="required">*</span>标题</label>
  <div class="controls">
    <label class="show_label">
      <% if action_name == "edit_content" %>
        <%= text_field_tag :title,"#{@entry.title}", :class => 'profile_input required'%>
      <% else %>
        <%= text_field_tag :title,"", :class => 'profile_input required'%>
      <% end %>
    </label>
  </div>
</div>
<div class="control-group">
  <label class="control-label"><span class="required"></span>内容介绍</label>
</div>
<div class="control-group">
  <% if action_name == "edit_content" %>
    <%= text_field_tag :content,"#{@entry.content}", :class => 'profile_input required'%>
    <%= hidden_field_tag "entry_id",@entry.id %>
  <% else %>
    <%= text_field_tag :content,"", :class => 'profile_input '%>
  <% end %>
</div>

<div class="control-group">
  <% if @entry && @entry.page_img %>
    <label class="control-label">上传图片</label>
    <div class="controls">
      <label class="show_label">
        <%= file_field_tag 'img', :class => 'profile_input' %>
      </label>
      <img src="<%= @entry.page_img.public_filename(:middle) %>" alt="展示图片" />
      <%= hidden_field_tag "entry_id",@entry.id %>
    </div>

  <% else %>
    
    <label class="control-label"><span class="required"></span>上传左边大图片</label>
    <div class="controls">
      <label class="show_label">
        <%= file_field_tag 'img', :class => 'profile_input required' %>
      </label>
    </div>
  <% end %>

</div>
<div class="control-group">
  <div class="controls">
    <%= button_tag "提交" ,:class=>"btn"%>
    <%= hidden_field_tag "tp","official_website_feature" %>
  </div>
</div>

<script type="text/javascript">
  var editor;
  KindEditor.ready(function(K) {
    editor = K.create('#content', {
      allowFileManager : true,
      height:400
    });
  });
</script>