<h1>
  <div class="head">
    <a href="<%= url_for(:controller=>"/weixin/main",:action=>:index) %>" title="首页">
      <img src="/t/colorful/w_home.png" alt="首页"/>
    </a>
    <div class="logo">
      <img src="<%= @kind.asset_img ? @kind.asset_img.public_filename : '/t/colorful/logo.png' %>" height="22" alt="Logo"/>
    </div>
    <div class="message_count">
      <% message_count =current_user.get_read_new_count %>
      <%= message_count > 99 ? "99" : message_count %>
    </div>
    <div class="message_img">
      &nbsp;
    </div>
    <%= button_tag "消息信箱" ,:id=>"show_messages"%>
    <br/>
    <span id="kind_name"><%= @kind.name %></span>
          <script type="text/javascript">
            $(function(){
              $("#kind_name").lettering();
              function load_color(){
                var kind_color = ["#EF554C","#f6ab1d","violet","#00c0f6","#a4c500","#f7a200"];
                $("#kind_name span").each(function(index, Element){
                  var color = kind_color[index%kind_color.length];
                  $(this).css("color",color)
                })
              }
              load_color();
            })
          </script>
  </div>
</h1>
<div>
  <% if flash.any? %>
    <div id="flash-messages">
      <% if flash[:notice] %>
        <div class="alert alert-notice">
          <a class="close" data-dismiss="alert">x</a>
          <%= flash[:notice] %>
        </div>
      <% end %>
      <% if flash[:alert] %>
        <div class="alert">
          <a class="close" data-dismiss="alert">x</a>
          <%= flash[:alert] %>
        </div>
      <% end %>
      <% if flash[:success] %>
        <div class="alert alert-success">
          <a class="close" data-dismiss="alert">x</a>
          <%= flash[:success] %>
        </div>
      <% end %>
      <% if flash[:info] %>
        <div class="alert alert-info">
          <a class="close" data-dismiss="alert">x</a>
          <%= flash[:info] %>
        </div>
      <% end %>
      <% if flash[:error] %>
        <div class="alert alert-error">
          <a class="close" data-dismiss="alert">x</a>
          <%= flash[:error] %>
        </div>
      <% end %>
    </div>
  <% end %>
</div>
<script type="text/javascript">
  $(function() {
    $("#show_messages").click(function(){
      window.location.href="<%= url_for(:action=>:index,:controller=>"/weixin/messages") %>";
    })
  })
</script>