<div class="work_menu">
  <ul>
    <li class="root"><div class="option_root"></div><%= link_to "自定义功能","/" %></li>
    <li><%= link_to "年级管理","/" %></li>
    <li><%= link_to "班级管理", :controller => "/my_school/squads", :action => :index %></li>
    <li><%= link_to "教职工管理","/" %></li>
  </ul>
  <ul class="work_ul">
    <% sys_admin_menus.each do |menu| %>
         <% if menu[:current]==true%>
         <%if menu[:children].size >0%>
            <li class='root'><div class='messages_root'></div>
              <%= link_to  menu[:name].match(/^\//) ? image_tag("/t/colorful/#{menu[:name]}.png") : menu[:name], menu[:url]%> 
            </li>
         <%end%>
         <%menu[:children].each do |mm|%>
          <%#= menu[:name]==mm[:name] ? "".html_safe : "<li>".html_safe%>
          <%if menu[:number]!=mm[:number] %>
          <li>
            <%='<div class="work_selected"></div>'.html_safe if mm[:current] %>
            <%= link_to  mm[:name].match(/^\//) ? image_tag("/t/colorful/#{mm[:name]}.png") : mm[:name], mm[:url] ,:class=>"#{mm[:current] ? 'a_selected' : ''}"%> 
          </li>
          <%end%>
         <%end%>
         <%end%>
        <% end %>
  </ul>
</div>
