<div class="show_work">
  <%= render :partial => "/modules/#{view_layout}/work_menu" %>
  <div class="work">
    <div class="headline">
      <div class="headline_title">
        <div class="messages_root"></div>
        <label>表格管理</label>
        <div class="crumbs">
          <a href="/my_school/home" title="返回首页">
            <div class="icon_home"></div>
          </a>
          <ul>
             <li><%= link_to "表格管理", my_school_content_patterns_path %></li>
            <li>/</li>
            <li>编辑表格</li>
          </ul>
        </div>
      </div>
      <ul class="work_action">
        <li>
          <%=link_to "<div class='work_action_return'>
            </div>
            <div class='work_action_return_move'>
            </div>".html_safe ,my_school_content_patterns_path%>
          </li>
      </ul>
    </div>

    <div class="work_form">
      <div class="form_div">
        <%= form_for([:my_school,@content_pattern], :validate => true, :html =>{:class=>"form-horizontal"}) do |f| %>
          <%= render 'form', :f=>f %>
       <% end %>
      </div>
    </div>
  </div>

</div>

