<div id="login">
  <h2><%= title "#{render_or_call_method_or_proc_on(self, active_admin_application.site_title)} #{t('active_admin.devise.login.title')}" %></h2>
  <%     code_size = rand(3) + 4
    session[:noisy_image] = NoisyImage.new(code_size)
    session[:code] = session[:noisy_image].code
  -%>
  <% scope = Devise::Mapping.find_scope!(resource_name) %>
  <%= active_admin_form_for(resource, :as => resource_name, :url => send(:"#{scope}_session_path"), :html => { :id => "session_new" }) do |f| %>
    <% f.inputs do %>
      <% resource.class.authentication_keys.each { |key| f.input key, :input_html => {:autofocus => true}}%>
      <% f.input :password %>
      <% f.input :auth_code,:input_html=>{:name=>"auth_code"} %>
      <%= f.input :remember_me, :label => t('active_admin.devise.login.remember_me'), :as => :boolean, :if =>  false %><!--#devise_mapping.rememberable? }-->
      <li class="string input optional stringish">
        <label>
          &nbsp;
        </label>
        <%= image_tag("/code/code_image?#{Time.now.to_i}") %>
      </li>
    <% end %>
    <% f.actions do %>
      <%= f.action :submit, :label => t('active_admin.devise.login.submit'), :button_html => { :value => t('active_admin.devise.login.submit') } %>
    <% end %>
  <% end %>

  <%= render :partial => "active_admin/devise/shared/links" %>
</div>