<% f = form %>
<script type="text/javascript">
  jQuery(function() {
    $('#activity_start_at').datepicker({
      language: "zh-CN",
      format:"yyyy-mm-dd"
    }).on("changeDate", function() {
      $(this).datepicker('hide')
    });;
    $('#activity_end_at').datepicker({
      language: "zh-CN",
      format:"yyyy-mm-dd"
    }).on("changeDate", function() {
      $(this).datepicker('hide')
    });;

  });
</script>
<div class="field" id="title_field">
  <label class="field_prompt" for="activity_title">标题</label>
  <%= f.text_field :title, validate: false, :class => "text-content" %>
</div>
<div class="field">
  <div id="start_at_container">
    <label class="field_prompt" for="activity_start_at">开始时间:</label>
    <% if action_name == "new" %>
      <%= f.text_field :start_at, validate: false, :required => true, :class => "text-content" %>
    <% else %>
      <%= f.text_field :start_at, validate: false, :required => true, :class => "text-content", :value => @activity.start_at.to_short_datetime  %>
    <% end %>
  </div>
  <div id="end_at_container">
    <label class="field_prompt" for="activity_end_at">结束时间:</label>
    <% if action_name == "new" %>
      <%= f.text_field :end_at, validate: false, :required => true, :class => "text-content" %>
    <% else %>
      <%= f.text_field :end_at, validate: false, :required => true, :class => "text-content", :value => @activity.end_at.to_short_datetime %>
    <% end %>
  </div>
</div>

<div class="field" id="content_field">
  <label class="field_prompt" for="activity_content">内容:</label>
  <%= f.kindeditor :content, :class => 'profile_input required', :editor_id => 'topic_content',:allowFileManager => false,:allowUpload=>false, :allowFlashUpload => false, :simple_mode => true %>
</div>
<div class="field" id="note_field">
  <label class="field_prompt" for="activity_content">描述:</label>
  <%= f.text_area :note, :class => "text-content" %>
</div>
<% if action_name == "new" %>
  <% if current_user.get_users_ranges[:tp] == :teachers %>
    <div class="field">
      <%= radio_button_tag 'visible', 'all', :checked => true %><span class="field_prompt" for="visible_all">全园可见</span>
      <%= radio_button_tag 'visible', 'squad' %><span class="field_prompt" for="visible_squad">选择班级</span>

    </div>
    <div class="select_field" id="select_squad" style="display:none;">
      <% unless @squads.blank? %>
        <label class="field_prompt" for="squad" id="squad_for_teacher">班级:</label>
        <%= select_tag "activity[squad_id]", options_for_select((@squads.collect{|s|[s.name,s.id]} || [])), :class => "select" %>
      <% else %>
        <label class="field_prompt" for="squad" id="squad_for_teacher">班级:</label>
        <div class="controls">
          <label>还未有负责的班级</label>
        </div>
      <% end %>
    </div>
  <% else %>
    <div class="field">
      <%= radio_button_tag 'visible', 'all', :checked => true %><span class="field_prompt" for="visible_all">全园可见</span>
      <%= radio_button_tag 'visible', 'squad' %><span class="field_prompt" for="visible_squad">选择班级</span>

    </div>

    <div class="select_field" id="select_squad" style="display: none;">
      <label class="field_prompt" for="grade">年级:</label>
      <% unless @grades.blank? %>
        <%= select_tag "grade", options_for_select(@grades.collect{|s|[s.name,s.id]}), :class => "select" %>
      <% else %>
        <div class="controls">
          <label>没有年级,请先创建年级,才能继续操作</label>
        </div>
      <% end %>
      <div id="grade_squad_partial">
      </div>
      <div id="squad_student_partial">
      </div>
    </div>
  <% end %>
<% else %>
  <div class="field">
    <% if @activity.squad_id.blank? %>
      <label class="field_prompt" for="activity_content">所属幼儿园</label>
      <%= f.text_field :kindergarten_label, :disabled => true %>
    <% else %>
      <label class="field_prompt" for="activity_content">所属班级</label>
      <%= f.text_field :squad_label, :disabled => true %>
    <% end %>
  </div>
<% end %>

<%= f.input :creater_id, :as => :hidden %>
<%= f.input :tp, :as => :hidden %>
<%= f.input :kindergarten_id, :as => :hidden %>
<%= f.button :submit, :class => "btn" %>

<script type="text/javascript">
$(document).ready(function() {
  $("#grade").change(function() {
    $.ajax({
      url: "/weixin/activities/grade_squad_partial",
      data: {
        grade: $("#grade").val()
      },
      beforeSend: function() {
        $("#grade_squad_partial").html('<img style="margin-left: 10px" class="loading_img" src="/t/colorful/gif_preloader.gif" alt="" />')
      },
      success: function(result) {
        $("#grade_squad_partial").html(result);
      }
    })
  })
  $("input[type='radio']").change(function() {
    if ( $(this).val() == "squad" ) {
      $("#select_squad").show();
      $("#grade").trigger("change");
    } else {
      $("#select_squad").hide();
    }
  })
  var flag = []
  var time_re = /\d{4}-\d{2}-\d{2}/;
  $("input[name='commit']").click(function(){
    if( !time_re.test($("#activity_start_at").val()) || $("#activity_start_at").val().length == 0 ) {
      if( $("#start_at_container").children("span.help-inline").length == 0 ) {
        $("<span class='help-inline'>时间格式不对或为空</span>").insertBefore($("#activity_start_at"))
      }
      flag.push(true);
    } else {
      if($("#start_at_container").children("span.help-inline").length > 0) {
        $("#start_at_container span.help-inline").remove()
      }
      flag.push(false);
    }
    if( !time_re.test($("#activity_end_at").val()) || $("#activity_end_at").val().length == 0 ) {
      if( $("#end_at_container").children("span.help-inline").length == 0 ) {
        $("<span class='help-inline'>时间格式不对或为空</span>").insertBefore($("#activity_end_at"))
      }
      flag.push(true);
    } else {
      if($("#end_at_container").children("span.help-inline").length > 0) {
        $("#end_at_container span.help-inline").remove()
      }
      flag.push(false);
    }
    if ( $("#activity_start_at").val().length > 0 && $("#activity_end_at").val().length > 0 && time_re.test($("#activity_start_at").val()) && time_re.test($("#activity_end_at").val()) ) {
      if( Date.parse($("#activity_end_at").val()) < Date.parse($("#activity_start_at").val()) ) {
        if( $("#end_at_container").children("span.help-inline").length == 0 ) {
          $("<span class='help-inline'>结束时间必须大于开始时间</span>").insertAfter($("#activity_end_at"))
        }
        flag.push(true);
      } else {
        if($("#end_at_container").children("span.help-inline").length > 0) {
          $("#end_at_container span.help-inline").remove()
        }
        flag.push(false);
      }
    }

    if (topic_content.html().length < 3 || topic_content.isEmpty()) {
      if ( $("#activity_content").next("span.help-inline").length == 0 ) {
        $("<span class='help-inline'>长度不够(必须超过3个字符)</span>").insertAfter("#activity_content")
      }
      flag.push(true)
    } else {
      if ( $("#activity_content").next("span.help-inline").length > 0 ) {
        $("#activity_content").next("span.help-inline").remove()
      }
      flag.push(false)
    }
    if( $("#activity_title").val().length < 3 ) {
      if( $("#title_field").children("span.help-inline").length == 0 ) {
        $("<span class='help-inline'>长度太短必须3个字符以上</span>").insertBefore($("#activity_title"))
      }
      flag.push(true)
    } else {
      if( $("#title_field").children("span.help-inline").length > 0 ) {
        $("#title_field span.help-inline").remove();
      }
      flag.push(false)
    }
    if ( $("#grade").is(":visible") ) {
      if ( $("#squad_id").length > 0 ) {
        if($("#grade").next("span.help-inline").length > 0) {
          $("#grade").next("span.help-inline").remove()
        }
        flag.push(false);
      } else if ( $("#activity_squad_label").length > 0 || $("#activity_squad").length > 0 ) {
        flag.push(false)
      } else {
        if( $("#grade").next("span.help-inline").length == 0 ) {
          $("<span class='help-inline'>必须选择班级</span>").insertAfter($("#grade"))
        }
        flag.push(true);
      }
    }
    for( i in flag ) {
      if(flag[i] == true) {
        flag.length = 0;
        return false;
      }
    }
})
})
</script>
