<div class="topic topic_line pull-left">
  <div class="iCheck_checkbox pull-left" style="margin-top: -10px;"><input type="checkbox" class="check" /></div>
  <div class="right_info" style="padding-left: 10px;">
    <div class="pull-right">
      <a title="查看<%= news.title %>" alt="要看<%= news.title %>" href="<%= my_school_news_path(news) %>"><i class="icon-eye-open"></i></a>
      <% if choose_operate_show("my_school/news/edit") %>
        <a title="编辑<%= news.title %>" alt="编辑<%= news.title %>" href="<%= edit_my_school_news_path(news) %>"><i class="icon-edit"></i></a>
      <% end %>
    </div>
    <div class="infos">
      <div class="title">
        <%= link_to news.title, my_school_news_path(news) %>
      </div>
      <div class="title">
      </div>
      <div class="info">
        <em><%= news.creater.try(:name) %></em>
        <em>创建于</em><abbr><%= news.created_at.try(:to_long_datetime) %></abbr>
      </div>
    </div>
  </div>
</div>

<script type="text/javascript">
  $('input').iCheck({
    checkboxClass: 'icheckbox_square-blue',
    radioClass: 'iradio_square-blue',
    increaseArea: '20%' // optional
  });
  $("#check_all").on('ifClicked', function() {
    if(this.checked) {
      $(".check").iCheck('uncheck');
    } else {
      $(".check").iCheck('check');
    }
  })
</script>
