<div class="show_work">
  <%= render :partial => "/modules/colorful/work_menu" %>
  <div class="work">
    <div class="headline">
      <div class="headline_title">
        <div class="messages_root"></div>
        <label>幼儿园新闻</label>
        <div class="crumbs">
          <a href="/my_school/home" title="返回首页">
            <div class="icon_home"></div>
          </a>
          <ul>
          </ul>
        </div>
      </div>
      <ul class="work_action">
         <%if choose_operate_show('my_school/news/new')%>
         <li>
            <%=(link_to "<div class='work_action_add'>
  </div><div class='work_action_add_move'>
  </div>".html_safe ,new_my_school_news_path) %>
        
        </li>
        <%end%>
         <%if choose_operate_show('my_school/news/destroy')%>
        <li>
          <a href="/" title="删除" id="destroy_multiple">
            <div class="work_action_delete">
            </div>
            <div class="work_action_delete_move">
            </div>
          </a>
        </li>
        <%end%>
      </ul>
    </div>
    <div class="work_list">
        <% unless @news.blank? %>
          <table class="table table-striped table-hover">
            <%= form_tag my_school_news_path(@news), method: :delete, :id => "destroy_multi_form" do %>
              <tr>
                <th><input type="checkbox" name="" value="" alt="全选" id="destroy_all">全选</th>
                <th>标题</th>
                <th>发表人</th>
                <th>发表人</th>
                <th>发表时间</th>
                <th></th>
              </tr>
            <% (@news || []).each do |n_ew| %>

                  <tr>

                    <td><input id="n_ew_<%= n_ew.id %>" class="destroy_check" name="news[]" type="checkbox" value="<%= n_ew.id %>" /></td>
                    <td><%= link_to n_ew.title, my_school_news_path(n_ew) %>
                    </td>
                    <td><%=raw n_ew.creater.try(:name)%>
                    </td>
                    <td><%=raw n_ew.created_at.try(:to_long_datetime)%>
                    </td>
                    <td>
                      <%if choose_operate_show('my_school/news/destroy')%>
                      <%= link_to '删除', my_school_news_path(n_ew), :method=> :delete, :data=> { :confirm=> 'Are you sure?' },:class=> "blue" %>
                     <%end%>
            </span>
            <%if choose_operate_show('my_school/news/edit')%>
              <span><%=link_to '编辑',edit_my_school_news_path(n_ew)%></span></td>
                  </tr>
                  <% end %>
                <% end %>
              <% end %>
          </table>
          <%= paginate @news  %>
        <% else %>
          暂无新闻
        <% end %>
  </div>
</div>
<script type="text/javascript">
$(document).ready(function(){
  $("#destroy_all").click(function(){
    $(".destroy_check").attr("checked",this.checked);
  })
  $("#destroy_multiple").click(function(){
      $("#destroy_multi_form").submit();
      return false;
  });
});
</script>
