<div class="show_publicity">
  <img src="/t/colorful/small_publicity.jpg" alt="展示图"/>
</div>
<div class="show_work">
  <%= render :partial => "/modules/#{view_layout}/work_menu" %>
  <div class="work">
    <div class="headline">
      <div class="headline_title">
        <div class="messages_root"></div>
        <label>幼儿园新闻</label>
        <div class="crumbs">
          <a href="/my_school/home" title="返回首页">
            <div class="icon_home"></div>
          </a>
          <ul>
             <li><%= link_to "幼儿园新闻", my_school_news_index_path %></li>
            <li>/</li>
            <li>查看新闻</li>
          </ul>
        </div>
      </div>
      <ul class="work_action">
        <%if choose_operate_show('my_school/news/new')%>
        <li>
          <a href="<%=url_for(:controller=>"/my_school/news",:action=>:new)%>" title="添加">
            <%= render partial: "/my_school/commons/add_action" %>
          </a>
        </li>
        <%end%>
        <%if choose_operate_show('my_school/news/edit')%>
        <li>
          <a href="<%=url_for(:controller=>"/my_school/news",:action=>:edit,:id=>@new.id)%>" title="编辑">
            <%= render partial: "/my_school/commons/edit_action" %>
          </a>
        </li>
        <%end%>
        <%if choose_operate_show('my_school/news/destroy')%>
        <li>
          <%= link_to(url_for(:controller=>"/my_school/news",:action=>:destroy,:id=>@new.id),:method=>:delete, :confirm => "您确定删除该新闻吗?") do %>
            <%= render partial: "/my_school/commons/delete_action" %>
          <% end %>
        </li>
        <%end%>
        <li>
          <a href="<%=url_for(:controller=>"/my_school/news",:action=>:index)%>" title="返回">
            <%= render partial: "/my_school/commons/return_action" %>
          </a>
        </li>
      </ul>
    </div>

    <div class="work_form">
      <div class="form_div">
        <div class="form_div">
          <div class="show" id="news">
            <div class="content_up">
              <p class="title"><span><%= @new.title %></span></p>
              <p class="info"> <span class="link">总共被浏览了<%= @new.show_count %>次</span></p>
              <p class="info"><span class="link"><%= @new.try(:creater).try(:name) %></span>&nbsp;<em>新闻发布于</em><abbr><span class="time"><%= @new.start_data.try(:to_short_datetime) %></span><span class="pull-right"><%= render_report_link(@new) %></span></abbr>
                </p>
                <p style="color:#c4c4c4">&nbsp;创建于&nbsp;<span style="font-size: 10px;"><%= @new.try(:created_at).try(:to_long_datetime) %></span></p>
  <%= render :partial=>"/my_school/approves/load_approves_log" ,:locals=>{:record_id=>@new.approve_record.try(:id),:approve_status=>@new.approve_status} %>
            </div>
            <div class="content">
              <%=raw @new.content %>
              <%=render :partial =>"new_show_case"%>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="clear"></div>


