<div class="show_work">
  <%= render :partial => "/modules/#{view_layout}/work_menu" %>
  <div class="work">
    <div class="headline">
      <div class="headline_title">
        <div class="messages_root"></div>
        <label>精彩视频</label>
        <div class="crumbs">
          <a href="/my_school/home" title="返回首页">
            <div class="icon_home"></div>
          </a>
          <ul>
            <li>照片集锦</li>
            <li>/</li>
            <li>精彩视频</li>
          </ul>
        </div>
      </div>

      <ul class="work_action">
        <%if choose_operate_show('my_school/wonderful_episodes/new' && can_add_index?)%>
         <li>
            <%=(link_to "<div class='work_action_add'>
  </div><div class='work_action_add_move'>
  </div>".html_safe ,new_my_school_wonderful_episode_path) %>

        </li>
        <%end%>
         <%if choose_operate_show('my_school/wonderful_episodes/destroy') && can_destroy_index? %>
        <li>
          <a href="javascript: void(0);" title="删除" id="destroy_multiple">
            <%= render partial: "/my_school/commons/delete_action" %>
          </a>
        </li>
        <%end%>
      </ul>
    </div>
    <div class="work_list">
      <div class="topics" style="margin-top: 20px;">
        <% unless @wonderful_episodes.empty? %>
          <div class="select_all_wrap clearfix" style="display: none;">
            <label class="input_select_all checkbox inline ">
              <input type="checkbox" id="check_all" /> 全选
            </label>
            <a class="hidden-wrap" href="javascript: void(0)" rel="nofollow"><i class="img-icon icon-remove-circle pull-right"></i></a>
          </div>
          <%= form_tag my_school_wonderful_episode_path(@wonderful_episodes), method: :delete, :id => "destroy_multi_form" do %>
            <%= render partial: "wonderful_episodes", collection: @wonderful_episodes, :as => :wonderful_episode %>
          <% end %>
          <%= paginate @wonderful_episodes  %>
        <% else %>
          暂无新闻
        <% end %>
      </div>
    </div>
  </div>

</div>

<script type="text/javascript">
   $("#destroy_multiple").click(function(){
    if (confirm('您确定删除选中的精彩贴子吗')) {
      $("#destroy_multi_form").submit();
    }
  });

</script>
