<div class="container">
  <%= render :partial => "/modules/colorful/weixin_head" %>
</div>
<div class="message_div">
  <div class="message_title">
    <a href="<%= weixin_path %>" title="返回" class="weixin_return">返回</a>新闻列表
  </div>
  <div class="message_filter">
    <%#= form_tag '/weixin/notices' , :method=>"get",:id=>"message_search" do %>
      <%#= select_tag "send_date",options_for_select(@send_date,(params[:send_date]).to_s) %>
    <%#end%>
  </div>
  <div class="message_list">
    <ul class="data_list">
      <% if @news.blank? %>
        <li><div class="message_content">没有新闻。</div></li>
      <% else %>
        <% @news.each do |record| %>
          <li class="<%= record.id.blank? ? "" : "return_li"%>">
            <a href="<%= url_for(:action=>:show,:id=>record.id) %>" title="查看通知信息">
              <div><label class="message_user">发布人:<%=record.creater.try(:name)%></label><label class="message_time"><%=record.created_at.try(:to_long_datetime)%></label></div>
              <div class="message_content">标题:<%= record.title %></div>
            </a>
          </li>
        <% end %>
      <% end %>
    </ul>
    <br/>
  </div>
  <% unless  @news.blank? %>
    <div class="message_more">
      <div class="paginate_div">
        <%= paginate @news, :window => 1%>
      </div>
    </div>
  <% end %>
</div>
<%= render :partial => "/modules/colorful/weixin_menu_navbar"%>
<%= render :partial => "/modules/colorful/weixin_menu_one"%>
<script type="text/javascript">
  $(function(){
    $("#message_search select").change(function(){
      $("#message_search").submit();
    })
  })

</script>
