<div class="topic topic_line pull-left">
  <div class="right_info">
    <div class="pull-right">
      <%# if choose_operate_show("my_school/teaching_plans/show") %>
        <a href="<%= my_school_teaching_plan_path(teaching_plans) %>" title="查看教学计划" alt="编辑教学计划" ><i class="icon-eye-open"></i></a>
      <%# end %>
      <%# if choose_operate_show("my_school/teaching_plans/edit") %>
        <a href="<%= edit_my_school_teaching_plan_path(teaching_plans) %>" title="编辑教学计划" alt="编辑教学计划"><i class="icon-edit"></i>
      <%# end %>
    </div>
    <div class="infos">
      <div class="title">
        <%=link_to teaching_plans.title,my_school_teaching_plan_path(teaching_plans) %>
      </div>
      <div class="info">
        <em>&nbsp;*&nbsp;</em><em><%= teaching_plans.creater.try(:name) %></em><em>&nbsp;创建于&nbsp;</em><abbr><%= teaching_plans.created_at.try(:to_long_datetime) %></abbr>
      </div>
    </div>
  </div>
</div>


