<% f = form %>
<div class="field">
  <% if action_name == "new" %>
    <%= f.select :topic_category_id,options_for_select(@kind.topic_categories.collect {|p| [ p.name, p.id ] }), {:prompt=>"选择类别"}, :class => "select" %>
  <% else %>
    <%= f.select :topic_category,options_for_select(@kind.topic_categories.collect {|p| [ p.name, p.id ] }), {:prompt=>"选择类别"}, :class => "select", :disabled => true %>
  <% end %>
</div>

<div class="field">
<label class="field_prompt">标题:</label>
<%= f.text_field :title, :class => "text-content" %>
</div>

<div class="field">
<label class="field_prompt">内容:</label>
<%= f.text_area :content, :class => "text-area" %>
</div>

<%= f.input :kindergarten_id, :as => :hidden %>
<%= f.input :creater_id, :as => :hidden %>
<%= f.button :submit, :class => "btn btn-large" %>
