<% f = form %>
<div class="field" id="select_field">
  <% if action_name == "new" %>
    <%= f.select :topic_category_id,options_for_select(@kind.topic_categories.collect {|p| [ p.name, p.id ] }), {:prompt=>"选择类别"}, :class => "select" %>
  <% else %>
    <%= f.select :topic_category_id,options_for_select(@kind.topic_categories.collect {|p| [ p.name, p.id ] }), {:prompt=>"选择类别"}, :class => "select", :disabled => true %>
  <% end %>
</div>

<div class="field" id="title_field">
<label class="field_prompt" for="title">标题:</label>
<%= f.text_field :title, :class => "text-content" %>
</div>

<div class="field" id="content_field">
<label class="field_prompt" for="content">内容:</label>
<%= f.kindeditor :content, :class => 'profile_input required', :editor_id => 'topic_content',:allowFileManager => false,:allowUpload=>false, :allowFlashUpload => false, :simple_mode => true %>
</div>
<% if action_name == "new" %>
  <% if current_user.get_users_ranges[:tp] == :student %>
    <div class="field">
      <label class="field_prompt" for="topic_squad_label">班级:</label>
      <%= f.text_field :squad_label, :required => true, :as => :string, :disabled => true, :value => current_user.student_info.squad.name, :class => "text-content" %>
    </div>
  <% elsif current_user.get_users_ranges[:tp] == :teachers %>
    <div class="field">
      <%= radio_button_tag 'visible', 'all', :checked => true %><span class="field_prompt" for="visible_all">全园可见</span>
      <%= radio_button_tag 'visible', 'squad' %><span class="field_prompt" for="visible_squad">选择班级</span>

    </div>
    <div class="select_field" id="select_squad" style="display:none;">
      <% unless @squads.blank? %>
        <label class="field_prompt" for="squad" id="squad_for_teacher">班级:</label>
        <%= select_tag "topic[squad_id]", options_for_select((@squads.collect{|s|[s.name,s.id]} || [])), :class => "select" %>
      <% else %>
        <label class="field_prompt" for="squad" id="squad_for_teacher">班级:</label>
        <div class="controls">
          <label>还未有负责的班级</label>
        </div>
      <% end %>
    </div>
  <% else %>
    <div class="field">
      <%= radio_button_tag 'visible', 'all', :checked => true %><span class="field_prompt" for="visible_all">全园可见</span>
      <%= radio_button_tag 'visible', 'squad' %><span class="field_prompt" for="visible_squad">选择班级</span>

    </div>

    <div class="select_field" id="select_squad" style="display: none">
      <label class="field_prompt" for="grade">年级:</label>
      <% unless @grades.blank? %>
        <%= select_tag "grade", options_for_select(@grades.collect{|s|[s.name,s.id]}), :class => "select" %>
      <% else %>
        <div class="controls">
          <label>没有年级,请先创建年级,才能继续操作</label>
        </div>
      <% end %>
      <div id="grade_squad_partial">
      </div>
      <div id="squad_student_partial">
      </div>
    </div>
  <% end %>
<% else %>
  <div class="field">
    <% if @topic.squad_id.blank? %>
      <label class="field_prompt" for="activity_content">所属幼儿园</label>
      <%= f.text_field :kindergarten_label, :disabled => true %>
    <% else %>
      <label class="field_prompt" for="activity_content">所属班级</label>
      <%= f.text_field :squad_label, :disabled => true %>
    <% end %>
  </div>
<% end %>
<% if current_user.get_users_ranges[:tp] == :student %>
  <%= f.input :squad_id, :as => :hidden %>
<% end %>
<%= f.input :kindergarten_id, :as => :hidden %>
<%= f.input :creater_id, :as => :hidden %>
<%= f.button :submit, :class => "btn" %>

<script type="text/javascript">
  $("#grade").change(function() {
      $.get(
        "/weixin/topics/grade_squad_partial",
        {
          grade: $("#grade").val()
        },
        function(result) {
          $("#grade_squad_partial").html(result);
        }
      )

  })
  $("input[type='radio']").change(function() {
    if ( $(this).val() == "squad" ) {
      $("#select_squad").show()
    } else {
      $("#select_squad").hide()
    }
  })
var flag = []
$(":submit").click(function() {
  if($("select").val() == "") {
    if($("#select_field").children("span.help").length == 0) {
      $("<span class='help'>必须选择论坛分类<span>").insertBefore($("#topic_topic_category_id"))
    }
    flag.push(true)
  } else {
    if($("#select_field").children("span.help").length > 0) {
      $("#select_field span.help").remove()
    }
    flag.push(false)
  }
  if($("#topic_title").val().length < 3) {
    if($("#title_field").children("span.help").length == 0) {
      $("<span class='help'>长度太短必须3个字符以上</span>").insertBefore($("#topic_title"))
    }
    flag.push(true)
  } else {
    if($("#title_field").children("span.help").length > 0) {
      $("#title_field span.help").remove()
    }
    flag.push(false)
  }
  if (topic_content.html().length < 3 || topic_content.isEmpty()) {
    if ( $("#topic_content").next("span.help-inline").length == 0 ) {
      $("<span class='help-inline'>长度不够(必须超过3个字符)<span>").insertAfter("#topic_content")
    }
    flag.push(true)
  } else {
    if ( $("#topic_content").next("span.help-inline").length > 0 ) {
      $("#topic_content").next("span.help-inline").remove()
    }
    flag.push(false)
  }
  if ( $("#grade").is(":visible") ) {
      if ( $("#squad_id").length > 0 ) {
        if($("#grade").next("span.help-inline").length > 0) {
          $("#grade").next("span.help-inline").remove()
        }
        flag.push(false);
      } else if ( $("#topic_squad_label").length > 0 || $("#topic_squad").length > 0 ) {
        flag.push(false)
      } else {
        if( $("#grade").next("span.help-inline").length == 0 ) {
          $("<span class='help-inline'>必须选择班级</span>").insertAfter($("#grade"))
        }
        flag.push(true);
      }
  }
  for( i in flag ) {
    if(flag[i] == true) {
      flag.length = 0;
      return false;
    }
  }
})

</script>
