<div class="container">
  <%= render :partial => "/modules/colorful/weixin_head" %>
</div>
<div class="message_div">
  <div class="message_title">
    信息论坛
  </div>
  <div class="message_list">
    <ul class="data_list">
      <%= form_tag '/weixin/topics', :method => :get, :id => "topic_search" do %>
        <%= select_tag "category_id",options_for_select(@kind.topic_categories.collect {|p| [ p.name, p.id ] }, params[:category_id]), :prompt => "选择类别", :class => "select" %>
      <% end %>
      <%= link_to "发贴子", new_weixin_topic_path, :class => "new_topic" %>
      <% if @topics.blank? %>
        <li><div class="message_content">还没有贴子。</div></li>
      <% else %>
        <% @topics.each do |topic| %>
          <li class="topic_show" data-id="<%= topic.id %>">
            <label class="topic_title"><%= topic.title %></label>
            <label class="topic_created_time"><%= topic.created_at.to_long_datetime %></label>
            <div class="topic_info">
              <label class="topic_author"><%= topic.creater ? topic.creater.name : "" %></label>
              <label class="topic_reply"><%= topic.topic_entries.any? ? topic.topic_entries.count : "" %></label>
            </div>
          </li>
         <% end %>
      <% end %>
    </ul>
    <br/>
  </div>
  <% unless  @topics.blank? %>
    <div class="message_more">
      <div class="paginate_div">
        <%= paginate @topics, :window => 1%>
      </div>
      <!--
      <a href="###" id="message_more" title="查看更多">
        <div class="show_div"></div>
      </a>
      -->
    </div>
  <% end %>
</div>
<%= render :partial => "/modules/colorful/weixin_menu_navbar"%>
<%= render :partial => "/modules/colorful/weixin_menu_one"%>

<script type="text/javascript">
$(document).ready(function() {
  $(".topic_show").each(function() {
    $(this).click(function() {
      window.location.href = "topics/" + $(this).attr("data-id")
    })
  })
  $("#category_id").change(function() {
    $("#topic_search").submit();
  })
})
</script>
