<div class="container">
  <%= render :partial => "/modules/colorful/weixin_head" %>
</div>
<div class="message_div">
  <div class="message_title">
    信息论坛
  </div>
  <div class="message_list">
    <ul class="data_list">
      <%= form_tag '/weixin/topics', :method => :get, :id => "topic_search" do %>
        <%= select_tag "category_id",options_for_select(@kind.topic_categories.collect {|p| [ p.name, p.id ] }, params[:category_id]), :prompt => "选择类别", :class => "select" %>
      <% end %>
      <p style="margin: 0 auto;" class="has-btn-new">
      <%= link_to "发贴子", new_weixin_topic_path, :class => "span6 btn btn-warning btn-large", :style => "color: #fff;" %>
      </p>
      <% if @topics.blank? %>
        <li><div class="message_content">还没有贴子。</div></li>
      <% else %>
        <ul style="clear: both;">
          <% @topics.each do |topic| %>
            <li class="show relative" data-id="<%= topic.id %>">
              <p class="title"><span class="name"><%= topic.title %><span></p>
              <p class="info">班级贴子:<%= topic.squad.try(:name) %></p>
              <p class="info">由<span class="author"><%= topic.creater.try(:name) %></span>发表于&nbsp;<span><%= topic.created_at.try(:to_long_datetime) %></span></p>
              <span class="reply_count absolute"><%= topic.topic_entries.any? ? topic.topic_entries.count : "" %><span>
            </li>
           <% end %>
         </ul>
      <% end %>
    </ul>
    <br/>
  </div>
  <% unless  @topics.blank? %>
    <div class="message_more">
      <div class="paginate_div">
        <%= paginate @topics, :window => 1%>
      </div>
      <!--
      <a href="###" id="message_more" title="查看更多">
        <div class="show_div"></div>
      </a>
      -->
    </div>
  <% end %>
</div>
<%= render :partial => "/modules/colorful/weixin_menu_navbar"%>
<%= render :partial => "/modules/colorful/weixin_menu_one"%>

<script type="text/javascript">
$(document).ready(function() {
  $(".show").each(function() {
    $(this).click(function() {
      window.location.href = "topics/" + $(this).attr("data-id")
    })
  })
  $("#category_id").change(function() {
    $("#topic_search").submit();
  })
})
</script>
