<div class="container">
  <%= render :partial => "/modules/colorful/weixin_head" %>
</div>
<div class="message_div">
  <div class="message_title">
    <a href="<%= url_for(:action=>:index, :category_id => @topic.topic_category_id) %>" title="返回">返回</a>信息论坛
  </div>
  <div class="message_list">
    <ul class="data_list">
      <li class="topic">
        <p class="topic_title"><%= @topic.title %></p>
        <p class="topic_info"><label class="author"><%= @topic.creater ? @topic.creater.name : "" %></label>&nbsp;&nbsp;<label>发表于:<label><label class="topic_created_time"><%= @topic.created_at.to_long_datetime %></label></p>
        <div class="topic_content"><%= simple_format @topic.content %></div>
      </li>

      <li class="reply">
        <%= simple_form_for(@topic_entry, :validate => true, :url => weixin_topic_entries_path, :html => {:class => "form-horizontal"}) do |f| %>
          <div class="field">
            <label class="field_prompt">回复</label>
            <%= f.text_field :content, :class => "text-content" %>
            <%= f.button :submit, :class => "btn" %>
          </div>
          <%= f.input :topic_id, :as => :hidden %>
          <%= f.input :creater_id, :as => :hidden %>
        <% end %>
      </li>
      <% unless @replies.blank? %>
        <ul class="topic_replies">
          <% @replies.each do |reply| %>
            <li class="reply">
              <p class="reply_info">
              <label class="author"><%= reply.creater ? reply.creater.name : "" %></label>&nbsp;&nbsp;<label class="created_time"><%= reply.created_at.to_short_datetime %></label>
              </p>
              <div class="content"><%= simple_format reply.content %></div>
            </li>
          <% end %>
          <%= paginate @replies %>
        </ul>
      <% else %>
        暂无回复
      <% end %>
    </ul>

    
  </div>
</div>
<%= render :partial => "/modules/colorful/weixin_menu_navbar"%>
<%= render :partial => "/modules/colorful/weixin_menu_one"%>

<script type="text/javascript">
$(":submit").click(function() {
  if( $("#topic_entry_content").val().length < 3 ) {
    $("<span class='help'>长度太短必须2个字符以上<span>").insertAfter($(".field_prompt"))
    return false;
  }
})
</script>
