<% f = form %>

<%= f.input :name, :validate => true, :required => true, :input_html => {:class => "span5"} %>
<%= f.input :kindergarten_label, :required => true, :as => :string, :input_html => { :disabled => true } %>
<% if action_name == "new" %>
  <%= f.input :grade, :as => :select, :collection => Hash[f.object.kindergarten.grades.map{|grade| ["#{grade.name}", grade.id]}],:input_html=>{:name=>"squad[grade_id]"} %>
<% else %>
  <%= f.input :grade_label, :as => :string, :disabled => true %>
<% end %>
<%= f.input :historyreview %>
<div class="control-group">
  <label class="control-label" >是否已毕业</label>
  <div class="controls">
    <label class="show_label">
      <%= Squad::GRADUATE_DATA[f.object.graduate.to_s] %>
    </label>
  </div>
</div>
<%= f.input :note, :validate => true, :input_html => {:rows => "10", :class => "span5"}%>

<div class="control-group">
  <div class="controls">
    <%= f.button :submit %>
  </div>
</div>
