<% f = form %>
<% if action_name == "edit" or action_name == "update" %>
  <span id="squad_id" style="display: none;"><%= @squad.id %></span>
<% end %>
<%= f.input :name, :validate => true, :required => true, placeholder: "请输入班级的名称", hint: "长度控制在20个字符之内", :input_html => {:class => "span5"} %>
<%= f.input :kindergarten_label, :required => true, :as => :string, :input_html => { :disabled => true } %>
<%= f.input :grade, :as => :select, :collection => Hash[f.object.kindergarten.grades.map{|grade| ["#{grade.name}", grade.id]}], :selected => "#{f.object.try(:grade).try(:id)}", :input_html=>{:name=>"squad[grade_id]"} %>
<%= f.input :historyreview %>
<div class="control-group">
  <label class="control-label" >是否已毕业</label>
  <div class="controls">
    <label class="show_label">
      <%= Squad::GRADUATE_DATA[f.object.graduate.to_s] %>
    </label>
  </div>
</div>
<%= f.input :note, :validate => true, placeholder: "请输入班级的描述", :input_html => {:rows => "10", :class => "span5"}%>

<div class="control-group">
  <div class="controls">
    <%= f.button :submit, disable_with: "正在提交..." %>
  </div>
</div>

<script type="text/javascript">
$("#squad_name").blur(function() {
  $.ajax({
    url: "/my_school/squads/name_uniqueness_validator",
    data: {
      name: $(this).val(),
      element: $(this).attr("id"),
      id: $("#squad_id").text()
    },
    method: "get",
    beforeSend: function() {
    },
    success: function() {

    },
    error: function() {

    }
  })
})
</script>
