<div class="show_work">
  <%= render :partial => "/modules/#{view_layout}/work_menu" %>
  <div class="work">
    <div class="headline">
      <div class="headline_title">
        <div class="messages_root"></div>
        <label>班级管理信息</label>
        <div class="crumbs">
          <a href="/my_school/home" title="返回首页">
            <div class="icon_home"></div>
          </a>
          <ul>
            <li>人员管理</li>
            <li>/</li>
            <li>班级管理</li>
          </ul>
        </div>
      </div>
      <ul class="work_action">
        <li>
        <% if choose_operate_show("my_school/squads/index") %>
          <a href="<%=url_for(:controller=>"/my_school/squads",:action=>:new)%>" title="添加">
            <%= render partial: "/my_school/commons/add_action" %>
          </a>
        <% end %>
        </li>
        <li>
        <% if choose_operate_show("my_school/squads/destroy") %>
          <a id="destroy_multiple" href="javascript: void(0)" rel="nofollow">
            <%= render partial: "/my_school/commons/delete_action" %>
          </a>
        <% end %>
        </li>
      </ul>
    </div>
    <%= render partial: "/my_school/squads/search_form" %>
    <div class="work_list">
      <%= render "tab_squads" %>
    </div>
  </div>

</div>

<script type="text/javascript">
  $("#destroy_multiple").click(function(){
    if (confirm('您确定删除选中的班级吗')) {
      $("#destroy_multi_form").submit();
    }
  });
</script>
