<script type="text/javascript">
  $(function() {
    $("#dialog_change_users" ).dialog({
      dialogClass: "no-close",
      autoOpen: false,
      height:500,
      width:700,
      buttons: {
        "确定": function () {
          $(this).dialog("close");
        },
        "取消": function () {
          $("#message_inputs").html("");
          $(this).dialog("close");
        }
      }
    });
    $( "#change_users" ).click(function() {
      $( "#dialog_change_users" ).dialog("open");
    });
  });
</script>
<div class="squads_teacher_list">
<fieldset class="people_manage">
      <legend><label>该班级的负责老师</label></legend>
      <%if choose_operate_show("my_school/squads/set_squads_teacher")%>
      <div class="set_squads_teacher">
        <form class="form-horizontal">
        <%=render :partial => "/my_school/virtual_squads/personnel_selection"-%>
        <div class="controls">
         <%=link_to "添加#{@squad.name}老师","###",:class=>"btn",:id=>"change_squads_teacher"%>
        </div>
      </form>
      </div>
      <%end%>
        <div class="work_list">
         <%= render :partial => "teacher_list" %>
        </div>
    </fieldset>
     <div id="dialog_change_users"   title="选择老师">
       <%= render :partial => "/my_school/messages/inbox_teacher" %>
      </div>
</div>
<%=render :partial => "/my_school/virtual_squads/personnel_select_js.html.erb"-%>
<script type="text/javascript">
   $(function() {
    $("#change_squads_teacher").click(function(){
      var inputs=""
        inputs=$("#message_inputs .message_user input")
       var ids = new Array();
      for(i=0;i<inputs.length;i++)
       {
        ids.push(inputs[i].value);
        }
      $.ajax({
        url: "/my_school/squads/<%=@squad.id%>/set_squads_teacher",
        data: {
          ids: ids
              },
        beforeSend: function() {
          $(".squads_teacher_list").html('<img style="margin-left: 250px" class="loading_img" src="/t/colorful/gif_preloader.gif" alt="" />')
                },
        success: function(result) {
          $(".squads_teacher_list").children(".loading_img").hide()
          $(".squads_teacher_list").html(result)
                }
              })

   });
  });
</script>
