<div class="show_work">
  <%= render :partial => "/modules/#{view_layout}/work_menu" %>
  <div class="work">
    <div class="headline">
      <div class="headline_title">
        <div class="messages_root"></div>
        <label>班级管理信息</label>
        <div class="crumbs">
          <a href="/my_school/home" title="返回首页">
            <div class="icon_home"></div>
          </a>
          <ul>
            <li>人员管理</li>
            <li>/</li>
            <li>
              <% if choose_operate_show("my_school/squads/index") %>
                <%= link_to "班级管理", my_school_squads_path %>
              <% else %>
                班级管理
              <% end %>
            </li>
            <li>/</li>
            <li>查看班级</li>
          </ul>
        </div>
      </div>
      <ul class="work_action">
        <% if choose_operate_show("my_school/squads/new") %>
          <li>
            <a href="<%=url_for(:controller=>"/my_school/squads",:action=>:new)%>" title="添加">
              <%= render partial: "/my_school/commons/add_action" %>
            </a>
          </li>
        <% end %>
        <li>
          <% if choose_operate_show("my_school/squads/edit") %>
            <a href="<%=url_for(:controller=>"/my_school/squads",:action=>:edit,:id=>@squad.id)%>" title="编辑">
              <%= render partial: "/my_school/commons/edit_action" %>
            </a>
          <% end %>
        </li>
        <li>
          <% if choose_operate_show("my_school/squads/destroy") %>
            <%if @squad.student_infos.count >0%>
              <%= link_to("###",:confirm => "该班级有学员不能进行删除!") do %>
                <%= render partial: "/my_school/commons/delete_action" %>
              <% end %>
            <%else%>
              <%= link_to(url_for(:controller=>"/my_school/squads",:action=>:destroy,:id=>@squad.id),:method=>:delete, :confirm => "您确定删除该班级吗?") do %>
                <%= render partial: "/my_school/commons/delete_action" %>
              <% end %>
            <%end%>
          <% end %>
        </li>
        <li>
          <% if choose_operate_show("my_school/squads/index") %>
            <a href="<%=url_for(:controller=>"/my_school/squads",:action=>:index)%>" title="返回">
              <%= render partial: "/my_school/commons/return_action" %>
            </a>
          <% end %>
        </li>
      </ul>
    </div>

    <div class="work_form">
      <div class="form_div">
        <form class="form-horizontal">
          <div class="control-group">
            <label class="control-label">名称</label>
            <div class="controls">
              <label class="show_label">
                <%=@squad.name%>
              </label>
            </div>
          </div>
          <div class="control-group">
            <label class="control-label" >届</label>
            <div class="controls">
              <label class="show_label">
                <%= @squad.historyreview %>
              </label>
            </div>
          </div>
          <div class="control-group">
            <label class="control-label" >是否已毕业</label>
            <div class="controls">
              <label class="show_label">
                <%= Squad::GRADUATE_DATA[@squad.graduate.to_s] %>
              </label>
            </div>
          </div>
          <div class="control-group">
            <label class="control-label" >所属年级</label>
            <div class="controls">
              <label class="show_label">
                <%= @squad.grade_label %>
              </label>
            </div>
          </div>
          <div class="control-group">
            <label class="control-label" >所属幼儿园</label>
            <div class="controls">
              <label class="show_label">
                <%= @squad.kindergarten_label %>
              </label>
            </div>
          </div>
          <div class="control-group">
            <label class="control-label" >班主任</label>
            <div class="controls">
              <label class="show_label">
                <%= @squad.class_teacher %>
              </label>
            </div>
          </div>
          <div class="control-group">
            <label class="control-label" >描述</label>
            <div class="controls">
              <label class="show_label">
                <%= simple_format h(@squad.note) %>
              </label>
            </div>
          </div>

        </form>
      </div>
    </div>
    <%=render "squads_teachers_list"%>
    <%if @flag==true%>
    <%=render "squads_students_list" %>
    <%=render "virtual_squads_students_list" %>
    <%end%>
  </div>

</div>


