<div class="show_publicity">
  <img src="/t/colorful/small_publicity.jpg" alt="展示图"/>
</div>
<div class="show_work">
  <%= render :partial => "/modules/colorful/work_menu" %>
  <div class="work">
    <div class="headline">
      <div class="headline_title">
        <div class="messages_root"></div>
        <label>班级管理信息</label>
        <div class="crumbs">
          <a href="/my_school/home" title="返回首页">
            <div class="icon_home"></div>
          </a>
          <ul>
            <li>人员管理</li>
            <li>/</li>
            <li>
              <% if choose_operate_show("my_school/squads/index") %>
                <%= link_to "班级管理", my_school_squads_path %>
              <% else %>
                班级管理
              <% end %>
            </li>
            <li>/</li>
            <li>查看班级</li>
          </ul>
        </div>
      </div>
      <ul class="work_action">
        <% if choose_operate_show("my_school/squads/new") %>
          <li>
            <a href="<%=url_for(:controller=>"/my_school/squads",:action=>:new)%>" title="添加">
              <div class="work_action_add">
              </div>
              <div class="work_action_add_move">
              </div>
            </a>
          </li>
        <% end %>
        <li>
          <a href="<%=url_for(:controller=>"/my_school/teachers",:action=>:set_class_teacher_for_squad_view, :squad_id => @squad.id)%>" title="为班级添加负责人">
            <div class="work_action_class_teacher">
            </div>
            <div class="work_action_class_teacher_move">
            </div>
          </a>
        </li>
        <li>
          <% if choose_operate_show("my_school/squads/edit") %>
            <a href="<%=url_for(:controller=>"/my_school/squads",:action=>:edit,:id=>@squad.id)%>" title="编辑">
              <div class="work_action_edit">
              </div>
              <div class="work_action_edit_move">
              </div>
            </a>
          <% end %>
        </li>
        <li>
          <% if choose_operate_show("my_school/squads/destroy") %>
            <%= link_to(url_for(:controller=>"/my_school/squads",:action=>:destroy,:id=>@squad.id),:method=>:delete, :confirm => "您确定删除该班级吗?") do %>
              <div class="work_action_delete">
              </div>
              <div class="work_action_delete_move">
              </div>
            <% end %>
          <% end %>
        </li>
        <li>
          <% if choose_operate_show("my_school/squads/index") %>
            <a href="<%=url_for(:controller=>"/my_school/squads",:action=>:index)%>" title="返回">
              <div class="work_action_return">
              </div>
              <div class="work_action_return_move">
              </div>
            </a>
          <% end %>
        </li>
      </ul>
    </div>

    <div class="work_form">
      <div class="form_div">
        <form class="form-horizontal">
          <div class="control-group">
            <label class="control-label">名称</label>
            <div class="controls">
              <label class="show_label">
                <%=@squad.name%>
              </label>
            </div>
          </div>
          <div class="control-group">
            <label class="control-label" >届</label>
            <div class="controls">
              <label class="show_label">
                <%= @squad.historyreview %>
              </label>
            </div>
          </div>
          <div class="control-group">
            <label class="control-label" >是否已毕业</label>
            <div class="controls">
              <label class="show_label">
                <%= Squad::GRADUATE_DATA[@squad.graduate.to_s] %>
              </label>
            </div>
          </div>
          <div class="control-group">
            <label class="control-label" >所属年级</label>
            <div class="controls">
              <label class="show_label">
                <%= @squad.grade_label %>
              </label>
            </div>
          </div>
          <div class="control-group">
            <label class="control-label" >所属幼儿园</label>
            <div class="controls">
              <label class="show_label">
                <%= @squad.kindergarten_label %>
              </label>
            </div>
          </div>
          <div class="control-group">
            <label class="control-label" >班主任</label>
            <div class="controls">
              <label class="show_label">
                <%= @squad.class_teacher %>
              </label>
            </div>
          </div>
          <div class="control-group">
            <label class="control-label" >描述</label>
            <div class="controls">
              <label class="show_label">
                <%= simple_format h(@squad.note) %>
              </label>
            </div>
          </div>

        </form>
      </div>
    </div>

    <fieldset class="people_manage">
      <legend><label>该班级的负责老师</label></legend>
        <div class="work_list">
          <% unless @squad.teachers.blank? %>
            <table class="table table-striped table-hover">
              <tr>
                <th>名称</th>
                <th>账号</th>
                <th>是否班主任</th>
                <th>操作</th>
              </tr>
              <% @squad.teachers.each do |teacher| %>
                <tr>
                  <td><%= teacher.staff.try(:user).try(:name) %></td>
                  <td><%= teacher.staff.try(:user).try(:login) %></td>
                  <td><%= teacher.tp == 1 ? "是" : "否" %></td>
                  <td>
                    <% if teacher.tp == 0 %>
                        <%= link_to "设为班主任", :controller => "/my_school/teachers", :action => :set_class_teacher, :teacher_id => teacher.id, :squad_id => teacher.squad_id, :staff_id => teacher.staff_id, :if_squad => true %>
                    <% else %>
                      <%= nil %>
                    <% end %>
                  </td>
                </tr>
              <% end %>
            </table>
          <% else %>
            没有负责的老师
          <% end %>
        </div>
    </fieldset>

    <fieldset class="people_manage">
      <legend><label>该班级的学员</label></legend>
      <div class="work_list">
        <% unless @squad.student_infos.blank? %>
            <table class="table table-striped table-hover">
              <tr>
                <th>姓名</th>
                <th>账号</th>
                <th>男</th>
                <th>出生日期</th>
              </tr>
              <% @squad.student_infos.each do |student| %>
                <tr>
                  <td><%= student.user.name %></td>
                  <td><%= student.user.login %></td>
                  <td><%= student.user.gender == "G" ? "男" : "女" %></td>
                  <td><%= student.birthday ? student.birthday.to_short_datetime : "" %></td>
                </tr>
              <% end %>
            </table>
        <% else %>
        <% end %>
      </div>
    </fieldset>

  </div>

</div>

