<% unless @level.present? %>
  <% params[:page] ? (page_index = params[:page].to_i) : (page_index = 1) %>
  <%  level = (page_index-1)*10 + topic_entry_counter + 1 %>
<% end %>
<div id="topic_entry_<%= topic_entry.id %>" class="show_entry">
  <div class="content_left">
    <% if topic_entry.is_show %>
      <div class="user_head_logo"><img src="<%= topic_entry.creater.try(:asset_logo) ? topic_entry.creater.asset_logo.public_filename(:thumb) : '/t/colorful/user_logo.png' %>" width="48" alt="头像"/></div>
    <% end %>
  </div>
  <div class="content_right">
    <% if topic_entry.is_show == true %>
      <p class="info"><span><%= level %>楼&nbsp;</span><span class="author"><%= topic_entry.creater.try(:name) %></span>&nbsp;回复于&nbsp;<span class="time"><%= time_ago_in_words(topic_entry.try(:created_at)) %></span></p>
      <div class="content"><%= raw topic_entry.content %></div>
    <% else %>
      <p class="info"><span><%= level %>楼</span></p>
      <del class="delete">该楼已被删除</del>
    <% end %>
  </div>
  <div class="actions">
    <% if edit_topic_entry?(topic_entry) %>
      <% unless topic_entry.is_show == false %>
        <a href="<%= url_for(edit_my_school_topic_entry_path(topic_entry, page: params[:page])) %>" ><i class="icon-edit"></i></a>
      <% end %>
    <% end %>
    <% if destroy_topic_entry?(topic_entry) or choose_operate_show("my_school/topic_entries/virtual_delete") %>
      <% unless topic_entry.is_show == false %>
        <%= link_to raw("<i class='icon-remove-sign'></i>"),url_for(:controller => "topic_entries", :action=>:virtual_delete,:id=>topic_entry.id, level: level), :method => :get, confirm: "你确定删除该贴子回复吗", remote: true %>
      <% end %>
    <% end %>
  </div>
</div>
