<div class="show_work">
  <%= render :partial => "/modules/colorful/work_menu" %>
  <div class="work">
    <div class="headline">
      <div class="headline_title">
        <div class="messages_root"></div>
        <label>相册锦集
         <!--  <%#=link_to '相册锦集',my_school_albums_path,:class=>"blue"%>-><%#=link_to @album.title , my_school_album_path(@album),:class=>'blue'%> -->
          <!-- ->上传相片 --></label>
        <div class="crumbs">
          <a href="/my_school/home" title="返回首页">
            <div class="icon_home"></div>
          </a>
          <ul>
            <li><%= link_to "相册锦集", my_school_albums_path %></li>
            <li>/</li>
            <li><%=link_to @album.title , my_school_album_path(@album),:class=>'blue'%></li>
            <li>/</li>
            <li>上传相片</li>
          </ul>
        </div>
      </div>
      <ul class="work_action">
        <li>
          <%=link_to "<div class='work_action_return'></div><div class='work_action_return_move'></div>".html_safe ,my_school_album_path(@album)%>
        </li>
      </ul>
    </div>

    <div class="work_form">
      <div class="form_div">
        <%= form_for(@album_entry,:url=>my_school_album_album_entries_path(@album.id,@album_entry),:html =>{:multipart=>true,:class=>"form-horizontal"}) do |f| %>
          <%= render 'form', :f=>f %>
        <%end%>
        <!--
        <hr/>
        <%= uploadify_rails_options %>
          <div>
            <input type="text" name="uploaded_data" id="uploadify"/>
            <div id="uploadify_queue_div">

            </div>
          </div>
        -->
      </div>

    </div>
  </div>
</div>
<!--
<script type='text/javascript'>
  $(document).ready(function() {
    var option = <%= uploadify_rails_options %>;
    option["uploader"] = "<%= url_for(:controller=>"/my_school/albums",:action=>"add_entry_imgs",:id=>@album.id) %>";
    console.info(option);
    $('input#uploadify').uploadify(option);
  });
</script>
-->