<div class="show_work">
  <%= render :partial => "/modules/colorful/work_menu" %>
  <div class="work">
    <div class="headline">
      <div class="headline_title">
        <div class="messages_root"></div>
        <label>论坛分类管理</label>
        <div class="crumbs">
          <a href="/my_school/home" title="返回首页">
            <div class="icon_home"></div>
          </a>
          <ul>
            <li>系统设置</li>
            <li>/</li>
            <li>论坛分类管理</li>
          </ul>
        </div>
      </div>
      <ul class="work_action">
        <li>
          <% if choose_operate_show("my_school/topic_categories/new") %>
            <a href="<%=url_for(:controller=>"/my_school/topic_categories",:action=>:new)%>" title="添加">
              <div class="work_action_add">
              </div>
              <div class="work_action_add_move">
              </div>
            </a>
          <% end %>
        </li>
      </ul>
    </div>
    <div class="search_form">
     <%= form_tag '/my_school/topic_categories' , :method=>"get" do %>
      <b>名称：</b>
      <%= text_field :topic_category,:name_like,:style=>"width:100px;" ,:value=>"#{params[:topic_category][:name_like] if params[:topic_category] }"  %>
      <%= submit_tag "搜索"  , :class => "btn search_btn"%>
      <%end%>
    </div>
    <div class="work_list">
      <% unless @topic_categories.blank? %>
          <table class="table table-striped table-hover">
            <tr>
              <th style="width: 10%;">名称</th>
              <th style="width: 10%;">贴子数量</th>
              <th>操作</th>
            </tr>
            <% @topic_categories.each do |topic_category| %>
              <tr>
                <td>
                  <% if choose_operate_show("my_school/topic_categories/show") %>
                    <%= link_to topic_category.name, my_school_topic_category_path(topic_category) %>
                  <% else %>
                    <%= topic_category.name %>
                  <% end %>
                </td>
                <td><%= topic_category.topics.try(:count) %></td>
                <td>
                  <div class="index_a">
                    <% if choose_operate_show("my_school/topic_categories/show") %>
                      <%= link_to "查看", my_school_topic_category_path(topic_category) %>
                    <% end %>
                    <% if choose_operate_show("my_school/topic_categories/edit") %>
                      <%= link_to "编辑", edit_my_school_topic_category_path(topic_category) %>
                    <% end %>
                    <% if choose_operate_show("my_school/topic_categories/destroy") %>
                      <% if topic_category.topics.blank? %>
                        <%= link_to "删除", my_school_topic_category_path(topic_category), :method => "delete", :confirm => "您确定要删除该论坛分类吗?" %>
                      <% else %>
                        <%= link_to "删除", my_school_topic_category_path(topic_category), :method => "delete", confirm: "该论坛分类有贴子,点击ok,将连同它包含的贴子也全部删除或者将贴子移动到其他分类再删除!" %>
                      <% end %>
                    <% end %>
                  </div>
                </td>
              </tr>
            <% end %>
          </table>
        <%= paginate @topic_categories %>
      <% else %>
        没有论坛分类
      <% end %>
    </div>
  </div>

</div>
