<div class="show_work">
  <%= render :partial => "/modules/#{view_layout}/work_menu" %>
  <div class="work">
    <div class="headline">
      <div class="headline_title">
        <div class="messages_root"></div>
        <label>论坛分类管理</label>
        <div class="crumbs">
          <a href="/my_school/home" title="返回首页">
            <div class="icon_home"></div>
          </a>
          <ul>
            <li>系统设置</li>
            <li>/</li>
            <li>论坛分类管理</li>
          </ul>
        </div>
      </div>
      <ul class="work_action">
        <li>
          <% if choose_operate_show("my_school/topic_categories/new") %>
            <a href="<%=url_for(:controller=>"/my_school/topic_categories",:action=>:new)%>" title="添加">
              <%= render partial: "/my_school/commons/add_action" %>
            </a>
          <% end %>
        </li>
      </ul>
    </div>
    <%= render partial: "/my_school/topic_categories/search_form" %>
    <div class="work_list">
      <%= render "tab_topic_categories" %>
    </div>
  </div>

</div>
