<div class="show_publicity">
  <img src="/t/colorful/small_publicity.jpg" alt="展示图"/>
</div>
<div class="show_work">
  <%= render :partial => "/modules/colorful/work_menu" %>
  <div class="work">
    <div class="headline">
      <div class="headline_title">
        <div class="messages_root"></div>
        <label>查看贴子分类信息</label>
        <div class="crumbs">
          <a href="/my_school/home" title="返回首页">
            <div class="icon_home"></div>
          </a>
          <ul>
            <li>系统设置</li>
            <li>/</li>
            <li><%= link_to "贴子分类管理", my_school_topic_categories_path %></li>
            <li>/</li>
            <li>查看贴子分类</li>
          </ul>
        </div>
      </div>
      <ul class="work_action">
        <li>
          <a href="<%=url_for(:controller=>"/my_school/topic_categories",:action=>:new)%>" title="添加">
            <div class="work_action_add">
            </div>
            <div class="work_action_add_move">
            </div>
          </a>
        </li>
        <li>
          <a href="<%=url_for(:controller=>"/my_school/topic_categories",:action=>:edit,:id=>@topic_category.id)%>" title="编辑">
            <div class="work_action_edit">
            </div>
            <div class="work_action_edit_move">
            </div>
          </a>
        </li>
        <li>
          <%= link_to(url_for(:controller=>"/my_school/topic_categories",:action=>:destroy,:id=>@topic_category.id),:method=>:delete, :confirm => "您确定删除该贴子分类吗?") do %>
            <div class="work_action_delete">
            </div>
            <div class="work_action_delete_move">
            </div>
          <% end %>
        </li>
        <li>
          <a href="<%=url_for(:controller=>"/my_school/topic_categories",:action=>:index)%>" title="返回">
            <div class="work_action_return">
            </div>
            <div class="work_action_return_move">
            </div>
          </a>
        </li>
      </ul>
    </div>

    <div class="work_form">
      <div class="form_div">
        <form class="form-horizontal">
          <div class="control-group">
            <label class="control-label">名称</label>
            <div class="controls">
              <label class="show_label">
                <%=@topic_category.name%>
              </label>
            </div>
          </div>
          <div class="control-group">
            <label class="control-label" >所属幼儿园</label>
            <div class="controls">
              <label class="show_label">
                <%= @topic_category.kindergarten_label %>
              </label>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>

</div>
