<div style="border-bottom: 1px solid #eee; margin-bottom: 8px;">
  <label style="font-size: 18px;"><%= @role.name %>角色</label>
  <%= simple_format raw( @role.note ), :class => "muted", style: "text-indent: 20px;" %>
</div>
<input type="checkbox" id="check_all_roles" name="" value="" alt="全部角色" class="check_all_roles" /><label style="display: inline; font-size: 15px;" for="check_all_roles">选择全部权限</label>
<br />
<br />
<% n = 0 %>
<% @option_operates.each do |k, v| %>
  <% n = n + 1 %>
  <li class='check_boxes'>
    <%if k != 'root' && !k.blank? %>
    <fieldset class="role">
      <legend class="label"><input  id="<%= "flag_" + n.to_s %>" type="checkbox" name="" value="" alt="全选" class="flag_check_all" /><label style="display: inline; padding-left: 0" for="<%= "flag_" + n.to_s %>"><%= k %></label></legend>
      <ol>
        <% v.each do |operate| %>
          <li>
          <label for="operate_<%= operate.id %>">
          <input class="flag_<%= n.to_s %>_value" id="operate_<%= operate.id %>" name="operate[]" type="checkbox" value="<%= operate.id %>" <%= @role.option_operates.include?(operate) ? "checked=true" : nil %> /> <%= operate.operate.name %>    </label>
          </li>
        <% end %>
      </ol>
    </fieldset>
  <%end%>
  </li>
<% end %>
<div class="control-group role_submit_style">
  <div class="controls">
    <%= f.submit('保存',:class=>"btn") %>
  </div>
</div>

<script type="text/javascript">
$(".flag_check_all").each(function() {
  var check_val = "." + $(this).attr("id") + "_value"
  $(this).click(function() {
    $(check_val).attr("checked", this.checked)
  })
})
$(".check_all_roles").click(function() {
  $("input[class^='flag']").attr("checked", this.checked)
})
</script>
