<div class="show_publicity">
  <img src="/t/colorful/small_publicity.jpg" alt="展示图"/>
</div>
<div class="show_work">
  <%= render :partial => "/modules/colorful/work_menu" %>
  <div class="work">
    <div class="headline">
      <div class="headline_title">
        <div class="messages_root"></div>
        <label>角色管理</label>
        <div class="crumbs">
          <a href="/my_school/home" title="返回首页">
            <div class="icon_home"></div>
          </a>
          <ul>
             <li><%= link_to "角色管理", my_school_roles_path %></li>
            <li>/</li>
            <li>查看<%=@role.name%>角色</li>
          </ul>
        </div>
      </div>
      <ul class="work_action">
        <li>
          <a href="<%=url_for(:controller=>"/my_school/roles",:action=>:new)%>" title="添加">
            <div class="work_action_add">
            </div>
            <div class="work_action_add_move">
            </div>
          </a>
        </li>
        <li>
          <a href="<%=url_for(:controller=>"/my_school/roles",:action=>:edit,:id=>@role.id)%>" title="编辑">
            <div class="work_action_edit">
            </div>
            <div class="work_action_edit_move">
            </div>
          </a>
        </li>
        <li>
          <%= link_to(url_for(:controller=>"/my_school/roles",:action=>:destroy,:id=>@role.id),:method=>:delete, :confirm => "您确定删除该通知吗?") do %>
            <div class="work_action_delete">
            </div>
            <div class="work_action_delete_move">
            </div>
          <% end %>
        </li>
        <li>
          <a href="<%=url_for(:controller=>"/my_school/roles",:action=>:index)%>" title="返回">
            <div class="work_action_return">
            </div>
            <div class="work_action_return_move">
            </div>
          </a>
        </li>
      </ul>
    </div>

    <div class="work_form">
      <div class="form_div">
        <form class="form-horizontal">
          <div class="control-group">
            <label class="control-label">所属幼儿园</label>
            <div class="controls">
              <label class="show_label">
                <%=@kind.name %>
              </label>
            </div>
          </div>
          <div class="control-group">
            <label class="control-label">名称</label>
            <div class="controls">
              <label class="show_label">
                <%=@role.name  %>
              </label>
            </div>
          </div>
          <div class="control-group">
            <label class="control-label" >编号:</label>
            <div class="controls">
              <label class="show_label">
                <%=@role.number%>
              </label>
            </div>
          </div>
          <div class="control-group">
            <label class="control-label" >描述:</label>
            <div class="controls">
              <label class="show_label">
                <%= @role.note%>
              </label>
            </div>
          </div>
          <div class="control-group">
            <label class="control-label" >创建时间:</label>
            <div class="controls">
              <label class="show_label">
                <%= @role.created_at.try(:to_short_datetime)%>
              </label>
            </div>
          </div>
          <div class="control-group">
            <label class="control-label" >更新时间:</label>
            <div class="controls">
              <label class="show_label">
                <%= @role.updated_at.try(:to_short_datetime)%>
              </label>
            </div>
          </div>
          <div class="control-group">
            <label class="control-label" >给角色分配权限:</label>
            <div class="controls">
              <label class="show_label">
               <table>
          <%(@options || []).each do |k,v|%>
          <tr>
            <td style= "font-weight: bold;"><%=k%></td>
            <td>
              <ul>
              <%v.each do |option|%>
                <li><%=option.operate.name%></li>
              </ul>
             <%end%>
            </td>
          </tr>
          <%end%>
        </table>
              </label>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>

</div>
