<div class="show_publicity">
  <img src="/t/colorful/small_publicity.jpg" alt="展示图"/>
</div>
<div class="show_work">
  <%= render :partial => "/modules/#{view_layout}/work_menu" %>
  <div class="work">
    <div class="headline">
      <div class="headline_title">
        <div class="messages_root"></div>
        <label>角色管理</label>
        <div class="crumbs">
          <a href="/my_school/home" title="返回首页">
            <div class="icon_home"></div>
          </a>
          <ul>
             <li><%= link_to "角色管理", my_school_roles_path %></li>
            <li>/</li>
            <li>查看<%=@role.name%>角色</li>
          </ul>
        </div>
      </div>
      <ul class="work_action">
        <li>
          <a href="<%=url_for(:controller=>"/my_school/roles",:action=>:new)%>" title="添加">
            <div class="work_action_add">
            </div>
            <div class="work_action_add_move">
            </div>
          </a>
        </li>
        <li>
          <a href="<%=url_for(:controller=>"/my_school/roles",:action=>:edit,:id=>@role.id)%>" title="编辑">
            <div class="work_action_edit">
            </div>
            <div class="work_action_edit_move">
            </div>
          </a>
        </li>
        <li>
          <%= link_to(url_for(:controller=>"/my_school/roles",:action=>:destroy,:id=>@role.id),:method=>:delete, :confirm => "您确定删除该通知吗?") do %>
            <div class="work_action_delete">
            </div>
            <div class="work_action_delete_move">
            </div>
          <% end %>
        </li>
        <li>
          <a href="<%=url_for(:controller=>"/my_school/roles",:action=>:index)%>" title="返回">
            <div class="work_action_return">
            </div>
            <div class="work_action_return_move">
            </div>
          </a>
        </li>
      </ul>
    </div>

    <div class="work_form">
      <div class="form_div">
        <div class="show role" style="position: relative;">
          <div style="position: absolute;width:200px;right:-95px;">
            <% if choose_operate_show("my_school/roles/index") %>
              <%= link_to "分配权限", set_operate_to_role_my_school_role_path(@role), class: "btn" %>
            <% end %>
          </div>
          <div class="content_up">
            <p class="title" style="font-weight: normal;"><span><%= @role.name %></span></p>
            <%= simple_format raw( @role.note ), :class => "muted", style: "text-indent: 20px;" %>
            <table class="attributes">
              <tr>
                <th>是否是管理员</th>
                <td><%= @role.admin == true ? "是" : "否" %></td>
                <th>编号</th>
                <td><%= @role.number %></td>
              </tr>
              <tr>
                <th>创建时间</th>
                <td><%= @role.created_at.try(:to_long_datetime) %></td>
                <th>更新时间</th>
                <td><%= @role.updated_at.try(:to_long_datetime) %></td>
              </tr>
              <tr>
                <th>所属幼儿园</th>
                <td colspan="3" style="text-align: center;">
                  <%= @role.kindergarten_label %>
                </td>
              </tr>
            </table>
          </div>
        </div>
        <div><p class="muted text-center" style="font-size: 17px;">该角色的所有权限</p></div>

        <% unless @options.blank? %>
          <% @options.each do |k, v| %>
            <li class='check_boxes'>
              <%if k != 'root' && !k.blank? %>
                <fieldset class="role">
                  <legend class="label" style="font-size: 15px;line-height: 20px;"><%= k %></legend>
                  <ol>
                    <% v.each do |operate| %>
                      <li>
                        <label style="font-size: 14px;">
                          <%= operate.operate.name %>
                        </label>
                      </li>
                    <% end %>
                  </ol>
                </fieldset>
              <%end%>
            </li>
          <% end %>
        <% else %>
          <p style="text-align: center;">没有权限</p>
        <% end %>

      </div>
    </div>
  </div>

</div>
