<div class="show_work">
  <%= render :partial => "/modules/colorful/work_menu" %>
  <div class="work">
    <div class="headline">
      <div class="headline_title">
        <div class="messages_root"></div>
        <label>升学策略</label>
        <div class="crumbs">
          <a href="/my_school/home" title="返回首页">
            <div class="icon_home"></div>
          </a>
          <ul>
            <li><%= link_to "升学策略", my_school_career_strategies_path %></li>
            <li>/</li>
            <li>添加升学策略</li>
          </ul>
        </div>
      </div>
      <ul class="work_action">
        <a href="<%=url_for(:controller=>"/my_school/career_strategies",:action=>:index)%>" title="返回">
          <div class="work_action_return">
          </div>
          <div class="work_action_return_move">
          </div>
        </a>
      </ul>
    </div>

    <div class="work_form">
      <div class="form_div">
        <%= form_for(@career_strategy, :validate => true,:url=>my_school_career_strategies_path(@career_strategy), :html =>{:class=>"form-horizontal"}) do |f| %>
          <%= render 'form', :f=>f %>
          <div class="control-group">
            <div class="controls">
              <%= f.submit('创建',:class=>"btn") %>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>

