<div class="show_publicity">
  <img src="/t/colorful/small_publicity.jpg" alt="展示图"/>
</div>
<div class="show_work">
  <%= render :partial => "/modules/colorful/work_menu" %>
  <div class="work">
    <div class="headline">
      <div class="headline_title">
        <div class="messages_root"></div>
        <label>升学策略</label>
        <div class="crumbs">
          <a href="/my_school/home" title="返回首页">
            <div class="icon_home"></div>
          </a>
          <ul>
            <li>系统设置</li>
            <li>/</li>
            <li><%= link_to "升学策略", my_school_career_strategies_path %></li>
            <li>/</li>
            <li>查看升学策略</li>
          </ul>
        </div>
      </div>
      <ul class="work_action">
        <li>
          <a href="<%=url_for(:controller=>"/my_school/career_strategies",:action=>:new)%>" title="添加">
            <div class="work_action_add">
            </div>
            <div class="work_action_add_move">
            </div>
          </a>
        </li>
        <li>
          <a href="<%=url_for(:controller=>"/my_school/career_strategies",:action=>:edit,:id=>@career_strategy.id)%>" title="编辑">
            <div class="work_action_edit">
            </div>
            <div class="work_action_edit_move">
            </div>
          </a>
        </li>
        <li>
          <%= link_to(url_for(:controller=>"/my_school/career_strategies",:action=>:destroy,:id=>@career_strategy.id),:method=>:delete, :confirm => "您确定删除该通知吗?") do %>
            <div class="work_action_delete">
            </div>
            <div class="work_action_delete_move">
            </div>
          <% end %>
        </li>
        <li>
          <a href="<%=url_for(:controller=>"/my_school/career_strategies",:action=>:index)%>" title="返回">
            <div class="work_action_return">
            </div>
            <div class="work_action_return_move">
            </div>
          </a>
        </li>
      </ul>
    </div>

    <div class="work_form">
      <div class="form_div">
        <form class="form-horizontal">
          <div class="control-group">
            <label class="control-label">选择班级</label>
            <div class="controls">
              <label class="show_label">
                <% if @career_strategy.from.grade %>
                  年级：<%= @career_strategy.from.grade.name %>&nbsp;&nbsp;&nbsp;班级：
                <% end %>
                <%= @career_strategy.from.name %>
              </label>
            </div>
          </div>
          <div class="control-group">
            <label class="control-label" >升学时需新开班级</label>
            <div class="controls">
              <label class="show_label">
                <%= CareerStrategy::ADD_SQUAD_DATA[@career_strategy.add_squad.to_s] %>
              </label>
            </div>
          </div>
          <div class="control-group">
            <label class="control-label" >是否是毕业班</label>
            <div class="controls">
              <label class="show_label">
                <%= CareerStrategy::GRADUATION_DATA[@career_strategy.graduation.to_s] %>
              </label>
            </div>
          </div>
          <% unless @career_strategy.graduation %>
            <div class="control-group">
              <label class="control-label" >升学后班级</label>
              <div class="controls">
                <label class="show_label">
                  <% if @career_strategy.to.grade %>
                    年级：<%= @career_strategy.to.grade.name %>&nbsp;&nbsp;&nbsp;班级：
                  <% end %>
                  <%= @career_strategy.to.name %>
                </label>
              </div>
            </div>
          <% end %>

        </form>
      </div>
    </div>
  </div>

</div>
