<div class="show_work">
  <%= render :partial => "/modules/colorful/work_menu" %>
  <div class="work">
    <div class="headline">
      <div class="headline_title">
        <div class="messages_root"></div>
        <label>园长信箱</label>
        <div class="crumbs">
          <a href="/my_school/home" title="返回首页">
            <div class="icon_home"></div>
          </a>
          <ul>
            <li><%= link_to "园长信箱", my_school_dean_emails_path %></li>
          </ul>
        </div>
      </div>
      <ul class="work_action">
        <li>
          <a href="/" title="删除" id="destroy_multiple">
            <div class="work_action_delete">
            </div>
            <div class="work_action_delete_move">
            </div>
          </a>
        </li>
      </ul>
    </div>
    <div class="search_form">
      <%= form_tag '/my_school/dean_emails' , :method=>"get" do %>
        <b>状态：</b>
        <%= select_tag("dean_emails[status_equals]", options_for_select([["全部",""],["已回复",1],["新建",0]],(params[:dean_emails].blank? ? "" : params[:dean_emails][:status_equals])),:style=>"width:100px;margin-top: 10px;") %>
        <%= submit_tag "搜索", :class => "btn btn-primary"%>
      <%end%>
    </div>
    <div class="work_list">
      <% unless @dean_emails.blank? %>
        <table class="list">
          <%= form_tag my_school_dean_email_path(@dean_emails), :method=> :delete, :id => "destroy_multi_form" do %>
            <tr>
              <th><input type="checkbox" name="" value="" alt="全选" id="check_all"/>&nbsp;<label style="display: inline;font-size: 13px;" for="check_all" /></th>
              <th>发送人</th>
              <th>标题</th>
              <th>发布时间</th>
              <th>回复状态</th>
              <th>操作</th>
              <th></th>
            </tr>
            <% @dean_emails.each do |dean_email| %>
              <tr>
                <td><input id="dean_email_<%= dean_email.id %>" class="check" name="id[]" type="checkbox" value="<%= dean_email.id %>" /></td>
                <td><%= dean_email.user_name %></td>
                <td><%= link_to "#{dean_email.title}",:action=>:show,:id=>dean_email.id %></td>
                <td><%= dean_email.created_at ? dean_email.created_at.to_short_datetime : "" %></td>
                <td><%=dean_email.return_content.blank? ? "未回复" : "已回复" %></td>
                <td class="option">
                  <%if action_name=="index"%>
                    <%= link_to "查看",:action=>:show,:id=>dean_email.id %>
                  <%else%>
                    <%= link_to "查看",:action=>:draft_show,:id=>dean_email.id %>
                  <%end%>
                </td>
                <td>
                </td>
              </tr>
            <% end %>
          <% end %>
        </table>
        <%= paginate @dean_emails %>
      <% else %>
        没有消息
      <% end %>
    </div>
  </div>

</div>

<script type="text/javascript">
  $(document).ready(function(){

    $("#destroy_multiple").click(function(){
      $("#destroy_multi_form").submit();
      return false;
    });
  });
</script>
