<% f = form %>
<script type="text/javascript">
  jQuery(function() {
    $('#growth_record_start_at').datepicker({
      language: "zh-CN",
      format:"yyyy-mm-dd"
    }).on("changeDate", function() {
      $(this).datepicker('hide')
    });;
    $('#growth_record_end_at').datepicker({
      language: "zh-CN",
      format:"yyyy-mm-dd"
    }).on("changeDate", function() {
      $(this).datepicker('hide')
    });;

  });
</script>

<% if action_name == "new" %>
  <% if current_user.get_users_ranges[:tp] == :student %>
    <div class="field">
      <label class="field_prompt">学员:</label>
      <%= f.text_field :student_info_label, :disabled => true, :class => "text-content" %>
    </div>
  <% else %>
    <div class="field">
      <label class="field_prompt" for="grade">年级:</label>
      <% unless @grades.blank? %>
        <%= select_tag "grade", options_for_select(@grades.collect{|s|[s.name,s.id]}), :class => "select" %>
      <% else %>
        <div class="controls">
          <label>没有年级,先创建年级,才能继续操作</label>
        </div>
      <% end %>
      <div id="grade_squad_partial">
        <% unless @squads.blank? %>
          <label class="field_prompt" for="squad">班级:</label>
          <%= select_tag "squad", options_for_select((@squads.collect{|s|[s.name,s.id]} || [])), :class => "select" %>
        <% else %>
          <label class="field_prompt" for="squad">班级:</label>
          <div class="controls">
            <label>没有班级,先创建班级,才能继续操作</label>
          </div>
        <% end %>
      </div>
      <div id="squad_student_partial">
        <% unless @student_infos.blank? %>
          <label class="field_prompt" for="student">学员:</label>
          <%= select_tag "student_info_id", options_for_select((@student_infos.collect{|s|[s.user.name,s.id]} || [])), :class => "select", :name => "growth_record[student_info_id]" %>
        <% else %>
          <label class="field_prompt" for="student">学员:</label>
          <div class="controls">
            <label>没有学员,先创建学员,才能继续操作</label>
          </div>
        <% end %>
      </div>
    </div>
  <% end %>
<% else %>
  <div class="field">
    <label class="field_prompt">学员:</label>
    <%= f.text_field :student_info_label, :disabled => true, :class => "text-content" %>
  </div>
<% end %>

<div class="field">
  <div id="start_at_container">
    <label class="field_prompt" for="growth_record_start_at">开始时间:</label>
    <% if action_name == "new" %>
      <%= f.text_field :start_at, validate: false, :required => true, :class => "text-content" %>
    <% else %>
      <%= f.text_field :start_at, validate: false, :required => true, :class => "text-content", :value => @growth_record.start_at.to_short_datetime  %>
    <% end %>
  </div>
  <div id="end_at_container">
    <label class="field_prompt" for="growth_record_end_at">结束时间:</label>
    <% if action_name == "new" %>
      <%= f.text_field :end_at, validate: false, :required => true, :class => "text-content" %>
    <% else %>
      <%= f.text_field :end_at, validate: false, :required => true, :class => "text-content", :value => @growth_record.end_at.to_short_datetime %>
    <% end %>
  </div>
</div>
<div class="field">
  <label class="field_prompt">照片</label>&nbsp;&nbsp;

  <% f.object.asset_imgs.each do |img| %>
    <div class="img_div">
      <div class="img_border">
        <% if action_name == "new" || action_name == "create" %>
          &nbsp;&nbsp; <img src="<%= @set_imge %>" alt="照片"class="img-polaroid"/>
        <% else %>
          &nbsp;&nbsp; <img src="<%= img.public_filename(:middle) %>" alt="照片"class="img-polaroid"/>
        <% end %>
      </div>
    </div>

  <% end %>
  <% img_size = f.object.asset_imgs.size %>
  <% if img_size < 2  %>
    <% (2 - img_size).times.each do |i| %>
      <div class="img_div">
        <%= file_field_tag "asset_imgs[#{i}]",:for=>"img#{i}" %>
        <br />
        <div class="img_border" style="margin-top: 5px; margin-left: -15px;">
          &nbsp;&nbsp; <img src="/t/colorful/user_logo.png" alt="照片" id="img<%= i %>" class="img-polaroid"/>
        </div>
        <br />
      </div>
    <% end %>
  <% end %>
</div>
<% if !f.object.audio_turn.blank? %>
  <div class="field">
    <label class="field_prompt">声音:</label>
    <!--<embed src="<%=@growth_record.audio_turn%>" loop=false autostart=false name=bgss width="120" height="20"/>-->
    <audio src="<%=@growth_record.audio_turn%>" controls="controls">
      您的浏览器不支持播放语音
    </audio>
    <br/>
  </div>
<% end %>
<div class="field" id="content_field">
  <label class="field_prompt" for="growth_record_content">内容:</label>
  <%= f.text_area :content, validate: true, :class => "text-area" %>
</div>

<% if current_user.get_users_ranges[:tp] == :student %>
  <%= f.input :student_info_id, :as => :hidden %>
<% end %>
<div class="text-center form-actions">
  <%= f.button :submit, :class => "btn btn-primary btn-large", value: "保存", disable_with: "正在提交" %>
</div>

<script type="text/javascript">
  $(document).ready(function() {
    $("#grade").change(function() {
      $.ajax({
        url: "/weixin/growth_records/grade_squad",
        data: {
          grade: $("#grade").val()
        },
        beforeSend: function() {
          $("#grade_squad_partial").html('<img style="margin-left: 10px" class="loading_img" src="/t/colorful/gif_preloader.gif" alt="" />')

        },
        success: function(result) {
          $("#grade_squad_partial").html(result);
        }
      })
    }).trigger("change");
    var flag = []
    var time_re = /\d{4}-\d{2}-\d{2}/;
    $("input[name='commit']").click(function(){
      if( !time_re.test($("#growth_record_start_at").val()) || $("#growth_record_start_at").val().length == 0 ) {
        if( $("#start_at_container").children("span.help-inline").length == 0 ) {
          $("<span class='help-inline'>时间格式不对或为空</span>").insertBefore($("#growth_record_start_at"))
        }
        flag.push(true);
      } else {
        if($("#start_at_container").children("span.help-inline").length > 0) {
          $("#start_at_container span.help-inline").remove()
        }
        flag.push(false);
      }
      if( !time_re.test($("#growth_record_end_at").val()) || $("#growth_record_end_at").val().length == 0 ) {
        if( $("#end_at_container").children("span.help-inline").length == 0 ) {
          $("<span class='help-inline'>时间格式不对或为空</span>").insertBefore($("#growth_record_end_at"))
        }
        flag.push(true);
      } else {
        if($("#end_at_container").children("span.help-inline").length > 0) {
          $("#end_at_container span.help-inline").remove()
        }
        flag.push(false);
      }
      if ( $("#growth_record_start_at").val().length > 0 && $("#growth_record_end_at").val().length > 0 && time_re.test($("#growth_record_start_at").val()) && time_re.test($("#growth_record_end_at").val()) ) {
        if( Date.parse($("#growth_record_end_at").val()) < Date.parse($("#growth_record_start_at").val()) ) {
          if( $("#end_at_container").children("span.help-inline").length == 0 ) {
            $("<span class='help-inline'>结束时间必须大于开始时间</span>").insertAfter($("#growth_record_end_at"))
          }
          flag.push(true);
        } else {
          if($("#end_at_container").children("span.help-inline").length > 0) {
            $("#end_at_container span.help-inline").remove()
          }
          flag.push(false);
        }
      }
      for( i in flag ) {
        if(flag[i] == true) {
          flag.length = 0;
          return false;
        }
      }
    })


    var count = $("#growth_record_reward").val() || 0;
    var options = {
      value: count,
      max: 5,
      after_click: function(ret) {
        $('#growth_record_reward').val(ret.number);
      }
    }
    $('#reward').rater(options);

  })
</script>

<script  type="text/javascript">
  /**
   * 使用HTML5 File API, 來即時預覽image
   */
  $("input[type=file]").change(function(){
    var objUrl = getObjectURL(this.files[0]);
    if (objUrl) {
      $("#" + $(this).attr("for")).attr("src", objUrl) ;
    }
  }) ;

  /**
   * 建立一個可存取到該file的url
   * PS: 瀏覽器必須支援HTML5 File API
   */
  function getObjectURL(file) {
    var url = null ;
    if (window.createObjectURL!=undefined) { // basic
      url = window.createObjectURL(file) ;
    } else if (window.URL!=undefined) { // mozilla(firefox)
      url = window.URL.createObjectURL(file) ;
    } else if (window.webkitURL!=undefined) { // webkit or chrome
      url = window.webkitURL.createObjectURL(file) ;
    }
    return url ;
  }
</script>
