<% f = form %>
<script type="text/javascript">
  jQuery(function() {
    $('#growth_record_start_at').datepicker({
      language: "zh-CN",
      format:"yyyy-mm-dd"
    });
    $('#growth_record_end_at').datepicker({
      language: "zh-CN",
      format:"yyyy-mm-dd"
    });

  });
</script>
<div class="field" id="select_field">
  <label class="field_prompt" for="growth_record_start_at">开始时间:</label>
  <%= f.text_field :start_at, :required => true, :class => "text-content" %>
  <label class="field_prompt" for="growth_record_end_at">结束时间:</label>
  <%= f.text_field :end_at, :required => true, :class => "text-content" %>
</div>

<div class="field" id="select_field">
  <label class="field_prompt" for="grade">年级:</label>
  <%= select_tag "grade", options_for_select(@grades.collect{|s|[s.name,s.id]}), :class => "select" %>
  <label class="field_prompt" for="squad">班级:</label>
  <%= select_tag "squad", options_for_select((@squads.collect{|s|[s.name,s.id]} || [])), :class => "select" %>
  <label class="field_prompt" for="student">学员:</label>
  <%= select_tag "student", options_for_select((@student_infos.collect{|s|[s.user.name,s.id]} || [])), :class => "select" %>
</div>

<div class="field" id="content_field">
  <label class="field_prompt" for="content">内容:</label>
  <%= f.text_area :content, :class => "text-area", :required => true %>
</div



<%= f.input :tp, :as => :hidden %>
<%= f.input :creater_id, :as => :hidden %>
<%= f.input :kindergarten_id, :as => :hidden %>
<%= f.button :submit, :class => "btn btn-large" %>

<script type="text/javascript">
var flag = []
$(":submit").click(function() {
  if($("select").val() == "") {
    if($("#select_field").children("span.help").length == 0) {
      $("<span class='help'>必须选择论坛分类<span>").insertAfter($(".select"))
    }
    flag.push(true)
  } else {
    if($("#select_field").children("span.help").length > 0) {
      $("#select_field span.help").remove()
    }
    flag.push(false)
  }
  if($("#topic_title").val().length < 3) {
    if($("#title_field").children("span.help").length == 0) {
      $("<span class='help'>长度太短必须3个字符以上</span>").insertBefore($("#topic_title"))
    }
    flag.push(true)
  } else {
    if($("#title_field").children("span.help").length > 0) {
      $("#title_field span.help").remove()
    }
    flag.push(false)
  }
  if($("#topic_content").val().length < 3) {
    if($("#content_field").children("span.help").length == 0) {
      $("<span class='help'>长度太短必须3个字符以上</span>").insertBefore($("#topic_content"))
    }
    flag.push(true)
  } else {
    if($("#content_field").children("span.help").length > 0) {
      $("#content_field span.help").remove()
    }
    flag.push(false)
  }
  for( i in flag ) {
    if(flag[i] == true) {
      flag.length = 0;
      return false;
    }
  }
})
</script>
