<div class="container">
  <%= render :partial => "/modules/colorful/weixin_head" %>
</div>
<div class="message_div">
  <div class="message_title">
    <span>宝宝成长</span><span>></span><span>宝宝在家</span>
  </div>
  <div class="message_list">
    <ul class="data_list">
      <%= link_to "发表内容", new_weixin_growth_record_path, :class => "new_topic" %>
      <% if @growth_records.blank? %>
        <li><div class="message_content">还没有成长记录</div></li>
      <% else %>
        <% @growth_records.each do |growth_record| %>
          <li class="growth_record" data-id="<%= growth_record.id %>">
            <p class="creater"><span><%= growth_record.student_info_label %></span></p>
            <p class="time"><span><%= growth_record.try(:start_at).try(:to_short_datetime) %></span>&nbsp;~&nbsp;<span><%= growth_record.try(:end_at).try(:to_short_datetime) %></span>&nbsp;by<span class="creater author"><%= growth_record.try(:creater).try(:name) %></span></p>
            <div class="content">
              <%= simple_format growth_record.content %>
            </div>
          </li>
        <% end %>
      <% end %>
    </ul>
    <br/>
  </div>
  <% unless  @growth_records.blank? %>
    <div class="message_more">
      <div class="paginate_div">
        <%= paginate @growth_records, :window => 1%>
      </div>
    </div>
  <% end %>
</div>
<%= render :partial => "/modules/colorful/weixin_menu_navbar"%>
<%= render :partial => "/modules/colorful/weixin_menu_one"%>

<script type="text/javascript">
$(".growth_record").each(function() {
  $(this).click(function() {
    window.location.href = "growth_records/" + $(this).attr("data-id")
  })
})
</script>
