<%#= f.text_field :name ,:class => "span5" %>
<%#= render 'shared/form_error_messages', :model => @category %>
<script type="text/javascript">
  jQuery(function() {
    $('#physical_record_send_date').datepicker({
      language: "zh-CN",
      format:"yyyy-mm-dd"
    }).on("changeDate", function() {
      $(this).datepicker('hide')
    });;
    $("#grade").change(function(){
      $.get( "/my_school/physical_records/grade_class",
      { grade: $('#grade').val()},
      function(result){
        $("#class_number_partial").html(result);
      })
    });
  });
  $('#grade').trigger('change');
  // $("#grade").change();
</script>
<div class="control-group">
  <%=f.label :kindergarten_id, '所属幼儿园*' ,:class=>"control-label"%>
  <div class="controls">
    <%= text_field_tag(:kindergarten,@kind.name, disabled: true) %>
  </div>
</div>
<div class="control-group">
  <%=f.label :content, '体检记录:' ,:class=>"control-label"%>
  <!-- <div class="controls"> -->
  <%#= f.text_field(:content, :validate => true, :class=>"profile_input") %>
  <%= f.kindeditor :content, :class => 'profile_input required', :editor_id => 'topic_content',:allowFileManager => false,:allowUpload=>false%>
  <!-- </div> -->
</div>
<div class="control-group">
  <%=f.label :send_date, '体检时间: ' ,:class=>"control-label"%>
  <div class="controls">
    <% if action_name == "new" %>
      <%= f.text_field(:send_date, :validate => true, :class => "time_datepicker", placeholder: "单击此处选择体验时间") %>
    <% else %>
      <%= f.text_field(:send_date, :validate => true, :class => "time_datepicker", :value => @physical_record.send_date.to_short_datetime) %>
    <% end %>
  </div>
</div>
<% if action_name == "new" %>
  <div class="control-group">
    <%=f.label :student_info_id, '学生: ' ,:class=>"control-label"%>
    <div class="controls">
      <span>年级&nbsp;<%= select_tag "grade", options_for_select(@grades.collect{|s|[s.name,s.id]})%></span>
      <br />
      <br />
      <div id="class_number_partial">
        <%unless @squads.blank? %>
          <br />
          <span>班级&nbsp;<%= select_tag "class_number", options_for_select((@squads.collect{|s|[s.name,s.id]} || [])) %></span>
          <br />
        <%end%>
        <div id="student_partial">
          <br />
          <span >学生：&nbsp;
            <%(@student_infos||[]).each do |st_in|%>
              <%=radio_button_tag("physical_record[student_info_id]",st_in.id)%><%=st_in.name%>
            <%end%>
          </span>
        </div>
      </div>
    </div>
  </div>
<% else %>
  <div class="control-group">
    <%= f.label :student_info, :class => "control-label" %>
    <div class="controls">
      <%= f.text_field :student_info_label, :disabled => true %>
    </div>
  </div>
<% end %>
<%= hidden_field @physical_record, :creater_id %>
<div class="control-group">
  <div class="controls">
    <%= f.submit('保存',:class=>"btn btn-primary btn-large", "data-disable-with" => "正在提交...") %>
  </div>
</div>
<script type="text/javascript">
  $("#class_number").change(function(){
    $.get( "/my_school/physical_records/class_student",
    { grade: $('#grade').val(), class_number: $('#class_number').val()},
    function(result){
      $("#student_partial").html(result);
    });
  });

flag = []
$("input[name='commit']").click(function(){
  if ( $("input[name='physical_record[student_info_id]']").is(':checked') )  {
    if($("#grade").next("span.help-inline").length > 0) {
      $("#grade").next("span.help-inline").remove()
    }
    flag.push(false); 
  } else if ( $("#physical_record_student_info_label").length > 0 ) {
    flag.push(false)
  } else {
    if( $("#grade").next("span.help-inline").length == 0 ) {
      $("<span class='help-inline'>必须选择学员</span>").insertAfter($("#grade"))
    }
    flag.push(true);
  }

  for( i in flag ) {
    if(flag[i] == true) {
      flag.length = 0;
      return false;
    }
  }
})
</script>
