<div class="topic topic_line pull-left">
  <div class="pull-left"><input type="checkbox" class="check" /></div>
  <div class="avatar pull-left"><img src="<%= physical_record.student_info.user.asset_logo ? physical_record.student_info.user.asset_logo.public_filename(:thumb) : '/t/colorful/user_logo.png' %>" width="83" alt="头像"/>
  </div>
  <div class="right_info">
    <div class="pull-right">
      <% if choose_operate_show("my_school/physical_records/show") %>
        <a href="<%= my_school_physical_record_path(physical_record) %>" title="查看<%= physical_record.student_info_label %>的体检记录" alt="要看<%= physical_record.student_info_label %>的体检记录"><i class="icon-eye-open"></i></a>
      <% end %>
      <% if choose_operate_show("my_school/physical_records/edit") %>
        <a href="<%= edit_my_school_physical_record_path(physical_record) %>" title="编辑<%= physical_record.student_info_label %>的体检记录" alt="编辑<%= physical_record.student_info_label %>的体检记录"><i class="icon-edit"></i></a>
      <% end %>
    </div>
    <div class="infos">
      <div class="title">
        <%= link_to "#{physical_record.student_info_label}的体检记录", my_school_physical_record_path(physical_record) %>
      </div>
      <div class="title">
        <em>体检时间:</em><abbr><%= physical_record.send_date.try(:to_short_datetime) %></abbr>
      </div>
      <div class="info">
        <em><%= physical_record.creater.try(:name) %></em>
        <em>创建于</em><abbr><%= physical_record.created_at.try(:to_long_datetime) %></abbr>
      </div>
    </div>
  </div>
</div>
