<script type="text/javascript">
  jQuery(function() {
    $('#physical_record_send_date_equals').datepicker({
      language: "zh-CN",
      format:"yyyy-mm-dd"
    });
  })

</script>
<div class="show_work">
  <%= render :partial => "/modules/colorful/work_menu" %>
  <div class="work">
    <div class="headline">
      <div class="headline_title">
        <div class="messages_root"></div>
        <label>体检记录</label>
        <div class="crumbs">
          <a href="/my_school/home" title="返回首页">
            <div class="icon_home"></div>
          </a>
          <ul>
          </ul>
        </div>
      </div>
      <ul class="work_action">
        <li>
          <%=(link_to "<div class='work_action_add'>
            </div><div class='work_action_add_move'>
            </div>".html_safe ,new_my_school_physical_record_path) if choose_operate_show("my_school/physical_records/new")  %>
        </li>
        <li>
          <a href="/" title="删除" id="destroy_multiple">
            <div class="work_action_delete">
            </div>
            <div class="work_action_delete_move">
            </div>
          </a>
        </li>
      </ul>
    </div>
    <div class="search_form">
     <%= form_tag '/my_school/physical_records' , :method=>"get" do %>
     <b>学员：</b>
      <%= text_field :physical_record,:student_info_user_name_like,:style=>"width:100px;" ,:value=>"#{params[:physical_record][:student_info_user_name_like] if params[:physical_record] }"%>
      <b>体检记录：</b><%= text_field :physical_record,:content_like,:style=>"width:100px;" ,:class=>"control-label",:value=>"#{params[:physical_record][:content_like] if params[:physical_record] }" %>
      <b>体检时间：</b>
      <%= text_field :physical_record,:send_date_equals,:style=>"width:100px;" ,:value=>"#{params[:physical_record][:send_date_equals] if params[:physical_record] }"  %>
      <%= submit_tag "搜索" %>
      <%end%>
    </div>
    <div class="work_list">
      <% unless @physical_records.blank? %>
        <div class="topics">
          <%= render partial: "physical_record", collection: @physical_records %>
        </div>
        <%= paginate @physical_records %>
      <% else %>
        暂无体检记录
      <% end %>
    </div>
  </div>

</div>

<script type="text/javascript">
$(document).ready(function(){
  $("#physical_record_all").click(function(){
    $(".physical_record_check").attr("checked",this.checked);
  })
  $("#destroy_multiple").click(function(){
      $("#destroy_multi_form").submit();
      return false;
  });
});
</script>
