<script type="text/javascript">
  jQuery(function() {
    $('#physical_record_send_date_equals').datepicker({
      language: "zh-CN",
      format:"yyyy-mm-dd"
    });
  })

</script>
<div class="show_work">
  <%= render :partial => "/modules/colorful/work_menu" %>
  <div class="work">
    <div class="headline">
      <div class="headline_title">
        <div class="messages_root"></div>
        <label>体检记录</label>
        <div class="crumbs">
          <a href="/my_school/home" title="返回首页">
            <div class="icon_home"></div>
          </a>
          <ul>
          </ul>
        </div>
      </div>
      <ul class="work_action">
        <li>
          <%=(link_to "<div class='work_action_add'>
            </div><div class='work_action_add_move'>
            </div>".html_safe ,new_my_school_physical_record_path) unless @flag.blank? %>
        </li>
      </ul>
    </div>
    <div class="search_form">
     <%= form_tag '/my_school/physical_records' , :method=>"get" do %>
     <b>学员：</b>
      <%= text_field :physical_record,:student_info_user_name_like,:style=>"width:100px;" ,:value=>"#{params[:physical_record][:student_info_user_name_like] if params[:physical_record] }"%>
      <b>体检记录：</b><%= text_field :physical_record,:content_like,:style=>"width:100px;" ,:class=>"control-label",:value=>"#{params[:physical_record][:content_like] if params[:physical_record] }" %>
      <b>体检时间：</b>
      <%= text_field :physical_record,:send_date_equals,:style=>"width:100px;" ,:value=>"#{params[:physical_record][:send_date_equals] if params[:physical_record] }"  %>
      <%= submit_tag "搜索" %>
      <%end%>
    </div>
    <div class="work_list">
      <% if @physical_records.any? %>
        <table class="table table-striped table-hover">
          <%= form_tag destroy_multiple_my_school_physical_records_path, method: :delete do %>
            <tr>
              <th><input type="checkbox" name="" value="" alt="全选" id="physical_record_all">全选</th>
              <th>学员</th>
              <th>体检记录</th>
              <th>体检时间</th>
              <th></th>
            </tr>
            <% (@physical_records || []).each do |physical_record| %>
              <tr>
                <td><input id="physical_record_<%= physical_record.id %>" class="physical_record_check" name="physical_record[]" type="checkbox" value="<%= physical_record.id %>" /></td>
                <td><%= physical_record.student_info.user.try(:name) unless physical_record.student_info.blank? %></td>
                <td><%=raw physical_record.content %></td>
                <td><%= physical_record.send_date.try(:to_short_datetime) %></td>
                <td>
                  <%=link_to '查看',my_school_physical_record_path(physical_record)%>
                  <%if @flag%><%= link_to '编辑', edit_my_school_physical_record_path(physical_record) %>|<%= link_to '删除',my_school_physical_record_path(physical_record) , method: :delete, data: { confirm: '确定要删除么?' } %><%end%>
               </td>
              </tr>
            <% end %>
            <tr>
              <td><%= submit_tag "删除", :class => 'btn' %></td>
            </tr>
          <% end %>
        </table>
        <%= paginate @physical_records %>
      <% else %>
        暂无体检记录
      <% end %>
    </div>
  </div>

</div>

<script type="text/javascript">
  $(document).ready(function(){
  $("#physical_record_all").click(function(){
    $(".physical_record_check").each(function(){
       $(this).click();
      });
    });
  });
</script>
