<div class="show_publicity">
  <img src="/t/colorful/small_publicity.jpg" alt="展示图"/>
</div>
<div class="show_work">
  <%= render :partial => "/modules/#{view_layout}/work_menu" %>
  <div class="work">
    <div class="headline">
      <div class="headline_title">
        <div class="messages_root"></div>
        <label>体检记录</label>
        <div class="crumbs">
          <a href="/my_school/home" title="返回首页">
            <div class="icon_home"></div>
          </a>
          <ul>
             <li><%= link_to "体检记录", my_school_physical_records_path %></li>
            <li>/</li>
            <li>查看体检记录</li>
          </ul>
        </div>
      </div>
      <ul class="work_action">
        <li>
          <a href="<%=url_for(:controller=>"/my_school/physical_records",:action=>:new)%>" title="添加">
            <%= render partial: "/my_school/commons/add_action" %>
          </a>
        </li>
        <li>
          <a href="<%=url_for(:controller=>"/my_school/physical_records",:action=>:edit,:id=>@physical_record.id)%>" title="编辑">
            <%= render partial: "/my_school/commons/edit_action" %>
          </a>
        </li>
        <li>
          <%= link_to(url_for(:controller=>"/my_school/physical_records",:action=>:destroy,:id=>@physical_record.id),:method=>:delete, :confirm => "您确定删除该体检记录吗?") do %>
            <%= render partial: "/my_school/commons/delete_action" %>
          <% end %>
        </li>
        <li>
          <a href="<%=url_for(:controller=>"/my_school/physical_records",:action=>:index)%>" title="返回">
            <%= render partial: "/my_school/commons/return_action" %>
          </a>
        </li>
      </ul>
    </div>

    <div class="work_form">
      <div class="form_div">
        <div class="show" id="physical_record">
          <div class="content_up">
            <p class="title"><span><%= @physical_record.student_info_label %>的体检记录</span></p>
            <p class="info">体检时间:<span class="time"><%= @physical_record.try(:send_date).try(:to_short_datetime) %></span>&nbsp;由&nbsp;<span class="link"><%= @physical_record.try(:creater).try(:name) %></span>&nbsp;创建于&nbsp;<span class="time"><%= @physical_record.try(:created_at).try(:to_long_datetime) %></span></p>
          </div>
          <div class="content">
            <%= raw(@physical_record.content) %>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>
