<% f = form %>
<script type="text/javascript">
  jQuery(function() {
    $('#notice_send_date').datepicker({
      language: "zh-CN",
      format:"yyyy-mm-dd"
    }).on("changeDate", function() {
      $(this).datepicker('hide')
    });;
  });
</script>
<%= f.input :title, :validate => true, :required => true,:input_html=>{:class=>"span5"}, placeholder: "请输入通知的标题信息", hint: "长度必须控制在2个到100个字符之间"%>
<%= f.input :send_date, :validate => true, :required => true,:as=>:string, placeholder: "单击此处选择发送时间", :class=>"input-mediun time_datepicker"%>
<%= f.input :send_range,:as=>:select,:collection=>Notice::SEND_RANGE_DATA.invert, :include_blank => false %>
<%= f.input :content, :validate => true, :required => true ,:input_html=>{:class=>"span5"}, placeholder: "请输入通知的内容", hint: "长度必须控制在800个字以内" %>

<div class="control-group">
  <div class="controls">
    <%= f.button :submit, disable_with: "正在提交..." %>
  </div>
</div>
