<% f = form %>
<script type="text/javascript">
  jQuery(function() {
    $('#notice_send_date').datepicker({
      language: "zh-CN",
      format:"yyyy-mm-dd"
    });
  });
</script>
<%= f.input :title, :validate => true, :required => true,:input_html=>{:class=>"span5"}%>
<%= f.input :send_date, :validate => true, :required => true,:as=>:string ,:class=>"input-mediun time_datepicker"%>
<%= f.input :send_range,:as=>:select,:collection=>Notice::SEND_RANGE_DATA.invert %>
<%= f.input :content, :validate => true, :required => true ,:input_html=>{:class=>"span5"}%>

<div class="control-group">
  <div class="controls">
    <%= f.button :submit %>
  </div>
</div>
