<% unless @notices.blank? %>
  <table class="list">
    <%= form_tag destroy_multiple_my_school_notices_path, method: :delete, :id => "destroy_multi_form" do %>
      <tr>
        <th><input type="checkbox" name="" value="" alt="全选" id="check_all">&nbsp;<label style="display: inline;font-size: 13px;" for="check_all"></label></th>
        <th>发布人</th>
        <th>标题</th>
        <th>发布时间</th>
        <th>通知范围</th>
        <th></th>
      </tr>
      <% @notices.each do |notice| %>
      <tr>
        <td><input id="notice_<%= notice.id %>" class="check" name="notice[]" type="checkbox" value="<%= notice.id %>" /></td>
        <td><%= notice.creater ? notice.creater.name : ""%></td>
        <td><%= link_to notice.title,:action=>:show,:id=>notice.id %></td>
        <td><%= notice.send_date ? notice.send_date.to_short_datetime : "" %></td>
        <td class="option"><%= notice.send_range_label  %></td>
        <td><%if notice.approve_status==2%>
          审核不通过
          <%elsif notice.approve_status==1%>
          待审核
          <%end%></td>
      </tr>
      <% end %>
    <% end %>
  </table>
  <%= paginate @notices %>
<% else %>
  没有通知
<% end %>
