<script type="text/javascript">
  jQuery(function() {
    $('#notice_send_date_equals').datepicker({
      language: "zh-CN",
      format:"yyyy-mm-dd"
    }).on("changeDate", function() {
      $(this).datepicker('hide')
    });;
  })
</script>
<%#*<div class="show_publicity">%>
  <%#*<img src="/t/colorful/small_publicity.jpg" alt="展示图"/>%>
<%#*</div>%>
<div class="show_work">
  <%= render :partial => "/modules/#{view_layout}/work_menu" %>
  <div class="work">
    <div class="headline">
      <div class="headline_title">
        <div class="messages_root"></div>
        <label>通知信息</label>
        <div class="crumbs">
          <a href="/my_school/home" title="返回首页">
            <div class="icon_home"></div>
          </a>
          <ul>
            <li><%= link_to "通知公告", my_school_notices_path %></li>
            <li>/</li>
            <li><%= link_to "通知信息", my_school_notices_path %></li>
          </ul>
        </div>
      </div>
      <ul class="work_action">
        <li>
          <a href="<%=url_for(:controller=>"/my_school/notices",:action=>:new)%>" title="添加">
            <%= render partial: "/my_school/commons/add_action" %>
          </a>
        </li>
        <li>
          <a href="/" title="删除" id="destroy_multiple">
            <%= render partial: "/my_school/commons/delete_action" %>
          </a>
        </li>
      </ul>
    </div>

    <%= render partial: "search_form" %>

    <div class="work_list">
      <%= render "tab_notices.html.erb" %>
    </div>
  </div>

</div>

<script type="text/javascript">
$(document).ready(function(){
  $("#destroy_multiple").click(function(){
      $("#destroy_multi_form").submit();
      return false;
  });
});
</script>
