<script type="text/javascript">
  jQuery(function() {
    $('#notice_send_date_equals').datepicker({
      language: "zh-CN",
      format:"yyyy-mm-dd"
    }).on("changeDate", function() {
      $(this).datepicker('hide')
    });;
  })
</script>
<div class="show_publicity">
  <img src="/t/colorful/small_publicity.jpg" alt="展示图"/>
</div>
<div class="show_work">
  <%= render :partial => "/modules/colorful/work_menu" %>
  <div class="work">
    <div class="headline">
      <div class="headline_title">
        <div class="messages_root"></div>
        <label>通知信息</label>
        <div class="crumbs">
          <a href="/my_school/home" title="返回首页">
            <div class="icon_home"></div>
          </a>
          <ul>
            <li><%= link_to "通知公告", my_school_notices_path %></li>
            <li>/</li>
            <li><%= link_to "通知信息", my_school_notices_path %></li>
          </ul>
        </div>
      </div>
      <ul class="work_action">
        <li>
          <a href="<%=url_for(:controller=>"/my_school/notices",:action=>:new)%>" title="添加">
            <div class="work_action_add">
            </div>
            <div class="work_action_add_move">
            </div>
          </a>
        </li>
        <li>
          <a href="/" title="删除" id="destroy_multiple">
            <div class="work_action_delete">
            </div>
            <div class="work_action_delete_move">
            </div>
          </a>
        </li>
      </ul>
    </div>

    <div class="search_form">
     <%= form_tag '/my_school/notices' , :method=>"get" do %>
      <b>发布人：</b>
      <%= text_field :notice,:creater_name_like,:style=>"width:100px;" ,:value=>"#{params[:notice][:creater_name_like] if params[:notice] }"%>
      <b>标题：</b>
      <%= text_field :notice,:title_like,:style=>"width:100px;" ,:value=>"#{params[:notice][:title_like] if params[:notice] }"  %>
      <b>发布时间：</b>
      <%= text_field :notice,:send_date_equals,:style=>"width:100px;" ,:value=>"#{params[:notice][:send_date_equals] if params[:notice] }"  %>
      <%= submit_tag "搜索" %>
      <%end%>
    </div>

    <div class="work_list">
      <% unless @notices.blank? %>
        <table class="list">
          <%= form_tag destroy_multiple_my_school_notices_path, method: :delete, :id => "destroy_multi_form" do %>
            <tr>
              <th style="width: 90px;"><input type="checkbox" name="" value="" alt="全选" id="check_all">&nbsp;<label style="display: inline;font-size: 13px;" for="check_all">全选</label></th>
              <th>发布人</th>
              <th>标题</th>
              <th>发布时间</th>
              <th>通知范围</th>
              <th></th>
            </tr>
            <% @notices.each do |notice| %>
            <tr>
              <td><input id="notice_<%= notice.id %>" class="check" name="notice[]" type="checkbox" value="<%= notice.id %>" /></td>
              <td><%= notice.creater ? notice.creater.name : ""%></td>
              <td><%= link_to notice.title,:action=>:show,:id=>notice.id %></td>
              <td><%= notice.send_date ? notice.send_date.to_short_datetime : "" %></td>
              <td class="option"><%= notice.send_range_label  %></td>
              <td><%if notice.approve_status==2%>
                审核不通过
                <%elsif notice.approve_status==1%>
                待审核
                <%end%></td>
            </tr>
            <% end %>
          <% end %>
        </table>
        <%= paginate @notices %>
      <% else %>
        没有通知
      <% end %>
    </div>
  </div>

</div>

<script type="text/javascript">
$(document).ready(function(){
  $('input').iCheck({
    checkboxClass: 'icheckbox_square-blue',
    radioClass: 'iradio_square-blue',
    increaseArea: '20%' // optional
  });
  $("#check_all").on('ifClicked', function() {
    if(this.checked) {
      $(".check").iCheck('uncheck');
    } else {
      $(".check").iCheck('check');
    }
  })
  $("#destroy_multiple").click(function(){
      $("#destroy_multi_form").submit();
      return false;
  });
});
</script>
