
<div class="control-group">
  <%=f.label :postage, raw('<abbr title="required"></abbr> 邮编:') ,:class=>"control-label"%>
  <div class="controls">
    <%= f.text_field(:postage , :placeholder=>"") %>
  </div>
</div>
<div class="control-group">
  <%=f.label :phone, raw('<abbr title="required">*</abbr> 手机号:') ,:class=>"control-label"%>
  <div class="controls">
    <%= f.text_field(:phone ,:validate => true, :placeholder=>"") %>
  </div>
</div>
<div class="control-group">
  <%=f.label :address, raw('<abbr title="required">*</abbr> 详细地址:') ,:class=>"control-label"%>
  <div class="controls">
    <%= f.text_area(:address,:size=>"20x5",:class => "span5",:validate => true, :placeholder=>"") %>
  </div>
</div>
<%#= f.text_field(:address_info , :placeholder=>"") %>
<div class="control-group">
  <div class="controls">
    <%= f.submit('保存',:class=>"btn btn-large btn-primary", :disable_with=> "正在提交") %>
  </div>
</div>