<table>
	<tr>
		<td>邮编:</td>
		<td><%= f.text_field(:postage , placeholder: "") %></td>
	</tr>
	<tr>
		<td>电话号码:</td>
		<td><%= f.text_field(:phone , :validate => true, placeholder: "") %></td>
	</tr>
	<tr>
		<td>地址:</td>
		<td><%= f.text_field(:address,:validate => true, placeholder: "") %></td>
	</tr>
	<tr>
		<td>详细地址:</td>
		<td><%= f.text_field(:address_info , placeholder: "") %></td>
	</tr>
	<tr>
		<td></td>
		<td><%= f.submit('保存',:class=>"btn btn-large btn-primary", disable_with: "正在提交") %></td>
	</tr>
	
  
</table>