<% if @logo %>
  <% if @logo.page_img %>
    <img src='<%= @logo.page_img.public_filename(:middle)  %>' alt="<%= @logo.name %>" title="<%= @logo.name %>"/><br/>
  <% end %>
  <%= @logo.name %><br/>
  <%= @logo.note %>
<% end %>
<br/><br/>
<h1>商品信息</h1>
<%= link_to "全部商品",:action=>:products,:controller=>"/my_school/credit_shop" %>
<hr/>
<% unless @tags.blank? %>
  <% @tags.each do |tag| %>
    <% products = Product.tagged_with(tag.name).by_join_date.where(:status=>2,:shop_id=>@shop_tp).page(1).per(3) %>
    <% unless products.blank? %>
      <h2><%= tag.name %></h2>
      <ul>
        <% products.each do |product| %>
          <li>商品名称：<%= link_to product.name ,:controller=>"/my_school/credit_shop",:action=>"show_product",:id=>product.id %><br/></li>
        <% end %>
      </ul>
      <hr/>
    <% end %>
  <% end %>
<% end %>