<div class="credit_logo">
   <img class="logo_vertical"  alt="Logo" src="/star_imgs/shop/credit_logo.png" />
   <div class="credit_navigation">
    <div class="left_navigation">
    </div>
    <div class="right_navigation">
    </div>
    <div class="center_navigation">
       <ul>
         <li>
            <a href="###">
             <div class="all_products">全部商品</div>
            </a>
          </li>
         <li>
            <a href="###">
             <div class="credit_activity">积分活动</div>
            </a>
         </li>
         <li>
            <a href="###">
             <div class="earn_credit">赚取积分</div>
            </a>
         </li>
         <li>
            <a href="###">
             <div class="personal_center">个人中心</div>
            </a>
         </li>
       </ul>
    </div>
    <div class="back_to_school">
     <a class="btn btn-danger" href="/my_school/home">返回家园互动</a>
    </div>
    <div class="login_to_user">
     <a class="login_hello" href="###">早上好，贝贝妈咪</a>
     <a class="logout_a" href="/my_school/users/logout">退出</a>
    </div>
   </div>
</div>
<div class="product_house">
<div class="credit_conment">
  <div class="user_credit_v" >
    <div style="margin-left:75px;float:left;width:200px">
      <div class="user_credit_v_img" >
       </div>
       <div class="user_credit_v_img_mid" >
        12345
       </div>
      <div class="user_credit_v_img_rig" >
      </div>
      <div class="user_credit_v_text" >
        <span style='text-decoration:underline;color:#ffd637;font-size:14px'>我能兑换的礼品&gt;</span>
      </div>
    </div>
    <div class="credit_cart">
      <span style="margin-left:120px;color:#fff;font-size:23px">购物车(2)</span>
    </div>
    <div style="clear:both"></div>
  </div>
  <div class="frequently_asked_questions">
    <div class="asked_ques_text">
      <p>常见问题</p>
      <div class="asked_ques_line">
      </div>
      <div class="asked_ques_comment">
       <ul>
          <li><a>什么是v1积分</a></li>
          <li><a>如何赚取积分</a></li>
          <li><a>兑换及抽奖流程</a></li>
          <li><a>规则帮助</a></li>
       </ul>
      </div>
    </div>
  </div>
  <div class="hot_products">
  <div class="hot_products_scroll">
  </div>
    <ul>
      <li>
        <div class="show_list_product">
          <div class="product_img">
            <a>
              <img alt="" src="/t/colorful/483-5552.jpg">
            </a>
          </div>
          <div class="product_sale_credit">
          <p>coco姐不要钱你随便买</p>
          <p class="product_sale_credit_p">1900分</p>
          <p style="float:right;">33人兑换</p>
          </div>
        </div>
      </li>
      <li>
        <div class="show_list_product">
          <div class="product_img">
            <a>
              <img alt="" src="/t/colorful/483-5552.jpg">
            </a>
          </div>
          <div class="product_sale_credit">
          <p>coco姐不要钱你随便买</p>
          <p class="product_sale_credit_p">1900分</p>
          <p style="float:right;">33人兑换</p>
          </div>
        </div>
      </li>
      <li>
        <div class="show_list_product">
          <div class="product_img">
            <a>
              <img alt="" src="/t/colorful/483-5552.jpg">
            </a>
          </div>
          <div class="product_sale_credit">
          <p>coco姐不要钱你随便买</p>
          <p class="product_sale_credit_p">1900分</p>
          <p style="float:right;">33人兑换</p>
          </div>
        </div>
      </li>
    </ul>  
  </div>
</div>
<div class="credit_conment_middle">
   <div class="product_physical">
     <div class="hot_products_scroll">
     </div>
     <ul>
      <li>
        <div class="show_list_product">
          <div class="product_img">
            <a>
              <img alt="" src="/t/colorful/483-5552.jpg">
            </a>
          </div>
          <div class="product_sale_credit">
          <p>coco姐不要钱你随便买</p>
          <p class="product_sale_credit_p">1900分</p>
          <p style="float:right;">33人兑换</p>
          </div>
        </div>
      </li>
      <li>
        <div class="show_list_product">
          <div class="product_img">
            <a>
              <img alt="" src="/t/colorful/483-5552.jpg">
            </a>
          </div>
          <div class="product_sale_credit">
          <p>coco姐不要钱你随便买</p>
          <p class="product_sale_credit_p">1900分</p>
          <p style="float:right;">33人兑换</p>
          </div>
        </div>
      </li>
      <li>
        <div class="show_list_product">
          <div class="product_img">
            <a>
              <img alt="" src="/t/colorful/483-5552.jpg">
            </a>
          </div>
          <div class="product_sale_credit">
          <p>coco姐不要钱你随便买</p>
          <p class="product_sale_credit_p">1900分</p>
          <p style="float:right;">33人兑换</p>
          </div>
        </div>
      </li>
    </ul>
   </div>
</div>
<div class="credit_conment_bottom">
 <div class="product_preferential">
 <div class="hot_products_scroll">
     </div>
  <ul>
      <li>
        <div class="show_list_product">
          <div class="product_img">
            <a>
              <img alt="" src="/t/colorful/483-5552.jpg">
            </a>
          </div>
          <div class="product_sale_credit">
          <p>coco姐不要钱你随便买</p>
          <p class="product_sale_credit_p">1900分</p>
          <p style="float:right;">33人兑换</p>
          </div>
        </div>
      </li>
      <li>
        <div class="show_list_product">
          <div class="product_img">
            <a>
              <img alt="" src="/t/colorful/483-5552.jpg">
            </a>
          </div>
          <div class="product_sale_credit">
          <p>coco姐不要钱你随便买</p>
          <p class="product_sale_credit_p">1900分</p>
          <p style="float:right;">33人兑换</p>
          </div>
        </div>
      </li>
      <li>
        <div class="show_list_product">
          <div class="product_img">
            <a>
              <img alt="" src="/t/colorful/483-5552.jpg">
            </a>
          </div>
          <div class="product_sale_credit">
          <p>coco姐不要钱你随便买</p>
          <p class="product_sale_credit_p">1900分</p>
          <p style="float:right;">33人兑换</p>
          </div>
        </div>
      </li>
    </ul>
    <div class="product_preferential_bottom">
     <div class="hot_products_bottom">
     </div>
     </div>
  </div>
</div>
</div>
<% if @logo %>
  <% if @logo.page_img %>
    <img src='<%= @logo.page_img.public_filename(:middle)  %>' alt="<%= @logo.name %>" title="<%= @logo.name %>"/><br/>
  <% end %>
  <%= @logo.name %><br/>
  <%= @logo.note %>
<% end %>
<br/><br/>
<h1>商品信息</h1>
<%= link_to "全部商品",:action=>:products,:controller=>"/my_school/credit_shop" %>
<hr/>
<div id="left_tree" style="float:left;width:200px">
  <h3>商品分类</h3>
  <ul id="sys_function_groups_tree">
    <%= nested_set_to_treeview @product_categories, :current_node=>@product_categories %>
  </ul>
</div>
<div id="right_list" style="float:left;min-width:600px;">
  <%= render 'show_product_categories' %>
</div>
<% unless @tags.blank? %>
  <% @tags.each do |tag| %>
    <% products = Product.tagged_with(tag.name).by_join_date.where(:status=>2,:shop_id=>@shop_tp).page(1).per(3) %>
    <% unless products.blank? %>
      <h2><%= tag.name %></h2>
      <ul>
        <% products.each do |product| %>
          <li>商品名称：<%= link_to product.name ,:controller=>"/my_school/credit_shop",:action=>"show_product",:id=>product.id %><br/></li>
        <% end %>
      </ul>
      <hr/>
    <% end %>
  <% end %>
<% end %>
 <% #content_for :script do %>
  <%= include_jquery_ui_tag %>
    <%= include_jquery_treeview_tag %>
  <%= include_jquery_treetable_tag %>
  <style type="text/css">
    #sys_function_groups_tree span.file{cursor:pointer;}
    #sys_function_groups_tree li.focus{background-color:#9acd32;}
  </style>
  <script type="text/javascript">
    $(function(){
        // 属性初始化
        $('#sys_function_groups_tree').treeview();

        $('#sys_function_groups_tree span.file').live('click', function(){
            $('#sys_function_groups_tree li.focus').removeClass('focus');
            $(this).parent().addClass('focus');
            var g_id = $(this).attr('nodeid');
            $('#right_list').load('<%= show_product_categories_my_school_credit_shop_index_path%>', "req=ajax&group_id="+g_id);
        });

        // 系统功能结构管理对话框窗口初始化
        $('#sys_architecture_manage').dialog({autoOpen:false,modal:true,width:620,height:445});
        //树形表格初始化
    $("#sys_architecture_manage_tree").treeTable({clickableNodeNames:true});
        // 打开新增功能结构的界面
        $('#btn_new_category').click(function(){
            $('#sys_architecture_manage_editor').load(this.href, function(){
                $("#sys_architecture_manage_tree").hide();   // 结构树隐藏，结构编辑区显示
                $('#sys_architecture_manage_editor').show();
                $('#sys_architecture_manage').dialog('open');
            });
            return false;
        });
        // 打开系统结构树管理的界面
        $('#btn_open_architecture_tree').click(function(){
            $("#sys_architecture_manage_tree").show();   // 结构树显示，结构编辑区隐藏
            $('#sys_architecture_manage_editor').hide();
            $('#sys_architecture_manage').dialog('open');
            return false
        });
        $('#sys_architecture_manage_tree a.edit_link').live('click', function(){
            $('#sys_architecture_manage_editor').load(this.href, function(){
                $("#sys_architecture_manage_tree").hide();   // 结构树隐藏，结构编辑区显示
                $('#sys_architecture_manage_editor').show();
            });
            return false;
        });
    });
  </script>
