<% if @logo %>
  <% if @logo.page_img %>
    <img src='<%= @logo.page_img.public_filename(:middle)  %>' alt="<%= @logo.name %>" title="<%= @logo.name %>"/><br/>
  <% end %>
  <%= @logo.name %><br/>
  <%= @logo.note %>
<% end %>
<br/><br/>
<h1>商品信息</h1>
<hr/>
<%= form_tag '/my_school/credit_shop/products' , :method=>"get" do %>
  <b>名称：</b>
  <%= text_field :product,:name_like ,:value=>"#{params[:product][:name_like] if params[:product] }"%>
  
  <%= submit_tag "搜索"  , :class => "btn btn-primary"%>
<%end%>

<%= link_to  "积分",{:controller=>"/my_school/credit_shop",:action=>:products,:serarch=>"credit",:serarch_type=>(@serarch == "credit" ? (@serarch_type == "ascend" ? "descend" : "ascend") : "descend")}.merge(:product=>params[:product]) %>
<%= link_to  "价格",{:controller=>"/my_school/credit_shop",:action=>:products,:serarch=>"price",:serarch_type=>(@serarch == "price" ? (@serarch_type == "ascend" ? "descend" : "ascend") : "descend")}.merge(:product=>params[:product]) %>
  <%#= order @products, :by => :credit, :as =>"积分" %>
<% @products.each do |product| %>
  <div style="width: 300px;float: left;border: 1px solid #008FDC;margin: 5px;">
    商品名称：<%= link_to product.name ,:controller=>"/my_school/credit_shop",:action=>"show_product",:id=>product.id %><br/>
    价格：<%= product.price %><br/>
    积分：<%= product.credit %><br/>
    <%= link_to '添加购物车',
      {:action => 'add_to_cart', :id => product },
        :class => 'addtocart' %>
    </div>
<% end %>
<%= paginate @products %>
