<div class="center_user_work">
<div class="center_user_conment">
  <div class="center_product_left">
   <div class="all_product_title">
      <div class="all_product_round"></div>
      <span class="all_product_text"><b>实物礼品</b></span>
   </div>
   <div class="all_product_sort">
     <%= link_to  "默认排序",{:controller=>"/my_school/credit_shop",:action=>:products}.merge(:product=>params[:product]),:class=>"sort_by_default  #{@serarch.blank? ? 'focus' : ''}" %>
     <%= link_to  "热门排序",{:controller=>"/my_school/credit_shop",:action=>:products,:serarch=>"price",:serarch_type=>(@serarch == "price" ? (@serarch_type == "ascend" ? "descend" : "ascend") : "descend")}.merge(:product=>params[:product]),:class=>"sort_by_default #{@serarch == 'price' ? 'focus' : ''}" %>
     <%= link_to  "积分排序",{:controller=>"/my_school/credit_shop",:action=>:products,:serarch=>"credit",:serarch_type=>(@serarch == "credit" ? (@serarch_type == "ascend" ? "descend" : "ascend") : "descend")}.merge(:product=>params[:product]),:class=>"sort_by_default #{@serarch == 'credit' ? 'focus' : ''}"%>
   </div>
  </div>
    <div class="center_product_right">
    <div class="center_conment_left">
     <div class="user_picture">
        <div class="pull-left">
          <img alt="" src="/t/colorful/483-5552.jpg" style="width: 60px;height: 60px;">
        </div>
        <div class="media-body">
          <h4 class="media-heading">小宝棉衣</h4>
        </div>
      </div>
    </div>
    <div class="center_conment_mid">
    <div class="user_picture credit_line_user" >我的积分&nbsp;<span style="font-size:18px;color:#07aa3c"><%=@personal_credits.credit%></span></div>
    <div class="credit_line">
       <%= link_to  "我能兑换的礼品>",{:controller=>"/my_school/credit_shop",:action=>:products,:serarch=>"user_credit"}.merge(:product=>params[:product]),:style=>"font-size: 16px;color: #794917;text-decoration:underline;" %>
    </div>
    <div class="btn_display_cart">
      <a href="/my_school/credit_shop/display_cart" class="display_btn">购物车(<%=@count%>)</a>
    </div>
    <div class="question_img">
    </div>
    <div class="question_li">
    <ul>
     <li>
         <a class="">什么是v1积分?</a>
     </li>
     <li>
        <a class="">如何赚取积分?</a>
     </li>
     <li>
        <a class="">兑换及抽奖流程</a>
     </li>
     <li>
        <a class="">规则帮助</a>
     </li>
    </ul>
    </div>
    </div>
    <div class="center_conment_bottom">
    </div>
    </div>
</div>

</div>
<div class="center_user_conment_mid">
   <div class="product_list">
     <div class="product_list_top">
        <ul>
        <% @products.each do |product| %>
        <!-- <li>
          <div class="show_list_product">
            <div class="product_img">
              <a>
                <img alt="" src="/t/colorful/483-5552.jpg">
              </a>
            </div>
            <div class="product_sale_credit">
              <p>coco姐不要钱你随便买</p>
              <p class="product_sale_credit_p">1900分</p>
              <p style="float:right;">33人兑换</p>
            </div>
          </div>
        </li> -->
         <li>
          <div class="show_list_product">
            <div class="product_img">
              <%=link_to({:controller=>"/my_school/credit_shop",:action=>"show_product",:id=>product.id}, html_options = {}) do%>
              <%if !product.img.blank?%>
                  <img src='<%=  product.img.public_filename(:middle) %>' alt=""/>
               <%elsif !product.product_imgs.blank?%>
                  <img src='<%=  product.product_imgs.first.public_filename(:middle) %>' alt=""/>
                <%else%>
                  <img alt="" src="/t/colorful/483-5552.jpg">
               <%end%>
              <%end%>
            </div>
            <div class="product_sale_credit">
              <%= link_to product.name ,{:controller=>"/my_school/credit_shop",:action=>"show_product",:id=>product.id},:style=>"display:block;" %>
              <p class="product_sale_credit_p"><%=product.credit.to_i%>分</p>
              <p style="float:right;"><%= link_to '添加购物车',
                          {:action => 'add_to_cart', :id => product },
                           :class => 'btn btn-mini btn-primary' %></p>
            </div>
          </div>
        </li>
        <%end%>
      </ul>
     </div>
     <div class="product_list_mid">
     </div>
     <div class="product_list_bottom">

     </div>
     <div class="paginate_div" style="clear: both;">
       <%= paginate @products %>
     </div>
   </div>
</div>
<div class="center_user_conment_bottom" style="margin-top: -20px;">
</div>
</div>

