<div class="center_user_work">
<div class="center_user_conment">
 <%=render "center_left"%>
  <div class="center_right">
   <div class="center_right_top">
     <div class="center_conment_right">
     <span class="credit_title"><b>积分概况</b></p>
     </div>
     <div class="center_conment_right_mid">
     <div class="credit_user">
       <ul>
         <li>
           <div class="user_credit_v">
            <p style="font-size:16px;color:#000">我的积分</p>
            <div>
              <div class="user_credit_show"></div>
              <p style="font-size:30px;color:#5b8b0f"><%=@personal_credits.credit%></p>
            </div>
            <div>
              <%= link_to  "我能兑换的礼品>",{:controller=>"/my_school/credit_shop",:action=>:products,:serarch=>"user_credit"}.merge(:product=>params[:product]),:style=>"font-size:14px;color:#e5251c;text-decoration:underline;" %>
            </div>
           </div>
         </li>
         <li>
         <a class="credit_buttom" href="/my_school/credit_shop">
              去兑换礼品
          </a>
          </li>
       </ul>
     </div>
     </div>
     <div class="center_conment_right_bottom">
     </div>
   </div>
   <div class="center_right_line"></div>
   <div class="center_right_bottom">
     <div class="center_conment_right">
     </div>
     <div class="center_right_bottom_mid">
      <div>
       <div class="credit_details">
         <a class="credit_details_info">积分明细</a>
        <!--  <a class="earn_record">赚取记录</a>
         <a class="use_record">使用记录</a> -->
       </div>
       <div>
        <table cellpadding="10" cellspacing="0" class="cart_data table table-hover">
　　　　　　<tr class="carttitle thbrank">
              <td>用途/来源</td>
              <td>积分数</td>
              <td colspan="2">日期</td>
              <td colspan="2">备注</td>
　　　　　　</tr>
            <tbody>
            <%@user_credit_log.each do |log|%>
                <tr>
                  <td><%=CreditLog::TP[log.tp]%></td>
                  <td class="pay_credit"><%=log.credit%></td>
                  <td colspan="2"><%=log.created_at%></td>
                  <td colspan="2"><%=log.business_name%></td>
                </tr>
            <%end%>
            <tr>
              <div class="paginate_div" style="clear: both;">
                <%= paginate @user_credit_log %>
              </div>
            </tr>
            </tbody>
　      </table>
       </div>
      </div>
       <div>
         <div class="">
          <span class="credit_title"><b>积分规则及说明</b></span>
         </div>
        <div >
        <table cellpadding="10" cellspacing="0" class="cart_data table table-hover">
　　　　　　<tr class="carttitle thbrank">
              <td>动作名称</td>
              <td>周期范围</td>
              <td colspan="2">周期内最多奖励次数</td>
              <td>积分</td>
              <td>操作</td>
　　　　　　</tr>
            <tbody>
            <%@credit_cofigs.each do |credit_cofig|%>
                <tr>
                  <td><%=credit_cofig.name%></td>
                  <td class="pay_credit">+1</td>
                  <td colspan="2">1</td>
                  <td>+<%=credit_cofig.credit%></td>
                  <td>-</td>
                </tr>
            <%end%>
            </tbody>
　      </table>
      </div>
     </div>
     </div>
     <div class="center_conment_right_bottom">
     </div>
   </div>
  </div>
</div>
<div class="center_user_conment_mid clearfix">
</div>
<div class="center_user_conment_bottom">
</div>
</div>
