<div class="center_user_conment">
  <div class="center_conment_left">
	
   </div>
</div>
<div class="center_user_conment_mid">
</div>
<div class="center_user_conment_bottom">
</div>


<p>我的积分为:<%=@personal_credits.credit%></p>
<p>我的未完成订单:</p>
<table>
	<tr>
		<td>订单号</td>
		<td>商品</td>
		<td>总积分</td>
	</tr>
	<% @un_orders.each do |order|%>
	<tr>
		<td><%=order.number%></td>
		<td>
			 <% order.order_infos.each do |li| %>
　　　　　　　　　　 <div class="olitem">
　　　　　　　　　　　　　<span class="olitemqty"><%= li.count %></span>
　　　　　　　　　　　　　<span class="olitemtitle"><%= li.product.name %></span>
                    <span class="olitemtitle"><%= li.product.credit %></span>
　　　　　　　　　　 </div>
　　　　　　　　　<% end %>
		</td>
		<td><%=order.credit%></td>
	</tr>
	<%end%>
</table>
<p>我的已完成订单:</p>
<table>
	<tr>
		<td>订单号</td>
		<td>商品</td>
		<td>总积分</td>
	</tr>
	<% @en_orders.each do |order|%>
	<tr>
		<td><%=order.number%></td>
		<td>
			 <% order.order_infos.each do |li| %>
　　　　　　　　　　 <div class="olitem">
　　　　　　　　　　　　　<span class="olitemqty"><%= li.count %></span>
　　　　　　　　　　　　　<span class="olitemtitle"><%= li.product.name %></span>
                    <span class="olitemtitle"><%= li.product.credit %></span>
　　　　　　　　　　 </div>
　　　　　　　　　<% end %>
		</td>
		<td><%=order.credit%></td>
	</tr>
	<%end%>

</table>