<div class="search_form">
  <%= form_tag '/my_school/seedlings', :method=>"get" do %>
    <b>学员：</b>
    <%= text_field :seedling,:student_info_user_name_like,:style=>"width:100px;" ,:value=>"#{params[:seedling][:student_info_user_name_like] if params[:seedling] }"%>
    <b>疫苗名称：</b><%= text_field :seedling,:name_like,:style=>"width:100px;" ,:class=>"control-label",:value=>"#{params[:seedling][:name_like] if params[:seedling] }" %>
    <b>体检时间：</b>
    <%= text_field :seedling,:shot_at_equals,:style=>"width:100px;" ,:value=>"#{params[:seedling][:shot_at_equals] if params[:seedling] }"  %>
    <%= submit_tag "搜索"  , :class => "btn btn-primary"%>
  <%end%>
</div>
