<div class="topic topic_line pull-left">
  <div class="iCheck_checkbox pull-left"><input type="checkbox" class="check" /></div>
  <div class="avatar pull-left"><img src="<%= seedling.student_info.user.asset_logo ? seedling.student_info.user.asset_logo.public_filename(:thumb) : '/t/colorful/user_logo.png' %>" width="83" alt="头像"/>
  </div>
  <div class="right_info">
    <div class="pull-right">
      <% if choose_operate_show("my_school/seedlings/show") %>
        <a href="<%= my_school_seedling_path(seedling) %>" title="查看<%= seedling.name %>" alt="查看<%= seedling.name %>"><i class="icon-eye-open"></i></a>
      <% end %>
      <% if choose_operate_show("my_school/seedlings/edit") %>
        <a href="<%= edit_my_school_seedling_path(seedling) %>" title="编辑<%= seedling.name %>" alt="编辑<%= seedling.name %>"><i class="icon-edit"></i></a>
      <% end %>
    </div>
    <div class="infos">
      <div class="title">
        <%= link_to seedling.name, my_school_seedling_path(seedling) %>
      </div>
      <div class="title">
        <em>注射时间</em><abbr><%= seedling.shot_at.try(:to_short_datetime) %></abbr><em>&nbsp;过期时间&nbsp;</em><abbr><%= seedling.expire_at.try(:to_short_datetime) %></abbr>
      </div>
      <div class="info">
        <em><%= seedling.creater.try(:name) %></em>
        <em>创建于</em><abbr><%= seedling.created_at.try(:to_long_datetime) %></abbr>
      </div>
    </div>
  </div>
</div>

<script type="text/javascript">
  $('input').iCheck({
    checkboxClass: 'icheckbox_square-blue',
    radioClass: 'iradio_square-blue',
    increaseArea: '20%' // optional
  });
  $("#check_all").on('ifClicked', function() {
    if(this.checked) {
      $(".check").iCheck('uncheck');
    } else {
      $(".check").iCheck('check');
    }
  })
</script>
