<div class="show_work">
  <%= render :partial => "/modules/#{view_layout}/work_menu" %>
  <div class="work">
    <div class="headline">
      <div class="headline_title">
        <div class="messages_root"></div>
        <label>疫苗记录</label>
        <div class="crumbs">
          <a href="/my_school/home" title="返回首页">
            <div class="icon_home"></div>
          </a>
          <ul>
             <li><%= link_to "疫苗记录", my_school_seedlings_path %></li>
            <li>/</li>
            <li>编辑疫苗</li>
          </ul>
        </div>
      </div>
      <ul class="work_action">
        <a href="<%=url_for(:controller=>"/my_school/seedlings",:action=>:index)%>" title="返回">
            <div class="work_action_return">
            </div>
            <div class="work_action_return_move">
            </div>
          </a>
      </ul>
    </div>

    <div class="work_form">
      <div class="form_div">
       <%= form_for(@seedling,:url=>my_school_seedling_path(@seedling), :html =>{:class=>"form-horizontal"}) do |f| %>
          <%= render 'form', :f=>f %>
       <% end %>
      </div>
    </div>
  </div>

</div>

