<script type="text/javascript">
  jQuery(function() {
    $('#seedling_shot_at_equals').datepicker({
      language: "zh-CN",
      format:"yyyy-mm-dd"
    }).on("changeDate", function() {
      $(this).datepicker('hide')
    });;
  })

</script>
<div class="show_work">
  <%= render :partial => "/modules/colorful/work_menu" %>
  <div class="work">
    <div class="headline">
      <div class="headline_title">
        <div class="messages_root"></div>
        <label>疫苗记录</label>
        <div class="crumbs">
          <a href="/my_school/home" title="返回首页">
            <div class="icon_home"></div>
          </a>
          <ul>
          </ul>
        </div>
      </div>
      <ul class="work_action">
        <li><%=(link_to "<div class='work_action_add'>
            </div><div class='work_action_add_move'>
            </div>".html_safe ,new_my_school_seedling_path) if choose_operate_show("my_school/seedlings/new")%>
        </li>
        <li>
          <a href="/" title="删除" id="destroy_multiple">
            <div class='work_action_delete'>
            </div>
            <div class='work_action_delete_move'>
            </div>
          </a>
        </li>
      </ul>
    </div>
    <div class="search_form">
     <%= form_tag '/my_school/seedlings' , :method=>"get" do %>
     <b>学员：</b>
      <%= text_field :seedling,:student_info_user_name_like,:style=>"width:100px;" ,:value=>"#{params[:seedling][:student_info_user_name_like] if params[:seedling] }"%>
      <b>疫苗名称：</b><%= text_field :seedling,:name_like,:style=>"width:100px;" ,:class=>"control-label",:value=>"#{params[:seedling][:name_like] if params[:seedling] }" %>
      <b>体检时间：</b>
      <%= text_field :seedling,:shot_at_equals,:style=>"width:100px;" ,:value=>"#{params[:seedling][:shot_at_equals] if params[:seedling] }"  %>
      <%= submit_tag "搜索" %>
      <%end%>
    </div>

    <div class="work_list">
      <div><input type="checkbox" id="check_all" />全选</div>
      <% unless @seedlings.blank? %>
        <div class="topics">
          <%= render partial: "seedling", collection: @seedlings %>
        </div>
        <%= paginate @seedlings %>
      <% else %>
        暂无疫苗记录
      <% end %>
    </div>
  </div>

</div>

<script type="text/javascript">
$(document).ready(function(){
  $("#destroy_multiple").click(function(){
      $("#destroy_multi_form").submit();
      return false;
  });
});
</script>
