<div class="show_publicity">
  <img src="/t/colorful/small_publicity.jpg" alt="展示图"/>
</div>
<div class="show_work">
  <%= render :partial => "/modules/#{view_layout}/work_menu" %>
  <div class="work">
    <div class="headline">
      <div class="headline_title">
        <div class="messages_root"></div>
        <label>疫苗记录</label>
        <div class="crumbs">
          <a href="/my_school/home" title="返回首页">
            <div class="icon_home"></div>
          </a>
          <ul>
             <li><%= link_to "疫苗记录", my_school_seedlings_path %></li>
            <li>/</li>
            <li>查看疫苗记录</li>
          </ul>
        </div>
      </div>
      <ul class="work_action">
        <li>
          <a href="<%=url_for(:controller=>"/my_school/seedlings",:action=>:new)%>" title="添加">
            <div class="work_action_add">
            </div>
            <div class="work_action_add_move">
            </div>
          </a>
        </li>
        <li>
          <a href="<%=url_for(:controller=>"/my_school/seedlings",:action=>:edit,:id=>@seedling.id)%>" title="编辑">
            <div class="work_action_edit">
            </div>
            <div class="work_action_edit_move">
            </div>
          </a>
        </li>
        <li>
          <%= link_to(url_for(:controller=>"/my_school/seedlings",:action=>:destroy,:id=>@seedling.id),:method=>:delete, :confirm => "您确定删除该疫苗吗?") do %>
            <div class="work_action_delete">
            </div>
            <div class="work_action_delete_move">
            </div>
          <% end %>
        </li>
        <li>
          <a href="<%=url_for(:controller=>"/my_school/seedlings",:action=>:index)%>" title="返回">
            <div class="work_action_return">
            </div>
            <div class="work_action_return_move">
            </div>
          </a>
        </li>
      </ul>
    </div>

    <div class="work_form">
      <div class="form_div">
        <div class="show" id="growth_record">
          <div class="content_up">
            <p class="title"><span><%= @seedling.student_info_label %>的疫苗记录-<%= @seedling.name %></span></p>
            <p class="info"><span class="time"><%= @seedling.try(:shot_at).try(:to_short_datetime) %></span>&nbsp;~&nbsp;<span class="time"><%= @seedling.try(:expire_at).try(:to_short_datetime) %></span>&nbsp;由&nbsp;<span class="link"><%= @seedling.try(:creater).try(:name) %></span>&nbsp;创建于&nbsp;<span class="time"><%= @seedling.try(:created_at).try(:to_long_datetime) %></span></p>
          </div>
          <div class="content">
            <%= simple_format h(@seedling.note) %>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>
