<div class="container">
  <%= render :partial => "/modules/colorful/weixin_head" %>
</div>
<div class="message_div">
  <div class="message_title">
    <a href="<%= weixin_path %>" title="返回" class="weixin_return">返回</a>
    相册集锦
    <%if choose_operate_show('my_school/albums/new')%>
      <%= link_to "新增" ,url_for(:action=>:new),:class=>'new_message btn btn-warning' %>
    <% end %>
  </div>
  <div class="message_list">
    <ul class="data_list">
      <% if @albums.blank? %>
        <li><div class="message_content">没有相册。</div></li>
      <% else %>
        <% @albums.each do |album| %>
          <li>
            <a href="<%= url_for(:action=>:show,:id=>album.id) %>" title="查看相册">
              <div class="left_third">
                <img src="<%= album.show_main_img ? album.show_main_img.public_filename(:middle) : '/t/colorful/login_img10.png' %>"  alt="<%=album.title%>" class="album_img"/>
              </div>
              <div class="left_two">
                <label class="title_label"><%= album.title %></label>
                <label class="time_label"><%= album.send_date ? album.send_date.to_short_datetime : "" %></label>
                <% if current_user.id == album.creater_id %>
                  <span class="icon-customecomment"></span><span class="adjust">评论(<%= album.unread_comment_count %>)</span>
                <% end %>
              </div>
            </a>
          </li>
        <% end %>
      <% end %>
    </ul>
    <br/>
  </div>
  <% unless  @albums.blank? %>
    <div class="message_more">
      <div class="paginate_div">
        <%= paginate @albums, :window => 1%>
      </div>
    </div>
  <% end %>
</div>
<%= render :partial => "/modules/colorful/weixin_menu_navbar"%>
<%= render :partial => "/modules/colorful/weixin_menu_one"%>
