<% f = form %>
<script type="text/javascript">
  jQuery(function() {
    $('#growth_record_start_at').datepicker({
      language: "zh-CN",
      format:"yyyy-mm-dd"
    });
    $('#growth_record_end_at').datepicker({
      language: "zh-CN",
      format:"yyyy-mm-dd"
    });
  });
</script>
<% if action_name == "new" %>
  <%= f.input :start_at, :validate => true, :required => true, :as => :string, :input_html => {:class => "input-mediun"} %>
  <%= f.input :end_at, :validate => true, :required => true, :as => :string, :input_html => {:class => "input-mediun"} %>
<% else %>
  <%= f.input :start_at, :required => true, :as => :string, :input_html => {:class => "input-mediun", :value => "#{f.object.start_at.to_short_datetime}"} %>
  <%= f.input :end_at, :required => true, :as => :string, :input_html => {:class => "input-mediun", :value => "#{f.object.end_at.to_short_datetime}"} %>
<% end %>
<%= f.input :kindergarten_label, :required => true, :as => :string, :input_html => { :disabled => true } %>

<%= f.input :content, :input_html => {:rows => "10", :class => "span5"}%>
<%= f.input :kindergarten_id, :as => :hidden %>
<%= f.input :tp, :as => :hidden %>
<% if action_name == "new" %>
  <%= f.input :student_info_id, :validate => true, :required => true, :as => :select, :collection => Hash[f.object.kindergarten.student_infos.map{|student| ["#{student.user.name}", student.id] }] %>
<% else %>
  <%= f.input :student_info_label, :required => true, :as => :string, :input_html => { :disabled => true }  %>
<% end %>

<div class="control-group">
  <div class="controls">
    <%= f.button :submit %>
  </div>
</div>
