<% f = form %>
<script type="text/javascript">
  jQuery(function() {
    $('#growth_record_start_at').datepicker({
      language: "zh-CN",
      format:"yyyy-mm-dd",
viewMode: "weeks",
minViewMode: "weeks"
    }).on("changeDate", function() {
      $(this).datepicker('hide')
    });;
    $('#growth_record_end_at').datepicker({
      language: "zh-CN",
      format:"yyyy-mm-dd"
    }).on("changeDate", function() {
      $(this).datepicker('hide')
    });;

  });
</script>
<% if action_name == "new" %>
  <% if current_user.get_users_ranges[:tp] == :student %>
    <%= f.input :student_info, :required => true, :as => :string, :input_html => { :disabled => true, :value => current_user.name} %>
  <% elsif current_user.get_users_ranges[:tp] == :teachers %>
    <div class="select_field">
      <label class="field_prompt" for="squad" id="squad_for_teacher">班级:</label>
      <%= select_tag "squad", options_for_select((@squads.collect{|s|[s.name,s.id]} || [])), :class => "select" %>
      <div id="squad_student_partial">
      </div>
    </div>
  <% else %>
    <div class="select_field">
      <label class="control-label"><abbr title="required">*</abbr>选择学员</label>
      <label class="field_prompt" for="grade">年级:</label>
      <% unless @grades.blank? %>
        <%= select_tag "grade", options_for_select(@grades.collect{|s|[s.name,s.id]}), :class => "select" %>
      <% else %>
        <div class="controls">
          <label>没有年级,请先创建年级,才能继续操作</label>
        </div>
      <% end %>
      <div id="grade_squad_partial">
      </div>
      <div id="squad_student_partial">
      </div>
    </div>
  <% end %>
<% else %>
  <%= f.input :student_info_label, :required => true, :as => :string, :input_html => { :disabled => true }  %>
<% end %>
<br />

<% if action_name == "new" %>
  <%= f.input :start_at, :validate => true, :required => true, :as => :string, :input_html => {:class => "input-mediun time_datepicker"} %>
  <%= f.input :end_at, :validate => true, :required => true, :as => :string, :input_html => {:class => "input-mediun time_datepicker"} %>
<% else %>
  <%= f.input :start_at, :required => true, :as => :string, :input_html => {:class => "input-mediun", :value => "#{f.object.start_at.to_short_datetime}"} %>
  <%= f.input :end_at, :required => true, :as => :string, :input_html => {:class => "input-mediun", :value => "#{f.object.end_at.to_short_datetime}"} %>
<% end %>
<%= f.input :kindergarten_label, :required => true, :as => :string, :input_html => { :disabled => true } %>

<% if controller_name == "garden_growth_records" %>
    <%= f.input :siesta, :validate => true, :input_html => { class: "span5"} %>
    <%= f.input :dine, :validate => true, input_html: {class: "span5"} %>
    <div class="control-group">
      <%= f.label :reward, class: "control-label" %>
        <div class="controls">
          <div id="reward">
          </div>
        </div>
      </div>
      <% if action_name == "new" %>
        <%= f.input :reward, as: :hidden, input_html: {value: 1} %>
      <% else %>
        <%= f.input :reward, as: :hidden, input_html: {value: f.object.reward} %>
      <% end %>
    <% end %>

      <%= f.input :content, :required => true, :input_html => {:rows => "10", :class => "span5"}%>
      <div class="control-group">
        <label class="control-label">照片</label>&nbsp;&nbsp;
        <% f.object.asset_imgs.each do |img| %>
          <div class="img_div">
            <div class="img_border">
              &nbsp;&nbsp; <img src="<%= @set_imge %>" alt="照片" class="img-polaroid"/>
            </div>
          </div>
        <% end %>
        <% img_size = f.object.asset_imgs.size %>
        <% if img_size < 2  %>
          <% (2 - img_size).times.each do |i| %>
            <div class="img_div" style="text-align:left;">
              <%= file_field_tag "asset_imgs[#{i}]",:for=>"img#{i}" %>
              <div class="img_border" style="margin-top: 10px;">
                &nbsp;&nbsp; <img src="/t/colorful/user_logo.png" alt="照片" id="img<%= i %>" class="img-polaroid"/>
              </div>
            </div>
          <% end %>
        <% end %>
      </div>
      <%= f.input :kindergarten_id, :as => :hidden %>
      <% if current_user.get_users_ranges[:tp] == :student %>
        <%= f.input :student_info_id, :as => :hidden %>
      <% end %>
      <%= f.input :tp, :as => :hidden %>
      <br />

      <div class="control-group">
        <div class="controls">
          <%= f.button :submit, disable_with: "正在提交" %>
        </div>
      </div>

      <script type="text/javascript">
        $(document).ready(function() {
          var flag = []
          var time_re = /\d{4}-\d{2}-\d{2}/;
          $("input[name='commit']").click(function(){
            if ( $("#growth_record_start_at").val().length > 0 && $("#growth_record_end_at").val().length > 0 && time_re.test($("#growth_record_start_at").val()) && time_re.test($("#growth_record_end_at").val()) ) {
              if( Date.parse($("#growth_record_end_at").val()) < Date.parse($("#growth_record_start_at").val()) ) {
                if( $("#growth_record_end_at").next("span.help-inline").length == 0 ) {
                  $("<span class='help-inline'>结束时间必须大于开始时间</span>").insertAfter($("#growth_record_end_at"))
                }
                flag.push(true);
              } else {
                if($("#growth_record_end_at").next("span.help-inline").length > 0) {
                  $("#growth_record_end_at").next("span.help-inline").remove()
                }
                flag.push(false);
              }
            }

            if ( $("#student_info_id").length > 0 ) {
              if($("#grade").next("span.help-inline").length > 0) {
                $("#grade").next("span.help-inline").remove()
              }
              flag.push(false);
            } else if ( $("#growth_record_student_info_label").length > 0 || $("#growth_record_student_info").length > 0 ) {
              flag.push(false)
            } else {
              if( $("#grade").next("span.help-inline").length == 0 ) {
                $("<span class='help-inline'>必须选择学员</span>").insertAfter($("#grade"))
              }
              flag.push(true);
            }

            for( i in flag ) {
              if(flag[i] == true) {
                flag.length = 0;
                return false;
              }
            }
          })

          $("#grade").change(function() {
            $.get(
            "/my_school/growth_records/grade_squad_partial",
            {
              grade: $("#grade").val()
            },
            function(result) {
              $("#grade_squad_partial").html(result);
            }
          )
          }).trigger('change');
          if ( $("#squad_for_teacher").length > 0 ) {
            $("#squad").change(function() {
              $.get(
              "/my_school/growth_records/squad_student_partial",
              {
                squad: $("#squad").val()
              },
              function(result) {
                $("#squad_student_partial").html(result)
              }
            )
            }).trigger("change")
          }

          var count = $("#growth_record_reward").val();
          var options = {
            value: count,
            max: 5,
            after_click: function(ret) {
              $('#growth_record_reward').val(ret.number);
            }
          }
          $('#reward').rater(options);


        })
</script>

<script type="text/javascript">
  /**
   * 使用HTML5 File API, 來即時預覽image
   */
  $("input[type=file]").change(function(){
    var objUrl = getObjectURL(this.files[0]);
    if (objUrl) {
      $("#" + $(this).attr("for")).attr("src", objUrl) ;
    }
  }) ;

  /**
   * 建立一個可存取到該file的url
   * PS: 瀏覽器必須支援HTML5 File API
   */
  function getObjectURL(file) {
    var url = null ;
    if (window.createObjectURL!=undefined) { // basic
      url = window.createObjectURL(file) ;
    } else if (window.URL!=undefined) { // mozilla(firefox)
      url = window.URL.createObjectURL(file) ;
    } else if (window.webkitURL!=undefined) { // webkit or chrome
      url = window.webkitURL.createObjectURL(file) ;
    }
    return url ;
  }
</script>
