<div class="search_form">
  <%= form_tag '#{ controller_name == "growth_records" ? "/my_school/growth_records/home" : "/my_school/garden_growth_records/garden"}' , :method=>"get" do %>
    <b>学员：</b>
    <%= text_field :growth_record,:student_info_user_name_like,:style=>"width:100px;" ,:value=>"#{params[:growth_record][:student_info_user_name_like] if params[:growth_record] }"%>
    <b>开始时间：</b>
    <%= text_field :growth_record,:start_at_less_than_or_equal_to,:style=>"width:100px;" ,:value=>"#{params[:growth_record][:start_at_less_than_or_equal_to] if params[:growth_record] }"  %>
    <b>结束时间：</b>
    <%= text_field :growth_record,:end_at_greater_than_or_equal_to,:style=>"width:100px;" ,:value=>"#{params[:growth_record][:end_at_greater_than_or_equal_to] if params[:growth_record] }"  %>
    <%= submit_tag "搜索" , :class => "btn btn-primary" %>
  <%end%>
</div>
