<div class="show_publicity">
  <img src="/t/colorful/small_publicity.jpg" alt="展示图"/>
</div>
<div class="show_work">
  <%= render :partial => "/modules/colorful/work_menu" %>
  <div class="work">
    <div class="headline">
      <div class="headline_title">
        <div class="messages_root"></div>
        <label>
          <% if controller_name == "growth_records" %>
            宝宝在家管理信息
          <% else %>
            宝宝在园信息
          <% end %>
        </label>
        <div class="crumbs">
          <a href="/my_school/home" title="返回首页">
            <div class="icon_home"></div>
          </a>
          <ul>
            <li>
              <% if controller_name == "growth_records" %>
                <% if choose_operate_show("my_school/growth_records/home") %>
                  <%= link_to "宝宝在家管理", home_my_school_growth_records_path %>
                <% end %>
              <% else %>
                <% if choose_operate_show("my_school/garden_growth_records/garden") %>
                  <%= link_to "宝宝在园", garden_my_school_garden_growth_records_path %>
                <% end %>
              <% end %>
            </li>
            <li>/</li>
            <li>成长记录编辑</li>
          </ul>
        </div>
      </div>
      <ul class="work_action">
        <li>
          <% if controller_name == "growth_records" %>
            <% if choose_operate_show("my_school/growth_records/home") %>
              <a href="<%=url_for(:controller=>"/my_school/growth_records",:action=>:home)%>" title="返回">
                <div class="work_action_return">
                </div>
                <div class="work_action_return_move">
                </div>
              </a>
            <% end %>
        <% else %>
          <% if choose_operate_show("my_school/garden_growth_records/garden") %>
            <a href="<%=url_for(:controller=>"/my_school/garden_growth_records",:action=>:garden)%>" title="返回">
              <div class="work_action_return">
                </div>
                <div class="work_action_return_move">
                </div>
              </a>
            <% end %>
        <% end %>
        </li>
      </ul>
    </div>
    <div class="work_form">
      <div class="form_div">
        <% if controller_name == "growth_records" %>
          <%= simple_form_for @growth_record, :validate => true, :url => {:controller=>"/my_school/growth_records",:action=>:update}, :html =>{:class=>"form-horizontal"} do |f| %>
            <%= render :partial => "form",:object=>f %>
          <% end %>
        <% else %>
          <%= simple_form_for @growth_record, :validate => true, :url => {:controller=>"/my_school/garden_growth_records",:action=>:update}, :html =>{:class=>"form-horizontal"} do |f| %>
            <%= render :partial => "my_school/growth_records/form",:object=>f %>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>

</div>
