<div class="show_publicity">
  <img src="/t/colorful/small_publicity.jpg" alt="展示图"/>
</div>
<div class="show_work">
  <%= render :partial => "/modules/#{view_layout}/work_menu" %>
  <div class="work">
    <div class="headline">
      <div class="headline_title">
        <div class="messages_root"></div>
        <label>
          <% if controller_name == "growth_records" %>
            宝宝在家信息
          <% else %>
            宝宝在园信息
          <% end %>
        </label>
        <div class="crumbs">
          <a href="/my_school/home" title="返回首页">
            <div class="icon_home"></div>
          </a>
          <ul>
            <li>
              <% if controller_name == "growth_records" %>
                <%if choose_operate_show('my_school/growth_records/home')%>
                  <%= link_to "宝宝在家", home_my_school_growth_records_path %></li>
              <% end %>
            <% else %>
              <%if choose_operate_show('my_school/garden_growth_records/garden')%>
                  <%= link_to "宝宝在园", garden_my_school_garden_growth_records_path %></li>
                <% end %>
              <% end %>
            <li>/</li>
            <li>查看成长记录</li>
          </ul>
        </div>
      </div>
      <ul class="work_action">
        <li>
          <% if controller_name == "growth_records" %>
            <% if choose_operate_show("my_school/growth_records/new") %>
              <a href="<%=url_for(:controller=>"/my_school/growth_records",:action=>:new) %>" title="添加">
                <div class="work_action_add">
                </div>
                <div class="work_action_add_move">
                </div>
              </a>
            <% end %>
          <% else %>
            <% if choose_operate_show("my_school/garden_growth_records/new") %>
              <a href="<%=url_for(:controller=>"/my_school/garden_growth_records",:action=>:new)%>" title="添加">
                <div class="work_action_add">
                </div>
                <div class="work_action_add_move">
                </div>
              </a>
            <% end %>
          <% end %>
        </li>
        <li>
          <% if controller_name == "growth_records" %>
            <% if choose_operate_show("my_school/growth_records/edit") %>
              <a href="<%=url_for(:controller=>"/my_school/growth_records",:action=>:edit,:id=>@growth_record.id)%>" title="编辑">
                <div class="work_action_edit">
                </div>
                <div class="work_action_edit_move">
                </div>
              </a>
            <% end %>
          <% else %>
            <% if choose_operate_show("my_school/garden_growth_records/edit") %>
              <a href="<%=url_for(:controller=>"/my_school/garden_growth_records",:action=>:edit,:id=>@growth_record.id)%>" title="编辑">
                <div class="work_action_edit">
                </div>
                <div class="work_action_edit_move">
                </div>
              </a>
            <% end %>
          <% end %>
        </li>
        <li>
          <% if controller_name == "growth_records" %>
            <% if choose_operate_show("my_school/growth_records/home") %>
              <a href="<%=url_for(:controller=>"/my_school/growth_records",:action=>:home, params: session[:return_to])%>" title="返回">
                <div class="work_action_return">
                </div>
                <div class="work_action_return_move">
                </div>
              </a>
            <% end %>
          <% else %>
            <% if choose_operate_show("my_school/garden_growth_records/garden") %>
              <a href="<%=url_for(:controller=>"/my_school/garden_growth_records",:action=>:garden, params: session[:return_to])%>" title="返回">
                <div class="work_action_return">
                </div>
                <div class="work_action_return_move">
                </div>
              </a>
            <% end %>
          <% end %>
        </li>
      </ul>
    </div>

    <div class="work_form">
      <div class="form_div">
        <div class="show" id="growth_record">
          <div class="content_up">
            <p class="title"><span><%= @growth_record.student_info_label %></span></p>
            <% if controller_name == "garden_growth_records" %>
              <span id="growth_record_reward" style="display: none;" value="<%= @growth_record.reward %>"></span>
              <table class="attributes">
                <tr>
                  <th>评价星数</th>
                  <td style="width: 20%;">
                    <div id="reward">
                    </div>
                  </td>
                  <th>班级</th>
                  <td class="text-center"><%= @growth_record.squad_name %></td>
                </tr>
              </table>
            <% else %>
              <table class="attributes">
              <tr>
                <th style="width: 50%">班级</th>
                <td class="text-center"><%= @growth_record.squad_name %></td>
              </tr>
              </table>
            <% end %>
            <p class="info"><a href="<%= new_my_school_topic_path(growth_record_id: @growth_record.id) %>" title="分享到论坛贴子" alt="分享到论坛贴子"><i class="icon-share pull-right"></i></a><span class="time"><%= @growth_record.try(:start_at).try(:to_short_datetime) %></span>&nbsp;~&nbsp;<span class="time"><%= @growth_record.try(:end_at).try(:to_short_datetime) %></span>&nbsp;由&nbsp;<span class="link"><%= @growth_record.try(:creater).try(:name) %></span>&nbsp;创建于&nbsp;<span class="time"><%= @growth_record.try(:created_at).try(:to_long_datetime) %></span></p>
          </div>
          <div class="content">
            <%= simple_format raw(@growth_record.content) %>
            <div class="spra">
              <% @growth_record.asset_imgs.each do |img| %>
                <div class="img_div" for="flag_<%= img.id %>">
                  <div class="img_border">
                    &nbsp;&nbsp;
                    <a href="<%= img.public_filename(:thumb) %>" class="fancybox"  title="<%= @growth_record.student_info_label %>成长记录的照片">
                      <img src="<%= img.public_filename(:middle) %>" alt="照片"class="img-polaroid"/>
                    </a>
                  </div>
                  <% if current_user.id == @growth_record.creater_id || current_user.tp == 2 %>
                    <%= link_to "",url_for(:action=>:delete_img,:id=>@growth_record.id,:img_id=>img.id), :id=> "flag_#{img.id}", :class=> "btn-delete", :style=> "margin-top: 10px; display: none;", :confirm=> "你确定删除该图片吗" %>
                  <% end %>
                </div>
              <% end %>
            </div>

          </div>
        </div>
      </div>
      <%= render :partial=>"/my_school/comments/load_comments" ,:locals=>{:resource_type=>@growth_record.class.to_s,:resource_id=>@growth_record.id} %>
    </div>
  </div>

</div>

<script type="text/javascript">
  var reward = $("#growth_record_reward").attr("value")
  var options = {
    value: reward,
    max: 5,
    enabled: false
  }
  $('#reward').rater(options);
  $(function() {
    $(".jCarouselLite").jCarouselLite({
      btnNext: ".main .next",
      btnPrev: ".main .prev",
      auto: 2000,
      onMouse:true
    });
    $(".fancybox").fancybox();
  });


  var flag;
  $(".img_div").mouseover(function() {
    flag = "#" + $(this).attr("for");
    $(flag).show();
  }).mouseout(function() {
    $(flag).hide();
  })
</script>
