<div class="work_list">
      <% #unless @roles.blank? %>
        <table class="table table-striped table-hover">
          <tr>
             <%(@roles || []).each do |role|%>
            <td><span><%=link_to role.name , "###" ,:class=>"a_role_name  #{role.number==@role.number ? 'red' : ''}",:for=>role.id%></span></td>
            <%end%>
          </tr>
        </table>
        <%=form_tag(my_school_smarties_path(:role_id=>@role.id),:id=>"role_forms", :authenticity_token => 'external_token') do%>
         <table class="table table-striped table-hover">
          <tr>
            <th>编号</th>
            <th>所属栏目</th>
            <th>默认名称</th>
            <th>自定义名称</th>
            <th>是否显示</th>
          </tr>
          

          <%@role_operates.each_with_index do |operate,index|%> 
          <tr>
            <td><%=index+1%></td>
            <td><%=operate.parent.try(:name)%></td>
            <td><%=operate.name%></td>
            <td><%=text_field_tag('name')%></td>
            <td><%=check_box_tag 'operate[ids][]',operate.id %> </td>
          </tr>
          <%end%>
          <tr>
            <td></td>
            <td></td>
            <td><%=button_tag "确定",:id=>"submit_form"%>
            </td>
          <td></td>
          <td></td>
        </tr>
        
        </table>
        <%end%>
</div>