<div class="container">
  <%= render :partial => "/modules/colorful/weixin_head" %>
</div>
<div class="message_div">
  <div class="message_title">
    <a href="<%= weixin_path %>" title="返回" class="weixin_return">返回</a>
    <span>活动</span><span>></span><span>兴趣讨论</span>
  </div>
  <div class="message_list">
    <% unless current_user.get_users_ranges[:tp] == :student %>
      <div class="btn-new-wrap">
        <%= link_to "创建兴趣讨论", new_weixin_interest_activity_path, :class => "btn btn-warning btn-large btn-block" %>
      </div>
    <% end %>
    <ul class="data_list">
      <% if @activities.blank? %>
        <li><div class="message_content">还没有兴趣讨论</div></li>
      <% else %>
        <% @activities.each do |activity| %>
          <li class="show" data-id="<%= activity.id %>">
            <p class="title"><span><%= activity.title %><span></p>
            <p class="info">
              <span class="label label-info">
                <% if activity.squad.present? %>
                  <%= activity.squad.try(:name) %>
                <% else %>
                  全园可见
                <% end %>
              </span>
              <% if interest_activity_expired?(activity.end_at) %>
                <span class="label label-important label-info-squad">
                  已结束
                </span>
              <% end %>
              <span class="label label-warning"><%= activity.activity_entries.any? ? activity.activity_entries.count : "" %></span>
            </p>
            <p class="info"><span>创建人:</span><span class="author"><%= activity.creater ? activity.creater.name : "" %></span></p>
            <div class="ctivity_content_logo">
              <% unless activity.asset_img.blank? %>
                <a href="<%= activity.asset_img.public_filename(:thumb) %>" class="fancybox" title="" >
                  <img src="<%= activity.asset_img.public_filename(:middle) %>" />
                </a>
              <% end %>
            </div>
            <div class="content">
              <%= simple_format activity.content %>
            </div>
          </li>
        <% end %>
      <% end %>
    </ul>
    <br/>
  </div>
  <% unless  @growth_records.blank? %>
    <div class="message_more">
      <div class="paginate_div">
        <%= paginate @growth_records, :window => 1%>
      </div>
    </div>
  <% end %>
</div>
<%= render :partial => "/modules/colorful/weixin_menu_navbar"%>
<%= render :partial => "/modules/colorful/weixin_menu_one"%>

<script type="text/javascript">
$(".show").each(function() {
  $(this).click(function() {
    window.location.href = "interest_activities/" + $(this).attr("data-id")
  })
})
</script>

