<div class="container">
  <%= render :partial => "/modules/colorful/weixin_head" %>
</div>
<div class="message_div">
  <div class="message_title">
    <a href="<%= url_for(:action=>:index) %>" title="返回" class="weixin_return">返回</a>兴趣讨论

    <%= link_to("删除",url_for(:controller=>"/weixin/interest_activities",:action=>:destroy,:id=>@activity.id),:method=>:delete, :confirm => "您确定删除该兴趣讨论吗?", :class => "new_message btn btn-danger")%>
    <%= link_to "修改", edit_weixin_interest_activity_path(@activity), :class => "new_message btn btn-warning" %>
  </div>
  <div class="message_list">
    <ul class="data_list">
      <li class="show">
        <p class="title"><span class="name"><%= @activity.title %></span></p>
        <p class="info">班级:<%= @activity.squad.try(:name) %></p>
        <p class="info"><span class="time"><%= @activity.start_at.try(:to_short_datetime) %></span>&nbsp;~&nbsp;<span><%= @activity.end_at.try(:to_short_datetime) %></span></p>
        <p class="info">由&nbsp;<span class="author"><%= @activity.creater.try(:name) %></span>&nbsp;创建于&nbsp;<span><%= @activity.created_at.try(:to_long_datetime) %></span></p>
        <div class="ctivity_content_logo">
          <% if @activity.asset_img.blank? %>
            <img src="/t/colorful/activity_logo1.jpg" alt="" />
          <% else %>
            <a href="<%= @activity.asset_img.public_filename(:thumb) %>" class="fancybox" title="" >
              <img src="<%= @activity.asset_img.public_filename(:middle) %>" />
            </a>
          <% end %>
        </div>
        <div class="content">
          <%= simple_format @activity.note, :class => "note" %>
          <%= simple_format @activity.content %>
        </div>
        </li>
      </ul>

      <div class="reply_box">
        <ul class="nav nav-tabs" style="font-size: 13px; margin-top: 15px;">
          <li class="<%= params[:activity_entry_tp].nil? ? "active" : "" %>"><a href="<%= url_for(:controller => "/weixin/interest_activities", :action => :show, :id => @activity, :anchor => "topic_entries") %>">全部回复</a></li>
          <li class="<%= params[:activity_entry_tp].present? && 0 == params[:activity_entry_tp].to_i ? "active" : "" %>" >
            <%= link_to "主信息", weixin_activity_path(@activity, :activity_entry_tp => 0, :anchor => "topic_entries") %>
          </li>
          <li class="<%= params[:activity_entry_tp].present? && 1 == params[:activity_entry_tp].to_i ? "active" : "" %>" >
            <%= link_to "交互信息", weixin_activity_path(@activity, :activity_entry_tp => 1, :anchor => "topic_entries") %>
          </li>
        </ul>
        <div id="topic_entries" style="margin-top: 20px;">
          <% unless @activity_entries.blank? %>
            <p id="replies_count" class="replies_count">
              <i>共收到<%= @activity_entries.any? ? @activity_entries.count : 0 %>条回复</i>
            </p>
            <ul class="topic_replies">
              <% @activity_entries.each do |reply| %>
                <li class="show" id="activity_entry_<%= reply.id %>">
                  <p class="info">
                  <span class="author"><%= reply.creater.try(:name) %></span>&nbsp;回复于&nbsp;<span><%= reply.created_at.to_long_datetime %></span>
                  </p>
                  <div class="content"><%= simple_format reply.note %></div>
                </li>
              <% end %>
            </ul>
            <%= paginate @activity_entries %>
          <% else %>
            <p>暂无回复</p>
          <% end %>
        </div>
        <ul>
          <li class="reply">
            <% if controller_name == "activities" %>
              <% activities_controller = true %>
            <% else %>
              <% activities_controller = false %>
            <% end %>
            <%= simple_form_for(@activity_entry, :validate => true, :url => weixin_activity_entries_path(flag: activities_controller), :html => {:class => "form-horizontal"}) do |f| %>
              <div class="field">
                <p>回复</p>
                <%= f.kindeditor :note, :class => 'profile_input required', :editor_id => 'topic_content',:allowFileManager => false,:allowUpload=>false, :allowFlashUpload => false, :simple_mode => true %>
                <br />
                <%= f.button :submit, :class => "btn" %>
              </div>
              <%= f.input :creater_id, :as => :hidden %>
              <%= f.input :activity_id, :as => :hidden %>
              <%= f.input :tp, :as => :hidden %>
            <% end %>
          </li>
        </ul>
      </div>
  </div>
</div>
<%= render :partial => "/modules/colorful/weixin_menu_navbar"%>
<%= render :partial => "/modules/colorful/weixin_menu_one"%>
<script type="text/javascript">
$(":submit").click(function() {
  var flag = [];
  if (topic_content.html().length < 3 || topic_content.isEmpty()) {
    if ( $("#activity_entry_note").next("span.help-inline").length == 0 ) {
      $("<span class='help-inline'>长度不够(必须超过3个字符)</span>").insertAfter("#activity_entry_note")
    }
    flag.push(true)
  } else {
    if ( $("#activity_entry_note").next("span.help-inline").length > 0 ) {
      $("#activity_entry_note").next("span.help-inline").remove()
    }
    flag.push(false)
  }
  for( i in flag ) {
    if(flag[i] == true) {
      flag.length = 0;
      return false;
    }
  }
})
</script>

