<div class="container">
  <%= render :partial => "/modules/colorful/weixin_head" %>
</div>
<div class="message_div">
  <div class="message_title">
    <span>宝宝成长</span><span>></span><span>宝宝在园</span>
  </div>
  <div class="message_list">
    <ul class="data_list clearfix">
      <% unless current_user.get_users_ranges[:tp] == :student %>
      <p class="has-btn-new" style="margin: 0 auto;">
        <%= link_to "添加成长记录", new_weixin_garden_growth_record_path, :class => "span6 btn btn-warning", :style => "color: #fff;" %>
      </p>
      <% end %>
      <% if @growth_records.blank? %>
        <li><div class="message_content">还没有成长记录</div></li>
      <% else %>
        <ul style="clear: both;">
        <% @growth_records.each do |growth_record| %>
          <li class="show" data-id="<%= growth_record.id %>">
            <p class="title"><span class="name"><%= growth_record.student_info_label %></span></p>
            <p class="info"><span class="time"><%= growth_record.try(:start_at).try(:to_short_datetime) %></span>&nbsp;~&nbsp;<span><%= growth_record.try(:end_at).try(:to_short_datetime) %></span>&nbsp;由<span class="author"><%= growth_record.try(:creater).try(:name) %></span>创建于<span>&nbsp;<%= growth_record.created_at.try(:to_long_datetime) %></span></p>
            <div class="content">
              <%= simple_format growth_record.content %>
            </div>
          </li>
        <% end %>
        </ul>
      <% end %>
    </ul>
    <br/>
  </div>
  <% unless  @growth_records.blank? %>
    <div class="message_more">
      <div class="paginate_div">
        <%= paginate @growth_records, :window => 1%>
      </div>
    </div>
  <% end %>
</div>
<%= render :partial => "/modules/colorful/weixin_menu_navbar"%>
<%= render :partial => "/modules/colorful/weixin_menu_one"%>

<script type="text/javascript">
$(".show").each(function() {
  $(this).click(function() {
    window.location.href = "garden_growth_records/" + $(this).attr("data-id")
  })
})
</script>
