<div class="container">
  <%= render :partial => "/modules/colorful/weixin_head" %>
</div>
<div class="message_div">
  <div class="message_title">
    <a href="<%= url_for(:action=>:index) %>" title="返回" class="weixin_return">返回</a>宝宝在园
    <% unless current_user.get_users_ranges[:tp] == :student %>
      <%= link_to("删除",url_for(:controller=>"/weixin/garden_growth_records",:action=>:destroy,:id=>@growth_record.id),:method=>:delete, :confirm => "您确定删除该成长记录吗?", :class => "new_message btn btn-danger")%>
      <%= link_to "修改", edit_weixin_garden_growth_record_path(@growth_record), :class => "new_message btn btn-warning" %>
    <% end %>
  </div>
  <div class="message_list">
    <ul class="data_list">
      <li class="show">
        <p class="title"><span class="name"><%= @growth_record.student_info_label %></span></p>
        <span id="growth_record_reward" style="display: none;" value="<%= @growth_record.reward %>"></span>
        <div class="info">
          <table class="attributes">
            <tr>
              <th>班级</th>
              <td class="text-center">
                <%= @growth_record.try(:squad_name) %>
              </td>
            </tr>
          </table>
        </div>
        <div class="info">
          <table class="attributes">
            <tr>
              <th>评价星数</th>
              <td>
                <div id="reward"></div>
              </td>
            </tr>
          </table>
        </div>
        <p class="info"><span><%= @growth_record.start_at.try(:to_short_datetime) %></span>&nbsp;~&nbsp;<span><%= @growth_record.end_at.try(:to_short_datetime) %></span></p>
        <p class="info">由<span class="author"><%= @growth_record.creater.try(:name) %></span>创建于&nbsp;<span><%= @growth_record.created_at.try(:to_long_datetime) %></span></p>
        <div class="content">
          <% if !@growth_record.audio_turn.blank? %>
            <embed src="<%=@growth_record.audio_turn%>" loop=false autostart=false name=bgss width="100" height="40"/>
            <br/>
          <% end %>
          <%= simple_format raw @growth_record.content %>
        </div>
        <div class="spra" style="margin-top: 40px;">
          <% @growth_record.asset_imgs.each do |img| %>
            <div class="img_div" style="margin-bottom: 15px;">
              <div class="img_border">
                &nbsp;&nbsp;
                <a href="<%= img.public_filename(:thumb) %>" class="fancybox"  title="<%= @growth_record.student_info_label %>的成长记录的照片">
                  <img src="<%= img.public_filename(:middle) %>" alt="照片"class="img-polaroid"/>
                </a>
              </div>
              <% if current_user.id == @growth_record.creater_id || current_user.tp == 2 %>
                <%= link_to "删除",url_for(:action=>:delete_img,:id=>@growth_record.id,:img_id=>img.id) ,:class=>"btn", style: "margin-left: 20px; margin-top: 15px;"%>
              <% end %>
            </div>
          <% end %>
        </div>
      </li>
    </ul>
    <%= render :partial=>"/my_school/comments/load_comments" ,:locals=>{:resource_type=>@growth_record.class.to_s,:resource_id=>@growth_record.id} %>
  </div>
</div>
<%= render :partial => "/modules/colorful/weixin_menu_navbar"%>
<%= render :partial => "/modules/colorful/weixin_menu_one"%>

<script type="text/javascript">
  var reward = $("#growth_record_reward").attr("value")
  var options = {
    value: reward,
    max: 5,
    enabled: false
  }
  $('#reward').rater(options);
  $(".fancybox").fancybox();
</script>
