<script type="text/javascript">
  jQuery(function() {
    $('#cook_book_start_at').datepicker({
      language: "zh-CN",
      format:"yyyy-mm-dd"
    }).on("changeDate", function() {
      $(this).datepicker('hide')
    });;
    $('#cook_book_end_at').datepicker({
      language: "zh-CN",
      format:"yyyy-mm-dd"
    }).on("changeDate", function() {
      $(this).datepicker('hide')
    });;
  });
</script>
<div class="control-group">
 	<%=f.label :kindergarten_id, '所属幼儿园*' ,:class=>"control-label"%>
<div class="controls">
     <%= text_field_tag(:kindergarten,@kind.name, disabled: true) %>
</div>
</div>
 <div class="control-group">
 	<%=f.label :start_at, '开始时间:' ,:class=>"control-label" %>
<div class="controls">
  <% if action_name == "new" %>
    <%= f.text_field(:start_at , :validate => true, :class => "time_datepicker", placeholder: "单击此处选择菜谱的开始时间") %>
  <% else %>
    <%= f.text_field(:start_at , :validate => true, :class => "time_datepicker", :value => @cook_book.start_at.to_short_datetime) %>
  <% end %>
</div>
 </div>
<div class="control-group">
	<%=f.label :end_at, '结束时间: ' ,:class=>"control-label" %>
<div class="controls">
  <% if action_name == "new" %>
    <%= f.text_field(:end_at , :validate => true, :class => "time_datepicker", placeholder: "单击此处选择菜谱的结束时间") %>
  <% else %>
    <%= f.text_field(:end_at , :validate => true, :class => "time_datepicker", :value => @cook_book.end_at.to_short_datetime) %>
  <% end %>
</div>
</div>
<div class="control-group">
  <%=f.label :range_tp, '菜谱类型: ' ,:class=>"control-label"%>
<div class="controls">
    <%= select_tag "cook_book[range_tp]", options_for_select((CookBook::RANGE_TP_DATA.collect{|s,v|[v,s]} || [])) %>
</div>
</div>
<div class="control-group">
 <%=f.label :content, '内容: ' ,:class=>"control-label"%>
 <%= f.kindeditor :content, :class => 'profile_input required', :editor_id => 'topic_content',:allowFileManager => false,:allowUpload=>false%>

</div>
<%= hidden_field @cook_book, :creater_id %>
 <div class="control-group">
<div class="controls">
  <% if action_name == "new" %>
    <%= f.submit('创建',:class=>"btn", "data-disable-with" => "正在提交") %>
  <% else %>
    <%= f.submit('更新',:class=>"btn", "data-disable-with" => "正在提交") %>
  <% end %>
</div>
</div>
<script type="text/javascript">

var flag = []
var time_re = /\d{4}-\d{2}-\d{2}/;
$("input[name='commit']").click(function(){
  if ( $("#cook_book_start_at").val().length > 0 && $("#cook_book_end_at").val().length > 0 && time_re.test($("#cook_book_start_at").val()) && time_re.test($("#cook_book_end_at").val()) ) {
    if( Date.parse($("#cook_book_end_at").val()) < Date.parse($("#cook_book_start_at").val()) ) {
      if( $("#cook_book_end_at").next("span.help-inline").length == 0 ) {
        $("<span class='help-inline'>过期时间必须大于注射时间</span>").insertAfter($("#cook_book_end_at"))
      }
      flag.push(true);
    } else {
      if($("#cook_book_end_at").next("span.help-inline").length > 0) {
        $("#cook_book_end_at").next("span.help-inline").remove()
      }
      flag.push(false);
    }
  }

  for( i in flag ) {
    if(flag[i] == true) {
      flag.length = 0;
      return false;
    }
  }
})
</script>
