<script type="text/javascript">
  jQuery(function() {
    $('#cook_book_start_at_greater_than_or_equal_to').datepicker({
      language: "zh-CN",
      format:"yyyy-mm-dd"
    }).on("changeDate", function() {
      $(this).datepicker('hide')
    });;
    $('#cook_book_end_at_less_than_or_equal_to').datepicker({
      language: "zh-CN",
      format:"yyyy-mm-dd"
    }).on("changeDate", function() {
      $(this).datepicker('hide')
    });;
  });
</script>
<div class="show_work">
  <%= render :partial => "/modules/colorful/work_menu" %>
  <div class="work">
    <div class="headline">
      <div class="headline_title">
        <div class="messages_root"></div>
        <label>菜谱</label>
        <div class="crumbs">
          <a href="/my_school/home" title="返回首页">
            <div class="icon_home"></div>
          </a>
          <ul>
            <li><%= link_to "菜谱", my_school_cook_books_path %></li>
          </ul>
        </div>
      </div>
      <ul class="work_action">
         <li><%=(link_to "<div class='work_action_add'>
            </div><div class='work_action_add_move'>
            </div>".html_safe ,new_my_school_cook_book_path) if  choose_operate_show("my_school/cook_books/new") %>
        </li>
        <li>
          <a href="/" title="删除" id="destroy_multiple">
            <div class="work_action_delete">
            </div>
            <div class="work_action_delete_move">
            </div>
          </a>
        </li>
      </ul>
    </div>
    <div class="search_form">
     <%= form_tag '/my_school/cook_books' , :method=>"get" do %>
      <b>开始时间：</b>
      <%= text_field :cook_book,:start_at_greater_than_or_equal_to,:style=>"width:100px;" ,:value=>"#{params[:cook_book][:start_at_greater_than_or_equal_to] if params[:cook_book] }"  %>
      <b>结束时间：</b>
      <%= text_field :cook_book,:end_at_less_than_or_equal_to,:style=>"width:100px;" ,:value=>"#{params[:cook_book][:end_at_less_than_or_equal_to] if params[:cook_book] }"  %>
      <%= submit_tag "搜索" , :class => "btn search_btn"%>
      <%end%>
    </div>

    <div class="work_list">
      <% unless @cook_books.blank? %>
        <div class="topics" id="cook_books">
          <div class="select_all_wrap clearfix" style="display: none;">
            <label class="input_select_all checkbox inline ">
              <input type="checkbox" id="check_all" /> 全选
            </label>
            <a class="hidden-wrap" href="javascript: void(0)" rel="nofollow"><i class="icon-remove-circle pull-right"></i></a>
          </div>
          <%= render partial: "cook_book", collection: @cook_books %>
        </div>
      <%= paginate @cook_books  %>
      <% else %>
        暂无菜谱
      <% end %>
    </div>
  </div>

</div>
<script type="text/javascript">
  $(document).ready(function(){
    $("#destroy_multiple").click(function(){
        $("#destroy_multi_form").submit();
        return false;
    });
  });
</script>
