<div class="show_publicity">
  <img src="/t/colorful/small_publicity.jpg" alt="展示图"/>
</div>
<div class="show_work">
  <%= render :partial => "/modules/colorful/work_menu" %>
  <div class="work">
    <div class="headline">
      <div class="headline_title">
        <div class="messages_root"></div>
        <label>菜谱</label>
        <div class="crumbs">
          <a href="/my_school/home" title="返回首页">
            <div class="icon_home"></div>
          </a>
          <ul>
            <li><%= link_to "菜谱", my_school_cook_books_path %></li>
            <li>/</li>
            <li>查看菜谱</li>
          </ul>
        </div>
      </div>
      <ul class="work_action">
        <li>
          <a href="<%=url_for(:controller=>"/my_school/cook_books",:action=>:new)%>" title="添加">
            <div class="work_action_add">
            </div>
            <div class="work_action_add_move">
            </div>
          </a>
        </li>
        <li>
          <a href="<%=url_for(:controller=>"/my_school/cook_books",:action=>:edit,:id=>@cook_book.id)%>" title="编辑">
            <div class="work_action_edit">
            </div>
            <div class="work_action_edit_move">
            </div>
          </a>
        </li>
        <li>
          <%= link_to(url_for(:controller=>"/my_school/cook_books",:action=>:destroy,:id=>@cook_book.id),:method=>:delete, :confirm => "您确定删除该菜谱吗?") do %>
            <div class="work_action_delete">
            </div>
            <div class="work_action_delete_move">
            </div>
          <% end %>
        </li>
        <li>
          <a href="<%=url_for(:controller=>"/my_school/cook_books",:action=>:index)%>" title="返回">
            <div class="work_action_return">
            </div>
            <div class="work_action_return_move">
            </div>
          </a>
        </li>
      </ul>
    </div>

    <div class="work_form">
      <div class="form_div">
        <div class="show" id="cook_book">
          <div class="content_up">
            <p class="info"><span class="time"><%= @cook_book.try(:start_at).try(:to_short_datetime) %></span>&nbsp;~&nbsp;<span class="time"><%= @cook_book.try(:end_at).try(:to_short_datetime) %></span>&nbsp;由&nbsp;<span class="link"><%= @cook_book.try(:creater).try(:name) %></span><span>*<%= CookBook::RANGE_TP_DATA[@cook_book.range_tp.to_s] %></span>&nbsp;创建于&nbsp;<span class="time"><%= @cook_book.try(:created_at).try(:to_long_datetime) %></span></p>
          </div>
          <div class="content">
            <%= raw(@cook_book.content) %>
          </div>
        </div>
      </div>
      <%= render :partial=>"/my_school/comments/load_comments" ,:locals=>{:resource_type=>@cook_book.class.to_s,:resource_id=>@cook_book.id} %>
    </div>
  </div>
</div>

