<div class="admissions_information">
  <div class="admissions_info_title">
    <h2><%= @wonderful_episode.title %></h2>
  </div>
  <div class="admissions_info_content">
    <div class="work_main_list">
    <% content_for :jplayer do %>
       <script type="text/javascript">
         $(document).ready(function(){
           $("#jquery_jplayer_1").jPlayer({
             ready: function () {
               $(this).jPlayer("setMedia", <%= jplayer_get_video_url(@wonderful_episode) %>);
             },
             swfPath: "/js",
             supplied: "<%= jplayer_encoding_list %>"
           });
         });
       </script>
     <% end %>
     <tr>
       <td>
         由<%= @wonderful_episode.creater.try(:name) %>创建于<%= @wonderful_episode.created_at.try(:to_long_datetime) %>
         <div><%= link_to "返回", {:controller => "/my_school/main", :action => "show_wonderful_episodes"}, :class => "btn btn-primary pull-right" %></div>
         <br/>
         <%= render partial: "/my_school/commons/jplayer_container"%>
       </td>
     </tr>
    </div>
  </div>
</div>

