<div class="admissions_information">
  <div class="admissions_info_title">
    <h2>菜谱</h2>
  </div>
  <div class="admissions_info_content">
    <div class="work_main_list">
      <% if @can_show %>
        <% unless @cookbooks.blank? %>
          <%= paginate @cookbooks %>
          <table class="table table-striped table-hover">
            <% @cookbooks.each do |cook_book| %>
              <tr>
                <td>从<%= cook_book.start_at.try(:to_short_datetime) %>&nbsp;到&nbsp;<%= cook_book.end_at.try(:to_short_datetime) %><br/>
                  <%= CookBook::RANGE_TP_DATA[cook_book.range_tp.to_s] %>&nbsp;*&nbsp;<%= cook_book.creater.try(:name) %>&nbsp;创建于&nbsp;<%= cook_book.created_at.try(:to_long_datetime) %><br/>
                  <%= raw cook_book.content %></td>
              </tr>
            <% end %>
          </table>
          <%= paginate @cookbooks %>
        <% else %>
          暂无菜谱信息
        <% end %>
      <% else %>
        菜谱未公开
      <% end %>
    </div>
  </div>
</div>