<div class="admissions_information">
  <div class="admissions_info_title">
    <h2>政策法规</h2>
  </div>
  <div class="admissions_info_content">
    <div class="work_main_list">
      <% unless @policies.blank? %>
        <%= paginate @policies %>
        <table class="table table-striped table-hover">
          <% @policies.each_with_index do |policy, index| %>
            <tr>
              <td>
                <span class="pull-right"><%= policy.created_at.try(:to_long_datetime) %></span>
                <%= index + 1 %>.
                <%= link_to truncate(policy.title), {:controller => "/my_school/main", :action => :show_policy, :id => policy.id}, "target" => "_blank" %>
              </td>
            </tr>
          <% end %>
        </table>
        <%= paginate @policies %>
      <% else %>
        暂无政策法规信息
      <% end %>
    </div>
  </div>
</div>
