<%#= render :partial => "/modules/colorful/show_official_about_us" %>
<div class="contact_us_kinder">
    <% if @kind &&(root_showcase = @kind.page_contents.find_by_number("official_website_about_us")) && !root_showcase.content_entries.blank? %>
    <% entry = root_showcase.content_entries.first%>
	<div class="contact_us_content">
     <%=raw entry.content%>
	</div>
	<div class="show_menu_center">
       <div class="show_center_left"> </div>
       <div class="show_center_right"> </div>
       <div class="show_center">
        <ul>
         <li>
           <a><%= entry.title%></a>
         </li>
        </ul>
       </div>
    </div>
    <div class="contact_us_class_image">
    	<div class="class_big_image">
                    <img src="<%=entry.page_img.blank? ? '/t/colorful/483-5552.jpg' : entry.page_img.public_filename  %>" alt="" width="560"  height="370"/>
    	</div>
    	<div class="class_middle_image">
    	<div class="class_middle_top_image">
    		<img src="<%=entry.page_img.blank? ? '/t/colorful/483-5552.jpg' : entry.page_img.public_filename%>" alt="" width="275" height="180"   >
    	</div>
        <div class="class_middle_bottom_image">
    		<img src="<%=entry.page_img.blank? ? '/t/colorful/483-5552.jpg' : entry.page_img.public_filename%>" alt="" width="275" height="180"   >
    	</div>
    	</div>
    </div>
    <%end%>
</div>
