  <p>总共成长记录数量:<%= @growth_record_count %></p>
  <p>宝宝在家成长记录数量: <%= @home_growth_record_count %></p>
  <p>宝宝在园成长记录数量: <%= @garden_growth_record_count %></p>

  <hr />
  <p>宝宝在家成长记录</p>
  <% @kind.squads.each do |squad| %>
    <% @squad_growth_record_count = GrowthRecord.where("student_infos.squad_id = ? and tp = 1", squad.id).joins(:student_info).count %>
    <p><%= squad.name %>: (<%= @squad_growth_record_count %>)</p>
    <p style="text-indent: 10px;">学员</p>
    <div style="text-indent: 20px;">
      <% squad.student_infos.each do |student_info| %>
        <p><%= student_info.user.try(:name) %>(<%= student_info.growth_records.where(tp: 1).count %>)</p>
      <% end %>
    </div>

    <hr />
  <% end %>

  <p></p>

  <p>宝宝在园成长记录</p>

  <% @kind.squads.each do |squad| %>
    <% @squad_growth_record_count = GrowthRecord.where("student_infos.squad_id = ? and tp = 0", squad.id).joins(:student_info).count %>
    <p><%= squad.name %>: (<%= @squad_growth_record_count %>)</p>
    <p style="text-indent: 10px;">学员</p>
    <div style="text-indent: 20px;">
      <% squad.student_infos.each do |student_info| %>
        <p><%= student_info.user.try(:name) %>(<%= student_info.growth_records.where(tp: 0).count %>)</p>
      <% end %>
    </div>

    <hr />
  <% end %>
