<!-- start panel -->
  <div class="panel">
    <div class="header"><%= staff.try(:user).try(:full_name) %>
      <span class="pull-right">
        <% if @start_at.present? && @end_at.present? %>
          <%= @start_at %> ~ <%= @end_at %>
        <% end %>
      </span>
    </div>
    <div class="inner">
      <div>
        <% unless @syslogs.blank? %>
          <% if staff && !staff.user.blank? %>
            <% TEACHER_STAT.each do |k,v|  %>
              <p>
                <%= v %>:
                <% syslog_count = 0 %>
                <% if data = @syslogs[staff.try(:user_id)] %>
                  <% if record_data = data.find{ |record| record.url_options == k } %> 
                    <% syslog_count = record_data.syslogcount %>
                  <% end %>
                <% end %>
                <span class="text-info"><%= syslog_count %></span>
              </p>
            <% end %>
          <% end %>
        <% else %>
          <p class="muted">没有操作记录<p>
        <% end %>
      </div>

    </div>
  </div>
<!-- end panel -->
