<!-- start panel -->
  <div class="panel">
    <div class="header"><%= staff.try(:user).try(:full_name) %>
      <span class="pull-right">
        <% if @start_at.present? && @end_at.present? %>
          <%= @start_at %> ~ <%= @end_at %>
        <% end %>
      </span>
    </div>
    <div class="inner">
      <div>
        <% if @syslogs[staff.try(:user_id)] %>
          <% @syslogs[staff.try(:user_id)].each do |syslog| %>
            <% record = /(\w+\/\w+)\/(\w+)/.match(syslog.url_options) %>
            <% record_controller = record[1] %>
            <% record_action = record[2] %>
            <% if SYSLOGS[record_controller] %>
              <p><%= SYSLOGS[record_controller][record_action][syslog.method] %>的数量为:&nbsp;<span class="text-info"><%= syslog.syslogcount %></span></p>
            <% end %>
          <% end %>
        <% else %>
          <p class="muted">没有操作记录</p>
        <% end %>
      </div>
    </div>
  </div>
<!-- end panel -->
