<script type="text/javascript">

  var curD = new Date();
  var firstD  =  new Date();
  var lastD = new Date();
  var dayTime = 24*60*60*1000 ;
  function initDate(){
    curD.setHours(12,12,12,0);
    var dateLong = curD.getTime();


    if ( curD.getDay()== 0 ){
      dateLong = dateLong - (6*dayTime);
    }else {
      dateLong = dateLong - (curD.getDay()-1)*dayTime;
    }

    curD.setTime(dateLong);

    firstD = curD;
    lastD.setTime(firstD.getTime()+6*dayTime);
    var ss = firstD.getFullYear()+'-'+(firstD.getMonth()+1)+'-'+firstD.getDate()+'~'+lastD.getFullYear()+'-'+(lastD.getMonth()+1)+'-'+lastD.getDate();
    document.getElementById('val').setAttribute('value',ss);


  }

  function backDate(){
    var dateLong = curD.getTime();
    curD.setTime(dateLong - (6*dayTime));
    initDate();
  }

  function curDate() {
    var dateLong = curD.getTime();
    curD.setTime(dateLong);
    initDate();
  }

  function nowDate(){
    curD = new Date();
    curD.setHours(12,12,12,0);
    var dateLong = curD.getTime();


    if ( curD.getDay()== 0 ){
      dateLong = dateLong - (6*dayTime);
    }else {
      dateLong = dateLong - (curD.getDay()-1)*dayTime;
    }

    curD.setTime(dateLong);

    firstD = curD;
    lastD = new Date();
    lastD.setTime(firstD.getTime()+6*dayTime);
    var ss = firstD.getFullYear()+'-'+(firstD.getMonth()+1)+'-'+firstD.getDate()+'~'+lastD.getFullYear()+'-'+(lastD.getMonth()+1)+'-'+lastD.getDate();
    document.getElementById('val').setAttribute('value',ss);
  }

  function nextDate(){
    var dateLong = curD.getTime();
    curD.setTime(dateLong + (7*dayTime));
    initDate();
  }

  jQuery(function() {
    $('#start_at').datepicker({
      language: "zh-CN",
      format:"yyyy-mm-dd"
    }).on("changeDate", function() {
      $(this).datepicker('hide')
    });;
    $('#end_at').datepicker({
      language: "zh-CN",
      format:"yyyy-mm-dd"
    }).on("changeDate", function() {
      $(this).datepicker('hide')
    });;
  });
</script>
<div class="show_work">
  <%= render :partial => "/modules/colorful/work_menu" %>
  <div class="work">
    <div class="headline">
      <div class="headline_title">
        <div class="messages_root"></div>
        <label>
          成长记录统计
        </label>
        <div class="crumbs">
          <a href="/my_school/home" title="返回首页">
            <div class="icon_home"></div>
          </a>
          <ul>
            <li>
              统计
            </li>
            <li>/</li>
            <li>成长记录统计</li>
          </ul>
        </div>
      </div>
      <ul class="work_action">
      </ul>
    </div>


    <div class="work_list">
      <div class="topics">
        <%= form_tag '/my_school/statistics/growth_record' , :method=>"get", :id => "stat_growth_record" do %>
          <p>
          按时间段搜索:
            <input type="text" class="input-small" style="margin-top: 10px;" id="start_at" placeholder="开始时间" />
            <input type="text" class="input-small" style="margin-top: 10px;" id="end_at" placeholder="结束时间" />
            <a href="javascript:void(0);" class="btn" id="time-search">查看该时间段内的成长记录</a>
          </p>
          <p>
          按周搜索:
            <a class="normal_link btn" id="first" href="javascript:void(0);"  onclick="backDate();">上一周</a>
            <a class="normal_link btn" href="javascript:void(0);" onclick="nowDate();">本周</a>
            <a class="normal_link btn" href="javascript:void(0);" onclick="nextDate();" >下一周</a>
            <input type="hidden" style="margin-top: 10px;" id="val" value="<%= @cur_begginning_of_week %>~<%= @cur_end_of_week %>"  />
          </p>
          <a class="btn view" id="stat-failure" href="javascript:void(0);" >查看成长记录未完成的学员</a>
          <a class="btn view" id="stat-success" href="javascript:void(0);" >查看成长记录已完成的学员</a>
        <% end %>


        <div id="growth_record_stats">
          <%= render "growth_record" %>
        </div>
    </div>
  </div>

</div>

</div>

<script type="text/javascript">
$(document).ready(function() {
  $(".normal_link").each(function() {
    $(this).click(function() {
      var start_at = $("#val").val().split("~")[0];
      var end_at = $("#val").val().split("~")[1]
      var text = $(this).text();
      /*
      $("#stat_growth_record").submit();
      */
      search_growth_record_ajax(start_at, end_at)
    })
  });

  function search_growth_record_ajax(start_at, end_at) {
    $.ajax({
        url: "/my_school/statistics/growth_record",
        data: {
          start_at: start_at,
          end_at: end_at
        },
        beforeSend: function() {
          $('<img class="loading_img loadding_pt" src="/t/colorful/gif_preloader.gif" alt="" />').appendTo(".topics");
        },
        success: function() {
          $(".topics").find("img.loadding_pt").hide();
        }
      })
  }

  $("#time-search").click(function() {
      var start_at = $("#start_at").val();
      var end_at = $("#end_at").val();
      search_growth_record_ajax(start_at, end_at);
  })

  var growth_record_scroll;
  $('a.view').each(function () {
    $(this).click(function() {
      $(this).addClass('disabled');
      $(this).siblings().removeClass('disabled');
      if ( parent.location.hash == '' ) {
        parent.location.hash = "home_growth_records";
        growth_record_scroll = $(window).scrollTop();
      } else {
        $(window).scrollTop(growth_record_scroll);
      }

    })
  });
})
</script>
