<div class="stat-content">
  <div class="panel">
    <div class="header">人员统计</div>
    <div class="inner">
      <p><span>年级总数</span><%= @kind.grades.count %></p>
      <p><span>班级总数</span><%= @kind.squads.count %></p>
      <p><span>学员总数</span><%= @kind.student_infos.count %></p>
    </div>
  </div>
  <div class="panel">
    <div class="header">信息论坛统计</div>
    <div class="inner">
      <p><span>贴子总数</span><%= @kind.topics.count %></p>
      <p><span>回复总数</span><%= @kind.topic_entries.count %></p>
    </div>
  </div>
  <div class="panel">
    <div class="header">延时班统计</div>
    <div class="inner">
      <p><span>延时班总数</span><%= @kind.squads.where(tp: 1).count %></p>
    </div>
  </div>
  <div class="panel">
    <div class="header">活动统计</div>
    <div class="inner">
      <p><span>主题活动数量</span><%= @kind.activities.where(tp: 0).count %></p>
      <p><span>兴趣讨论数量</span><%= @kind.activities.where(tp: 1).count %></p>
    </div>
  </div>
</div>
