<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
  <head>
    <title>School</title>
<%#= stylesheet_link_tag    "application", :media => "all" %>
    <%= stylesheet_link_tag    "colorful", :media => "all" %>
    <%= stylesheet_link_tag    "fancybox/jquery.fancybox",
      "fancybox/jquery.fancybox-buttons",
      "fancybox/jquery.fancybox-thumbs",:media => "all" %>

    <%= javascript_include_tag "application"#,
    #"fancybox/jquery.mousewhee",
    #"fancybox/jquery.fancybox",
    #"fancybox/jquery.fancybox-buttons",
    #"fancybox/jquery.fancybox-thumbs",
    #"fancybox/jquery.fancybox-media",
    #"jquery.lettering"

  %>
    <%= csrf_meta_tags %>
    <%= javascript_include_tag "pngFix" %>
    <!--[if lte IE 6]>
    <script type="text/javascript">
      $(document).ready(function(){
        $(document).pngFix();
      });
    </script>
    <![endif]-->
  </head>
  <body>

    <div class="wrapper_all">
      <%= yield %>
    </div>
    <div style="display: none;">
      <script type="text/javascript">
        try{
          var cnzz_protocol = (("https:" == document.location.protocol) ? " https://" : " http://");document.write(unescape("%3Cdiv id='cnzz_stat_icon_1000041998'%3E%3C/div%3E%3Cscript src='" + cnzz_protocol + "s22.cnzz.com/z_stat.php%3Fid%3D1000041998%26show%3Dpic' type='text/javascript'%3E%3C/script%3E"));
        }catch(ex){}
      </script>
    </div>
  </body>
</html>
