<!DOCTYPE html>
<html>
  <head>
    <title>School</title>
    <%= stylesheet_link_tag    "colorful", :media => "all" %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <div  class="wrapper">
      <div class="main_logo">
        <% if @kind %>
          <img src="<%= @kind.asset_img ? @kind.asset_img.public_filename : '/t/colorful/logo.png' %>" width="100" height="79" alt="Logo"/>
        <% end %>
      </div>
      <div id="main" class="menu">
        <div class="menu_left"> </div>
        <div class="menu_right"> </div>
        <div class="menu_center">
          <ul>
            <li><a href="###"><img src="/t/colorful/w_home.png" alt="首页"/><div>首页</div></a></li>
            <li><a href="###"><img src="/t/colorful/phone_img.png" alt="首页" width="39px"/><div>关于幼儿园</div></a></li>
            <li><a href="###"><img src="/t/colorful/cook_img.png" alt="首页" width="39px"/><div>园所特色</div></a></li>
            <li><a href="###"><img src="/t/colorful/growth_img.png" alt="首页" width="39px"/><div>招生信息</div></a></li>
            <li>
              <!-- <a href="#{}"></a> -->
              <%= link_to "<img src='/t/colorful/activity_img.png' alt='首页' width='39px'/><div>家园互动</div>".html_safe,:controller=>"/my_school/home",:action=>:index %>
            </li>
          </ul>
        </div>
        <div class="submenu_center">
          &nbsp;
        </div>
      </div>
      <div class="main_work">
        <%= link_to "进入家园互动",:controller=>"/my_school/home",:action=>:index %>
        <%= yield %>
      </div>
    </div>
  </body>
</html>