<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8"/>
    <title>School</title>
    <link rel="stylesheet" media="all" href=""/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <%= stylesheet_link_tag    "app_bootstrap", :media => "all" %>
    <%= stylesheet_link_tag    "colorful_responsive","colorful_weixin", "datepicker", :media => "all" %>
    <%= stylesheet_link_tag    "jquery.rater", :media => "all" %>
    <%= stylesheet_link_tag    "fancybox/jquery.fancybox",
      "fancybox/jquery.fancybox-buttons",
      "fancybox/jquery.fancybox-thumbs" %>

    <%= javascript_include_tag "colorful_weixin" %>
    <%= javascript_include_tag "jquery.rater" %>
    <%= javascript_include_tag "fancybox/jquery.fancybox",
      "fancybox/jquery.fancybox-buttons",
      "fancybox/jquery.fancybox-thumbs",
      "fancybox/jquery.fancybox-media",
      "bootstrap-datepicker",
      "bootstrap-datepicker.zh-CN"
  %>
    <%= csrf_meta_tags %>
    <!-- Adding "maximum-scale=1" fixes the Mobile Safari auto-zoom bug: http://filamentgroup.com/examples/iosScaleBug/ -->
  </head>
  <body lang="en">
    <%= yield %>
    <%= render :partial => "/modules/colorful/weixin_foot" %>
    <div style="display: none;">
      <script type="text/javascript">
        try{
          var _bdhmProtocol = (("https:" == document.location.protocol) ? " https://" : " http://");
          document.write(unescape("%3Cscript src='" + _bdhmProtocol + "hm.baidu.com/h.js%3Fc6ef73a08241f5412f477c04edbd04e9' type='text/javascript'%3E%3C/script%3E"));
        }catch(err){}
      </script>

    </div>
  </body>
</html>
