<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN">
<html>
  <head>
    <title>School</title>
    <%= stylesheet_link_tag    "app_bootstrap", :media => "all" %>
    <%= stylesheet_link_tag    "colorful", :media => "all" %>
    <%= stylesheet_link_tag    "fancybox/jquery.fancybox",
      "fancybox/jquery.fancybox-buttons",
      "fancybox/jquery.fancybox-thumbs",
      "kindeditor/default",
      "datepicker", :media => "all" %>
    <%= javascript_include_tag "colorful","jquery.jcarouselLite","jquery.validate"%>
    <%= javascript_include_tag "fancybox/jquery.mousewhee",
      "fancybox/jquery.fancybox",
      "fancybox/jquery.fancybox-buttons",
      "fancybox/jquery.fancybox-thumbs",
      "fancybox/jquery.fancybox-media",
      "bootstrap-datepicker",
      "bootstrap-datepicker.zh-CN"
  %>

    <% if Rails.env == "production" %>
      <%= javascript_include_tag "kindeditor/kindeditor-all-min","kindeditor/zh_CN"%>
    <% else %>
      <%= javascript_include_tag "kindeditor/kindeditor-all","kindeditor/zh_CN"%>
    <% end %>
    
    <%= csrf_meta_tags %>
  </head>
  <body>
    <div class="wrapper">
      <%= render :partial => "/modules/colorful/head" %>
      <%= yield %>
      <%= render :partial => "/modules/colorful/foot" %>
    </div>
  </body>
</html>
