<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
  <head>
    <title>School</title>
    <%= stylesheet_link_tag    "app_bootstrap", :media => "all" %>
    <%= stylesheet_link_tag    "colorful", :media => "all" %>
    <%= stylesheet_link_tag    "jquery.rater", :media => "all" %>
    <%= stylesheet_link_tag    "fancybox/jquery.fancybox",
      "fancybox/jquery.fancybox-buttons",
      "fancybox/jquery.fancybox-thumbs",
      "datepicker", :media => "all" %>
    <%= javascript_include_tag "colorful","jquery.jcarouselLite","jquery.validate"%>
    <%= javascript_include_tag "fancybox/jquery.mousewhee",
      "fancybox/jquery.fancybox",
      "fancybox/jquery.fancybox-buttons",
      "fancybox/jquery.fancybox-thumbs",
      "fancybox/jquery.fancybox-media",
      "bootstrap-datepicker",
      "bootstrap-datepicker.zh-CN",
      "DD_belatedPNG_0.0.8a"
  %>
    <%= javascript_include_tag "jquery.rater" %>
    <%= javascript_include_tag "rails.validations" %>
    <%= javascript_include_tag "rails.validations.simple_form" %>
    <%= csrf_meta_tags %>
    <!--[if lte IE 6]>
    <script type="text/javascript">
             try{
        DD_belatedPNG.fix('div, ul, img, li, input , a');
        }catch(err){}
    </script>
<![endif]-->
  </head>
  <body>
    <div class="wrapper">
      <%= render :partial => "/modules/colorful/head" %>
      <%= yield %>
      <%= render :partial => "/modules/colorful/foot" %>
    </div>
    <div style="display: none;">
      <script type="text/javascript">
        try{
          var _bdhmProtocol = (("https:" == document.location.protocol) ? " https://" : " http://");
          document.write(unescape("%3Cscript src='" + _bdhmProtocol + "hm.baidu.com/h.js%3Fc6ef73a08241f5412f477c04edbd04e9' type='text/javascript'%3E%3C/script%3E"));
          }catch(err){}
      </script>
      
    </div>
  </body>
</html>
