<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
  <head>
    <title>School</title>
    <%= stylesheet_link_tag    "app_bootstrap", :media => "all" %>
    <%= stylesheet_link_tag    "colorful", :media => "all" %>
    <%= stylesheet_link_tag    "jquery.rater", :media => "all" %>
    <%#= stylesheet_link_tag    "blue", :media => "all" %>
    <%= stylesheet_link_tag    "fancybox/jquery.fancybox",
      "fancybox/jquery.fancybox-buttons",
      "fancybox/jquery.fancybox-thumbs",
      "svwp_style",
      "datepicker", :media => "all" %>
    <%= javascript_include_tag "colorful","jquery.jcarouselLite","jquery.validate"%>
    <%= javascript_include_tag "fancybox/jquery.mousewhee",
      "fancybox/jquery.fancybox",
      "fancybox/jquery.fancybox-buttons",
      "fancybox/jquery.fancybox-thumbs",
      "fancybox/jquery.fancybox-media",
      "bootstrap-datepicker",
      "bootstrap-datepicker.zh-CN",
      "jquery.timers",
      "jquery.slideViewerPro",
      "jquery.lettering",
      "DD_belatedPNG_0.0.8a"
  %>
    <%= javascript_include_tag(:uploadify) %>
    <%= javascript_include_tag "jquery.rater" %>
    <%#= javascript_include_tag "jquery.icheck.min" %>
    <%= javascript_include_tag "rails.validations" %>
    <%= javascript_include_tag "rails.validations.simple_form" %>
    <%= javascript_include_tag "rails.validations.customValidators" %>
    <meta charset="utf-8"/>
    <%= csrf_meta_tags %>

    <!--[if lte IE 6]>
    <script type="text/javascript">
             try{
        DD_belatedPNG.fix('div, ul, img, li, input , a');
        }catch(err){}
    </script>
<![endif]-->
  </head>
  <body>
    <div class="wrapper">
      <%= render :partial => "/modules/colorful/head" %>
      <%= yield %>
      <%= render :partial => "/modules/colorful/foot" %>
    </div>
    <div style="display: none;">
    </div>
  </body>
</html>
