<!DOCTYPE html>
<html>
  <head>
    <title>School</title>
    <%= stylesheet_link_tag    "colorful", :media => "all" %>
    <%= stylesheet_link_tag    "colorful_main" %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>
  </head>
  <body style="background-color: white">
    <div  class="wrapper">
      <div class="main_logo">
        <% if @kind %>
          <img src="<%= @kind.asset_img ? @kind.asset_img.public_filename : '/t/colorful/logo.png' %>" width="100" height="79" alt="Logo"/>
        <% end %>
      </div>
      <div id="main" class="menu">
        <div class="menu_left"> </div>
        <div class="menu_right"> </div>
        <div class="menu_center official_menu_center">
          <ul>
            <li>
            <%= link_to "<div class='offical_home'>
                </div>".html_safe,:controller=>"/my_school/main",:action=>:index %>
            </li>
            <li>
               <%= link_to "<div class='offical_about_us'>
                </div>".html_safe,:controller=>"/my_school/main",:action=>:show_official_about_us %>
            </li>
            <li>
              <%= link_to "<div class='offical_feature'>
                </div>".html_safe,:controller=>"/my_school/main",:action=>:feature %>
            </li>
            <li>
              <%= link_to "<div class='offical_admiss_infor'>
                </div>".html_safe,:controller=>"/my_school/main",:action=>:admissions_information %>
            </li>
            <li>
              <!-- <a href="#{}"></a> -->
              <%= link_to "<div class='offical_school_index'>
                </div>".html_safe,{:controller=>"/my_school/home",:action=>:index} ,{:target=>"_blank"}%>
            </li>
          </ul>
        </div>
        <div class="submenu_center">
          &nbsp;
        </div>
      </div>
      <div class="main_work">
        <%= yield %>
      </div>
    </div>
  </body>
</html>