<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
  <head>
    <title><%=@kind.try(:name)%></title>

    <%= stylesheet_link_tag    "app_bootstrap", :media => "all" %>
    <%= stylesheet_link_tag    "colorful", :media => "all" %>
    <%= stylesheet_link_tag    "colorful_main" , :media => "all"%>

    <meta name="description" content="<%=@description%>" />
    <meta name="keywords" content="<%=@keywords%>" />
    <meta charset="utf-8"/>
    <%= javascript_include_tag "application" %>
    <%= javascript_include_tag "application","colorful" %>
    <%= csrf_meta_tags %>
    <%= javascript_include_tag "DD_belatedPNG_0.0.8a","jquery.lettering" %>
    <!--[if lte IE 6]>
        <script type="text/javascript">
          try{
            DD_belatedPNG.fix('div, ul, img, li, input , a');
            }catch(err){}
        </script>
    <![endif]-->
    <style type="text/css" media="screen">

    </style>
  </head>
  <body style="background-color: #d9edfa">

    <div  class="wrapper">
      <div class="main_logo">
        <% if @kind %>
          <img src="<%= @kind.asset_img ? @kind.asset_img.public_filename : '/t/colorful/logo.png' %>" width="100" height="79" alt="Logo" class="logo_vertical"/>
          <span id="kind_name"><%= @kind.name %></span>
          <a href="###" id="user_show_dialog" style="position: absolute;right: 0;" class="blue">
            <img src="/star_imgs/help.gif" alt="用户指南" /></a>
          <script type="text/javascript">
            $(function() {
              $("#dialog_users_guide" ).dialog({
                dialogClass: "no-close",
                autoOpen: false,
                height:500,
                width:700,
                buttons: {
                  "关闭": function () {
                    $(this).dialog("close");
                  }
                }
              });
              $( "#user_show_dialog" ).click(function() {
                $( "#dialog_users_guide" ).dialog("open");
              });
            });
          </script>
          <script type="text/javascript">
            $(function(){
              $("#kind_name").lettering();
              function load_color(){
                var kind_color = ["#EF554C","#f6ab1d","violet","#00c0f6","#a4c500","#f7a200"];
                $("#kind_name span").each(function(index, Element){
                  var color = kind_color[index%kind_color.length];
                  $(this).css("color",color)
                })
              }
              load_color();
            })
          </script>
        <% end %>
      </div>
      <div id="main" class="menu">
        <div class="menu_left"> </div>
        <div class="menu_right"> </div>
        <div class="menu_center official_menu_center">
          <ul>
            <li>
              <%= link_to "<div class='offical_home'>
</div>".html_safe,:controller=>"/my_school/main",:action=>:index %>
            </li>
            <li>
              <%= link_to "<div class='offical_about_us'>
</div>".html_safe,:controller=>"/my_school/main",:action=>:show_official_about_us %>
            </li>
            <li>
              <%= link_to "<div class='offical_feature'>
</div>".html_safe,:controller=>"/my_school/main",:action=>:feature %>
            </li>
            <li>
              <%= link_to "<div class='offical_admiss_infor'>
</div>".html_safe,:controller=>"/my_school/main",:action=>:admissions_information %>
            </li>
            <li>
              <!-- <a href="#{}"></a> -->
              <%= link_to "<div class='offical_school_index'>
</div>".html_safe,{:controller=>"/my_school/home",:action=>:index} ,{:target=>"_blank"}%>
            </li>
          </ul>
        </div>
        <div class="submenu_center">
          &nbsp;
        </div>
      </div>
      <div class="main_work">
        <%= yield %>
      </div>
      <div id="dialog_users_guide"  title="用户登录指南">
        <%if @kind%>
        <%= render :partial => "/modules/colorful/users_guide" %>
        <%end%>
      </div>
      <%= render :partial => "/modules/colorful/foot" %>
    </div>
    <div style="display: none;">
      <script type="text/javascript">
        try{
          var cnzz_protocol = (("https:" == document.location.protocol) ? " https://" : " http://");document.write(unescape("%3Cdiv id='cnzz_stat_icon_1000041998'%3E%3C/div%3E%3Cscript src='" + cnzz_protocol + "s22.cnzz.com/z_stat.php%3Fid%3D1000041998%26show%3Dpic' type='text/javascript'%3E%3C/script%3E"));
        }catch(ex){}
      </script>
    </div>
  </body>
</html>