<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN">
<html>
  <head>
    <title>School</title>
    <%= stylesheet_link_tag    "app_bootstrap", :media => "all" %>
    <%= stylesheet_link_tag    "colorful", :media => "all" %>
    <%= stylesheet_link_tag    "jquery.rater", :media => "all" %>
    <%= stylesheet_link_tag    "fancybox/jquery.fancybox",
      "fancybox/jquery.fancybox-buttons",
      "fancybox/jquery.fancybox-thumbs",
      "datepicker", :media => "all" %>
    <%= javascript_include_tag "colorful","jquery.jcarouselLite","jquery.validate"%>
    <%= javascript_include_tag "fancybox/jquery.mousewhee",
      "fancybox/jquery.fancybox",
      "fancybox/jquery.fancybox-buttons",
      "fancybox/jquery.fancybox-thumbs",
      "fancybox/jquery.fancybox-media",
      "bootstrap-datepicker",
      "bootstrap-datepicker.zh-CN",
      "DD_belatedPNG_0.0.8a"
  %>
    <%= javascript_include_tag "jquery.rater" %>
    <%= javascript_include_tag "rails.validations" %>
    <%= javascript_include_tag "rails.validations.simple_form" %>
    <%= csrf_meta_tags %>
    <!--[if lte IE 6]>
    <script type="text/javascript">
        DD_belatedPNG.fix('div, ul, img, li, input , a');
    </script>
<![endif]-->
  </head>
  <body>

    <div class="wrapper">
      <%= render :partial => "/modules/colorful/head" %>
      <%= yield %>
      <%= render :partial => "/modules/colorful/foot" %>
    </div>
  </body>
</html>
