<div class="show_work">
  <%= render :partial => "/modules/colorful/work_menu" %>
  <div class="work">
    <div class="headline">
      <div class="headline_title">
        <div class="messages_root"></div>
        <label>延时班管理</label>
        <div class="crumbs">
          <a href="/my_school/home" title="返回首页">
            <div class="icon_home"></div>
          </a>
          <ul>
             <li><%= link_to "延时班管理", my_school_virtual_squads_path %></li>
            <li>/</li>
            <li>编辑延时班</li>
          </ul>
        </div>
      </div>
       <ul class="work_action">
        <li>
          <a href="<%=url_for(:controller=>"/my_school/virtual_squads",:action=>:index)%>" title="返回">
            <div class="work_action_return">
            </div>
            <div class="work_action_return_move">
            </div>
          </a>
        </li>
      </ul>
    </div>

    <div class="work_form">
      <div class="form_div">
       <%= form_for(@virtual_squad,:method=>'put' , :url=>{:controller=>'my_school/virtual_squads',:action=>'update',:id=>@virtual_squad}, :html =>{:class=>"form-horizontal"}) do |f| %>
          <%= render 'form', :f=>f %>
       <% end %>
      </div>
    </div>
  </div>

</div>

