<script type="text/javascript">
  jQuery(function() {
    $('#virtual_squad_created_at_equals').datepicker({
      language: "zh-CN",
      format:"yyyy-mm-dd"
    }).on("changeDate", function() {
      $(this).datepicker('hide')
    });;
  })

</script>
<div class="show_work">
  <%= render :partial => "/modules/#{view_layout}/work_menu" %>
  <div class="work">
    <div class="headline">
      <div class="headline_title">
        <div class="messages_root"></div>
        <label>延时班管理</label>
        <div class="crumbs">
          <a href="/my_school/home" title="返回首页">
            <div class="icon_home"></div>
          </a>
          <ul>
          </ul>
        </div>
      </div>
      <ul class="work_action">
        <li>
          <%=(link_to "<div class='work_action_add'>
            </div><div class='work_action_add_move'>
            </div>".html_safe ,new_my_school_virtual_squad_path)  %>
        </li>
        <li>
          <a href="/" title="删除" id="destroy_multiple">
            <%= render partial: "/my_school/commons/delete_action" %>
          </a>
        </li>
      </ul>
    </div>
    <%= render partial: "/my_school/virtual_squads/search_form" %>
    <div class="work_list">
      <%= render "tab_virtual_squads" %>
    </div>
  </div>

</div>

<script type="text/javascript">
$(document).ready(function(){
  $("#destroy_multiple").click(function(){
      $("#destroy_multi_form").submit();
      return false;
  });
});
</script>
