<div class="show_publicity">
  <img src="/t/colorful/small_publicity.jpg" alt="展示图"/>
</div>
<div class="show_work">
  <%= render :partial => "/modules/colorful/work_menu" %>
  <div class="work">
    <div class="headline">
      <div class="headline_title">
        <div class="messages_root"></div>
        <label>延时班管理</label>
        <div class="crumbs">
          <a href="/my_school/home" title="返回首页">
            <div class="icon_home"></div>
          </a>
          <ul>
             <li><%= link_to "延时班管理", my_school_virtual_squads_path %></li>
            <li>/</li>
            <li>查看延时班</li>
          </ul>
        </div>
      </div>
      <ul class="work_action">
        <li>
          <a href="<%=url_for(:controller=>"/my_school/virtual_squads",:action=>:new)%>" title="添加">
            <div class="work_action_add">
            </div>
            <div class="work_action_add_move">
            </div>
          </a>
        </li>
        <li>
          <a href="<%=url_for(:controller=>"/my_school/virtual_squads",:action=>:edit,:id=>@virtual_squad.id)%>" title="编辑">
            <div class="work_action_edit">
            </div>
            <div class="work_action_edit_move">
            </div>
          </a>
        </li>
        <li>
          <%= link_to(url_for(:controller=>"/my_school/virtual_squads",:action=>:destroy,:id=>@virtual_squad.id),:method=>:delete, :confirm => "您确定删除该通知吗?") do %>
            <div class="work_action_delete">
            </div>
            <div class="work_action_delete_move">
            </div>
          <% end %>
        </li>
        <li>
          <a href="<%=url_for(:controller=>"/my_school/virtual_squads",:action=>:index)%>" title="返回">
            <div class="work_action_return">
            </div>
            <div class="work_action_return_move">
            </div>
          </a>
        </li>
      </ul>
    </div>

    <div class="work_form">
      <div class="form_div">
        <form class="form-horizontal">
          <div class="control-group">
            <label class="control-label">所属幼儿园:</label>
            <div class="controls">
              <label class="show_label">
                <%=@kind.name %>
              </label>
            </div>
          </div>
          <div class="control-group">
            <label class="control-label" >延时班名:</label>
            <div class="controls">
              <label class="show_label">
                <%=raw @virtual_squad.name%>
              </label>
            </div>
          </div>
          <div class="control-group">
            <label class="control-label">已选名单</label>
            <div class="controls">
            <label class="show_label">
            <div id="message_inputs">

           </div>
         </label>
          </div>
          </div>
          <div class="control-group">
            <label class="control-label" >描述:</label>
            <div class="controls">
              <label class="show_label">
                <%=raw @virtual_squad.note%>
              </label>
            </div>
          </div>
          <div class="control-group">
            <label class="control-label" >创建时间:</label>
            <div class="controls">
              <label class="show_label">
                <%= @virtual_squad.created_at.try(:to_all_datetime)%>
              </label>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>

</div>
<script type="text/javascript">
  $(function() {
     $(window).load(function(){
      $("#message_inputs").load("<%= url_for(:controller=>'/my_school/virtual_squads',:action=>:get_edit_ids,:id=>@virtual_squad.id) %>");
     })
});
 </script>
